openapi: "3.1.0"
info:
  title: "Forma APIs — Cost Management"
  version: v1
  description: |-
    Forma APIs — Cost Management.
    Autodesk 문서에서 자동 추출됨. 원본: https://aps.autodesk.com/en/docs/acc/v1
    공통 base 경로: /cost/v1/containers
    **리전 — 호출 전 반드시 확인** 리전은 완전히 분리되어 있고 리소스 식별자가 호환되지 않습니다. ⚠️ **헤더 이름이 그룹마다 다릅니다.** Hub Admin 은 `Region`, Issues 는 `x-ads-region` 입니다. 이 문서의 "헤더" 표에 적힌 이름을 그대로 쓰세요. 통일해서 보내면 안 됩니다. 미지정 시 자동 라우팅되며 지연이 늘 수 있습니다. 자세한 판정은 `_errata` E-003 참고.
servers:
  - url: "https://developer.api.autodesk.com"
x-forma-group: "Cost Management"
x-forma-common-base: "/cost/v1/containers"
paths:
  "/cost/v1/containers/{containerId}/attachment-folders":
    post:
      operationId: cost-attachment-folders-POST
      summary: "Find or create an attachment folder in BIM 360 Docs for a given item"
      description: "Find or create an attachment folder in BIM 360 Docs for a given item. That folder will save local files as attachments to the item. Files are saved using the Storage service."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The ID of the project (the container ID is the same as the project ID). To obtain the project ID, see GET projects."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: region
          in: header
          description: |-
            Specifies the region where the project data resides.
            By default, the request is routed automatically. However, specifying the region can improve performance by avoiding lookup overhead.

            Possible values: country or region codes such as US or EMEA. For the full list of supported regions, see the Forma Regions page.

            To verify your project’s region, refer to the Working with BIM 360 Services in Different Regions section on the API Basics page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "201":
          description: Created
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "System identifier of the folder."
                  creatorId:
                    type: string
                    x-forma-type: string
                    description: "The user who created the folder. This is the ID of a user managed by BIM 360 Admin."
                  scope:
                    type: string
                    x-forma-type: string
                    description: "Scope of the folder’s use. For example, Attachment, Template, and so on."
                  urn:
                    type: string
                    x-forma-type: string
                    description: "Object URN of the folder in the Autodesk Forma Data Management service."
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time that the item was created, in ISO 8601 format."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time that the item was last updated, in ISO 8601 format."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "503":
          description: "Service Unavailable"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/cost-attachment-folders-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                associationId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The object ID of the item is associated to. For example, ID of the budget, contract or cost item."
                associationType:
                  type: string
                  x-forma-type: string
                  description: "The type of the item with which the attachment is associated. Possible values: Budget, Contract, FormInstance, CostItem, Payment, MainContract, BudgetPayment."
              required:
                - associationId
                - associationType
  "/cost/v1/containers/{containerId}/attachments:batch-create":
    post:
      operationId: cost-attachmentsbatch-create-POST
      summary: "Creates an attachment in a specific project"
      description: "Creates an attachment in a specific project."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The ID of the project (the container ID is the same as the project ID). To obtain the project ID, see GET projects."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: region
          in: header
          description: |-
            Specifies the region where the project data resides.
            By default, the request is routed automatically. However, specifying the region can improve performance by avoiding lookup overhead.

            Possible values: country or region codes such as US or EMEA. For the full list of supported regions, see the Forma Regions page.

            To verify your project’s region, refer to the Working with BIM 360 Services in Different Regions section on the API Basics page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "201":
          description: Created
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique auto-generated identifier of the attachment."
                  folderId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique identifier (UUID) of the folder named attachment-folder where the attachment is stored. This ID is automatically retrieved by the backend and returned in the response."
                  urn:
                    type: string
                    x-forma-type: string
                    description: "The object version URN of the attachment in the Autodesk BIM 360 Forma Data Management service."
                  pdfOssUrn:
                    x-forma-type: "string,null"
                    description: "Not relevant"
                  pdfUrn:
                    x-forma-type: "string,null"
                    description: "Not relevant"
                  type:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The type of attachment.
                      Possible values:
                      Upload: is a locally uploaded file.

                      DocsFile is a file referenced from BIM 360 Forma Data Management.

                      Reference is a file referenced form report.

                      Document is for document generation.

                      Max length: 64
                  name:
                    type: string
                    x-forma-type: string
                    description: |-
                      The name of the attachment.
                      Max length: 1024
                  replaceIfExists:
                    type: boolean
                    x-forma-type: boolean
                    description: "Determines whether an existing attachment with a matching name should be replaced."
                  status:
                    type: string
                    x-forma-type: string
                    description: |-
                      The status of the attachment.
                      Max length: 1024
                  documentPackageId:
                    x-forma-type: "string,null"
                    description: "Not relevant"
                  associationId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The object ID of the item associated with the actions, such as a budget, contract, or cost item."
                  associationType:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The type of item to which it is associated.
                      Possible values: Budget, Contract, ScheduleOfValue, FormInstance, CostItem, Payment, MainContract, BudgetPayment, Expense, CostPayment, ExpenseItem, PaymentItem, OCO, RCO, SCO, PCO, RFQ, DistributionItem, BudgetTransfer, Fee
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time that the item was created, in ISO 8601 format."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time that the item was last updated, in ISO 8601 format."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "503":
          description: "Service Unavailable"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/cost-attachmentsbatch-create-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                folderId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The unique identifier (UUID) of the folder named attachment-folder where the attachment is stored. This ID is automatically retrieved by the backend and returned in the response."
                urn:
                  type: string
                  x-forma-type: string
                  description: "The object version URN of the attachment in the Autodesk BIM 360 Forma Data Management service."
                pdfOssUrn:
                  x-forma-type: "string,null"
                  description: "Not relevant"
                pdfUrn:
                  x-forma-type: "string,null"
                  description: "Not relevant"
                type:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    The type of attachment.
                    Possible values:
                    Upload: is a locally uploaded file.

                    DocsFile is a file referenced from BIM 360 Forma Data Management.

                    Reference is a file referenced form report.

                    Document is for document generation.

                    Max length: 64
                name:
                  type: string
                  x-forma-type: string
                  description: |-
                    The name of the attachment.
                    Max length: 1024
                replaceIfExists:
                  type: boolean
                  x-forma-type: boolean
                  description: "Determines whether an existing attachment with a matching name should be replaced."
                status:
                  type: string
                  x-forma-type: string
                  description: |-
                    The status of the attachment.
                    Max length: 1024
                documentPackageId:
                  x-forma-type: "string,null"
                  description: "Not relevant"
                associationId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The object ID of the item associated with the actions, such as a budget, contract, or cost item."
                associationType:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    The type of item to which it is associated.
                    Possible values: Budget, Contract, ScheduleOfValue, FormInstance, CostItem, Payment, MainContract, BudgetPayment, Expense, CostPayment, ExpenseItem, PaymentItem, OCO, RCO, SCO, PCO, RFQ, DistributionItem, BudgetTransfer, Fee
  "/cost/v1/containers/{containerId}/attachments/{attachmentId}":
    delete:
      operationId: cost-attachments-attachmentId-DELETE
      summary: "Deletes a Attachment"
      description: "Deletes a Attachment"
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The ID of the project (the container ID is the same as the project ID). To obtain the project ID, see GET projects."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: attachmentId
          in: path
          required: true
          description: "The attachment ID."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: region
          in: header
          description: |-
            Specifies the region where the project data resides.
            By default, the request is routed automatically. However, specifying the region can improve performance by avoiding lookup overhead.

            Possible values: country or region codes such as US or EMEA. For the full list of supported regions, see the Forma Regions page.

            To verify your project’s region, refer to the Working with BIM 360 Services in Different Regions section on the API Basics page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "503":
          description: "Service Unavailable"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/cost-attachments-attachmentId-DELETE"
  "/cost/v1/containers/{containerId}/attachments":
    get:
      operationId: cost-attachments-GET
      summary: "Retrieves all of the attachments associated with an item such as a budget, contract, or cost item"
      description: "Retrieves all of the attachments associated with an item such as a budget, contract, or cost item. You can also retrieve certain nested resources related to the returned attachments."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The ID of the project (the container ID is the same as the project ID). To obtain the project ID, see GET projects."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: "filter[associationId]"
          in: query
          description: |-
            The ID of the associated item, for example, the ID of a budget, contract, change order or cost item.
            Separate multiple IDs with commas, for example, filter[associationId]=id1,id2.
          schema:
            x-forma-type: "array: string: uuid"
        - name: "filter[associationType]"
          in: query
          description: |-
            The type of the associated item.
            Possible values Budget, Contract, CostItem, FormInstance, CostPayment, BudgetPayment, Expense, ExpenseItem.
            For example, filter[associationType]=Budget.
          schema:
            type: string
            x-forma-type: string
        - name: "filter[lastModifiedSince]"
          in: query
          description: "Returns only items that were modified since the specified date and time, in ISO 8601 format. For example, filter[lastModifiedSince]=2020-03-01T13:00:00Z."
          schema:
            type: string
            x-forma-type: string
        - name: include
          in: query
          description: "A list of the nested resources related to the attachment to include in the response. For example, include=complianceRequirement returns compliance documents related to each attachment. Possible values: complianceRequirement."
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: offset
          in: query
          description: "The number of records to skip before returning results. Used together with limit to paginate through results, where offset specifies the starting point and limit specifies the number of records to return."
          schema:
            type: integer
            x-forma-type: int
        - name: limit
          in: query
          description: "The maximum number of records returned per page. Default: 100. A page may contain fewer records than the limit if there are fewer matching items or if it is the last page of results."
          schema:
            type: integer
            x-forma-type: int
        - name: sort
          in: query
          description: |-
            Field to sort attachment results by. Only fields stored at the attachment database level are supported.
            Allowed values: name, position, createdAt, updatedAt.
            Each attribute can be sorted in asc (default) or desc order. For example, sort=name desc.
          schema:
            type: string
            x-forma-type: string
        - name: region
          in: header
          description: |-
            Specifies the region where the project data resides.
            By default, the request is routed automatically. However, specifying the region can improve performance by avoiding lookup overhead.

            Possible values: country or region codes such as US or EMEA. For the full list of supported regions, see the Forma Regions page.

            To verify your project’s region, refer to the Working with BIM 360 Services in Different Regions section on the API Basics page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "Contains pagination information when data is returned page by page."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The maximum number of records returned in the response."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The number of records skipped before returning the page of results."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The total number of records that matched the request criteria."
                      nextUrl:
                        type: string
                        x-forma-type: string
                        description: |-
                          The URL for the next request to retrieve the next page of results. Max length: 2000.
                          Max length: 2000
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique auto-generated identifier of the attachment."
                        folderId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique identifier (UUID) of the folder named attachment-folder where the attachment is stored. This ID is automatically retrieved by the backend and returned in the response."
                        urn:
                          type: string
                          x-forma-type: string
                          description: "The object version URN of the attachment in the Autodesk BIM 360 Forma Data Management service."
                        pdfOssUrn:
                          x-forma-type: "string,null"
                          description: "Not relevant"
                        pdfUrn:
                          x-forma-type: "string,null"
                          description: "Not relevant"
                        type:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The type of attachment.
                            Possible values:
                            Upload: is a locally uploaded file.

                            DocsFile is a file referenced from BIM 360 Forma Data Management.

                            Reference is a file referenced form report.

                            Document is for document generation.

                            Max length: 64
                        name:
                          type: string
                          x-forma-type: string
                          description: |-
                            The name of the attachment.
                            Max length: 1024
                        replaceIfExists:
                          type: boolean
                          x-forma-type: boolean
                          description: "Determines whether an existing attachment with a matching name should be replaced."
                        status:
                          type: string
                          x-forma-type: string
                          description: |-
                            The status of the attachment.
                            Max length: 1024
                        documentPackageId:
                          x-forma-type: "string,null"
                          description: "Not relevant"
                        associationId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The object ID of the item associated with the actions, such as a budget, contract, or cost item."
                        associationType:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The type of item to which it is associated.
                            Possible values: Budget, Contract, ScheduleOfValue, FormInstance, CostItem, Payment, MainContract, BudgetPayment, Expense, CostPayment, ExpenseItem, PaymentItem, OCO, RCO, SCO, PCO, RFQ, DistributionItem, BudgetTransfer, Fee
                        createdAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time that the item was created, in ISO 8601 format."
                        updatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time that the item was last updated, in ISO 8601 format."
                    x-forma-type: "array: object"
                    description: "A list of result objects."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "503":
          description: "Service Unavailable"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/cost-attachments-GET"
    post:
      operationId: cost-attachments-POST
      summary: "Creates an attachment in a specific project"
      description: "Creates an attachment in a specific project."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The ID of the project (the container ID is the same as the project ID). To obtain the project ID, see GET projects."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: region
          in: header
          description: |-
            Specifies the region where the project data resides.
            By default, the request is routed automatically. However, specifying the region can improve performance by avoiding lookup overhead.

            Possible values: country or region codes such as US or EMEA. For the full list of supported regions, see the Forma Regions page.

            To verify your project’s region, refer to the Working with BIM 360 Services in Different Regions section on the API Basics page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "201":
          description: Created
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique auto-generated identifier of the attachment."
                  folderId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique identifier (UUID) of the folder named attachment-folder where the attachment is stored. This ID is automatically retrieved by the backend and returned in the response."
                  urn:
                    type: string
                    x-forma-type: string
                    description: "The object version URN of the attachment in the Autodesk BIM 360 Forma Data Management service."
                  pdfOssUrn:
                    x-forma-type: "string,null"
                    description: "Not relevant"
                  pdfUrn:
                    x-forma-type: "string,null"
                    description: "Not relevant"
                  type:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The type of attachment.
                      Possible values:
                      Upload: is a locally uploaded file.

                      DocsFile is a file referenced from BIM 360 Forma Data Management.

                      Reference is a file referenced form report.

                      Document is for document generation.

                      Max length: 64
                  name:
                    type: string
                    x-forma-type: string
                    description: |-
                      The name of the attachment.
                      Max length: 1024
                  replaceIfExists:
                    type: boolean
                    x-forma-type: boolean
                    description: "Determines whether an existing attachment with a matching name should be replaced."
                  status:
                    type: string
                    x-forma-type: string
                    description: |-
                      The status of the attachment.
                      Max length: 1024
                  documentPackageId:
                    x-forma-type: "string,null"
                    description: "Not relevant"
                  associationId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The object ID of the item associated with the actions, such as a budget, contract, or cost item."
                  associationType:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The type of item to which it is associated.
                      Possible values: Budget, Contract, ScheduleOfValue, FormInstance, CostItem, Payment, MainContract, BudgetPayment, Expense, CostPayment, ExpenseItem, PaymentItem, OCO, RCO, SCO, PCO, RFQ, DistributionItem, BudgetTransfer, Fee
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time that the item was created, in ISO 8601 format."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time that the item was last updated, in ISO 8601 format."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "503":
          description: "Service Unavailable"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/cost-attachments-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The ID of the attachment"
                type:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    The type of attachment.
                    Possible values:
                    Upload: is a locally uploaded file.

                    DocsFile is a file referenced from BIM 360 Forma Data Management.

                    Reference is a file referenced form report.

                    Document is for document generation .

                    Max length: 64
                name:
                  type: string
                  x-forma-type: string
                  description: |-
                    The name of the attachment.
                    Max length: 255
                folderId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The folder ID retrieved from attachment-folder."
                urn:
                  type: string
                  x-forma-type: string
                  description: "The version URN from BIM 360 Forma Data Management after the attachment is uploaded."
                templateId:
                  type: string
                  x-forma-type: string
                  description: "The documentTemplate Id to generate an attachment"
                documentPackageId:
                  x-forma-type: "string,null"
                  description: "The ID of the document package"
                associationId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The object ID of the item associated with the actions, such as a budget, contract, or cost item."
                associationType:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    The type of item to which it is associated.
                    Possible values: Budget, Contract, ScheduleOfValue, FormInstance, CostItem, Payment, MainContract, BudgetPayment, Expense, CostPayment, ExpenseItem, PaymentItem, OCO, RCO, SCO, PCO, RFQ, DistributionItem, BudgetTransfer, Fee
              required:
                - associationId
                - associationType
                - name
  "/cost/v1/containers/{containerId}/budgets-contracts:link":
    post:
      operationId: cost-budgets-contractslink-POST
      summary: "Link or unlink one or multiple budgets with one or multiple contracts"
      description: |-
        Link or unlink one or multiple budgets with one or multiple contracts. After budgets and contracts are linked, Contract Schedule of Values will be created.
        Max 50 pairs are allowed to link or unlink in one request.
        Note: Linking the same budget to multiple contracts in a single API call is not yet supported. You’ll need to call this API multiple times to link the same budget to multiple contracts. Ensure that Allocate a Budget to more than one Contract is enabled in your Cost Settings.
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The ID of the project (the container ID is the same as the project ID). To obtain the project ID, see GET projects."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: region
          in: header
          description: |-
            Specifies the region where the project data resides.
            By default, the request is routed automatically. However, specifying the region can improve performance by avoiding lookup overhead.

            Possible values: country or region codes such as US or EMEA. For the full list of supported regions, see the Forma Regions page.

            To verify your project’s region, refer to the Working with BIM 360 Services in Different Regions section on the API Basics page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "200":
          description: OK
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "503":
          description: "Service Unavailable"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/cost-budgets-contractslink-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                create:
                  type: array
                  items:
                    type: object
                    properties:
                      contractId:
                        type: string
                        format: uuid
                        x-forma-type: "string: UUID"
                        description: "ID of the Contract to which the budget to link."
                      budgetId:
                        type: string
                        format: uuid
                        x-forma-type: "string: UUID"
                        description: "ID of the Budget to which the contract should be linked."
                  x-forma-type: "array: object"
                remove:
                  type: array
                  items:
                    type: object
                    properties:
                      contractId:
                        type: string
                        format: uuid
                        x-forma-type: "string: UUID"
                        description: "ID of the Contract to which the budget to link."
                      budgetId:
                        type: string
                        format: uuid
                        x-forma-type: "string: UUID"
                        description: "ID of the Budget to which the contract to link."
                  x-forma-type: "array: object"
  "/cost/v1/containers/{containerId}/budgets:import":
    post:
      operationId: cost-budgetsimport-POST
      summary: "Imports a list of budgets into a project chunk by chunk"
      description: "Imports a list of budgets into a project chunk by chunk. The maximum number of budgets per chunk is 50."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The ID of the project (the container ID is the same as the project ID). To obtain the project ID, see GET projects."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: force
          in: query
          description: |-
            true: This request forces an override of locked budgeting so the request can succeed. The ability to create, update, or delete budgets can be locked at the project level, and force enables administrators to override the lock. A locked budget. Only a project administrator is allowed to update, create, or delete budgets when locked.
            false: This request does not override locked budgeting.
          schema:
            type: boolean
            x-forma-type: boolean
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: region
          in: header
          description: |-
            Specifies the region where the project data resides.
            By default, the request is routed automatically. However, specifying the region can improve performance by avoiding lookup overhead.

            Possible values: country or region codes such as US or EMEA. For the full list of supported regions, see the Forma Regions page.

            To verify your project’s region, refer to the Working with BIM 360 Services in Different Regions section on the API Basics page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "503":
          description: "Service Unavailable"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/cost-budgetsimport-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      parentId:
                        x-forma-type: "string,null"
                        description: "ID of the parent budget, used only when creating sub budgets."
                      code:
                        type: string
                        x-forma-type: string
                        description: |-
                          Unique code compliant with the budget code template defined by the project admin. Ignored if segmentCodeMap is defined.
                          Max length: 255
                      scope:
                        type: string
                        x-forma-type: "enum:string"
                        description: "The scope of the budget. Possible values are budgetOnly and budgetAndCost."
                      segmentCodeMap:
                        type: object
                        x-forma-type: object
                        description: "Map of budget code segments to be used in the budget code, required when updating root budget code with variable length segment. Key is the budget code segment ID, value is the code for the segment."
                        properties:
                          "*":
                            type: string
                            x-forma-type: string
                            description: "Max length: 255"
                      name:
                        type: string
                        x-forma-type: string
                        description: |-
                          Name of the budget.
                          Max length: 1024
                      quantity:
                        type: number
                        x-forma-type: number
                        description: "The quantity of labor, material, and other items planned for the budget."
                      inputQuantity:
                        x-forma-type: "number,null"
                        description: "The input quantity planned for the budget."
                      description:
                        type: string
                        x-forma-type: string
                        description: "Detail description of the budget."
                      unitPrice:
                        x-forma-type: "number,string,null"
                        description: "Unit price of a budget."
                      costUnitPrice:
                        x-forma-type: "number,string,null"
                        description: "Not relevant"
                      unit:
                        type: string
                        x-forma-type: string
                        description: "Unit of measures used in the budget."
                      mainContractAmountSource:
                        type: string
                        x-forma-type: "enum:string"
                        description: "Not relevant"
                      mainContractId:
                        type: string
                        format: uuid
                        x-forma-type: "string: UUID"
                        description: "Not relevant"
                      locations:
                        x-forma-type: "array,null"
                        description: |-
                          A list of the IDs of the project locations where this item applies.
                          For more information, see the Locations Help documentation help.
                      plannedStartDate:
                        x-forma-type: "string,null"
                        description: "Not relevant"
                      plannedEndDate:
                        x-forma-type: "string,null"
                        description: "Not relevant"
                      actualStartDate:
                        x-forma-type: "string,null"
                        description: "Not relevant"
                      actualEndDate:
                        x-forma-type: "string,null"
                        description: "Not relevant"
                      durationDays:
                        type: number
                        x-forma-type: number
                        description: "Not relevant"
                      externalId:
                        type: string
                        x-forma-type: string
                        description: |-
                          The identifier assigned to an item in its original external ERP system. Use this ID to track and look up data within the integrated system. Note that this value comes from the item’s ID in the external system.
                          Max length: 255
                      externalSystem:
                        type: string
                        x-forma-type: string
                        description: |-
                          The name of the external ERP system integrated with Cost Management. Use this name to identify and search for data within the integrated system.
                          Max length: 255
                      externalMessage:
                        type: string
                        x-forma-type: string
                        description: |-
                          A message generated by the external ERP system that explains the sync status of the integration. For example, common values include success or fail to indicate the result of the integration operation.
                          Max length: 255
                      lastSyncTime:
                        type: string
                        format: date-time
                        x-forma-type: "datetime: ISO 8601"
                        description: "The date and time when the item was last synchronized with the external ERP system. This value is updated by the external system and is in ISO 8601 format."
                      integrationState:
                        x-forma-type: "string,null"
                        description: |-
                          The state of the item during the integration with the external ERP system (such as SignNow). An item can be a budget, contract, main contract, main contract item, cost item, expense, expense item, change order, or schedule of value. For more details, see Integrate with External System tutorial.
                          Possible values:
                          locked: the item is currently locked within the ERP system, preventing modifications until unlocked. To unlock and modify the item, use the relevant PATCH endpoint to set integrationState to null. For example, for a budget, call PATCH budgets. For a contract, call PATCH contracts. For more details, see the Help documentation.

                          integrated: the item has been successfully added to the ERP system.

                          failed: the item encountered an error during the integration process and was not successfully added to the ERP system. For example, if a user tries to integrate contracts from an ERP system and the updates fail, the integrationState can be set to failed. Retry the sync process or analyze the issue if it continues to fail.

                          null: The item has not been integrated with the ERP system. This is default value.

                          For more information regarding integrations within the Cost Management system, see Integrations in Cost Management.
                    required:
                      - code
                      - name
                  x-forma-type: "array: object"
                  description: "A list of budget."
                append:
                  type: boolean
                  x-forma-type: boolean
                  description: |-
                    true if you want to append the new budgets to the project.
                    false if you want to purge existing budgets before importing the new budgets.
              required:
                - data
  "/cost/v1/containers/{containerId}/budgets/{budgetId}":
    delete:
      operationId: cost-budgets-budgetId-DELETE
      summary: "Deletes a budget"
      description: "Deletes a budget."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The ID of the project (the container ID is the same as the project ID). To obtain the project ID, see GET projects."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: budgetId
          in: path
          required: true
          description: "The budget ID."
          schema:
            x-forma-type: "array: string: uuid"
        - name: force
          in: query
          description: |-
            true: This request forces an override of locked budgeting so the request can succeed. The ability to create, update, or delete budgets can be locked at the project level, and force enables administrators to override the lock. A locked budget. Only a project administrator is allowed to update, create, or delete budgets when locked.
            false: This request does not override locked budgeting.
          schema:
            type: boolean
            x-forma-type: boolean
        - name: region
          in: header
          description: |-
            Specifies the region where the project data resides.
            By default, the request is routed automatically. However, specifying the region can improve performance by avoiding lookup overhead.

            Possible values: country or region codes such as US or EMEA. For the full list of supported regions, see the Forma Regions page.

            To verify your project’s region, refer to the Working with BIM 360 Services in Different Regions section on the API Basics page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "503":
          description: "Service Unavailable"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/cost-budgets-budgetId-DELETE"
    get:
      operationId: cost-budgets-budgetId-GET
      summary: "Retrieves a budget specified by ID"
      description: "Retrieves a budget specified by ID."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The ID of the project (the container ID is the same as the project ID). To obtain the project ID, see GET projects."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: budgetId
          in: path
          required: true
          description: "The budget ID."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: include
          in: query
          description: "Include related items in the response. For example, include=attributes returns custom attributes representing the response’s “properties”. Possible values include: segments, contract, attributes, compounded."
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: region
          in: header
          description: |-
            Specifies the region where the project data resides.
            By default, the request is routed automatically. However, specifying the region can improve performance by avoiding lookup overhead.

            Possible values: country or region codes such as US or EMEA. For the full list of supported regions, see the Forma Regions page.

            To verify your project’s region, refer to the Working with BIM 360 Services in Different Regions section on the API Basics page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "Unique identifier of the budget."
                  parentId:
                    x-forma-type: "string,null"
                    description: "ID of a parent budget, null for root budgets."
                  code:
                    type: string
                    x-forma-type: string
                    description: |-
                      Unique code compliant with the budget code template defined by the project admin.
                      Max length: 255
                  scope:
                    type: string
                    x-forma-type: "enum:string"
                    description: "The scope of the budget. Possible values are budgetOnly and budgetAndCost."
                  subItems:
                    x-forma-type: "array,null"
                    description: |-
                      The sub-budget in the root budget.
                      Max length: 255
                  budgetCode:
                    x-forma-type: "object,null"
                    description: "Budget code template and budget segment codes used in the budget. Not applicable for sub-budget."
                  codeSegmentValues:
                    type: object
                    x-forma-type: object
                    description: "Not relevant"
                  name:
                    type: string
                    x-forma-type: string
                    description: |-
                      The name of the budget.
                      Max length: 1024
                  description:
                    type: string
                    x-forma-type: string
                    description: |-
                      The detail description of the budget.
                      Max length: 2048
                  quantity:
                    type: number
                    x-forma-type: number
                    description: "The quantity of labor, material,… planned for the budget."
                  inputQuantity:
                    x-forma-type: "number,null"
                    description: "The input quantity planned for the budget."
                  ratio:
                    type: number
                    x-forma-type: number
                    description: "The ratio of the quantity the resources used on the budget."
                  unitPrice:
                    x-forma-type: "number,string,null"
                    description: "Unit price of a budget."
                  unit:
                    type: string
                    x-forma-type: string
                    description: "Unit of measures used in the budget."
                  originalAmount:
                    type: number
                    x-forma-type: number
                    description: "Original amount of the budget, equals to quantity * unitPrice"
                  milestoneId:
                    x-forma-type: "string,null"
                    description: "Not relevant"
                  internalAdjustment:
                    type: number
                    x-forma-type: number
                    description: "Amount of internal transfers between budgets"
                  approvedOwnerChanges:
                    type: number
                    x-forma-type: number
                    description: "The total amount of changes approved by the owner"
                  pendingOwnerChanges:
                    type: number
                    x-forma-type: number
                    description: "The total amount of changes waiting for the approval by the owner"
                  originalCommitment:
                    type: number
                    x-forma-type: number
                    description: "The original amount committed in the supplier contract."
                  approvedChangeOrders:
                    type: number
                    x-forma-type: number
                    description: "The total amount of changes committed to the supplier."
                  approvedInScopeChangeOrders:
                    type: number
                    x-forma-type: number
                    description: "The total amount of in-scope changes committed to the supplier."
                  pendingChangeOrders:
                    type: number
                    x-forma-type: number
                    description: "The total amount of changes not committed to the supplier."
                  reserves:
                    type: number
                    x-forma-type: number
                    description: "The total amount of changes under estimation."
                  actualQuantity:
                    type: number
                    x-forma-type: number
                    description: "The total of the actual quantity of labor, material,… for the budget."
                  actualUnitPrice:
                    x-forma-type: "number,string,null"
                    description: "Average unit price for the actual cost of the budget."
                  actualCost:
                    type: number
                    x-forma-type: number
                    description: "The total amount of actual cost of the budget."
                  mainContractId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "Not relevant"
                  mainContractAmountSource:
                    type: string
                    x-forma-type: "enum:string"
                    description: "Not relevant"
                  isMarkup:
                    type: boolean
                    x-forma-type: boolean
                    description: "Not relevant"
                  contractIds:
                    type: array
                    items:
                      type: string
                    x-forma-type: "array: string"
                    description: "Not relevant"
                  costUnitPrice:
                    x-forma-type: "number,string,null"
                    description: "Not relevant"
                  locations:
                    x-forma-type: "array,null"
                    description: |-
                      A list of the IDs of the project locations where this item applies.
                      For more information, see the Locations Help documentation help.
                  locationPaths:
                    x-forma-type: "array,null"
                    description: |-
                      A list of the IDs of the project locations where this item applies, along with the node paths of these locations in the project’s locations tree.
                      For more information, see the Locations Help documentation help.
                  plannedStartDate:
                    x-forma-type: "string,null"
                    description: "Not relevant"
                  plannedEndDate:
                    x-forma-type: "string,null"
                    description: "Not relevant"
                  actualStartDate:
                    x-forma-type: "string,null"
                    description: "Not relevant"
                  actualEndDate:
                    x-forma-type: "string,null"
                    description: "Not relevant"
                  durationDays:
                    type: number
                    x-forma-type: number
                    description: "Not relevant"
                  uncommitted:
                    type: number
                    x-forma-type: number
                    description: "The amount that has been approved by owner but not committed to the supplier. This is calculated as approvedOwnerChanges - (approvedChangeOrders - approvedInScopeChangeOrders)."
                  revised:
                    type: number
                    x-forma-type: number
                    description: "The total amount of the approved budget from the owner, equals to originalAmount + internalAdjustment + approvedOwnerChanges."
                  projectedCost:
                    type: number
                    x-forma-type: number
                    description: "The total amount of the project cost. For a budget, it is equal to originalCommitment + approvedChangeOrders + pendingChangeOrders + reserves. For a contract , it is equal to awarded + approvedChangeOrders + pendingChangeOrders + reserves."
                  projectedBudget:
                    type: number
                    x-forma-type: number
                    description: "The total amount of the project budget including pending changes, equals to revised + pendingOwnerChanges."
                  forecastFinalCost:
                    type: number
                    x-forma-type: number
                    description: "The total amount of the project cost including forecast adjustments, equals to projectedCost + adjustmentsTotal."
                  forecastVariance:
                    type: number
                    x-forma-type: number
                    description: "The total amount of the forecast variance, equals to projectedBudget - forecastFinalCost."
                  forecastCostComplete:
                    type: number
                    x-forma-type: number
                    description: "The total amount of the forecast cost to complete, equals to forecastFinalCost - actualCost."
                  varianceTotal:
                    type: number
                    x-forma-type: number
                    description: "The total amount of the variance of a budget, equals to projectedBudget - projectedCost."
                  externalId:
                    type: string
                    x-forma-type: string
                    description: |-
                      The identifier assigned to an item in its original external ERP system. Use this ID to track and look up data within the integrated system. Note that this value comes from the item’s ID in the external system.
                      Max length: 255
                  externalSystem:
                    type: string
                    x-forma-type: string
                    description: |-
                      The name of the external ERP system integrated with Cost Management. Use this name to identify and search for data within the integrated system.
                      Max length: 255
                  externalMessage:
                    type: string
                    x-forma-type: string
                    description: |-
                      A message generated by the external ERP system that explains the sync status of the integration. For example, common values include success or fail to indicate the result of the integration operation.
                      Max length: 255
                  lastSyncTime:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the item was last synchronized with the external ERP system. This value is updated by the external system and is in ISO 8601 format."
                  integrationState:
                    x-forma-type: "string,null"
                    description: |-
                      The state of the item during the integration with the external ERP system (such as SignNow). An item can be a budget, contract, main contract, main contract item, cost item, expense, expense item, change order, or schedule of value. For more details, see Integrate with External System tutorial.
                      Possible values:
                      locked: the item is currently locked within the ERP system, preventing modifications until unlocked. To unlock and modify the item, use the relevant PATCH endpoint to set integrationState to null. For example, for a budget, call PATCH budgets. For a contract, call PATCH contracts. For more details, see the Help documentation.

                      integrated: the item has been successfully added to the ERP system.

                      failed: the item encountered an error during the integration process and was not successfully added to the ERP system. For example, if a user tries to integrate contracts from an ERP system and the updates fail, the integrationState can be set to failed. Retry the sync process or analyze the issue if it continues to fail.

                      null: The item has not been integrated with the ERP system. This is default value.

                      For more information regarding integrations within the Cost Management system, see Integrations in Cost Management.
                  integrationStateChangedAt:
                    x-forma-type: "string,null"
                    description: "The date and time that the item’s integration status was last changed."
                  integrationStateChangedBy:
                    x-forma-type: "string,null"
                    description: "The user who last changed the integration status. This is the ID of a user managed by the BIM 360/Forma Admin."
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time that the item was created, in ISO 8601 format."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time that the item was last updated, in ISO 8601 format."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "503":
          description: "Service Unavailable"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/cost-budgets-budgetId-GET"
    patch:
      operationId: cost-budgets-budgetId-PATCH
      summary: "Updates a budget"
      description: "Updates a budget."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The ID of the project (the container ID is the same as the project ID). To obtain the project ID, see GET projects."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: budgetId
          in: path
          required: true
          description: "The budget ID."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: force
          in: query
          description: |-
            true: This request forces an override of locked budgeting so the request can succeed. The ability to create, update, or delete budgets can be locked at the project level, and force enables administrators to override the lock. A locked budget. Only a project administrator is allowed to update, create, or delete budgets when locked.
            false: This request does not override locked budgeting.
          schema:
            type: boolean
            x-forma-type: boolean
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: region
          in: header
          description: |-
            Specifies the region where the project data resides.
            By default, the request is routed automatically. However, specifying the region can improve performance by avoiding lookup overhead.

            Possible values: country or region codes such as US or EMEA. For the full list of supported regions, see the Forma Regions page.

            To verify your project’s region, refer to the Working with BIM 360 Services in Different Regions section on the API Basics page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "Unique identifier of the budget."
                  parentId:
                    x-forma-type: "string,null"
                    description: "ID of a parent budget, null for root budgets."
                  code:
                    type: string
                    x-forma-type: string
                    description: |-
                      Unique code compliant with the budget code template defined by the project admin.
                      Max length: 255
                  scope:
                    type: string
                    x-forma-type: "enum:string"
                    description: "The scope of the budget. Possible values are budgetOnly and budgetAndCost."
                  subItems:
                    x-forma-type: "array,null"
                    description: |-
                      The sub-budget in the root budget.
                      Max length: 255
                  budgetCode:
                    x-forma-type: "object,null"
                    description: "Budget code template and budget segment codes used in the budget. Not applicable for sub-budget."
                  codeSegmentValues:
                    type: object
                    x-forma-type: object
                    description: "Not relevant"
                  name:
                    type: string
                    x-forma-type: string
                    description: |-
                      The name of the budget.
                      Max length: 1024
                  description:
                    type: string
                    x-forma-type: string
                    description: |-
                      The detail description of the budget.
                      Max length: 2048
                  quantity:
                    type: number
                    x-forma-type: number
                    description: "The quantity of labor, material,… planned for the budget."
                  inputQuantity:
                    x-forma-type: "number,null"
                    description: "The input quantity planned for the budget."
                  ratio:
                    type: number
                    x-forma-type: number
                    description: "The ratio of the quantity the resources used on the budget."
                  unitPrice:
                    x-forma-type: "number,string,null"
                    description: "Unit price of a budget."
                  unit:
                    type: string
                    x-forma-type: string
                    description: "Unit of measures used in the budget."
                  originalAmount:
                    type: number
                    x-forma-type: number
                    description: "Original amount of the budget, equals to quantity * unitPrice"
                  milestoneId:
                    x-forma-type: "string,null"
                    description: "Not relevant"
                  internalAdjustment:
                    type: number
                    x-forma-type: number
                    description: "Amount of internal transfers between budgets"
                  approvedOwnerChanges:
                    type: number
                    x-forma-type: number
                    description: "The total amount of changes approved by the owner"
                  pendingOwnerChanges:
                    type: number
                    x-forma-type: number
                    description: "The total amount of changes waiting for the approval by the owner"
                  originalCommitment:
                    type: number
                    x-forma-type: number
                    description: "The original amount committed in the supplier contract."
                  approvedChangeOrders:
                    type: number
                    x-forma-type: number
                    description: "The total amount of changes committed to the supplier."
                  approvedInScopeChangeOrders:
                    type: number
                    x-forma-type: number
                    description: "The total amount of in-scope changes committed to the supplier."
                  pendingChangeOrders:
                    type: number
                    x-forma-type: number
                    description: "The total amount of changes not committed to the supplier."
                  reserves:
                    type: number
                    x-forma-type: number
                    description: "The total amount of changes under estimation."
                  actualQuantity:
                    type: number
                    x-forma-type: number
                    description: "The total of the actual quantity of labor, material,… for the budget."
                  actualUnitPrice:
                    x-forma-type: "number,string,null"
                    description: "Average unit price for the actual cost of the budget."
                  actualCost:
                    type: number
                    x-forma-type: number
                    description: "The total amount of actual cost of the budget."
                  mainContractId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "Not relevant"
                  mainContractAmountSource:
                    type: string
                    x-forma-type: "enum:string"
                    description: "Not relevant"
                  isMarkup:
                    type: boolean
                    x-forma-type: boolean
                    description: "Not relevant"
                  contractIds:
                    type: array
                    items:
                      type: string
                    x-forma-type: "array: string"
                    description: "Not relevant"
                  costUnitPrice:
                    x-forma-type: "number,string,null"
                    description: "Not relevant"
                  locations:
                    x-forma-type: "array,null"
                    description: |-
                      A list of the IDs of the project locations where this item applies.
                      For more information, see the Locations Help documentation help.
                  locationPaths:
                    x-forma-type: "array,null"
                    description: |-
                      A list of the IDs of the project locations where this item applies, along with the node paths of these locations in the project’s locations tree.
                      For more information, see the Locations Help documentation help.
                  plannedStartDate:
                    x-forma-type: "string,null"
                    description: "Not relevant"
                  plannedEndDate:
                    x-forma-type: "string,null"
                    description: "Not relevant"
                  actualStartDate:
                    x-forma-type: "string,null"
                    description: "Not relevant"
                  actualEndDate:
                    x-forma-type: "string,null"
                    description: "Not relevant"
                  durationDays:
                    type: number
                    x-forma-type: number
                    description: "Not relevant"
                  uncommitted:
                    type: number
                    x-forma-type: number
                    description: "The amount that has been approved by owner but not committed to the supplier. This is calculated as approvedOwnerChanges - (approvedChangeOrders - approvedInScopeChangeOrders)."
                  revised:
                    type: number
                    x-forma-type: number
                    description: "The total amount of the approved budget from the owner, equals to originalAmount + internalAdjustment + approvedOwnerChanges."
                  projectedCost:
                    type: number
                    x-forma-type: number
                    description: "The total amount of the project cost. For a budget, it is equal to originalCommitment + approvedChangeOrders + pendingChangeOrders + reserves. For a contract , it is equal to awarded + approvedChangeOrders + pendingChangeOrders + reserves."
                  projectedBudget:
                    type: number
                    x-forma-type: number
                    description: "The total amount of the project budget including pending changes, equals to revised + pendingOwnerChanges."
                  forecastFinalCost:
                    type: number
                    x-forma-type: number
                    description: "The total amount of the project cost including forecast adjustments, equals to projectedCost + adjustmentsTotal."
                  forecastVariance:
                    type: number
                    x-forma-type: number
                    description: "The total amount of the forecast variance, equals to projectedBudget - forecastFinalCost."
                  forecastCostComplete:
                    type: number
                    x-forma-type: number
                    description: "The total amount of the forecast cost to complete, equals to forecastFinalCost - actualCost."
                  varianceTotal:
                    type: number
                    x-forma-type: number
                    description: "The total amount of the variance of a budget, equals to projectedBudget - projectedCost."
                  externalId:
                    type: string
                    x-forma-type: string
                    description: |-
                      The identifier assigned to an item in its original external ERP system. Use this ID to track and look up data within the integrated system. Note that this value comes from the item’s ID in the external system.
                      Max length: 255
                  externalSystem:
                    type: string
                    x-forma-type: string
                    description: |-
                      The name of the external ERP system integrated with Cost Management. Use this name to identify and search for data within the integrated system.
                      Max length: 255
                  externalMessage:
                    type: string
                    x-forma-type: string
                    description: |-
                      A message generated by the external ERP system that explains the sync status of the integration. For example, common values include success or fail to indicate the result of the integration operation.
                      Max length: 255
                  lastSyncTime:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the item was last synchronized with the external ERP system. This value is updated by the external system and is in ISO 8601 format."
                  integrationState:
                    x-forma-type: "string,null"
                    description: |-
                      The state of the item during the integration with the external ERP system (such as SignNow). An item can be a budget, contract, main contract, main contract item, cost item, expense, expense item, change order, or schedule of value. For more details, see Integrate with External System tutorial.
                      Possible values:
                      locked: the item is currently locked within the ERP system, preventing modifications until unlocked. To unlock and modify the item, use the relevant PATCH endpoint to set integrationState to null. For example, for a budget, call PATCH budgets. For a contract, call PATCH contracts. For more details, see the Help documentation.

                      integrated: the item has been successfully added to the ERP system.

                      failed: the item encountered an error during the integration process and was not successfully added to the ERP system. For example, if a user tries to integrate contracts from an ERP system and the updates fail, the integrationState can be set to failed. Retry the sync process or analyze the issue if it continues to fail.

                      null: The item has not been integrated with the ERP system. This is default value.

                      For more information regarding integrations within the Cost Management system, see Integrations in Cost Management.
                  integrationStateChangedAt:
                    x-forma-type: "string,null"
                    description: "The date and time that the item’s integration status was last changed."
                  integrationStateChangedBy:
                    x-forma-type: "string,null"
                    description: "The user who last changed the integration status. This is the ID of a user managed by the BIM 360/Forma Admin."
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time that the item was created, in ISO 8601 format."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time that the item was last updated, in ISO 8601 format."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "503":
          description: "Service Unavailable"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/cost-budgets-budgetId-PATCH"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                code:
                  type: string
                  x-forma-type: string
                  description: |-
                    Unique code compliant with the budget code template defined by the project admin. Ignored if segmentCodeMap is defined.
                    Max length: 255
                segmentCodeMap:
                  type: object
                  x-forma-type: object
                  description: "Map of budget code segments to be used in the budget code, required when updating root budget code with variable length segment. Key is the budget code segment ID, value is the code for the segment."
                  properties:
                    "*":
                      type: string
                      x-forma-type: string
                      description: "Max length: 255"
                name:
                  type: string
                  x-forma-type: string
                  description: |-
                    Name of the budget.
                    Max length: 1024
                description:
                  type: string
                  x-forma-type: string
                  description: "Detailed description of the budget."
                quantity:
                  type: number
                  x-forma-type: number
                  description: "The quantity of labor, material, and other items planned for the budget."
                inputQuantity:
                  x-forma-type: "number,null"
                  description: "The input quantity planned for the budget."
                unitPrice:
                  x-forma-type: "number,string,null"
                  description: "Unit price of a budget."
                originalCostUnitPrice:
                  x-forma-type: "number,string,null"
                  description: "Not relevant"
                unit:
                  type: string
                  x-forma-type: string
                  description: "Unit of measures used in the budget."
                actualQuantity:
                  type: number
                  x-forma-type: number
                  description: "Actual quantity of labor, material,… planned for a budget."
                actualUnitPrice:
                  x-forma-type: "number,string,null"
                  description: "Actual unit price of a budget."
                actualCost:
                  x-forma-type: "number,string,null"
                  description: "The total amount of actual cost of the budget."
                lockedField:
                  x-forma-type: "string,null"
                  description: "The locked budget item field. You can lock the budget item’s amount (originalAmount), quantity (quantity), or unit cost (unitPrice) when calculating a budget."
                mainContractAmountSource:
                  type: string
                  x-forma-type: "enum:string"
                  description: "Not relevant"
                isMarkup:
                  type: boolean
                  x-forma-type: boolean
                  description: "Not relevant"
                locations:
                  x-forma-type: "array,null"
                  description: |-
                    A list of the IDs of the project locations where this item applies.
                    For more information, see the Locations Help documentation help.
                plannedStartDate:
                  x-forma-type: "string,null"
                  description: "Not relevant"
                plannedEndDate:
                  x-forma-type: "string,null"
                  description: "Not relevant"
                actualStartDate:
                  x-forma-type: "string,null"
                  description: "Not relevant"
                actualEndDate:
                  x-forma-type: "string,null"
                  description: "Not relevant"
                durationDays:
                  type: number
                  x-forma-type: number
                  description: "Not relevant"
                externalId:
                  type: string
                  x-forma-type: string
                  description: |-
                    The identifier assigned to an item in its original external ERP system. Use this ID to track and look up data within the integrated system. Note that this value comes from the item’s ID in the external system.
                    Max length: 255
                externalSystem:
                  type: string
                  x-forma-type: string
                  description: |-
                    The name of the external ERP system integrated with Cost Management. Use this name to identify and search for data within the integrated system.
                    Max length: 255
                externalMessage:
                  type: string
                  x-forma-type: string
                  description: |-
                    A message generated by the external ERP system that explains the sync status of the integration. For example, common values include success or fail to indicate the result of the integration operation.
                    Max length: 255
                lastSyncTime:
                  type: string
                  format: date-time
                  x-forma-type: "datetime: ISO 8601"
                  description: "The date and time when the item was last synchronized with the external ERP system. This value is updated by the external system and is in ISO 8601 format."
                integrationState:
                  x-forma-type: "string,null"
                  description: |-
                    The state of the item during the integration with the external ERP system (such as SignNow). An item can be a budget, contract, main contract, main contract item, cost item, expense, expense item, change order, or schedule of value. For more details, see Integrate with External System tutorial.
                    Possible values:
                    locked: the item is currently locked within the ERP system, preventing modifications until unlocked. To unlock and modify the item, use the relevant PATCH endpoint to set integrationState to null. For example, for a budget, call PATCH budgets. For a contract, call PATCH contracts. For more details, see the Help documentation.

                    integrated: the item has been successfully added to the ERP system.

                    failed: the item encountered an error during the integration process and was not successfully added to the ERP system. For example, if a user tries to integrate contracts from an ERP system and the updates fail, the integrationState can be set to failed. Retry the sync process or analyze the issue if it continues to fail.

                    null: The item has not been integrated with the ERP system. This is default value.

                    For more information regarding integrations within the Cost Management system, see Integrations in Cost Management.
  "/cost/v1/containers/{containerId}/budgets":
    get:
      operationId: cost-budgets-GET
      summary: "Returns all the budgets in a specific project"
      description: "Returns all the budgets in a specific project."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The ID of the project (the container ID is the same as the project ID). To obtain the project ID, see GET projects."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: include
          in: query
          description: "A list of nested resources top include in the response. For example, include=subitems will return the sub budget items. include=attributes will return custom attributes which represents the “properties” in the response. If idOnly is set, the response will only include a list of ids, and other include will be ignored. Possible values: subitems, attributes, contract, mainContract, mainContractItem, segments, idOnly, compounded."
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: "filter[rootId]"
          in: query
          description: "Query related sub-items for the given root item ID. Separate multiple IDs with commas. For example, filter[rootId]=id1,id2."
          schema:
            x-forma-type: "array: string: uuid"
        - name: "filter[id]"
          in: query
          description: "Returns only the items that are identified by the provided list of item IDs. Separate multiple IDs with commas. For example, filter[id]=id1,id2."
          schema:
            x-forma-type: "array: string: uuid"
        - name: "filter[lastModifiedSince]"
          in: query
          description: "Returns only items that were modified since the specified date and time, in ISO 8601 format. For example, filter[lastModifiedSince]=2020-03-01T13:00:00Z."
          schema:
            type: string
            x-forma-type: string
        - name: "filter[externalSystem]"
          in: query
          description: |-
            The name of the external ERP system. Use this name to identify or search within the integrated system. For example, filter[externalSystem]=Sage300.
            Max length: 255
          schema:
            type: string
            x-forma-type: string
        - name: "filter[externalId]"
          in: query
          description: "The ID of the item in the external ERP system. Use this ID to track or look up data in an integrated ERP system. For example, filter[externalId]=id1,id2."
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: "filter[code]"
          in: query
          description: |-
            Returns only items that are identified by the specified codes (separated by commas). For example, filter[code]="2703,2704".
            Note that even single codes in number format must be enclosed in double quotes:filter[code]="1" or filter[code]="122. 221".
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: offset
          in: query
          description: "The number of records to skip before returning results. Used together with limit to paginate through results, where offset specifies the starting point and limit specifies the number of records to return."
          schema:
            type: integer
            x-forma-type: int
        - name: limit
          in: query
          description: "The maximum number of records returned per page. Default: 100. A page may contain fewer records than the limit if there are fewer matching items or if it is the last page of results."
          schema:
            type: integer
            x-forma-type: int
        - name: sort
          in: query
          description: "Specifies the field(s) to sort results by, with optional direction (asc for ascending or desc for descending; default is asc). Use comma-separated field names for multiple sort criteria, for example sort=name desc or sort=name,createdAt desc."
          schema:
            type: string
            x-forma-type: string
        - name: region
          in: header
          description: |-
            Specifies the region where the project data resides.
            By default, the request is routed automatically. However, specifying the region can improve performance by avoiding lookup overhead.

            Possible values: country or region codes such as US or EMEA. For the full list of supported regions, see the Forma Regions page.

            To verify your project’s region, refer to the Working with BIM 360 Services in Different Regions section on the API Basics page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "Contains pagination information when data is returned page by page."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The maximum number of records returned in the response."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The number of records skipped before returning the page of results."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The total number of records that matched the request criteria."
                      nextUrl:
                        type: string
                        x-forma-type: string
                        description: |-
                          The URL for the next request to retrieve the next page of results. Max length: 2000.
                          Max length: 2000
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "Unique identifier of the budget."
                        parentId:
[...]
