openapi: "3.1.0"
info:
  title: "Forma APIs — Issues"
  version: v1
  description: |-
    Forma APIs — Issues.
    Autodesk 문서에서 자동 추출됨. 원본: https://aps.autodesk.com/en/docs/acc/v1
    공통 base 경로: /construction/issues/v1/projects
    **리전 — 호출 전 반드시 확인** 리전은 완전히 분리되어 있고 리소스 식별자가 호환되지 않습니다. ⚠️ **헤더 이름이 그룹마다 다릅니다.** Hub Admin 은 `Region`, Issues 는 `x-ads-region` 입니다. 이 문서의 "헤더" 표에 적힌 이름을 그대로 쓰세요. 통일해서 보내면 안 됩니다. 미지정 시 자동 라우팅되며 지연이 늘 수 있습니다. 자세한 판정은 `_errata` E-003 참고.
servers:
  - url: "https://developer.api.autodesk.com"
x-forma-group: Issues
x-forma-common-base: "/construction/issues/v1/projects"
paths:
  "/construction/issues/v1/projects/{projectId}/attachments/{issueId}/items/{attachmentId}":
    delete:
      operationId: issues-items-attachmentId-DELETE
      summary: "Deletes a specific attachment from an issue in a project"
      description: "Deletes a specific attachment from an issue in a project."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: issueId
          in: path
          required: true
          description: "The unique identifier of the issue. To find the ID, call GET issues."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: attachmentId
          in: path
          required: true
          description: "The unique identifier of the attachment. To find the ID, call GET attachments."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
      security:
        - oauth2:
            - "data:write"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/issues-items-attachmentId-DELETE"
  "/construction/issues/v1/projects/{projectId}/attachments/{issueId}/items":
    get:
      operationId: issues-attachments-issueId-items-GET
      summary: "Retrieves all attachments for a specific issue in a project"
      description: "Retrieves all attachments for a specific issue in a project."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: issueId
          in: path
          required: true
          description: "The unique identifier of the issue. To find the ID, call GET issues."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  attachments:
                    type: array
                    items:
                      type: object
                      properties:
                        attachmentId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique identifier for the attachment, set by the client when creating the attachment reference. This can be any unique GUID, but it is recommended to use the OSS storage GUID."
                        displayName:
                          type: string
                          x-forma-type: string
                          description: "The human-readable display name for the attachment, including the file extension (for example, .pdf, .jpg, .dwg). This name appears in the Forma web UI and is used when downloading the file from the issue."
                        fileName:
                          type: string
                          x-forma-type: string
                          description: |-
                            The unique filename of the attachment, as stored in Autodesk Forma Data Management (OSS).
                            This is the name assigned to the uploaded file in the system, typically formatted as {attachmentId}.{fileExtension}.
                        attachmentType:
                          type: string
                          x-forma-type: "enum:string"
                          description: "The type of attachment. For issue attachments, this value is always issue-attachment. Will always be: issue-attachment"
                        storageUrn:
                          type: string
                          x-forma-type: string
                          description: "The Object Storage Service (OSS) URN identifying where the attachment file is stored in Autodesk’s cloud infrastructure. Use this value when downloading the file (see the Download Issue Attachment </en/docs/acc/v1/tutorials/issues/download-issue-attachments/>_ tutorial)."
                        fileSize:
                          type: integer
                          x-forma-type: int
                          description: "The size of the file in bytes."
                        fileType:
                          type: string
                          x-forma-type: string
                          description: "The file extension (without the dot), for example pdf or jpg."
                        domainEntityId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the issue that owns the attachment."
                        lineageUrn:
                          type: string
                          x-forma-type: string
                          description: "The document lineage URN for the attachment’s source file."
                        version:
                          type: integer
                          x-forma-type: int
                          description: "The document version number."
                        versionUrn:
                          type: string
                          x-forma-type: string
                          description: "The URN for the specific file version that was attached to the issue. This may differ from the latest version URN (tipVersionUrn) if a newer version of the file exists in Autodesk Forma Data Management."
                        tipVersionUrn:
                          type: string
                          x-forma-type: string
                          description: "The URN for the latest (tip) version of the file."
                        bubbleUrn:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The ID of the user who created the issue attachment. For details about the user, call GET users."
                        createdOn:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time when the issue attachment was created, in ISO8601 format."
                        modifiedBy:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                        modifiedOn:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "Not relevant"
                        deletedBy:
                          type: string
                          x-forma-type: string
                          description: "The ID of the user who deleted the issue attachment, if applicable. For details about the user, call GET users."
                        deletedOn:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time when the issue attachment was deleted, if applicable."
                        isDeleted:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            true: The attachment has been deleted.
                            false: (default) The attachment has not been deleted.
                    x-forma-type: "array: object"
                    description: "A collection of attachments linked to the issue."
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/issues-attachments-issueId-items-GET"
  "/construction/issues/v1/projects/{projectId}/attachments":
    post:
      operationId: issues-attachments-POST
      summary: "Adds attachments to an existing issue"
      description: "Adds attachments to an existing issue."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  attachments:
                    type: array
                    items:
                      type: object
                      properties:
                        attachmentId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique identifier for the attachment, set by the client when creating the attachment reference. This can be any unique GUID, but it is recommended to use the OSS storage GUID."
                        displayName:
                          type: string
                          x-forma-type: string
                          description: "The human-readable display name for the attachment, including the file extension (for example, .pdf, .jpg, .dwg). This name appears in the Forma web UI and is used when downloading the file from the issue."
                        fileName:
                          type: string
                          x-forma-type: string
                          description: |-
                            The unique filename of the attachment, as stored in Autodesk Forma Data Management (OSS).
                            This is the name assigned to the uploaded file in the system, typically formatted as {attachmentId}.{fileExtension}.
                        attachmentType:
                          type: string
                          x-forma-type: "enum:string"
                          description: "The type of attachment. For issue attachments, this value is always issue-attachment. Will always be: issue-attachment"
                        storageUrn:
                          type: string
                          x-forma-type: string
                          description: "The Object Storage Service (OSS) URN identifying where the attachment file is stored in Autodesk’s cloud infrastructure. Use this value when downloading the file (see the Download Issue Attachment </en/docs/acc/v1/tutorials/issues/download-issue-attachments/>_ tutorial)."
                        fileSize:
                          type: integer
                          x-forma-type: int
                          description: "The size of the file in bytes."
                        fileType:
                          type: string
                          x-forma-type: string
                          description: "The file extension (without the dot), for example pdf or jpg."
                        domainEntityId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the issue that owns the attachment."
                        lineageUrn:
                          type: string
                          x-forma-type: string
                          description: "The document lineage URN for the attachment’s source file."
                        version:
                          type: integer
                          x-forma-type: int
                          description: "The document version number."
                        versionUrn:
                          type: string
                          x-forma-type: string
                          description: "The URN for the specific file version that was attached to the issue. This may differ from the latest version URN (tipVersionUrn) if a newer version of the file exists in Autodesk Forma Data Management."
                        tipVersionUrn:
                          type: string
                          x-forma-type: string
                          description: "The URN for the latest (tip) version of the file."
                        bubbleUrn:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The ID of the user who created the issue attachment. For details about the user, call GET users."
                        createdOn:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time when the issue attachment was created, in ISO8601 format."
                        modifiedBy:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                        modifiedOn:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "Not relevant"
                        deletedBy:
                          type: string
                          x-forma-type: string
                          description: "The ID of the user who deleted the issue attachment, if applicable. For details about the user, call GET users."
                        deletedOn:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time when the issue attachment was deleted, if applicable."
                        isDeleted:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            true: The attachment has been deleted.
                            false: (default) The attachment has not been deleted.
                        hash:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                    x-forma-type: "array: object"
                    description: "A collection of created attachments linked to the issue."
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "422":
          description: "Unprocessable Entity"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/issues-attachments-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                domainEntityId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The unique identifier of the issue to which the attachments will be added."
                attachments:
                  type: array
                  items:
                    type: object
                    properties:
                      attachmentId:
                        type: string
                        format: uuid
                        x-forma-type: "string: UUID"
                        description: "The unique identifier for the attachment, set by the client when creating the attachment reference. This can be any unique GUID, but it is recommended to use the OSS storage GUID. For more information, see the Upload Issue Attachment tutorial."
                      displayName:
                        type: string
                        x-forma-type: string
                        description: "The human-readable display name for the attachment, including the file extension (for example, .pdf, .jpg, .dwg). This name appears in the Forma web UI and is used when downloading the file from the issue."
                      fileName:
                        type: string
                        x-forma-type: string
                        description: |-
                          The unique filename of the attachment, typically formatted as {attachmentId}.{fileExtension}.
                          This value must exactly match the name of the file stored in Autodesk Forma Data Management (OSS) that you uploaded via the OSS process.

                          For more information, see the Upload Issue Attachment tutorial.
                      attachmentType:
                        type: string
                        x-forma-type: "enum:string"
                        description: "The type of attachment to create. Set to issue-attachment. Will always be: issue-attachment"
                      storageUrn:
                        type: string
                        x-forma-type: string
                        description: "The Object Storage Service (OSS) URN that uniquely identifies where the file is stored in Autodesk’s cloud infrastructure. You obtain this value after uploading the file to OSS (see the Upload Issue Attachment tutorial) or by retrieving it from an existing attachment (see the Downloading Issue Attachments tutorial)."
                    required:
                      - attachmentId
                      - attachmentType
                      - displayName
                      - fileName
                      - storageUrn
                  x-forma-type: "array: object"
                  description: "A list of attachments to add to the issue."
              required:
                - attachments
  "/construction/issues/v1/projects/{projectId}/issue-attribute-definitions":
    get:
      operationId: issues-issue-attribute-definitions-GET
      summary: "Issue Attribute Definitions"
      description: "Retrieves information about issue custom attributes (custom fields) for a project, including the custom attribute title, description and type."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: limit
          in: query
          description: "The number of custom attribute definitions to return in the response payload. For example, limit=2. Acceptable values: 1-200. Default value: 200."
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: "The number of custom attribute definitions you want to begin retrieving results from."
          schema:
            type: integer
            x-forma-type: int
        - name: "filter[createdAt]"
          in: query
          description: |-
            Retrieves items that were created at the specified date and time, in one of the following URL-encoded formats: YYYY-MM-DDThh:mm:ss.sz or YYYY-MM-DD. Separate multiple values with commas. We support the following filtering options:

            - Date range: e.g., 2022-03-02..2022-03-03 or 2022-02-28T22:00:00.000Z..2022-03-28T22:00:00.000Z

            - Specific day: e.g., 2022-03-02 or 2022-02-28T22:00:00.000Z

            - Specific start date: e.g., 2022-03-02.. or 2022-02-28T22:00:00.000Z..

            - Specific end date: e.g., ..2022-03-02 or ..2022-02-28T22:00:00.000Z

            For more details, see JSON API Filtering.
          schema:
            type: string
            format: date-time
            x-forma-type: "datetime: ISO 8601"
        - name: "filter[updatedAt]"
          in: query
          description: |-
            Retrieves items that were last updated at the specified date and time, in one of the following URL-encoded formats: YYYY-MM-DDThh:mm:ss.sz or YYYY-MM-DD. Separate multiple values with commas. We support the following filtering options:

            - Date range: e.g., 2022-03-02..2022-03-03 or 2022-02-28T22:00:00.000Z..2022-03-28T22:00:00.000Z

            - Specific day: e.g., 2022-03-02 or 2022-02-28T22:00:00.000Z

            - Specific start date: e.g., 2022-03-02.. or 2022-02-28T22:00:00.000Z..

            - Specific end date: e.g., ..2022-03-02 or ..2022-02-28T22:00:00.000Z

            For more details, see JSON API Filtering.
          schema:
            type: string
            format: date-time
            x-forma-type: "datetime: ISO 8601"
        - name: "filter[deletedAt]"
          in: query
          description: |-
            Retrieves types that were deleted at the specified date and time, in one of the following URL-encoded formats: YYYY-MM-DDThh:mm:ss.sz or YYYY-MM-DD. Separate multiple values with commas. We support the following filtering options:

            - Date range: e.g., 2022-03-02..2022-03-03 or 2022-02-28T22:00:00.000Z..2022-03-28T22:00:00.000Z

            - Specific day: e.g., 2022-03-02 or 2022-02-28T22:00:00.000Z

            - Specific start date: e.g., 2022-03-02.. or 2022-02-28T22:00:00.000Z..

            - Specific end date: e.g., ..2022-03-02 or ..2022-02-28T22:00:00.000Z

            To include non-deleted items in the response, add null to the filter: filter[deletedAt]=null,YYYY-MM-DDThh:mm:ss.sz...YYYY-MM-DDThh:mm:ss.sz.

            For more details, see JSON API Filtering.
          schema:
            type: string
            format: date-time
            x-forma-type: "datetime: ISO 8601"
        - name: "filter[dataType]"
          in: query
          description: "Retrieves issue custom attribute definitions with the specified data type. Possible values: list (this corresponds to dropdown in the UI), text, paragraph, numeric. For example, filter[dataType]=text,numeric."
          schema:
            type: string
            x-forma-type: "enum:string"
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA.

            For the full list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "The pagination object."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The number of items per page."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The page number that the results begin from."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The number of items in the response."
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the custom attribute."
                        containerId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "Not relevant"
                        title:
                          type: string
                          x-forma-type: string
                          description: |-
                            The title of the custom attribute.
                            Max length: 100
                        description:
                          type: string
                          x-forma-type: string
                          description: |-
                            The description of the custom attribute.
                            Max length: 500
                        dataType:
                          type: string
                          x-forma-type: "enum:string"
                          description: "The type of custom attribute. Possible values: list, text, paragraph, numeric."
                        metadata:
                          type: object
                          x-forma-type: object
                          description: "The metadata object; only relevant for list custom attributes."
                          properties:
                            list:
                              type: object
                              x-forma-type: object
                              description: "The list object."
                              properties:
                                options:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                        x-forma-type: "string: UUID"
                                        description: "The id of the list option."
                                      value:
                                        type: string
                                        x-forma-type: string
                                        description: "The value of the list item."
                                  x-forma-type: "array: object"
                                  description: "The options object."
                        permittedActions:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "Not relevant"
                        permittedAttributes:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "Not relevant"
                        createdAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time the custom attribute was created, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who created the custom attribute."
                        updatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The last date and time the custom attribute was updated, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        updatedBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who last updated the custom attribute."
                        deletedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time the custom attribute was deleted, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        deletedBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who deleted the custom attribute."
                    x-forma-type: "array: object"
                    description: "A list of issue attribute definitions (custom fields)."
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/issues-issue-attribute-definitions-GET"
  "/construction/issues/v1/projects/{projectId}/issue-attribute-mappings":
    get:
      operationId: issues-issue-attribute-mappings-GET
      summary: "Issue Attribute Mappings"
      description: "Retrieves information about the issue custom attributes (custom fields) that are assigned to issue categories and issue types."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: limit
          in: query
          description: "The number of custom attribute mappings to return in the response payload. For example, limit=2. Acceptable values: 1-200. Default value: 200."
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: "The number of custom attribute mappings you want to begin retrieving results from."
          schema:
            type: integer
            x-forma-type: int
        - name: "filter[createdAt]"
          in: query
          description: |-
            Retrieves items that were created at the specified date and time, in one of the following URL-encoded formats: YYYY-MM-DDThh:mm:ss.sz or YYYY-MM-DD. Separate multiple values with commas. We support the following filtering options:

            - Date range: e.g., 2022-03-02..2022-03-03 or 2022-02-28T22:00:00.000Z..2022-03-28T22:00:00.000Z

            - Specific day: e.g., 2022-03-02 or 2022-02-28T22:00:00.000Z

            - Specific start date: e.g., 2022-03-02.. or 2022-02-28T22:00:00.000Z..

            - Specific end date: e.g., ..2022-03-02 or ..2022-02-28T22:00:00.000Z

            For more details, see JSON API Filtering.
          schema:
            type: string
            format: date-time
            x-forma-type: "datetime: ISO 8601"
        - name: "filter[updatedAt]"
          in: query
          description: |-
            Retrieves items that were last updated at the specified date and time, in one of the following URL-encoded formats: YYYY-MM-DDThh:mm:ss.sz or YYYY-MM-DD. Separate multiple values with commas. We support the following filtering options:

            - Date range: e.g., 2022-03-02..2022-03-03 or 2022-02-28T22:00:00.000Z..2022-03-28T22:00:00.000Z

            - Specific day: e.g., 2022-03-02 or 2022-02-28T22:00:00.000Z

            - Specific start date: e.g., 2022-03-02.. or 2022-02-28T22:00:00.000Z..

            - Specific end date: e.g., ..2022-03-02 or ..2022-02-28T22:00:00.000Z

            For more details, see JSON API Filtering.
          schema:
            type: string
            format: date-time
            x-forma-type: "datetime: ISO 8601"
        - name: "filter[deletedAt]"
          in: query
          description: |-
            Retrieves types that were deleted at the specified date and time, in one of the following URL-encoded formats: YYYY-MM-DDThh:mm:ss.sz or YYYY-MM-DD. Separate multiple values with commas. We support the following filtering options:

            - Date range: e.g., 2022-03-02..2022-03-03 or 2022-02-28T22:00:00.000Z..2022-03-28T22:00:00.000Z

            - Specific day: e.g., 2022-03-02 or 2022-02-28T22:00:00.000Z

            - Specific start date: e.g., 2022-03-02.. or 2022-02-28T22:00:00.000Z..

            - Specific end date: e.g., ..2022-03-02 or ..2022-02-28T22:00:00.000Z

            To include non-deleted items in the response, add null to the filter: filter[deletedAt]=null,YYYY-MM-DDThh:mm:ss.sz...YYYY-MM-DDThh:mm:ss.sz.

            For more details, see JSON API Filtering.
          schema:
            type: string
            format: date-time
            x-forma-type: "datetime: ISO 8601"
        - name: "filter[attributeDefinitionId]"
          in: query
          description: "Retrieves issue custom attribute mappings associated with the specified issue custom attribute definitions. Separate multiple values with commas. For example: filter[attributeDefinitionId]=18ee5858-cbf1-451a-a525-7c6ff8156775."
          schema:
            type: string
            x-forma-type: string
        - name: "filter[mappedItemId]"
          in: query
          description: "Retrieves issue custom attribute mappings associated with the specified items (project, type, or subtype). Separate multiple values with commas. For example: filter[mappedItemId]=18ee5858-cbf1-451a-a525-7c6ff8156775. Note that this does not retrieve inherited custom attribute mappings or custom attribute mappings of descendants."
          schema:
            type: string
            x-forma-type: string
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA.

            For the full list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "The pagination object."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The number of items per page."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The page number that the results begin from."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The number of items in the response."
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the custom attribute mapping."
                        attributeDefinitionId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the custom attribute definition."
                        containerId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "Not relevant"
                        mappedItemType:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The type of item the custom attribute is mapped to.
                            Possible values:
                            issueType - this corresponds to Issue Category in the UI.
                            issueSubtype - this corresponds to Issue Type in the UI.
                            Note that issueSubtype's inherit issueType's.
                        mappedItemId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the item (type, or subtype) the custom attribute is mapped to."
                        order:
                          type: integer
                          x-forma-type: int
                          description: "The order that the custom attributes were mapped to the item (type, subtype). This is only relevant to non-inherited mappings."
                        permittedActions:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "Not relevant"
                        permittedAttributes:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "Not relevant"
                        createdAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time the custom attribute mapping was created, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who created the custom attribute mapping."
                        updatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The last date and time the custom attribute mapping was updated, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        updatedBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who last updated the custom attribute mapping."
                        deletedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time the custom attribute mapping was deleted, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        deletedBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who deleted the custom attribute mapping."
                    x-forma-type: "array: object"
                    description: "A list of issue attribute mappings."
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/issues-issue-attribute-mappings-GET"
  "/construction/issues/v1/projects/{projectId}/issue-root-cause-categories":
    get:
      operationId: issues-issue-root-cause-categories-GET
      summary: "Retrieves a list of supported root cause categories and root causes that you can allocate to an issue"
      description: "Retrieves a list of supported root cause categories and root causes that you can allocate to an issue. For example, communication and coordination."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: include
          in: query
          description: "Add ‘include=rootcauses’ to add the root causes for each category."
          schema:
            type: string
            x-forma-type: string
        - name: limit
          in: query
          description: "Add limit=20 to limit the results count (together with the offset to support pagination)."
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: "Add offset=20 to get partial results (together with the limit to support pagination)."
          schema:
            type: integer
            x-forma-type: int
        - name: "filter[updatedAt]"
          in: query
          description: |-
            Retrieves root cause categories updated at the specified date and time, in one of the following URL-encoded formats: YYYY-MM-DDThh:mm:ss.sz or YYYY-MM-DD. Separate multiple values with commas. We support the following filtering options:

            - Date range: e.g., 2022-03-02..2022-03-03 or 2022-02-28T22:00:00.000Z..2022-03-28T22:00:00.000Z

            - Specific day: e.g., 2022-03-02 or 2022-02-28T22:00:00.000Z

            - Specific start date: e.g., 2022-03-02.. or 2022-02-28T22:00:00.000Z..

            - Specific end date: e.g., ..2022-03-02 or ..2022-02-28T22:00:00.000Z

            For more details, see JSON API Filtering.
          schema:
            type: string
            x-forma-type: string
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA.

            For the full list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "The pagination object."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The number of items per page."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The page number that the results begin from."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The number of items in the response."
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the issue root cause category."
                        title:
                          type: string
                          x-forma-type: string
                          description: |-
                            The title of the issue root cause category.
                            Max length: 100
                        isActive:
                          type: boolean
                          x-forma-type: boolean
                          description: "States whether the root cause category is active."
                        permittedActions:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "Not relevant"
                        permittedAttributes:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "Not relevant"
                        rootCauses:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                                x-forma-type: "string: UUID"
                                description: "The ID of the issue root cause."
                              rootCauseCategoryId:
                                type: string
                                format: uuid
                                x-forma-type: "string: UUID"
                                description: "The ID of the parent issue root cause category."
                              title:
                                type: string
                                x-forma-type: string
                                description: |-
                                  The title of the issue root cause.
                                  Max length: 100
                              isActive:
                                type: boolean
                                x-forma-type: boolean
                                description: "States whether the root cause is active."
                              permittedActions:
                                type: array
                                items:
                                  type: string
                                x-forma-type: "array: string"
                                description: "Not relevant"
                              permittedAttributes:
                                type: array
                                items:
                                  type: string
                                x-forma-type: "array: string"
                                description: "Not relevant"
                              createdAt:
                                type: string
                                format: date-time
                                x-forma-type: "datetime: ISO 8601"
                                description: "The date and time the issue root cause was created, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                              createdBy:
                                type: string
                                x-forma-type: string
                                description: "The Autodesk ID of the user who created the issue root cause."
                              updatedAt:
                                type: string
                                format: date-time
                                x-forma-type: "datetime: ISO 8601"
                                description: "The last date and time the issue root cause was updated, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                              updatedBy:
                                type: string
                                x-forma-type: string
                                description: "The Autodesk ID of the user who last updated the issue root cause."
                              deletedAt:
                                type: string
                                format: date-time
                                x-forma-type: "datetime: ISO 8601"
                                description: "The date and time the issue root cause was deleted, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                              deletedBy:
                                type: string
                                x-forma-type: string
                                description: "The Autodesk ID of the user who deleted the issue root cause."
                          x-forma-type: "array: object"
                          description: "A list of root causes of the specific root cause category."
                        createdAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time the issue root cause category was created, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who created the issue root cause category."
                        updatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The last date and time the issue root cause category was updated, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        updatedBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who last updated the issue root cause category."
                        deletedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time the issue root cause category was deleted, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        deletedBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who deleted the issue root cause category."
                    x-forma-type: "array: object"
                    description: "A list of issue root cause categories."
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/issues-issue-root-cause-categories-GET"
  "/construction/issues/v1/projects/{projectId}/issue-types":
    get:
      operationId: issues-issue-types-GET
      summary: "Retrieves a project’s categories and types"
      description: "Retrieves a project’s categories and types. Note the following differences in terminology between the product and the API:"
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: include
          in: query
          description: "Use include=subtypes to include the types (subtypes) for each category (type)."
          schema:
            type: string
            x-forma-type: string
        - name: limit
          in: query
          description: "Add limit=20 to limit the results count (together with the offset to support pagination)."
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: "Add offset=20 to get partial results (together with the limit to support pagination)."
          schema:
            type: integer
            x-forma-type: int
        - name: "filter[updatedAt]"
          in: query
          description: |-
            Retrieves types that were last updated at the specified date and time, in in one of the following URL-encoded formats: YYYY-MM-DDThh:mm:ss.sz or YYYY-MM-DD. Separate multiple values with commas. We support the following filtering options:

            - Date range: e.g., 2022-03-02..2022-03-03 or 2022-02-28T22:00:00.000Z..2022-03-28T22:00:00.000Z

            - Specific day: e.g., 2022-03-02 or 2022-02-28T22:00:00.000Z

            - Specific start date: e.g., 2022-03-02.. or 2022-02-28T22:00:00.000Z..

            - Specific end date: e.g., ..2022-03-02 or ..2022-02-28T22:00:00.000Z

            For more details, see JSON API Filtering.
          schema:
            type: string
            x-forma-type: string
        - name: "filter[isActive]"
          in: query
          description: "Filter types by status e.g. filter[isActive]=true will only return active types. Default value: undefined (meaning both active & inactive issue type categories will return)."
          schema:
            type: boolean
            x-forma-type: boolean
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA.

            For the full list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "The pagination object."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The number of items per page."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The page number that the results begin from."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The number of items in the response."
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the issue type."
                        containerId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "Not relevant"
                        title:
                          type: string
                          x-forma-type: string
                          description: "Max length: 250"
                        isActive:
                          type: boolean
                          x-forma-type: boolean
                          description: "States whether the issue type is active."
                        orderIndex:
                          type: integer
                          x-forma-type: int
                          description: "Not relevant"
                        permittedActions:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "Not relevant"
                        permittedAttributes:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "Not relevant"
                        subtypes:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                                x-forma-type: "string: UUID"
                                description: "The ID of the issue subtype."
                              issueTypeId:
                                type: string
                                format: uuid
                                x-forma-type: "string: UUID"
                                description: "The ID of the parent issue type."
                              title:
                                type: string
                                x-forma-type: string
                                description: "Max length: 250"
                              code:
                                type: string
                                x-forma-type: string
                                description: |-
                                  3 chars pin label.
                                  Max length: 3
                              isActive:
                                type: boolean
                                x-forma-type: boolean
                                description: "Stated whether the issue subtype is active."
                              orderIndex:
                                type: integer
                                x-forma-type: int
                                description: "Not relevant"
                              isReadOnly:
                                type: boolean
                                x-forma-type: boolean
                                description: "Not relevant"
                              permittedActions:
                                type: array
                                items:
                                  type: string
                                x-forma-type: "array: string"
                                description: "Not relevant"
                              permittedAttributes:
                                type: array
                                items:
                                  type: string
                                x-forma-type: "array: string"
                                description: "Not relevant"
                              createdBy:
                                type: string
                                x-forma-type: string
                                description: "The unique identifier of the user who created the issue type."
                              createdAt:
                                type: string
                                format: date-time
                                x-forma-type: "datetime: ISO 8601"
                                description: "The date and time the issue was created, in ISO8601 format."
                              updatedBy:
                                type: string
                                x-forma-type: string
                                description: "The unique identifier of the user who updated the issue type."
                              updatedAt:
                                type: string
                                format: date-time
                                x-forma-type: "datetime: ISO 8601"
                                description: "The date and time the issue type was updated, in ISO8601 format."
                              deletedBy:
                                type: string
                                x-forma-type: string
                                description: "The unique identifier of the user who deleted the issue type."
                              deletedAt:
                                type: string
                                format: date-time
                                x-forma-type: "datetime: ISO 8601"
                                description: "The date and time the issue type was deleted, in ISO8601 format."
                          x-forma-type: "array: object"
                          description: "A list of subtypes of the specific issue type."
                        statusSet:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier of the user who created the issue type."
                        createdAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time the issue was created, in ISO8601 format."
                        updatedBy:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier of the user who updated the issue type."
                        updatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time the issue type was updated, in ISO8601 format."
                        deletedBy:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier of the user who deleted the issue type."
                        deletedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time the issue type was deleted, in ISO8601 format."
                    x-forma-type: "array: object"
                    description: "A list of issue type categories."
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/issues-issue-types-GET"
  "/construction/issues/v1/projects/{projectId}/issues/{issueId}/comments":
    get:
      operationId: issues-comments-GET
      summary: "Get all the comments for a specific issue"
      description: "Get all the comments for a specific issue."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: issueId
          in: path
          required: true
          description: "The unique identifier of the issue. To find the ID, call GET issues."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: sortBy
          in: query
          description: "Sort issue comments by specified fields. Separate multiple values with commas. To sort in descending order add a - (minus sign) before the sort criteria. For example: sortBy=createdAt,-updatedAt. Possible values: createdAt, updatedAt, createdBy."
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: limit
          in: query
          description: "Add limit=20 to limit the results count (together with the offset to support pagination)."
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: "Add offset=20 to get partial results (together with the limit to support pagination)."
          schema:
            type: integer
            x-forma-type: int
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA.

            For the full list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "The pagination object."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The number of items per page."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The page number that the results begin from."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The number of items in the response."
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique identifier for the comment."
                        body:
                          type: string
                          x-forma-type: string
                          description: |-
                            The comment content. A `
                            ` represents a new line. For example, HeynAharon will appear as a two-line comment.
                            Max length: 10000
                        createdAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time the comment was created, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who created the comment."
                        updatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "Not relevant"
                        deletedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "Not relevant"
                        clientCreatedAt:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                        clientUpdatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "Not relevant"
                        permittedActions:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "Not relevant"
                        permittedAttributes:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "Not relevant"
                    x-forma-type: "array: object"
                    description: "A list of comments for the specified issue."
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/issues-comments-GET"
    post:
      operationId: issues-comments-POST
      summary: "Creates a new comment under a specific issue"
      description: "Creates a new comment under a specific issue."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: issueId
          in: path
          required: true
          description: "The unique identifier of the issue. To find the ID, call GET issues."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA.

            For the full list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "201":
          description: Created
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique identifier for the comment."
                  body:
                    type: string
                    x-forma-type: string
                    description: |-
                      The comment content. A `
                      ` represents a new line. For example, HeynAharon will appear as a two-line comment.
                      Max length: 10000
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time the comment was created, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who created the comment."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "Not relevant"
                  deletedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "Not relevant"
                  clientCreatedAt:
                    type: string
                    x-forma-type: string
                    description: "Not relevant"
                  clientUpdatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "Not relevant"
                  permittedActions:
                    type: array
                    items:
                      type: string
                    x-forma-type: "array: string"
                    description: "Not relevant"
                  permittedAttributes:
                    type: array
                    items:
                      type: string
                    x-forma-type: "array: string"
                    description: "Not relevant"
                  hash:
                    type: string
                    x-forma-type: string
                    description: "Not relevant"
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/issues-comments-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                body:
                  type: string
                  x-forma-type: string
                  description: |-
                    The comment content. A \n indicates a new line, e.g.: Hey\nAharon will be a 2 lines comment.
                    Max length: 10000
                createdBy:
                  type: string
                  x-forma-type: string
                  description: "Not relevant"
              required:
                - body
  "/construction/issues/v1/projects/{projectId}/issues/{issueId}":
    get:
      operationId: issues-issues-issueId-GET
      summary: "Retrieves detailed information about a single issue"
      description: "Retrieves detailed information about a single issue. For general information about all the issues in a project, see GET issues."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: issueId
          in: path
          required: true
          description: "The unique identifier of the issue. To find the ID, call GET issues."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA.

            For the full list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique identifier of the issue."
                  containerId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "Not relevant"
                  deleted:
                    type: boolean
                    x-forma-type: boolean
                    description: |-
                      Indicates whether the issue was deleted. Default value: false.
                      Deleted issues can only be accessed by specific users. Project members with View and assign to their company and Full visibility permissions can view deleted published and unpublished issues they originally created. Project members with Manage issues or Manage member permissions access can view all published issues that were deleted in a project. In addition, they can see unpublished deleted issues if they are an issue watcher, assignee, or creator.

                      For more information about deleted issues see the Help documentation.
                  deletedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time the issue was deleted, in ISO8601 format. This is only relevant for deleted issues."
                  deletedBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who deleted the issue. This is only relevant for deleted issues."
                  displayId:
                    type: integer
                    x-forma-type: int
                    description: "The chronological user-friendly identifier of the issue."
                  title:
                    type: string
                    x-forma-type: string
                    description: "The title of the issue. Maximum 100 characters."
                  description:
                    type: string
                    x-forma-type: string
                    description: "A brief description of the issue and its purpose. Maximum 1000 characters."
                  snapshotUrn:
                    type: string
                    x-forma-type: string
                    description: "Not relevant"
                  issueTypeId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique identifier of the type of the issue."
                  issueSubtypeId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique identifier of the subtype of the issue."
                  status:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The current status of the issue.
                      Possible values: draft, open, pending, in_progress, completed, in_review, not_approved, in_dispute, closed.

                      For more information about statuses, see the Help documentation.
                  assignedTo:
                    type: string
                    x-forma-type: string
                    description: "The unique Autodesk ID of the member, company, or role of the current assignee for this issue. Note that if you select an assignee ID, you also need to select a type (assignedToType)."
                  assignedToType:
                    type: string
                    x-forma-type: string
                    description: "The type of the current assignee of this issue. Possible values: user, company, role, null. Note that if you select a type, you also need to select the assignee ID (assignedTo)."
                  dueDate:
                    type: string
                    x-forma-type: string
                    description: "The due date of the issue, in ISO8601 format."
                  startDate:
                    type: string
                    x-forma-type: string
                    description: "The start date of the issue, in ISO8601 format."
                  locationId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique LBS (Location Breakdown Structure) identifier that relates to the issue."
                  locationDetails:
                    type: string
                    x-forma-type: string
                    description: "The location related to the issue, provided as plain text. Maximum 250 characters."
                  linkedDocuments:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The type of file. Possible values:
                            TwoDVectorPushpin (3D models)
                            TwoDRasterPushpin (2D sheets and views)
                        urn:
                          type: string
                          x-forma-type: string
                          description: "The ID of the file associated with the issue (pushpin). Note that we do not currently support data associated with the Forma Build Sheets tool."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who created the pushpin issue."
                        createdAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time the pushpin was created, in ISO8601 format."
                        createdAtVersion:
                          type: integer
                          x-forma-type: int
                          description: "The version of the file the pushin issue was added to. For information about file versions, see the Data Management API."
                        closedBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who closed the pushpin issue."
                        closedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time the pushpin issue was closed, in ISO8601 format."
                        closedAtVersion:
                          type: integer
                          x-forma-type: int
                          description: "The version of the file when the pushpin issue was closed."
                        details:
                          type: object
                          x-forma-type: object
                          description: "Information about the individual viewable."
                          properties:
                            viewable:
                              type: object
                              x-forma-type: object
                              description: "The individual viewable associated with the issue (pushpin). This is relevant for both individual 2D sheets and views within a 3D model, and individual PDF sheets within a multi-sheet PDF file. It is only relevant if the issue is associated with a file."
                              properties:
                                id:
                                  type: string
                                  x-forma-type: string
                                  description: "Not relevant"
                                guid:
                                  type: string
                                  x-forma-type: string
                                  description: "The ID of the viewable (guid)."
                                viewableId:
                                  type: string
                                  x-forma-type: string
                                  description: "Not relevant"
                                name:
                                  type: string
                                  x-forma-type: string
                                  description: |-
                                    The name of the viewable.
                                    Max length: 1000
                                is3D:
                                  type: boolean
                                  x-forma-type: boolean
                                  description: |-
                                    true if it is a 3D viewable
                                    false if it is a 2D viewable
                            position:
                              type: object
                              x-forma-type: object
                              description: "The position of the pushpin in the viewable."
                              properties:
                                x:
                                  type: number
                                  x-forma-type: number
                                  description: "The x-value of the position in the viewable."
                                "y":
                                  type: number
                                  x-forma-type: number
                                  description: "The y-value of the position in the viewable."
                                z:
                                  type: number
                                  x-forma-type: number
                                  description: "The z-value of the position in the viewable. This value is only relevant for 3D views."
                            objectId:
                              type: integer
                              x-forma-type: int
                              description: "The ID of the element the pushpin is associated with in the viewable."
                            externalId:
                              type: string
                              x-forma-type: string
                              description: "An external identifier of the element the pushpin is associated with in the viewable."
                            viewerState:
                              type: object
                              x-forma-type: object
                              description: "The viewer state at the time the pushpin was created. Maximum length: 2,500,000 characters. You can get the viewer state object by calling ViewerState.getState(). To restore the viewer instance use ViewerState.restoreState(). See the `Viewer API documentation https://developer.autodesk.com/en/docs/viewer/v2/reference/javascript/viewerstate/`_ for more details."
                    x-forma-type: "array: object"
                    description: "Information about the files associated with issues (pushpins)."
                  links:
                    type: array
                    items:
                      type: object
                    x-forma-type: "array: object"
                    description: "Not relevant"
                  ownerId:
                    type: string
                    x-forma-type: string
                    description: "Not relevant"
                  rootCauseId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique identifier of the type of root cause for the issue."
                  officialResponse:
                    type: object
                    x-forma-type: object
                    description: "Not relevant"
                  issueTemplateId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "Not relevant"
                  permittedStatuses:
                    type: array
                    items:
                      type: string
                    x-forma-type: "array: string"
                    description: |-
                      A list of statuses accessible to the current user, this is based on the current status of the issue and the user permissions.
                      Possible Values: draft, open, pending, in_review, closed.
                  permittedAttributes:
                    type: array
                    items:
                      type: string
                    x-forma-type: "array: string"
                    description: |-
                      A list of attributes the current user can manipulate in the current context. issueTypeId, linkedDocument, links, ownerId, officialResponse, rootCauseId, snapshotUrn are not applicable.
                      Possible Values: title, description, issueTypeId, issueSubtypeId, status, assignedTo, assignedToType, dueDate, locationId, locationDetails, linkedDocuments, links, ownerId, rootCauseId, officialResponse, customAttributes, snapshotUrn, startDate, published, deleted, watchers, placements, watcherObjects, gpsCoordinates.
                  published:
                    type: boolean
                    x-forma-type: boolean
                    description: "States whether the issue is published. Default value: false (e.g. unpublished)."
                  permittedActions:
                    type: array
                    items:
                      type: string
                    x-forma-type: "array: string"
                    description: |-
                      The list of actions permitted for the user for this issue in its current state.
                      Note that if a user with View and assign to their company permissions attempts to assign a user from a another company to the issue, it will return an error.

                      Possible Values: assign_all (can assign another user from another company to the issue), assign_same_company (can only assign another user from the same company to the issue), clear_assignee, copy (can copy the issue), delete, add_comment, add_attachment, remove_attachment, upsert_pin, unlink_pin.

                      The following values are not relevant: add_attachment, remove_attachment.
                  commentCount:
                    type: integer
                    x-forma-type: int
                    description: "The number of comments in this issue."
                  attachmentCount:
                    type: integer
                    x-forma-type: int
                    description: "Not relevant"
                  openedBy:
                    type: string
                    x-forma-type: string
                    description: "Not relevant"
                  openedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "Not relevant"
                  closedBy:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the user who closed the issue."
                  closedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time the issue was closed, in ISO8601 format."
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the user who created the issue."
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time the issue was created, in ISO8601 format."
                  updatedBy:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the user who updated the issue."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time the issue was updated, in ISO8601 format."
                  watchers:
                    type: array
                    items:
                      type: string
                    x-forma-type: "array: string"
                    description: "The list of watchers for the issue. To find the name of the watcher, call GET users."
                  customAttributes:
                    type: array
                    items:
                      type: object
                      properties:
                        attributeDefinitionId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique identifier of the custom attribute."
                        value:
                          x-forma-type: "one of"
                          description: "Custom attribute value. Possible value types: string, number, null."
                          type: object
                          properties:
                            "0":
                              type: string
                              x-forma-type: string
                            "1":
                              type: number
                              x-forma-type: number
                            "2":
                              x-forma-type: "null"
                        type:
                          type: string
                          x-forma-type: "enum:string"
                          description: "The type of attribute. Possible values: numeric, paragraph, list (this corresponds to dropdown in the UI), text."
                        title:
                          type: string
                          x-forma-type: string
[...]
