openapi: "3.1.0"
info:
  title: "Forma APIs — RFIs"
  version: v1
  description: |-
    Forma APIs — RFIs.
    Autodesk 문서에서 자동 추출됨. 원본: https://aps.autodesk.com/en/docs/acc/v1
    공통 base 경로: /construction/rfis/v3/projects
    **리전 — 호출 전 반드시 확인** 리전은 완전히 분리되어 있고 리소스 식별자가 호환되지 않습니다. ⚠️ **헤더 이름이 그룹마다 다릅니다.** Hub Admin 은 `Region`, Issues 는 `x-ads-region` 입니다. 이 문서의 "헤더" 표에 적힌 이름을 그대로 쓰세요. 통일해서 보내면 안 됩니다. 미지정 시 자동 라우팅되며 지연이 늘 수 있습니다. 자세한 판정은 `_errata` E-003 참고.
servers:
  - url: "https://developer.api.autodesk.com"
x-forma-group: RFIs
x-forma-common-base: "/construction/rfis/v3/projects"
paths:
  "/construction/rfis/v3/projects/{projectId}/attributes/{attributeId}":
    patch:
      operationId: rfis-custom-attributes-attributeId-PATCH
      summary: "Updates an existing custom attribute definition for a project"
      description: "Updates an existing custom attribute definition for a project."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: attributeId
          in: path
          required: true
          description: "The ID of the custom attribute."
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
            - "data:create"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the custom attribute definition."
                  name:
                    type: string
                    x-forma-type: string
                    description: |-
                      The name of the custom attribute as displayed in the UI.
                      Max length: 50
                  type:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The type of the attribute.
                      Possible values: text, numeric
                  description:
                    type: string
                    x-forma-type: string
                    description: |-
                      The description of the attribute as shown in the UI.
                      Max length: 1000
                  status:
                    type: string
                    x-forma-type: "enum:string"
                    description: "The display status of the attribute in the UI. Possible values: active, inactive, hidden."
                  multipleChoice:
                    type: boolean
                    x-forma-type: boolean
                    description: |-
                      true: users can select more than one value for this attribute.
                      false: (default) users can select only one value.
                  possibleValues:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique ID of the attribute value."
                        name:
                          x-forma-type: "string,integer,null"
                          description: |-
                            The name of the attribute value as shown in the UI.
                            Max length: 100
                    x-forma-type: "array: object"
                    description: "A list of possible values for the attribute."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
        - "data:create"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/rfis-custom-attributes-attributeId-PATCH"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                name:
                  type: string
                  x-forma-type: string
                  description: |-
                    The name of the custom attribute as displayed in the UI.
                    Max length: 50
                description:
                  type: string
                  x-forma-type: string
                  description: |-
                    The description of the attribute as shown in the UI.
                    Max length: 1000
                status:
                  type: string
                  x-forma-type: "enum:string"
                  description: "The display status of the attribute in the UI. Possible values: active, inactive, hidden."
                multipleChoice:
                  type: boolean
                  x-forma-type: boolean
                  description: |-
                    true: users can select more than one value for this attribute.
                    false: (default) users can select only one value.
                possibleValues:
                  type: object
                  x-forma-type: object
                  description: |-
                    Updates the list of possible values for the attribute.
                    To overwrite an existing possible value, specify both newAttributes (the new value name) and deletedAttributes (the ID of the value to remove).
                  properties:
                    newAttributes:
                      x-forma-type: "array: string,null"
                      description: |-
                        Adds new possible values to the attribute.
                        Each item is the name of a new possible value as shown in the UI.
                    updatedAttributes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            x-forma-type: "string: UUID"
                            description: "The unique ID of the attribute value."
                          name:
                            x-forma-type: "string,integer,null"
                            description: |-
                              The name of the attribute value as shown in the UI.
                              Max length: 100
                        required:
                          - name
                      x-forma-type: "array: object"
                      description: "Updates the names of existing possible values."
                    deletedAttributes:
                      type: array
                      items:
                        type: string
                      x-forma-type: "array: string"
                      description: "Deletes possible values from the attribute. Each item is the ID of a possible value to delete."
  "/construction/rfis/v3/projects/{projectId}/attributes":
    get:
      operationId: rfis-attributes-GET
      summary: "Retrieves all custom attribute definitions for a project"
      description: "Retrieves all custom attribute definitions for a project."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: limit
          in: query
          description: "The number of RFIs to return in the response. Acceptable values: 1–200. Default: 10. For example, to limit the response to two items per page, use limit=2"
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: |-
            The number of items to skip before starting to return results.
            For example, to begin the results from the fourth item, use offset=3.
          schema:
            type: integer
            x-forma-type: int
        - name: "filter[status]"
          in: query
          description: "Filters the response to only include custom attributes with the specified status. Possible values: active, inactive, hidden."
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the custom attribute definition."
                        name:
                          type: string
                          x-forma-type: string
                          description: |-
                            The name of the custom attribute as displayed in the UI.
                            Max length: 50
                        type:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The type of the attribute.
                            Possible values: text, numeric
                        description:
                          type: string
                          x-forma-type: string
                          description: |-
                            The description of the attribute as shown in the UI.
                            Max length: 1000
                        status:
                          type: string
                          x-forma-type: "enum:string"
                          description: "The display status of the attribute in the UI. Possible values: active, inactive, hidden."
                        multipleChoice:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            true: users can select more than one value for this attribute.
                            false: (default) users can select only one value.
                        possibleValues:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                                x-forma-type: "string: UUID"
                                description: "The unique ID of the attribute value."
                              name:
                                x-forma-type: "string,integer,null"
                                description: |-
                                  The name of the attribute value as shown in the UI.
                                  Max length: 100
                          x-forma-type: "array: object"
                          description: "A list of possible values for the attribute."
                    x-forma-type: "array: object"
                    description: "The list of custom attributes."
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "The pagination object."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The number of items returned per page."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The number of items skipped before this page of results."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The total number of items matching the request."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/rfis-attributes-GET"
    post:
      operationId: rfis-attributes-POST
      summary: "Creates a custom attribute definition for a project"
      description: "Creates a custom attribute definition for a project."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
            - "data:create"
      responses:
        "201":
          description: Created
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the custom attribute definition."
                  name:
                    type: string
                    x-forma-type: string
                    description: |-
                      The name of the custom attribute as displayed in the UI.
                      Max length: 50
                  type:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The type of the attribute.
                      Possible values: text, numeric
                  description:
                    type: string
                    x-forma-type: string
                    description: |-
                      The description of the attribute as shown in the UI.
                      Max length: 1000
                  status:
                    type: string
                    x-forma-type: "enum:string"
                    description: "The display status of the attribute in the UI. Possible values: active, inactive, hidden."
                  multipleChoice:
                    type: boolean
                    x-forma-type: boolean
                    description: |-
                      true: users can select more than one value for this attribute.
                      false: (default) users can select only one value.
                  possibleValues:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique ID of the attribute value."
                        name:
                          x-forma-type: "string,integer,null"
                          description: |-
                            The name of the attribute value as shown in the UI.
                            Max length: 100
                    x-forma-type: "array: object"
                    description: "A list of possible values for the attribute."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
        - "data:create"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/rfis-attributes-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                name:
                  type: string
                  x-forma-type: string
                  description: |-
                    The name of the custom attribute as displayed in the UI.
                    Max length: 50
                type:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    The type of the attribute.
                    Possible values: text, numeric
                description:
                  type: string
                  x-forma-type: string
                  description: |-
                    The description of the attribute as shown in the UI.
                    Max length: 1000
                status:
                  type: string
                  x-forma-type: "enum:string"
                  description: "The display status of the attribute in the UI. Possible values: active, inactive, hidden."
                multipleChoice:
                  type: boolean
                  x-forma-type: boolean
                  description: |-
                    true: users can select more than one value for this attribute.
                    false: (default) users can select only one value.
                possibleValues:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        x-forma-type: "string: UUID"
                        description: "The unique ID of the attribute value."
                      name:
                        x-forma-type: "string,integer,null"
                        description: |-
                          The name of the attribute value as shown in the UI.
                          Max length: 100
                    required:
                      - name
                  x-forma-type: "array: object"
                  description: "A list of possible values for the attribute."
              required:
                - name
                - status
                - type
  "/construction/rfis/v3/projects/{projectId}/rfi-types":
    get:
      operationId: rfis-RFI-types-GET
      summary: "Retrieves the list of RFI types configured for the specified project"
      description: "Retrieves the list of RFI types configured for the specified project."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: limit
          in: query
          description: "The number of RFIs to return in the response. Acceptable values: 1–200. Default: 10. For example, to limit the response to two items per page, use limit=2"
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: |-
            The number of items to skip before starting to return results.
            For example, to begin the results from the fourth item, use offset=3.
          schema:
            type: integer
            x-forma-type: int
        - name: "filter[status]"
          in: query
          description: "Filters the response to only include RFI types with the specified status. Possible values: active, inactive, hidden."
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the default RFI type assigned to the project. This is the unique identifier of the RFI type that will be selected by default when creating a new RFI."
                        name:
                          type: string
                          x-forma-type: string
                          description: |-
                            The name of the RFI type, as configured by the project admin. This name is shown in the Forma UI and in the API when selecting an RFI type.
                            Max length: 50
                        wfType:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The workflow type used for this RFI type.
                            Possible values:

                            - US: The US-style workflow, with a Reviewer and optional Manager.

                            - EU: The EU-style workflow, with a Project Coordinator and Project Reviewer.

                            The workflow type determines the available statuses and workflow roles for RFIs of this type.
                        status:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The current status of the RFI type.
                            Possible values:

                            - active: The type is available for use when creating or updating RFIs.

                            - inactive: The type exists but cannot currently be selected when creating RFIs.

                            - hidden: The type is hidden from users in the UI but may still appear in the API.

                            Only active types are available by default when creating new RFIs.
                        isDefault:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            true: This RFI type is the default for the project.
                            false: (default) This RFI type is not the default.
                        projectReviewer:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                x-forma-type: string
                                description: |-
                                  The Autodesk ID of the user, company, or role.
                                  To find details about users, call GET users, to find details about companies, call GET companies.

                                  Note that we do not currently support finding details about roles for a project.
                              type:
                                type: string
                                x-forma-type: "enum:string"
                                description: "The type of assignee. Possible values: user, company, role."
                          x-forma-type: "array: object"
                          description: "A list of users, companies, or roles that can be assigned to this project role."
                        projectCoordinator:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                x-forma-type: string
                                description: |-
                                  The Autodesk ID of the user, company, or role.
                                  To find details about users, call GET users, to find details about companies, call GET companies.

                                  Note that we do not currently support finding details about roles for a project.
                              type:
                                type: string
                                x-forma-type: "enum:string"
                                description: "The type of assignee. Possible values: user, company, role."
                          x-forma-type: "array: object"
                          description: "A list of users, companies, or roles that can be assigned to this project role."
                        manager:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                x-forma-type: string
                                description: |-
                                  The Autodesk ID of the user, company, or role.
                                  To find details about users, call GET users, to find details about companies, call GET companies.

                                  Note that we do not currently support finding details about roles for a project.
                              type:
                                type: string
                                x-forma-type: "enum:string"
                                description: "The type of assignee. Possible values: user, company, role."
                          x-forma-type: "array: object"
                          description: "A list of users, companies, or roles who can be assigned to this workflow role."
                        watchers:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                x-forma-type: string
                                description: |-
                                  The Autodesk ID of the user, company, or role.
                                  To find details about users, call GET users, to find details about companies, call GET companies.

                                  Note that we do not currently support finding details about roles for a project.
                              type:
                                type: string
                                x-forma-type: "enum:string"
                                description: "The type of assignee. Possible values: user, company, role."
                          x-forma-type: "array: object"
                          description: "A list of users, companies, or roles that can be assigned to this project role."
                        dueDateOffset:
                          x-forma-type: "integer,null"
                          description: "The number of calendar days from the RFI creation date to the default due date. Used to automatically calculate the RFI due date when creating a new RFI of this type."
                        locationDescription:
                          x-forma-type: "string,null"
                          description: |-
                            The default text for the Location field when creating a new RFI.
                            Note that the API does not auto-populate this value.
                            Clients are responsible for applying the default if desired.
                        costImpact:
                          x-forma-type: "string,null"
                          description: |-
                            The default cost impact value for new RFIs of this type.
                            Possible values: null, Yes, No, Unknown.
                        scheduleImpact:
                          x-forma-type: "string,null"
                          description: |-
                            The default schedule impact value for new RFIs of this type.
                            Possible values: null, Yes, No, Unknown.
                        priority:
                          x-forma-type: "string,null"
                          description: |-
                            The default priority for new RFIs of this type.
                            The available priority values are configured in Project Admin.

                            If no default is set, this field is null.

                            Note that the API does not auto-populate this value when creating an RFI.
                            Clients are responsible for applying the default if desired.

                            Some possible values: null, High, Normal, Low.
                        discipline:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: |-
                            The list of available disciplines for RFIs.
                            Each discipline is configured in Project Admin.
                            Some possible values: Architectural, Civil/Site, Concrete, Electrical, Exterior Envelope, Fire Protection, Interior/Finishes, Landscaping, Masonry, Mechanical, Plumbing, Structural, Other.
                        category:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: |-
                            A list of predefined categories to assign to the RFI.
                            Categories help group RFIs for filtering and reporting. Each value must match a category configured in the project’s RFI settings. Categories are case-sensitive and project-specific.

                            RFI categories are configured in Project Admin and may differ between projects.

                            Some possible values: Code Compliance, Constructability, Design Coordination, Documentation Conflict, Documentation Incomplete, Field condition, Other.
                        reference:
                          x-forma-type: "string,null"
                          description: |-
                            The default value for the Reference field when creating a new RFI.
                            This is typically used when the RFI was created in another system.

                            Note that the API does not auto-populate this value.
                            Clients are responsible for applying the default if desired.

                            Max length: 20
                        bridgeTargetProjectIds:
                          x-forma-type: "array,null"
                          description: "Not relevant"
                    x-forma-type: "array: object"
                    description: "The list of RFI types configured for the project."
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "The pagination object."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The number of items returned per page."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The number of items skipped before this page of results."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The total number of items matching the request."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/rfis-RFI-types-GET"
  "/construction/rfis/v3/projects/{projectId}/rfis/{rfiId}/attachments":
    get:
      operationId: rfis-rfis-id-attachments-GET
      summary: "Retrieves a list of attachments for a specific RFI"
      description: "Retrieves a list of attachments for a specific RFI."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: rfiId
          in: path
          required: true
          description: "The ID of the RFI. To find the ID, call POST search:rfis."
          schema:
            type: string
            x-forma-type: string
        - name: limit
          in: query
          description: |-
            The number of attachments to return in the response.
            Possible values: 1–200. Default: 10.
            For example, to limit the response to two attachments per page, use limit=2.
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: |-
            The number of items to skip before starting to return results.
            For example, to begin the results from the fourth item, use offset=3.
          schema:
            type: integer
            x-forma-type: int
        - name: "filter[attachmentTypes]"
          in: query
          description: |-
            Filters the response to only include attachments of the specified types.
            Possible values: rfiResponse, rfiOfficialResponse, rfiWebHiddenFiles, bridgeFiles.

            If not provided, the default filter is: rfiResponse, rfiOfficialResponse.
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        attachmentId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique ID of the attachment."
                        attachmentType:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The type of the attachment.
                            Possible values: rfiResponse, rfiOfficialResponse, bridgeFiles, rfiWebHiddenFiles.
                        displayName:
                          type: string
                          x-forma-type: string
                          description: "The name of the attachment file as it appears in the UI."
                        fileName:
                          type: string
                          x-forma-type: string
                          description: "The original name of the uploaded file, including its extension."
                        storageUrn:
                          type: string
                          x-forma-type: string
                          description: |-
                            The storage URN of the attachment file.
                            Use this value to generate a signed URL and download the file via the Data Management API.

                            For more details, see the Submit RFI Response tutorial.
                        domainEntityId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the related entity."
                        docsId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "Not relevant"
                        containerId:
                          type: string
                          x-forma-type: string
                          description: "The ID of the container associated with the attachment."
                        rfiId:
                          type: string
                          x-forma-type: string
                          description: "The ID of the RFI associated with the attachment."
                        lineageUrn:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                        fileSize:
                          type: integer
                          x-forma-type: int
                          description: "The size of the attachment file in bytes."
                        fileType:
                          type: string
                          x-forma-type: string
                          description: "The file extension type for the attachment."
                        version:
                          type: integer
                          x-forma-type: int
                          description: "The version number of the uploaded file."
                        versionUrn:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                        tipVersionUrn:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                        bubbleUrn:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                        createdOn:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The timestamp of the date and time the attachment was created, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who added the attachment."
                        modifiedOn:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The timestamp of the date and time the attachment was modified, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        modifiedBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who has modified the attachment."
                        createdByName:
                          type: string
                          x-forma-type: string
                          description: "The name of the user who added the attachment."
                        isDeleted:
                          type: boolean
                          x-forma-type: boolean
                          description: "Not relevant"
                        deletedOn:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The timestamp of the date and time the attachment was deleted, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        deletedBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who deleted the attachment."
                    x-forma-type: "array: object"
                    description: "The list of attachments."
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "The pagination object."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The number of items returned per page."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The number of items skipped before this page of results."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The total number of items matching the request."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/rfis-rfis-id-attachments-GET"
  "/construction/rfis/v3/projects/{projectId}/rfis/{rfiId}/comments":
    get:
      operationId: rfis-rfis-rfiId-comments-GET
      summary: "Retrieves a list of comments associated with a specific RFI"
      description: "Retrieves a list of comments associated with a specific RFI."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: rfiId
          in: path
          required: true
          description: "The ID of the RFI. To find the ID, call POST search:rfis."
          schema:
            type: string
            x-forma-type: string
        - name: limit
          in: query
          description: "The number of RFIs to return in the response. Acceptable values: 1–200. Default: 10. For example, to limit the response to two items per page, use limit=2"
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: |-
            The number of items to skip before starting to return results.
            For example, to begin the results from the fourth item, use offset=3.
          schema:
            type: integer
            x-forma-type: int
        - name: sort
          in: query
          description: "The fields to sort the list by"
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: fields
          in: query
          description: "Specify which attributes you want to see in the response. Separate multiple values with commas. For example, fields = title,description."
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: "filter[createdAt]"
          in: query
          description: "Retrieves comments created after the specified date, in the following format: YYYY-MM-DDThh:mm:ss.sz, or a date range in the following format: YYYY-MM-DDThh:mm:ss.sz..YYYY-MM-DDThh:mm:ss.sz."
          schema:
            type: string
            x-forma-type: string
        - name: "filter[createdBy]"
          in: query
          description: "Retrieves comments created by the user. For example, filter[createdBy]=PER8KQPK2JRT"
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier of the comment."
                        body:
                          type: string
                          x-forma-type: string
                          description: "The content of the comment."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: |-
                            The Autodesk ID of the user who created the comment.
                            To check the name of the user, call GET users.
                        createdAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The timestamp of the date and time the comment was created, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        updatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The timestamp of the date and time the comment was updated, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        source:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The source of the comment. Indicates how the comment was created.
                            Possible values:

                            - web – The comment was created through the web interface or API.

                            - email – The comment was created by replying via email.
                    x-forma-type: "array: object"
                    description: "A list of comments associated with the RFI."
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "The pagination object."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The number of items returned per page."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The number of items skipped before this page of results."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The total number of items matching the request."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/rfis-rfis-rfiId-comments-GET"
    post:
      operationId: rfis-rfis-rfiId-comments-POST
      summary: "Adds a comment to an RFI"
      description: "Adds a comment to an RFI."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: rfiId
          in: path
          required: true
          description: "The ID of the RFI. To find the ID, call POST search:rfis."
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
            - "data:create"
      responses:
        "201":
          description: Created
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the comment."
                  body:
                    type: string
                    x-forma-type: string
                    description: "The content of the comment."
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: |-
                      The Autodesk ID of the user who created the comment.
                      To check the name of the user, call GET users.
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The timestamp of the date and time the comment was created, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The timestamp of the date and time the comment was updated, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                  source:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The source of the comment. Indicates how the comment was created.
                      Possible values:

                      - web – The comment was created through the web interface or API.

                      - email – The comment was created by replying via email.
                  rfiId:
                    type: string
                    x-forma-type: string
                    description: "The ID of the RFI associated with this comment."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
        - "data:create"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/rfis-rfis-rfiId-comments-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The comment ID. Leave empty if you want to let the system generate one."
                body:
                  type: string
                  x-forma-type: string
                  description: |-
                    The content of the comment.
                    Max length: 10000
  "/construction/rfis/v3/projects/{projectId}/rfis/{rfiId}/responses/{responseId}":
    patch:
      operationId: rfis-rfis-id-responses-responseId-PATCH
      summary: "Updates an existing RFI response"
      description: "Updates an existing RFI response."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: rfiId
          in: path
          required: true
          description: "The ID of the RFI. To find the ID, call POST search:rfis."
          schema:
            type: string
            x-forma-type: string
        - name: responseId
          in: path
          required: true
          description: "The ID of the response. To find the ID, call GET rfis/:id."
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
            - "data:create"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  rfi:
                    type: object
                    x-forma-type: object
                    description: "The details of the RFI to which the response was added."
                    properties:
                      id:
                        type: string
                        x-forma-type: string
                        description: "The system-generated ID of the RFI."
                      customIdentifier:
                        type: string
                        x-forma-type: string
                        description: "The user-defined identifier of the RFI."
                      title:
                        type: string
                        x-forma-type: string
                        description: "The title of the RFI."
                      question:
                        x-forma-type: "string,null"
                        description: "The question submitted in the RFI."
                      virtualFolderUrn:
                        x-forma-type: "string,null"
                        description: |-
                          The URN of the virtual folder created for the RFI.
                          This folder stores all attachments related to the RFI.
                          The virtualFolderUrn is required when uploading attachments to an RFI. See the Upload Attachment tutorial for more details.
                      status:
                        type: string
                        x-forma-type: "enum:string"
                        description: |-
                          The current status of the RFI. Available values depend on the RFI’s workflow type:

                          - For single-reviewer workflows (US):

                          Possible values:
                          draft, submitted, open, answered, rejected, closed, void.

                          - For multi-reviewer workflows (EMEA):

                          Possible values:
                          draft, submitted, openRev1 (manager), openRev2 (reviewers), answeredRev1, answeredManager, closed, void.

                          To determine the workflow type, call GET users/me and check the workflowType value.

                          For details on RFI workflows in the Forma UI, see About RFI Workflows – Autodesk Help.
                      previousStatus:
                        type: string
                        x-forma-type: "enum:string"
                        description: |-
                          The previous status of the RFI, if one exists.
                          This field is omitted if the RFI has no prior status (e.g., when newly created).

                          - For single-reviewer workflows (US):

                          Possible values:
                          draft, submitted, open, answered, rejected, closed, void.

                          - For multi-reviewer workflows (EMEA):

                          Possible values:
                          draft, submitted, openRev1 (manager), openRev2 (reviewers), answeredRev1, answeredManager, closed, void.

                          To determine the workflow type, call GET users/me and check the workflowType value.

                          For details on RFI workflows in the Forma UI, see About RFI Workflows – Autodesk Help.
                      workflowType:
                        type: string
                        x-forma-type: "enum:string"
                        description: |-
                          The workflow type assigned to the RFI, which determines the allowed status transitions and the review path.
                          Possible values:

                          - US: Single-reviewer workflow

                          - EU: Multi-reviewer workflow

                          This value affects how statuses like submitted, openRev1, or answeredManager behave.
                          For status definitions, see the status and previousStatus fields.
                      assignedTo:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              x-forma-type: string
                              description: |-
                                The Autodesk ID of the assigned user.
                                To find details about the user, call GET users.

                                To retrieve the list of available assignees, call GET rfi-types and check the manager and projectReviewer fields.
                            type:
                              type: string
                              x-forma-type: "enum:string"
                              description: "The type of assignee. Will always be user."
                        x-forma-type: "array: object"
                        description: "The list of users assigned to the RFI."
                      managerId:
                        type: string
                        x-forma-type: string
                        description: |-
                          The Autodesk ID of the user designated as the RFI Manager.
                          To find details about the user, call GET users.
                      constructionManagerId:
                        type: string
                        x-forma-type: string
                        description: |-
                          The Autodesk ID of the user designated as the Construction Manager for this RFI.
                          To find details about the user, call GET users.
                      architects:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              x-forma-type: "enum:string"
                              description: "The type of architect. Will always be user."
                            id:
                              type: string
                              x-forma-type: string
                              description: |-
                                The Autodesk ID of the architect.
                                To find details about the user, call GET users.
                        x-forma-type: "array: object"
                        description: "The list of architect users associated with the RFI."
                      reviewers:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              x-forma-type: "enum:string"
                              description: "The type of reviewer. Will always be user."
                            id:
                              type: string
                              x-forma-type: string
                              description: |-
                                The Autodesk ID of the reviewer.
                                To find details about the user, call GET users.
                        x-forma-type: "array: object"
                        description: "The list of users assigned to review the RFI before it is closed."
                      dueDate:
                        x-forma-type: "string,null"
                        description: "The date and time by which a response to the RFI is expected, in ISO 8601 format (YYYY-MM-DDThh:mm:ss.sZ)."
                      locationDescription:
                        x-forma-type: "string,null"
                        description: |-
                          The default text for the Location field when creating a new RFI.
                          Note that the API does not auto-populate this value.
                          Clients are responsible for applying the default if desired.

                          To retrieve the default value configured for this field, call GET rfi-types.
                      locations:
                        type: array
                        items:
                          type: string
                        x-forma-type: "array: string"
                        description: "A list of predefined location IDs associated with the RFI, based on the project’s Location Breakdown Structure (LBS). To get more information about the locations, call GET nodes."
                      commentsCount:
                        type: integer
                        x-forma-type: int
                        description: "The number of comments associated with the RFI."
                      officialResponse:
                        type: string
                        x-forma-type: string
                        description: |-
                          The text of the official response submitted for the RFI.
                          Always empty when creating an RFI.
                      officialResponseStatus:
                        type: string
                        x-forma-type: "enum:string"
                        description: |-
                          The status of the official response to the RFI.
                          Possible values: unanswered, answered.

                          Always unanswered when creating an RFI.
                      officialResponseActors:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              x-forma-type: "enum:string"
                              description: "The type of actor. Will always be user."
                            id:
                              type: string
                              x-forma-type: string
                              description: |-
                                The Autodesk ID of the user.
                                To find details about the user, call GET users.
                        x-forma-type: "array: object"
                        description: |-
                          The list of users who contributed to the official response.
                          Always empty when creating an RFI.
                      officialResponseEditByManagerState:
                        type: boolean
                        x-forma-type: boolean
                        description: |-
                          true: the RFI Manager is allowed to edit the official response after submission.
                          false: editing the official response is disabled. (default).
                      respondedAt:
                        type: string
                        format: date-time
                        x-forma-type: "datetime: ISO 8601"
                        description: "The date and time when the RFI was officially responded to, in ISO 8601 format (YYYY-MM-DDThh:mm:ss.sZ)."
                      respondedBy:
                        type: string
                        x-forma-type: string
                        description: |-
                          The Autodesk ID of the user who submitted the official response to the RFI.
                          To find details about the user, call GET users.
                      createdBy:
                        type: string
                        x-forma-type: string
                        description: |-
                          The Autodesk ID of the user who created the RFI.
                          To find details about the user, call GET users.
                      createdAt:
                        type: string
                        format: date-time
                        x-forma-type: "datetime: ISO 8601"
                        description: "The date and time when the RFI was created, in ISO 8601 format (YYYY-MM-DDThh:mm:ss.sZ)."
                      updatedBy:
                        type: string
                        x-forma-type: string
                        description: |-
                          The Autodesk ID of the user who last updated the RFI.
                          To find details about the user, call GET users.
                      updatedAt:
                        type: string
                        format: date-time
                        x-forma-type: "datetime: ISO 8601"
                        description: "The date and time when the RFI was last updated, in ISO 8601 format (YYYY-MM-DDThh:mm:ss.sZ)."
                      closedAt:
                        type: string
                        format: date-time
                        x-forma-type: "datetime: ISO 8601"
                        description: "The date and time when the RFI was closed, in ISO 8601 format (YYYY-MM-DDThh:mm:ss.sZ)."
                      closedBy:
                        type: string
                        x-forma-type: string
                        description: |-
                          The Autodesk ID of the user who closed the RFI.
                          To find details about the user, call GET users.
                      containerId:
                        type: string
                        x-forma-type: string
                        description: "The ID of the container."
                      projectId:
                        type: string
                        x-forma-type: string
                        description: "The Autodesk ID of the project the RFI belongs to."
                      suggestedAnswer:
                        type: string
                        x-forma-type: string
                        description: "A suggested answer for the RFI, typically entered by the assignee before submission of the official response."
                      coReviewers:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              x-forma-type: string
                              description: |-
                                The Autodesk ID of the reviewer. The reviewer can be a user (autodeskId), role (memberGroupId), or company (memberGroupId).
                                To find details about users, call GET users, to find details about companies, call GET companies.

                                Note that we do not currently support finding details about roles for a project.
                            type:
                              type: string
                              x-forma-type: "enum:string"
                              description: |-
                                The type of reviewer.
                                Possible values: user, role, company
                        x-forma-type: "array: object"
                        description: "A list of reviewers assigned to the RFI. Each entry may represent a user, role, or company."
                      watchers:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              x-forma-type: string
                              description: |-
                                The Autodesk ID of the assigned user.
                                To find details about the user, call GET users.

                                To retrieve the list of available assignees, call GET rfi-types and check the manager and projectReviewer fields.
                            type:
                              type: string
                              x-forma-type: "enum:string"
                              description: |-
                                The type of watcher.
                                Possible values: user, role, company
                        x-forma-type: "array: object"
                        description: "A list of watchers who are notified about changes to the RFI. Each entry may represent a user, role, or company."
                      answeredAt:
                        type: string
                        format: date-time
                        x-forma-type: "datetime: ISO 8601"
                        description: |-
                          The date and time when the official response to the RFI was submitted, in ISO 8601 format (YYYY-MM-DDThh:mm:ss.sZ).
                          Empty when creating an RFI.
                      answeredBy:
                        type: string
                        x-forma-type: string
                        description: |-
                          The Autodesk ID of the user who submitted the official response to the RFI.
                          To find details about the user, call GET users.

                          Empty when creating an RFI.
                      costImpact:
                        x-forma-type: "string,null"
                        description: |-
                          The default cost impact value for new RFIs of this type.
                          Possible values: null, Yes, No, Unknown.

                          To check whether cost impact options are enabled and to retrieve the default value, call GET rfi-types.
                      scheduleImpact:
                        x-forma-type: "string,null"
                        description: |-
                          The default schedule impact value for new RFIs of this type.
                          Possible values: null, Yes, No, Unknown.

                          To verify whether schedule impact tracking is enabled for the project and what the default value is, call GET rfi-types.
                      priority:
                        x-forma-type: "string,null"
                        description: |-
                          The default priority for new RFIs of this type.
                          The available priority values are configured in Project Admin.

                          If no default is set, this field is null.

                          Note that the API does not auto-populate this value when creating an RFI.
                          Clients are responsible for applying the default if desired.

                          The valid priority options can be retrieved by calling GET rfi-types <en/docs/acc/v1/reference/http/rfis-RFI-types-GET/>_. Some possible values: ``null`, High, Normal, Low.
                      discipline:
                        type: array
                        items:
                          type: string
                        x-forma-type: "array: string"
                        description: |-
                          The discipline associated with the RFI. To retrieve the supported values for the current project, call GET rfi-types.
                          Some possible values: Building Management System, Electrical Substation, Security, Audio Visual, Food Service, Fire Alarm, Power Systems, Design Systems Integrator, Signage, Pathways, Cabling, Networks, Distributed Antenna System, Lighting, Vertical Transportation, Roofing, Architectural, Civil/Site, Concrete, Electrical, Exterior Envelope, Fire Protection, Interior/Finishes, Landscaping, Masonry, Mechanical, Plumbing, Structural, Other.’
                      category:
                        type: array
                        items:
                          type: string
                        x-forma-type: "array: string"
                        description: |-
                          A list of predefined categories to assign to the RFI.
                          Categories help group RFIs for filtering and reporting. Each value must match a category configured in the project’s RFI settings. Categories are case-sensitive and project-specific.

                          RFI categories are configured in Project Admin and may differ between projects. Call GET rfi-types to retrieve the allowed values for this field.

                          Some possible values: Code Compliance, Constructability, Design Coordination, Documentation Conflict, Documentation Incomplete, Field condition, Other.
                      reference:
                        type: string
                        x-forma-type: string
                        description: |-
                          A user-provided text reference related to the RFI, such as a model number or spec reference, typically used when the RFI was created in another system.
                          Max length: 20
                      customAttributes:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                              x-forma-type: "string: UUID"
                              description: "The ID of the custom attribute definition."
                            values:
                              type: array
                              items:
                                type: string
                              x-forma-type: "array: string"
                              description: "A list of selected values for this custom attribute."
                            isSelectable:
                              type: boolean
                              x-forma-type: boolean
                              description: "Not relevant"
                        x-forma-type: "array: object"
                        description: "A list of custom attributes associated with the RFI."
                      rfiTypeId:
                        type: string
                        format: uuid
                        x-forma-type: "string: UUID"
                        description: "The ID of the default RFI type assigned to the project. This is the unique identifier of the RFI type that will be selected by default when creating a new RFI."
                      bridgedSource:
                        type: boolean
                        x-forma-type: boolean
                        description: "Not relevant"
                      bridgedTarget:
                        type: boolean
                        x-forma-type: boolean
                        description: "Not relevant"
                      bridgeSyncOutdated:
                        type: boolean
                        x-forma-type: boolean
                        description: "Not relevant"
                      syncVersion:
                        type: number
                        x-forma-type: number
                        description: "Not relevant"
                      responses:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                              x-forma-type: "string: UUID"
                              description: "The unique identifier of the response."
                            state:
                              type: string
                              x-forma-type: "enum:string"
                              description: |-
                                The state of the response. Possible values:

                                - draft: The response was returned to the reviewer for changes.

                                - submitted: The reviewer submitted a finalized response.
                            rfiId:
                              type: string
                              x-forma-type: string
                              description: "The ID of the RFI associated with this response."
                            text:
                              type: string
                              x-forma-type: string
                              description: "The body of the response."
                            status:
                              type: string
                              x-forma-type: "enum:string"
                              description: |-
                                Indicates whether the response was accepted (answered) or declined (rejected).
                                Possible values: answered, rejected
                            createdBy:
                              type: string
                              x-forma-type: string
                              description: |-
                                The Autodesk ID of the assigned user.
                                To find details about the user, call GET users.

                                To retrieve the list of available assignees, call GET rfi-types and check the manager and projectReviewer fields.
                            onBehalf:
                              type: string
                              x-forma-type: string
                              description: |-
                                The Autodesk ID of the assigned user.
                                To find details about the user, call GET users.

                                To retrieve the list of available assignees, call GET rfi-types and check the manager and projectReviewer fields.
                            isEditable:
                              type: boolean
                              x-forma-type: boolean
                              description: |-
                                Indicates whether the response can be edited.
                                true: The response is editable.

                                false (default): The response cannot be edited.
                            createdAt:
                              type: string
                              format: date-time
                              x-forma-type: "datetime: ISO 8601"
                              description: "The date and time the response was created, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                            updatedBy:
                              type: string
                              x-forma-type: string
                              description: "The Autodesk ID of the user who updated the response. To find the name of the user, call GET users."
                            updatedAt:
                              type: string
                              format: date-time
                              x-forma-type: "datetime: ISO 8601"
                              description: "The date and time the response was updated, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                            deletedAt:
                              type: string
                              format: date-time
                              x-forma-type: "datetime: ISO 8601"
                              description: "The date and time the response was deleted, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        x-forma-type: "array: object"
                        description: |-
                          A list of responses associated with this RFI.
                          Always empty when creating an RFI.
                      draftResponses:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                              x-forma-type: "string: UUID"
                              description: "The unique identifier of the response."
                            state:
                              type: string
                              x-forma-type: "enum:string"
                              description: |-
                                The state of the response. Possible values:

                                - draft: The response was returned to the reviewer for changes.

                                - submitted: The reviewer submitted a finalized response.
                            rfiId:
                              type: string
                              x-forma-type: string
                              description: "The ID of the RFI associated with this response."
                            text:
                              type: string
                              x-forma-type: string
                              description: "The body of the response."
                            status:
                              type: string
                              x-forma-type: "enum:string"
                              description: |-
                                Indicates whether the response was accepted (answered) or declined (rejected).
                                Possible values: answered, rejected
                            createdBy:
                              type: string
                              x-forma-type: string
                              description: |-
                                The Autodesk ID of the assigned user.
                                To find details about the user, call GET users.

                                To retrieve the list of available assignees, call GET rfi-types and check the manager and projectReviewer fields.
                            onBehalf:
                              type: string
                              x-forma-type: string
                              description: |-
                                The Autodesk ID of the assigned user.
                                To find details about the user, call GET users.

                                To retrieve the list of available assignees, call GET rfi-types and check the manager and projectReviewer fields.
                            isEditable:
                              type: boolean
                              x-forma-type: boolean
                              description: |-
                                Indicates whether the response can be edited.
                                true: The response is editable.

                                false (default): The response cannot be edited.
                            createdAt:
                              type: string
                              format: date-time
                              x-forma-type: "datetime: ISO 8601"
                              description: "The date and time the response was created, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                            updatedBy:
                              type: string
                              x-forma-type: string
                              description: "The Autodesk ID of the user who updated the response. To find the name of the user, call GET users."
                            updatedAt:
                              type: string
                              format: date-time
                              x-forma-type: "datetime: ISO 8601"
                              description: "The date and time the response was updated, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                            deletedAt:
                              type: string
                              format: date-time
                              x-forma-type: "datetime: ISO 8601"
                              description: "The date and time the response was deleted, in the following format: YYYY-MM-DDThh:mm:ss.sz."
                        x-forma-type: "array: object"
                        description: |-
                          A list of draft responses associated with this RFI.
                          Always empty when creating an RFI.
                      permittedActions:
                        type: object
                        x-forma-type: object
                        description: "The list of actions that are permitted for the user."
                        properties:
                          share:
                            type: boolean
                            x-forma-type: boolean
                            description: "Not relevant"
                          nudge:
                            type: boolean
                            x-forma-type: boolean
                            description: "Not relevant"
                          updateRfi:
                            type: object
                            x-forma-type: object
                            description: "Information about the user who most recently updated the RFI."
                            properties:
                              permittedStatuses:
                                type: object
                                x-forma-type: object
                                description: "A list of statuses the user is permitted to transition an RFI to."
                                properties:
                                  wfUS:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        status:
                                          type: string
                                          x-forma-type: "enum:string"
                                          description: |-
                                            The current response status of the RFI for single-reviewer workflows (US):

                                            Possible values:
                                            draft, submitted, open, answered, rejected, closed, void.

                                            For more information about workflows, see About RFI Workflows – Autodesk Help.
                                        maxAssignees:
                                          type: integer
                                          x-forma-type: int
                                          description: "The maximum number of users that can be assigned to this RFI."
                                        requiredAttributes:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              name:
                                                type: string
                                                x-forma-type: string
                                                description: "The name of the RFI attribute that must be provided when updating or creating an RFI in the specified status."
                                              values:
                                                type: array
                                                items:
                                                  type: object
                                                  properties:
                                                    value:
                                                      type: string
                                                      x-forma-type: string
                                                      description: |-
                                                        The actual value that must be used for the required attribute when updating or creating the RFI.
                                                        To find details about users, call GET users, to find details about companies, call GET companies.

                                                        Note that we do not currently support finding details about roles for a project.
                                                    type:
                                                      type: string
                                                      x-forma-type: string
                                                      description: "The type of the required attribute value. Indicates what kind of entity the value represents (e.g., user, role, or company)."
                                                x-forma-type: "array: object"
                                                description: "The list of allowed values for the required attribute."
                                          x-forma-type: "array: object"
                                          description: "The list of attributes that are required when creating or updating an RFI."
                                        permittedAttributes:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              name:
                                                type: string
                                                x-forma-type: string
                                                description: "The name of the RFI attribute that must be provided when updating or creating an RFI in the specified status."
                                              values:
                                                type: array
                                                items:
                                                  type: object
                                                  properties:
                                                    value:
                                                      type: string
                                                      x-forma-type: string
                                                      description: |-
                                                        The actual value that must be used for the required attribute when updating or creating the RFI.
                                                        To find details about users, call GET users, to find details about companies, call GET companies.

                                                        Note that we do not currently support finding details about roles for a project.
                                                    type:
                                                      type: string
                                                      x-forma-type: string
                                                      description: "The type of the required attribute value. Indicates what kind of entity the value represents (e.g., user, role, or company)."
                                                x-forma-type: "array: object"
                                                description: "The list of allowed values for the required attribute."
                                          x-forma-type: "array: object"
                                          description: "The list of attributes that the user is optionally allowed to include when updating or creating the RFI in the specified status."
                                    x-forma-type: "array: object"
                                    description: "A list of statuses the user is permitted to transition an RFI to in workflows of type US."
                                  wfEU:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        status:
                                          type: string
                                          x-forma-type: "enum:string"
                                          description: |-
                                            The current response status of the RFI for a multi-reviewer workflow (EMEA):
                                            Possible values:
                                            draft, submitted, openRev1 (manager), openRev2 (reviewer), answeredRev1, answeredManager, closed, void.
                                            For more information about workflows, see About RFI Workflows – Autodesk Help.
                                        maxAssignees:
                                          type: integer
                                          x-forma-type: int
                                          description: "The maximum number of users that can be assigned to this RFI."
                                        requiredAttributes:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              name:
                                                type: string
                                                x-forma-type: string
                                                description: "The name of the RFI attribute that must be provided when updating or creating an RFI in the specified status."
                                              values:
                                                type: array
                                                items:
                                                  type: object
                                                  properties:
                                                    value:
                                                      type: string
                                                      x-forma-type: string
                                                      description: |-
                                                        The actual value that must be used for the required attribute when updating or creating the RFI.
                                                        To find details about users, call GET users, to find details about companies, call GET companies.

                                                        Note that we do not currently support finding details about roles for a project.
                                                    type:
                                                      type: string
                                                      x-forma-type: string
                                                      description: "The type of the required attribute value. Indicates what kind of entity the value represents (e.g., user, role, or company)."
                                                x-forma-type: "array: object"
                                                description: "The list of allowed values for the required attribute."
                                          x-forma-type: "array: object"
                                          description: "The list of attributes that are required when creating or updating an RFI."
                                        permittedAttributes:
                                          type: array
[...]
