openapi: "3.1.0"
info:
  title: "Forma APIs — Assets"
  version: v1
  description: |-
    Forma APIs — Assets.
    Autodesk 문서에서 자동 추출됨. 원본: https://aps.autodesk.com/en/docs/acc/v1
    공통 base 경로: /construction/assets
    **리전 — 호출 전 반드시 확인** 리전은 완전히 분리되어 있고 리소스 식별자가 호환되지 않습니다. ⚠️ **헤더 이름이 그룹마다 다릅니다.** Hub Admin 은 `Region`, Issues 는 `x-ads-region` 입니다. 이 문서의 "헤더" 표에 적힌 이름을 그대로 쓰세요. 통일해서 보내면 안 됩니다. 미지정 시 자동 라우팅되며 지연이 늘 수 있습니다. 자세한 판정은 `_errata` E-003 참고.
servers:
  - url: "https://developer.api.autodesk.com"
x-forma-group: Assets
x-forma-common-base: "/construction/assets"
paths:
  "/construction/assets/v1/error-codes/{errorCodeName}":
    get:
      operationId: assets-error-codes-error-code-name-GET
      summary: "Retrieves details about an error code by name"
      description: "Retrieves details about an error code by name."
      parameters:
        - name: errorCodeName
          in: path
          required: true
          description: "The name of an error code returned in an error response, in the errorCode field."
          schema:
            type: string
            x-forma-type: string
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  name:
                    type: string
                    x-forma-type: string
                    description: "The error code name."
                  description:
                    type: string
                    x-forma-type: string
                    description: "A description of the error."
                  httpStatusCode:
                    type: number
                    x-forma-type: number
                    description: |-
                      The HTTP status code typically returned when this error occurs.
                      Note that there may be exceptions, for example, if an internal server error
                      occurs the status code associated with this error may be different.
                  metadataKeys:
                    type: array
                    items:
                      type: string
                    x-forma-type: "array: string"
                    description: "The metadata keys relevant to the error code."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "no security required"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/assets-error-codes-error-code-name-GET"
  "/construction/assets/v1/error-codes":
    get:
      operationId: assets-error-codes-GET
      summary: "Retrieves a list of all error codes returned by the Assets API"
      description: "Retrieves a list of all error codes returned by the Assets API."
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "The pagination object."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "Always equal to totalResults (Pagination is not used by this endpoint. This object is returned for backward compatibility.)."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "Always equal to 0 (Pagination is not used by this endpoint. This object is returned for backward compatibility.)."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The total number of results returned."
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          x-forma-type: string
                          description: "The error code name."
                        description:
                          type: string
                          x-forma-type: string
                          description: "A description of the error."
                        httpStatusCode:
                          type: number
                          x-forma-type: number
                          description: |-
                            The HTTP status code typically returned when this error occurs.
                            Note that there may be exceptions, for example, if an internal server error
                            occurs the status code associated with this error may be different.
                        metadataKeys:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "The metadata keys relevant to the error code."
                    x-forma-type: "array: object"
                    description: "A list of Assets API errors."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "no security required"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/assets-error-codes-GET"
  "/construction/assets/v1/projects/{projectId}/asset-statuses:batch-get":
    post:
      operationId: assets-asset-statuses-batch-get-POST
      summary: "Returns a specified set of statuses"
      description: "Returns a specified set of statuses."
      parameters:
        - name: projectId
          in: path
          required: true
          description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
          schema:
            type: string
            x-forma-type: string
        - name: includeDeleted
          in: query
          description: "Whether or not soft-deleted object should be included in the response. If true, soft-deleted objects are returned. If false, they are not. The default is false."
          schema:
            type: boolean
            x-forma-type: boolean
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                          x-forma-type: string
                          description: |-
                            The display label of the status. This label appears in the Assets UI when viewing statuses. The label must
                            be unique within this status set, but does not need to be unique within the project (in other words, the
                            same label can be used in multiple status sets in the same project). “Uniqueness” in this context means
                            case-insensitive.
                        description:
                          type: string
                          x-forma-type: string
                          description: "A description of the status."
                        color:
                          type: string
                          x-forma-type: string
                          description: |-
                            The color of the status as the status appears in the Assets UI.
                            This field is not restricted as it is primarily a tool for the Assets UI to use.

                            However, there are only certain colors that the Forma Assets UI knows how to
                            operate with. Understood color values are: adsk-black, adsk-white, adsk-charcoal-900,
                            adsk-charcoal-800, adsk-charcoal-700, adsk-charcoal-600, adsk-charcoal-500,
                            adsk-charcoal-400, adsk-charcoal-300, adsk-charcoal-200, adsk-charcoal-100,
                            adsk-charcoal-050, adsk-blue-700, adsk-blue-500, adsk-blue-300, adsk-blue-100,
                            adsk-red-700, adsk-red-500, adsk-red-300, adsk-green-700, adsk-green-500,
                            adsk-green-300, adsk-yellow-orange-700, adsk-yellow-orange-500, adsk-yellow-orange-300,
                            adsk-dark-blue-700, adsk-dark-blue-500, adsk-dark-blue-300, adsk-pink-700,
                            adsk-pink-500, adsk-pink-300, adsk-turquoise-700, adsk-turquoise-500,
                            adsk-turquoise-300, adsk-purple-700, adsk-purple-500, adsk-purple-300,
                            adsk-salmon-700, adsk-salmon-500, adsk-salmon-300, adsk-brown-700, adsk-brown-500,
                            adsk-brown-300.

                            Using colors other than those specified here is not disallowed, but may result in unexpected behavior in

                            the Assets UI.
                        statusStepSetId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the status set to which the new status belongs."
                        id:
                          type: string
                          x-forma-type: string
                          description: "The ID of the component."
                        createdAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was created (ISO8601 Date time format in UTC)."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that created the component. This is an Autodesk / Oxygen ID."
                        updatedAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was last updated (ISO8601 Date time format in UTC)."
                        updatedBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that last updated the component. This is an Autodesk / Oxygen ID."
                        deletedAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was deleted at (ISO8601 Date time format in UTC)."
                        deletedBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that deleted the component. This is an Autodesk / Oxygen ID."
                        isActive:
                          type: boolean
                          x-forma-type: boolean
                          description: "A flag indicating whether the component is active or inactive (isActive is true if-and-only-if deletedAt is empty)."
                        version:
                          type: integer
                          x-forma-type: int
                          description: "A global sequence number that is incremented any time a component of this type is created, updated, or deleted. If you cache components, you can use the version value to compare the cached component to the same component online to see if the component has been updated. If the online component has a higher version value, it has been updated."
                        projectId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
                        bucket:
                          type: string
                          x-forma-type: string
                          description: |-
                            An immutable string assigned to a status on its creation, typically created by incorporating the
                            status’s label into a larger string that is guaranteed to be unique within a project. The bucket name
                            remains the same for the life of the status, and doesn’t change even if the label does. The bucket value
                            is a useful tool for semantic identification.
                        sortOrder:
                          type: integer
                          x-forma-type: int
                          description: |-
                            A value that indicates the order of a status within its status set. Each status in the set has a sort
                            order value that indicates its order relative to other statuses in the set. A status set’s sort order
                            values don’t necessarily start at 1, and may not be sequential. The only way to know a status’s order
                            within a set is to compare its sort order value with the sort order values of other statuses.
                    x-forma-type: "array: object"
                    description: "Returned statuses"
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/assets-asset-statuses-batch-get-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  x-forma-type: "array: string"
                  description: "Unique IDs of entities to fetch"
  "/construction/assets/v1/projects/{projectId}/asset-statuses":
    get:
      operationId: assets-asset-statuses-GET
      summary: "Searches for and returns all specified asset statuses"
      description: "Searches for and returns all specified asset statuses."
      parameters:
        - name: projectId
          in: path
          required: true
          description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
          schema:
            type: string
            x-forma-type: string
        - name: cursorState
          in: query
          description: |-
            An opaque cursor token that identifies where the next page of paginated results should start. It’s returned in
            each paginated response so that it can be supplied in the next request to continue paginated results. If a
            paginated response contains no cursorState value, then there are no further pages to return.
            Omit this field to initiate a paginated request or to restart pagination.
          schema:
            type: string
            x-forma-type: string
        - name: limit
          in: query
          description: "The maximum number of objects that can be returned in a page. A request might return fewer objects than the limit if the Assets service runs out of specified objects to return - at the end of a set of paged results, for example. The maximum limit is 200; the default limit is 25."
          schema:
            type: integer
            x-forma-type: int
        - name: includeDeleted
          in: query
          description: "Whether or not soft-deleted object should be included in the response. If true, soft-deleted objects are returned. If false, they are not. The default is false."
          schema:
            type: boolean
            x-forma-type: boolean
        - name: "filter[updatedAt]"
          in: query
          description: |-
            A string that specifies a date and time or a date and time range at which all returned objects mast have been
            updated. A single date and time takes this format: YYYY-MM-DDThh:mm:ss.SSSZ, A date and time range takes this
            format: YYYY-MM-DDThh:mm:ss.SSSZ..YYYY-MM-DDThh:mm:ss.SSSZ. Range queries can be closed or open in either
            direction: YYYY-MM-DDThh:mm:ss.SSSZ.. or ..YYYY-MM-DDThh:mm:ss.SSSZ.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: |-
                          The maximum number of objects that can be returned in a page. A request might return fewer objects than
                          the limit if the Assets service runs out of specified objects to return - at the end of a set of paged
                          results, for example. The maximum limit is 200; the default limit is 25.
                      cursorState:
                        type: string
                        x-forma-type: string
                        description: |-
                          An opaque cursor token that identifies where the next page of paginated results should start. It’s
                          returned in each paginated response so that it can be supplied in the next request to continue paginated
                          results. If a paginated response contains no cursorState value, then there are no further pages to
                          return.
                          Omit this field to initiate a paginated request or to restart pagination.
                      nextUrl:
                        type: string
                        x-forma-type: string
                        description: "A URL that requests the next page for this query."
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                          x-forma-type: string
                          description: |-
                            The display label of the status. This label appears in the Assets UI when viewing statuses. The label must
                            be unique within this status set, but does not need to be unique within the project (in other words, the
                            same label can be used in multiple status sets in the same project). “Uniqueness” in this context means
                            case-insensitive.
                        description:
                          type: string
                          x-forma-type: string
                          description: "A description of the status."
                        color:
                          type: string
                          x-forma-type: string
                          description: |-
                            The color of the status as the status appears in the Assets UI.
                            This field is not restricted as it is primarily a tool for the Assets UI to use.

                            However, there are only certain colors that the Forma Assets UI knows how to
                            operate with. Understood color values are: adsk-black, adsk-white, adsk-charcoal-900,
                            adsk-charcoal-800, adsk-charcoal-700, adsk-charcoal-600, adsk-charcoal-500,
                            adsk-charcoal-400, adsk-charcoal-300, adsk-charcoal-200, adsk-charcoal-100,
                            adsk-charcoal-050, adsk-blue-700, adsk-blue-500, adsk-blue-300, adsk-blue-100,
                            adsk-red-700, adsk-red-500, adsk-red-300, adsk-green-700, adsk-green-500,
                            adsk-green-300, adsk-yellow-orange-700, adsk-yellow-orange-500, adsk-yellow-orange-300,
                            adsk-dark-blue-700, adsk-dark-blue-500, adsk-dark-blue-300, adsk-pink-700,
                            adsk-pink-500, adsk-pink-300, adsk-turquoise-700, adsk-turquoise-500,
                            adsk-turquoise-300, adsk-purple-700, adsk-purple-500, adsk-purple-300,
                            adsk-salmon-700, adsk-salmon-500, adsk-salmon-300, adsk-brown-700, adsk-brown-500,
                            adsk-brown-300.

                            Using colors other than those specified here is not disallowed, but may result in unexpected behavior in

                            the Assets UI.
                        statusStepSetId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the status set to which the new status belongs."
                        id:
                          type: string
                          x-forma-type: string
                          description: "The ID of the component."
                        createdAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was created (ISO8601 Date time format in UTC)."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that created the component. This is an Autodesk / Oxygen ID."
                        updatedAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was last updated (ISO8601 Date time format in UTC)."
                        updatedBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that last updated the component. This is an Autodesk / Oxygen ID."
                        deletedAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was deleted at (ISO8601 Date time format in UTC)."
                        deletedBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that deleted the component. This is an Autodesk / Oxygen ID."
                        isActive:
                          type: boolean
                          x-forma-type: boolean
                          description: "A flag indicating whether the component is active or inactive (isActive is true if-and-only-if deletedAt is empty)."
                        version:
                          type: integer
                          x-forma-type: int
                          description: "A global sequence number that is incremented any time a component of this type is created, updated, or deleted. If you cache components, you can use the version value to compare the cached component to the same component online to see if the component has been updated. If the online component has a higher version value, it has been updated."
                        projectId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
                        bucket:
                          type: string
                          x-forma-type: string
                          description: |-
                            An immutable string assigned to a status on its creation, typically created by incorporating the
                            status’s label into a larger string that is guaranteed to be unique within a project. The bucket name
                            remains the same for the life of the status, and doesn’t change even if the label does. The bucket value
                            is a useful tool for semantic identification.
                        sortOrder:
                          type: integer
                          x-forma-type: int
                          description: |-
                            A value that indicates the order of a status within its status set. Each status in the set has a sort
                            order value that indicates its order relative to other statuses in the set. A status set’s sort order
                            values don’t necessarily start at 1, and may not be sequential. The only way to know a status’s order
                            within a set is to compare its sort order value with the sort order values of other statuses.
                    x-forma-type: "array: object"
                    description: "Result statuses"
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/assets-asset-statuses-GET"
    post:
      operationId: assets-asset-statuses-POST
      summary: "Creates a new asset status"
      description: "Creates a new asset status."
      parameters:
        - name: projectId
          in: path
          required: true
          description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
            - "data:create"
      responses:
        "201":
          description: Created
          content:
            "application/json":
              schema:
                type: object
                properties:
                  label:
                    type: string
                    x-forma-type: string
                    description: |-
                      The display label of the status. This label appears in the Assets UI when viewing statuses. The label must
                      be unique within this status set, but does not need to be unique within the project (in other words, the
                      same label can be used in multiple status sets in the same project). “Uniqueness” in this context means
                      case-insensitive.
                  description:
                    type: string
                    x-forma-type: string
                    description: "A description of the status."
                  color:
                    type: string
                    x-forma-type: string
                    description: |-
                      The color of the status as the status appears in the Assets UI.
                      This field is not restricted as it is primarily a tool for the Assets UI to use.

                      However, there are only certain colors that the Forma Assets UI knows how to
                      operate with. Understood color values are: adsk-black, adsk-white, adsk-charcoal-900,
                      adsk-charcoal-800, adsk-charcoal-700, adsk-charcoal-600, adsk-charcoal-500,
                      adsk-charcoal-400, adsk-charcoal-300, adsk-charcoal-200, adsk-charcoal-100,
                      adsk-charcoal-050, adsk-blue-700, adsk-blue-500, adsk-blue-300, adsk-blue-100,
                      adsk-red-700, adsk-red-500, adsk-red-300, adsk-green-700, adsk-green-500,
                      adsk-green-300, adsk-yellow-orange-700, adsk-yellow-orange-500, adsk-yellow-orange-300,
                      adsk-dark-blue-700, adsk-dark-blue-500, adsk-dark-blue-300, adsk-pink-700,
                      adsk-pink-500, adsk-pink-300, adsk-turquoise-700, adsk-turquoise-500,
                      adsk-turquoise-300, adsk-purple-700, adsk-purple-500, adsk-purple-300,
                      adsk-salmon-700, adsk-salmon-500, adsk-salmon-300, adsk-brown-700, adsk-brown-500,
                      adsk-brown-300.

                      Using colors other than those specified here is not disallowed, but may result in unexpected behavior in

                      the Assets UI.
                  statusStepSetId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the status set to which the new status belongs."
                  id:
                    type: string
                    x-forma-type: string
                    description: "The ID of the component."
                  createdAt:
                    type: string
                    x-forma-type: string
                    description: "The time when the component was created (ISO8601 Date time format in UTC)."
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The actor that created the component. This is an Autodesk / Oxygen ID."
                  updatedAt:
                    type: string
                    x-forma-type: string
                    description: "The time when the component was last updated (ISO8601 Date time format in UTC)."
                  updatedBy:
                    type: string
                    x-forma-type: string
                    description: "The actor that last updated the component. This is an Autodesk / Oxygen ID."
                  deletedAt:
                    type: string
                    x-forma-type: string
                    description: "The time when the component was deleted at (ISO8601 Date time format in UTC)."
                  deletedBy:
                    type: string
                    x-forma-type: string
                    description: "The actor that deleted the component. This is an Autodesk / Oxygen ID."
                  isActive:
                    type: boolean
                    x-forma-type: boolean
                    description: "A flag indicating whether the component is active or inactive (isActive is true if-and-only-if deletedAt is empty)."
                  version:
                    type: integer
                    x-forma-type: int
                    description: "A global sequence number that is incremented any time a component of this type is created, updated, or deleted. If you cache components, you can use the version value to compare the cached component to the same component online to see if the component has been updated. If the online component has a higher version value, it has been updated."
                  projectId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
                  bucket:
                    type: string
                    x-forma-type: string
                    description: |-
                      An immutable string assigned to a status on its creation, typically created by incorporating the
                      status’s label into a larger string that is guaranteed to be unique within a project. The bucket name
                      remains the same for the life of the status, and doesn’t change even if the label does. The bucket value
                      is a useful tool for semantic identification.
                  sortOrder:
                    type: integer
                    x-forma-type: int
                    description: |-
                      A value that indicates the order of a status within its status set. Each status in the set has a sort
                      order value that indicates its order relative to other statuses in the set. A status set’s sort order
                      values don’t necessarily start at 1, and may not be sequential. The only way to know a status’s order
                      within a set is to compare its sort order value with the sort order values of other statuses.
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
        - "data:create"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/assets-asset-statuses-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                label:
                  type: string
                  x-forma-type: string
                  description: |-
                    The display label of the status. This label appears in the Assets UI when viewing statuses. The label must
                    be unique within this status set, but does not need to be unique within the project (in other words, the
                    same label can be used in multiple status sets in the same project). “Uniqueness” in this context means
                    case-insensitive.
                description:
                  type: string
                  x-forma-type: string
                  description: "A description of the status."
                color:
                  type: string
                  x-forma-type: string
                  description: |-
                    The color of the status as the status appears in the Assets UI.
                    This field is not restricted as it is primarily a tool for the Assets UI to use.

                    However, there are only certain colors that the Forma Assets UI knows how to
                    operate with. Understood color values are: adsk-black, adsk-white, adsk-charcoal-900,
                    adsk-charcoal-800, adsk-charcoal-700, adsk-charcoal-600, adsk-charcoal-500,
                    adsk-charcoal-400, adsk-charcoal-300, adsk-charcoal-200, adsk-charcoal-100,
                    adsk-charcoal-050, adsk-blue-700, adsk-blue-500, adsk-blue-300, adsk-blue-100,
                    adsk-red-700, adsk-red-500, adsk-red-300, adsk-green-700, adsk-green-500,
                    adsk-green-300, adsk-yellow-orange-700, adsk-yellow-orange-500, adsk-yellow-orange-300,
                    adsk-dark-blue-700, adsk-dark-blue-500, adsk-dark-blue-300, adsk-pink-700,
                    adsk-pink-500, adsk-pink-300, adsk-turquoise-700, adsk-turquoise-500,
                    adsk-turquoise-300, adsk-purple-700, adsk-purple-500, adsk-purple-300,
                    adsk-salmon-700, adsk-salmon-500, adsk-salmon-300, adsk-brown-700, adsk-brown-500,
                    adsk-brown-300.

                    Using colors other than those specified here is not disallowed, but may result in unexpected behavior in

                    the Assets UI.
                statusStepSetId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The ID of the status set to which the new status belongs."
              required:
                - label
                - statusStepSetId
  "/construction/assets/v1/projects/{projectId}/categories:batch-get":
    post:
      operationId: assets-categories-batch-get-POST
      summary: "Returns a specified set of categories"
      description: "Returns a specified set of categories."
      parameters:
        - name: projectId
          in: path
          required: true
          description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
          schema:
            type: string
            x-forma-type: string
        - name: includeUid
          in: query
          description: |-
            If provided, and set to true, the globally-unique category uid field will be present in the response.
            The globally unique category ID is used with the (upcoming) v3 category APIs. The option to include the
            globally-unique ID with the v1 category APIs is to help consumers transition to the new IDs.
          schema:
            type: boolean
            x-forma-type: boolean
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          x-forma-type: string
                          description: "The ID of the category. This is a numeric string for v1 category APIs."
                        createdAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was created (ISO8601 Date time format in UTC)."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that created the component. This is an Autodesk / Oxygen ID."
                        updatedAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was last updated (ISO8601 Date time format in UTC)."
                        updatedBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that last updated the component. This is an Autodesk / Oxygen ID."
                        deletedAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was deleted at (ISO8601 Date time format in UTC)."
                        deletedBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that deleted the component. This is an Autodesk / Oxygen ID."
                        isActive:
                          type: boolean
                          x-forma-type: boolean
                          description: "A flag indicating whether the component is active or inactive (isActive is true if-and-only-if deletedAt is empty)."
                        name:
                          type: string
                          x-forma-type: string
                          description: |-
                            The name of the category. Must be unique among children of the same parent category. This name is displayed
                            for the category in the Assets user interface where a user chooses categories.
                        description:
                          type: string
                          x-forma-type: string
                          description: "A description of the category."
                        uid:
                          type: string
                          x-forma-type: string
                          description: |-
                            The globally-unique ID of a Category from the v3 (upcoming) Category APIs. This is provided
                            for interoperability with other APIs that use the globally-unique category ID. Only included if the
                            includeUid=true query param is included.
                        parentId:
                          type: string
                          x-forma-type: string
                          description: "The ID of the category’s parent category."
                        isRoot:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            Whether or not this category is the root category of the category tree. If true, it’s the root; if
                            false, it’s not. There will only ever be one (immutable) root category for a project, which is created
                            automatically when the project is created.
                        isLeaf:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            Whether or not this category is a leaf category of the category tree. If true, it’s a leaf; if false,
                            it’s not.
                            Note that this is a derived field and should not be persisted as this field may be updated without
                            updating the category itself.
                        subcategoryIds:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: |-
                            An array of category IDs of this category’s child categories.
                            Note that this is a derived field and should not be persisted as this field may be updated without
                            updating the category itself. As such, it is highly recommended to use the parentId field to
                            construct the tree locally instead of subcategoryIds.
                    x-forma-type: "array: object"
                    description: "Returned categories"
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/assets-categories-batch-get-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  x-forma-type: "array: string"
                  description: "Unique IDs of categories to fetch"
  "/construction/assets/v1/projects/{projectId}/categories/{categoryId}/custom-attributes/{customAttributeId}":
    put:
      operationId: assets-categories-category-id-custom-attributes-custom-attribute-id-PUT
      summary: "Assigns an Asset custom attribute to a category"
      description: "Assigns an Asset custom attribute to a category."
      parameters:
        - name: projectId
          in: path
          required: true
          description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
          schema:
            type: string
            x-forma-type: string
        - name: categoryId
          in: path
          required: true
          description: "The category ID"
          schema:
            type: string
            x-forma-type: string
        - name: customAttributeId
          in: path
          required: true
          description: "Asset custom attribute ID"
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: includeInherited
          in: query
          description: |-
            Specifies whether or not to return custom attributes that were inherited from the specified category’s
            parent category. If true, then it returns inherited custom attributes. If false, then it returns only custom
            attributes explicitly assigned to the specified category. Default is false.
          schema:
            type: boolean
            x-forma-type: boolean
      security:
        - oauth2:
            - "data:write"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "The pagination object."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: |-
                          The maximum number of objects that can be returned in a page. A request might return fewer objects than
                          the limit if the Assets service runs out of specified objects to return - at the end of a set of paged
                          results, for example. The maximum limit is 200; the default limit is 25.
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The offset of the first entry in the pagination results."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "Total number of results available."
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        displayName:
                          type: string
                          x-forma-type: string
                          description: |-
                            The human-readable display name for the Asset custom attribute. This name appears when viewing the custom
                            attribute in the Assets UI, and must be unique within a project.
                            Max length: 100
                        description:
                          type: string
                          x-forma-type: string
                          description: |-
                            A description of the Asset custom attribute.
                            Max length: 1000
                        enumValues:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: |-
                            An array of string values that defines possible values that may be supplied when this custom attributes data
                            type (defined by dataType) is set to select or multi_select. This field is required when the data
                            type is set to select or multi_select.
                        requiredOnIngress:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            Specifies whether or not this custom attribute is required when creating or editing an asset. If true, the
                            custom attribute is required. If false, it is not required. Setting this field to true does not guarantee
                            that existing or imported assets will have this custom attribute.
                        maxLengthOnIngress:
                          type: integer
                          x-forma-type: int
                          description: |-
                            The maximum length that a text value can be for this custom attribute when creating or editing an asset.
                            Setting a value for this field does not guarantee that existing or imported assets with this custom
                            attribute will have this attribute’s value limited to this length. This field only applies when datatype
                            is set to text. Default is 250, which is the maximum value this field can be set to.
                        defaultValue:
                          x-forma-type: "one of"
                          description: |-
                            The default value for this custom attribute if no value is specified on asset creation. If this field is not
                            specified, the custom attribute does not have a default value. The default value it takes can be any one of
                            three possible value types, defined below.
                          type: object
                          properties:
                            "0":
                              type: string
                              x-forma-type: string
                              description: |-
                                A String value, maximum length: 250
                                Max length: 250
                            "1":
                              type: array
                              items:
                                type: string
                              x-forma-type: "array: string"
                              description: "An array of string values that are set for a multi_select custom attribute."
                            "2":
                              type: boolean
                              x-forma-type: boolean
                              description: "A Boolean value"
                        dataType:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The data type that this custom attribute’s value must take. Once set, the data type can’t be changed.
                            Possible values:

                            - boolean: true or false

                            - text: a string

                            - numeric: a string that parses as a valid floating point number (not localized)

                            - date: an ISO8601 date string with no time, for example, “2021-04-01”.

                            - select: a valid ID from the list of values defined by enumValues.

                            - multi_select: an array of valid IDs from the list of values defined by enumValues.
                        id:
                          type: string
                          x-forma-type: string
                          description: "The ID of the component."
                        createdAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was created (ISO8601 Date time format in UTC)."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that created the component. This is an Autodesk / Oxygen ID."
                        updatedAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was last updated (ISO8601 Date time format in UTC)."
                        updatedBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that last updated the component. This is an Autodesk / Oxygen ID."
                        deletedAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was deleted at (ISO8601 Date time format in UTC)."
                        deletedBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that deleted the component. This is an Autodesk / Oxygen ID."
                        isActive:
                          type: boolean
                          x-forma-type: boolean
                          description: "A flag indicating whether the component is active or inactive (isActive is true if-and-only-if deletedAt is empty)."
                        version:
                          type: integer
                          x-forma-type: int
                          description: "A global sequence number that is incremented any time a component of this type is created, updated, or deleted. If you cache components, you can use the version value to compare the cached component to the same component online to see if the component has been updated. If the online component has a higher version value, it has been updated."
                        projectId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
                        name:
                          type: string
                          x-forma-type: string
                          description: |-
                            An autogenerated value, created when an Asset custom attribute is created. The name does not change
                            over the life of the custom attribute.
                        values:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                x-forma-type: string
                                description: "The ID of the component."
                              createdAt:
                                type: string
                                x-forma-type: string
                                description: "The time when the component was created (ISO8601 Date time format in UTC)."
                              createdBy:
                                type: string
                                x-forma-type: string
                                description: "The actor that created the component. This is an Autodesk / Oxygen ID."
                              updatedAt:
                                type: string
                                x-forma-type: string
                                description: "The time when the component was last updated (ISO8601 Date time format in UTC)."
                              updatedBy:
                                type: string
                                x-forma-type: string
                                description: "The actor that last updated the component. This is an Autodesk / Oxygen ID."
                              deletedAt:
                                type: string
                                x-forma-type: string
                                description: "The time when the component was deleted at (ISO8601 Date time format in UTC)."
                              deletedBy:
                                type: string
                                x-forma-type: string
                                description: "The actor that deleted the component. This is an Autodesk / Oxygen ID."
                              isActive:
                                type: boolean
                                x-forma-type: boolean
                                description: "A flag indicating whether the component is active or inactive (isActive is true if-and-only-if deletedAt is empty)."
                              version:
                                type: integer
                                x-forma-type: int
                                description: "A global sequence number that is incremented any time a component of this type is created, updated, or deleted. If you cache components, you can use the version value to compare the cached component to the same component online to see if the component has been updated. If the online component has a higher version value, it has been updated."
                              projectId:
                                type: string
                                format: uuid
                                x-forma-type: "string: UUID"
                                description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
                              customAttributeId:
                                type: string
                                format: uuid
                                x-forma-type: "string: UUID"
                                description: "The ID of the custom attribute."
                              displayName:
                                type: string
                                x-forma-type: string
                                description: |-
                                  The display name of the value. Must be unique within the custom attribute (case-insensitive). Use to
                                  generate the enumValues field for the custom attribute.
                          x-forma-type: "array: object"
                          description: |-
                            An array of objects that describe the select values for select and multi_select Asset custom
                            attributes.
                        inheritedFromCategoryId:
                          type: string
                          x-forma-type: string
                          description: |-
                            The ID of the category from which this custom attribute was inherited - that is, the ancestor category
                            to which the inherited custom attribute was explicitly assigned. This field is only present when this
                            endpoint is set to return inherited custom attributes.
                    x-forma-type: "array: object"
                    description: "Result custom attributes"
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/assets-categories-category-id-custom-attributes-custom-attribute-id-PUT"
  "/construction/assets/v1/projects/{projectId}/categories/{categoryId}/custom-attributes":
    get:
      operationId: assets-categories-category-id-custom-attributes-GET
      summary: "Returns the custom attribute assignments for a specified category"
      description: "Returns the custom attribute assignments for a specified category."
      parameters:
        - name: projectId
          in: path
          required: true
          description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
          schema:
            type: string
            x-forma-type: string
        - name: categoryId
          in: path
          required: true
          description: "The category ID"
          schema:
            type: string
            x-forma-type: string
        - name: includeInherited
          in: query
          description: |-
            Specifies whether or not to return custom attributes that were inherited from the specified category’s
            parent category. If true, then it returns inherited custom attributes. If false, then it returns only custom
            attributes explicitly assigned to the specified category. Default is false.
          schema:
            type: boolean
            x-forma-type: boolean
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "The pagination object."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: |-
                          The maximum number of objects that can be returned in a page. A request might return fewer objects than
                          the limit if the Assets service runs out of specified objects to return - at the end of a set of paged
                          results, for example. The maximum limit is 200; the default limit is 25.
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The offset of the first entry in the pagination results."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "Total number of results available."
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        displayName:
                          type: string
                          x-forma-type: string
                          description: |-
                            The human-readable display name for the Asset custom attribute. This name appears when viewing the custom
                            attribute in the Assets UI, and must be unique within a project.
                            Max length: 100
                        description:
                          type: string
                          x-forma-type: string
                          description: |-
                            A description of the Asset custom attribute.
                            Max length: 1000
                        enumValues:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: |-
                            An array of string values that defines possible values that may be supplied when this custom attributes data
                            type (defined by dataType) is set to select or multi_select. This field is required when the data
                            type is set to select or multi_select.
                        requiredOnIngress:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            Specifies whether or not this custom attribute is required when creating or editing an asset. If true, the
                            custom attribute is required. If false, it is not required. Setting this field to true does not guarantee
                            that existing or imported assets will have this custom attribute.
                        maxLengthOnIngress:
                          type: integer
                          x-forma-type: int
                          description: |-
                            The maximum length that a text value can be for this custom attribute when creating or editing an asset.
                            Setting a value for this field does not guarantee that existing or imported assets with this custom
                            attribute will have this attribute’s value limited to this length. This field only applies when datatype
                            is set to text. Default is 250, which is the maximum value this field can be set to.
                        defaultValue:
                          x-forma-type: "one of"
                          description: |-
                            The default value for this custom attribute if no value is specified on asset creation. If this field is not
                            specified, the custom attribute does not have a default value. The default value it takes can be any one of
                            three possible value types, defined below.
                          type: object
                          properties:
                            "0":
                              type: string
                              x-forma-type: string
                              description: |-
                                A String value, maximum length: 250
                                Max length: 250
                            "1":
                              type: array
                              items:
                                type: string
                              x-forma-type: "array: string"
                              description: "An array of string values that are set for a multi_select custom attribute."
                            "2":
                              type: boolean
                              x-forma-type: boolean
                              description: "A Boolean value"
                        dataType:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The data type that this custom attribute’s value must take. Once set, the data type can’t be changed.
                            Possible values:

                            - boolean: true or false

                            - text: a string

                            - numeric: a string that parses as a valid floating point number (not localized)

                            - date: an ISO8601 date string with no time, for example, “2021-04-01”.

                            - select: a valid ID from the list of values defined by enumValues.

                            - multi_select: an array of valid IDs from the list of values defined by enumValues.
                        id:
                          type: string
                          x-forma-type: string
                          description: "The ID of the component."
                        createdAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was created (ISO8601 Date time format in UTC)."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that created the component. This is an Autodesk / Oxygen ID."
                        updatedAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was last updated (ISO8601 Date time format in UTC)."
                        updatedBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that last updated the component. This is an Autodesk / Oxygen ID."
                        deletedAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was deleted at (ISO8601 Date time format in UTC)."
                        deletedBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that deleted the component. This is an Autodesk / Oxygen ID."
                        isActive:
                          type: boolean
                          x-forma-type: boolean
                          description: "A flag indicating whether the component is active or inactive (isActive is true if-and-only-if deletedAt is empty)."
                        version:
                          type: integer
                          x-forma-type: int
                          description: "A global sequence number that is incremented any time a component of this type is created, updated, or deleted. If you cache components, you can use the version value to compare the cached component to the same component online to see if the component has been updated. If the online component has a higher version value, it has been updated."
                        projectId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
                        name:
                          type: string
                          x-forma-type: string
                          description: |-
                            An autogenerated value, created when an Asset custom attribute is created. The name does not change
                            over the life of the custom attribute.
                        values:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                x-forma-type: string
                                description: "The ID of the component."
                              createdAt:
                                type: string
                                x-forma-type: string
                                description: "The time when the component was created (ISO8601 Date time format in UTC)."
                              createdBy:
                                type: string
                                x-forma-type: string
                                description: "The actor that created the component. This is an Autodesk / Oxygen ID."
                              updatedAt:
                                type: string
                                x-forma-type: string
                                description: "The time when the component was last updated (ISO8601 Date time format in UTC)."
                              updatedBy:
                                type: string
                                x-forma-type: string
                                description: "The actor that last updated the component. This is an Autodesk / Oxygen ID."
                              deletedAt:
                                type: string
                                x-forma-type: string
                                description: "The time when the component was deleted at (ISO8601 Date time format in UTC)."
                              deletedBy:
                                type: string
                                x-forma-type: string
                                description: "The actor that deleted the component. This is an Autodesk / Oxygen ID."
                              isActive:
                                type: boolean
                                x-forma-type: boolean
                                description: "A flag indicating whether the component is active or inactive (isActive is true if-and-only-if deletedAt is empty)."
                              version:
                                type: integer
                                x-forma-type: int
                                description: "A global sequence number that is incremented any time a component of this type is created, updated, or deleted. If you cache components, you can use the version value to compare the cached component to the same component online to see if the component has been updated. If the online component has a higher version value, it has been updated."
                              projectId:
                                type: string
                                format: uuid
                                x-forma-type: "string: UUID"
                                description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
                              customAttributeId:
                                type: string
                                format: uuid
                                x-forma-type: "string: UUID"
                                description: "The ID of the custom attribute."
                              displayName:
                                type: string
                                x-forma-type: string
                                description: |-
                                  The display name of the value. Must be unique within the custom attribute (case-insensitive). Use to
                                  generate the enumValues field for the custom attribute.
                          x-forma-type: "array: object"
                          description: |-
                            An array of objects that describe the select values for select and multi_select Asset custom
                            attributes.
                        inheritedFromCategoryId:
                          type: string
                          x-forma-type: string
                          description: |-
                            The ID of the category from which this custom attribute was inherited - that is, the ancestor category
                            to which the inherited custom attribute was explicitly assigned. This field is only present when this
                            endpoint is set to return inherited custom attributes.
                    x-forma-type: "array: object"
                    description: "Result custom attributes"
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/assets-categories-category-id-custom-attributes-GET"
  "/construction/assets/v1/projects/{projectId}/categories/{categoryId}/status-step-set/{statusStepSetId}":
    put:
      operationId: assets-categories-category-id-status-step-set-status-step-set-id-PUT
      summary: "Assigns a status set to a category"
      description: "Assigns a status set to a category."
      parameters:
        - name: projectId
          in: path
          required: true
          description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
          schema:
            type: string
            x-forma-type: string
        - name: categoryId
          in: path
          required: true
          description: "The category ID"
          schema:
            type: string
            x-forma-type: string
        - name: statusStepSetId
          in: path
          required: true
          description: "The status set ID"
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
      security:
        - oauth2:
            - "data:write"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    x-forma-type: string
                    description: "The ID of the component."
                  createdAt:
                    type: string
                    x-forma-type: string
                    description: "The time when the component was created (ISO8601 Date time format in UTC)."
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The actor that created the component. This is an Autodesk / Oxygen ID."
                  updatedAt:
                    type: string
                    x-forma-type: string
                    description: "The time when the component was last updated (ISO8601 Date time format in UTC)."
                  updatedBy:
                    type: string
                    x-forma-type: string
                    description: "The actor that last updated the component. This is an Autodesk / Oxygen ID."
                  deletedAt:
                    type: string
                    x-forma-type: string
                    description: "The time when the component was deleted at (ISO8601 Date time format in UTC)."
                  deletedBy:
                    type: string
                    x-forma-type: string
                    description: "The actor that deleted the component. This is an Autodesk / Oxygen ID."
                  isActive:
                    type: boolean
                    x-forma-type: boolean
                    description: "A flag indicating whether the component is active or inactive (isActive is true if-and-only-if deletedAt is empty)."
                  version:
                    type: integer
                    x-forma-type: int
                    description: "A global sequence number that is incremented any time a component of this type is created, updated, or deleted. If you cache components, you can use the version value to compare the cached component to the same component online to see if the component has been updated. If the online component has a higher version value, it has been updated."
                  projectId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
                  categoryId:
                    type: string
                    x-forma-type: string
                    description: "The ID of the category to which the status set is assigned."
                  statusStepSetId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the status set assigned to the category."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/assets-categories-category-id-status-step-set-status-step-set-id-PUT"
  "/construction/assets/v1/projects/{projectId}/categories":
    get:
      operationId: assets-categories-GET
      summary: "Searches for and returns all specified categories"
      description: "Searches for and returns all specified categories."
      parameters:
        - name: projectId
          in: path
          required: true
          description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
          schema:
            type: string
            x-forma-type: string
        - name: "filter[isActive]"
          in: query
          description: |-
            Specifies whether or not to return categories that are active. If true, return only active categories. If
            false, return only inactive categories. Default is to return both active and inactive categories, to ensure
            full tree structure is returned (conversely, full tree structure is not guaranteed when filtering active or
            inactive categories).
            Note that this behavior is different than that of the includeDeleted flag other endpoints use.
          schema:
            type: boolean
            x-forma-type: boolean
        - name: "filter[parentId]"
          in: query
          description: |-
            Specifies the parent category ID of returned categories. The query returns only categories that are direct
            child categories of the specified category.
          schema:
            type: string
            x-forma-type: string
        - name: "filter[maxDepth]"
          in: query
          description: |-
            Specifies the depth of the category tree to return, starting with the root category. Depth 0 means to return
            only the root category. Depth 4, for example, means to return only the root category and categories that are
            four levels of inheritance deep, but not to return categories that are five or more levels deep.
            Note that this can be used in conjunction with filter[parentId], but that the depth is still computed from
            the root category, not the parent category specified by the filter.
          schema:
            type: number
            x-forma-type: number
        - name: "filter[updatedAt]"
          in: query
          description: |-
            A string that specifies a date and time or a date and time range at which all returned objects mast have been
            updated. A single date and time takes this format: YYYY-MM-DDThh:mm:ss.SSSZ, A date and time range takes this
            format: YYYY-MM-DDThh:mm:ss.SSSZ..YYYY-MM-DDThh:mm:ss.SSSZ. Range queries can be closed or open in either
            direction: YYYY-MM-DDThh:mm:ss.SSSZ.. or ..YYYY-MM-DDThh:mm:ss.SSSZ.
          schema:
            type: string
            x-forma-type: string
        - name: includeUid
          in: query
          description: |-
            If provided, and set to true, the globally-unique category uid field will be present in the response.
            The globally unique category ID is used with the (upcoming) v3 category APIs. The option to include the
            globally-unique ID with the v1 category APIs is to help consumers transition to the new IDs.
          schema:
            type: boolean
            x-forma-type: boolean
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "The pagination object."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: |-
                          The maximum number of objects that can be returned in a page. A request might return fewer objects than
                          the limit if the Assets service runs out of specified objects to return - at the end of a set of paged
                          results, for example. The maximum limit is 200; the default limit is 25.
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The offset of the first entry in the pagination results."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "Total number of results available."
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          x-forma-type: string
                          description: "The ID of the category. This is a numeric string for v1 category APIs."
                        createdAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was created (ISO8601 Date time format in UTC)."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that created the component. This is an Autodesk / Oxygen ID."
                        updatedAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was last updated (ISO8601 Date time format in UTC)."
                        updatedBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that last updated the component. This is an Autodesk / Oxygen ID."
                        deletedAt:
                          type: string
                          x-forma-type: string
                          description: "The time when the component was deleted at (ISO8601 Date time format in UTC)."
                        deletedBy:
                          type: string
                          x-forma-type: string
                          description: "The actor that deleted the component. This is an Autodesk / Oxygen ID."
                        isActive:
                          type: boolean
                          x-forma-type: boolean
                          description: "A flag indicating whether the component is active or inactive (isActive is true if-and-only-if deletedAt is empty)."
                        name:
                          type: string
                          x-forma-type: string
                          description: |-
                            The name of the category. Must be unique among children of the same parent category. This name is displayed
                            for the category in the Assets user interface where a user chooses categories.
                        description:
                          type: string
                          x-forma-type: string
                          description: "A description of the category."
                        uid:
                          type: string
                          x-forma-type: string
                          description: |-
                            The globally-unique ID of a Category from the v3 (upcoming) Category APIs. This is provided
                            for interoperability with other APIs that use the globally-unique category ID. Only included if the
                            includeUid=true query param is included.
                        parentId:
                          type: string
                          x-forma-type: string
                          description: "The ID of the category’s parent category."
                        isRoot:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            Whether or not this category is the root category of the category tree. If true, it’s the root; if
                            false, it’s not. There will only ever be one (immutable) root category for a project, which is created
                            automatically when the project is created.
                        isLeaf:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            Whether or not this category is a leaf category of the category tree. If true, it’s a leaf; if false,
                            it’s not.
                            Note that this is a derived field and should not be persisted as this field may be updated without
                            updating the category itself.
                        subcategoryIds:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: |-
                            An array of category IDs of this category’s child categories.
                            Note that this is a derived field and should not be persisted as this field may be updated without
                            updating the category itself. As such, it is highly recommended to use the parentId field to
                            construct the tree locally instead of subcategoryIds.
                    x-forma-type: "array: object"
                    description: "Result categories"
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/assets-categories-GET"
    post:
      operationId: assets-categories-POST
      summary: "Creates a new category"
      description: "Creates a new category."
      parameters:
        - name: projectId
          in: path
          required: true
          description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
          schema:
            type: string
            x-forma-type: string
        - name: includeUid
          in: query
          description: |-
            If provided, and set to true, the globally-unique category uid field will be present in the response.
            The globally unique category ID is used with the (upcoming) v3 category APIs. The option to include the
            globally-unique ID with the v1 category APIs is to help consumers transition to the new IDs.
          schema:
            type: boolean
            x-forma-type: boolean
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
            - "data:create"
      responses:
        "201":
          description: Created
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    x-forma-type: string
                    description: "The ID of the category. This is a numeric string for v1 category APIs."
                  createdAt:
                    type: string
                    x-forma-type: string
                    description: "The time when the component was created (ISO8601 Date time format in UTC)."
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The actor that created the component. This is an Autodesk / Oxygen ID."
                  updatedAt:
                    type: string
                    x-forma-type: string
                    description: "The time when the component was last updated (ISO8601 Date time format in UTC)."
                  updatedBy:
                    type: string
                    x-forma-type: string
                    description: "The actor that last updated the component. This is an Autodesk / Oxygen ID."
                  deletedAt:
                    type: string
                    x-forma-type: string
                    description: "The time when the component was deleted at (ISO8601 Date time format in UTC)."
                  deletedBy:
                    type: string
                    x-forma-type: string
                    description: "The actor that deleted the component. This is an Autodesk / Oxygen ID."
                  isActive:
                    type: boolean
                    x-forma-type: boolean
                    description: "A flag indicating whether the component is active or inactive (isActive is true if-and-only-if deletedAt is empty)."
                  name:
                    type: string
                    x-forma-type: string
                    description: |-
                      The name of the category. Must be unique among children of the same parent category. This name is displayed
                      for the category in the Assets user interface where a user chooses categories.
                  description:
                    type: string
                    x-forma-type: string
                    description: "A description of the category."
                  uid:
                    type: string
                    x-forma-type: string
                    description: |-
                      The globally-unique ID of a Category from the v3 (upcoming) Category APIs. This is provided
                      for interoperability with other APIs that use the globally-unique category ID. Only included if the
                      includeUid=true query param is included.
                  parentId:
                    type: string
                    x-forma-type: string
                    description: "The ID of the category’s parent category."
                  isRoot:
                    type: boolean
                    x-forma-type: boolean
                    description: |-
                      Whether or not this category is the root category of the category tree. If true, it’s the root; if
                      false, it’s not. There will only ever be one (immutable) root category for a project, which is created
                      automatically when the project is created.
                  isLeaf:
                    type: boolean
                    x-forma-type: boolean
                    description: |-
                      Whether or not this category is a leaf category of the category tree. If true, it’s a leaf; if false,
                      it’s not.
                      Note that this is a derived field and should not be persisted as this field may be updated without
                      updating the category itself.
                  subcategoryIds:
                    type: array
                    items:
                      type: string
                    x-forma-type: "array: string"
                    description: |-
                      An array of category IDs of this category’s child categories.
                      Note that this is a derived field and should not be persisted as this field may be updated without
                      updating the category itself. As such, it is highly recommended to use the parentId field to
                      construct the tree locally instead of subcategoryIds.
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
        - "data:create"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/assets-categories-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                name:
                  type: string
                  x-forma-type: string
                  description: |-
                    The name of the category. Must be unique among children of the same parent category. This name is displayed
                    for the category in the Assets user interface where a user chooses categories.
                description:
                  type: string
                  x-forma-type: string
                  description: "A description of the category."
                parentId:
                  type: string
                  x-forma-type: string
                  description: "The ID of the new category’s parent category."
              required:
                - name
                - parentId
  "/construction/assets/v1/projects/{projectId}/category-status-step-sets/status-step-sets:batch-get":
    post:
      operationId: assets-category-status-step-sets-status-step-sets-batch-get-POST
      summary: "Returns status set assignments associated with a specified set of categories"
      description: |-
        Returns status set assignments associated with a specified set of categories. It can return just explicit
        status set assignments or both explicitly and inherited status set assignments.
      parameters:
        - name: projectId
          in: path
          required: true
          description: "The Forma project ID. Must be a UUID or a project ID of the form “b.{UUID}”."
          schema:
            type: string
            x-forma-type: string
        - name: includeInherited
          in: query
          description: |-
[...]
