openapi: "3.1.0"
info:
  title: "Forma APIs — Submittals"
  version: v1
  description: |-
    Forma APIs — Submittals.
    Autodesk 문서에서 자동 추출됨. 원본: https://aps.autodesk.com/en/docs/acc/v1
    공통 base 경로: /construction/submittals/v2/projects
    **리전 — 호출 전 반드시 확인** 리전은 완전히 분리되어 있고 리소스 식별자가 호환되지 않습니다. ⚠️ **헤더 이름이 그룹마다 다릅니다.** Hub Admin 은 `Region`, Issues 는 `x-ads-region` 입니다. 이 문서의 "헤더" 표에 적힌 이름을 그대로 쓰세요. 통일해서 보내면 안 됩니다. 미지정 시 자동 라우팅되며 지연이 늘 수 있습니다. 자세한 판정은 `_errata` E-003 참고.
servers:
  - url: "https://developer.api.autodesk.com"
x-forma-group: Submittals
x-forma-common-base: "/construction/submittals/v2/projects"
paths:
  "/construction/submittals/v2/projects/{projectId}/async-jobs/{asyncJobId}":
    get:
      operationId: submittals-async-jobs-asyncJobId-GET
      summary: "Retrieves the current status and result of an asynchronous job"
      description: "Retrieves the current status and result of an asynchronous job. Poll this endpoint after triggering an operation that runs asynchronously, until the job reaches a terminal state (Success (3) or Failure (4))."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: asyncJobId
          in: path
          required: true
          description: "The ID of the async job. This ID is returned in the response of any endpoint that triggers an asynchronous operation. For example, POST custom-identifier:change-sequence-type."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique identifier (UUID) of the async job."
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the async job was created, formatted as YYYY-MM-DDTHH:mm:ss.SSSSSSZ (ISO 8601) in UTC. For example, 2018-02-15T12:09:24.198466Z."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The time and date when the async job was last updated, formatted as YYYY-MM-DDTHH:mm:ss.SSSSSSZ (ISO 8601) in UTC. For example, 2018-02-15T12:09:24.198466Z."
                  startedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The time and date when the async job execution started, formatted as YYYY-MM-DDTHH:mm:ss.SSSSSSZ (ISO 8601) in UTC. For example, 2018-02-15T12:09:24.198466Z."
                  asyncState:
                    type: string
                    x-forma-type: "enum:string"
                    description: "The current state of the asynchronous job. Possible values: Pending (1), Started (2), Success (3), Failure (4)."
                  resultsPayload:
                    type: object
                    x-forma-type: object
                    description: |-
                      Final response payload of the asynchronous job.
                      Contains error details when asyncState is Failure.
                      When asyncState is Success, the response may or may not include data, depending on the job type.
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/submittals-async-jobs-asyncJobId-GET"
  "/construction/submittals/v2/projects/{projectId}/item-types/{id}":
    get:
      operationId: submittals-item-types-id-GET
      summary: "Retrieve the information about a single submittal type"
      description: "Retrieve the information about a single submittal type. For more information about submittal types, see the Help documnentation."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: id
          in: path
          required: true
          description: "The ID of the submittal item to retrieve revisions for. To obtain this ID, call GET items."
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The internal, globally unique identifier (UUID) for the item type."
                  key:
                    type: string
                    x-forma-type: string
                    description: "Not relevant"
                  value:
                    type: string
                    x-forma-type: string
                    description: "The name of the submittal item type."
                  platformId:
                    type: string
                    x-forma-type: string
                    description: "Not relevant"
                  isActive:
                    type: boolean
                    x-forma-type: boolean
                    description: |-
                      true: (default) if the submittal item type has not been deleted.
                      false: if the submittal item type has been deleted.
                  isInUse:
                    type: boolean
                    x-forma-type: boolean
                    description: |-
                      true: if the submittal item type is currently associated with a submittal item.
                      false: if the submittal item type is not currently associated with a submittal item.
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who created the submittal item type."
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the submittal item type was originally created."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the submittal item type was last updated."
                  updatedBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who last updated the submittal item type."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/submittals-item-types-id-GET"
  "/construction/submittals/v2/projects/{projectId}/item-types":
    get:
      operationId: submittals-item-types-GET
      summary: "Retrieves all submittal itme types for the specified project"
      description: "Retrieves all submittal itme types for the specified project. Submittal item types categorize the various submittal items submitted for review and approval in a construction project. Examples of submittal item types could be Attic Stock or Sample."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: limit
          in: query
          description: "The maximum number of results per page. Possible values: 1- 50. Default value: 20. For example, to limit the response to two results per page, use limit=2."
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: "The number of results to skip before starting to return data. For example, to skip the first 20 results, include offset=20 in the query string. For more details, see the JSON API Paging Help documentation."
          schema:
            type: integer
            x-forma-type: int
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "Describes pagination details for the response, including information about the current page and navigation to other pages."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The maximum number of results to be displayed on each page."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The number of results skipped before starting the current page."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The overall count of results available across all pages."
                      previousUrl:
                        type: string
                        x-forma-type: string
                        description: "The URL to retrieve the preceding page of results, if applicable. Not returned on the first page of results."
                      nextUrl:
                        type: string
                        x-forma-type: string
                        description: "The URL to retrieve the subsequent page of results, if available. If not included, this is the last page of data."
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The internal, globally unique identifier (UUID) for the item type."
                        key:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                        value:
                          type: string
                          x-forma-type: string
                          description: "The name of the submittal item type."
                        platformId:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                        isActive:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            true: (default) if the submittal item type has not been deleted.
                            false: if the submittal item type has been deleted.
                        isInUse:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            true: if the submittal item type is currently associated with a submittal item.
                            false: if the submittal item type is not currently associated with a submittal item.
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who created the submittal item type."
                        createdAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time when the submittal item type was originally created."
                        updatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time when the submittal item type was last updated."
                        updatedBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who last updated the submittal item type."
                    x-forma-type: "array: object"
                    description: "The list of submittal types."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/submittals-item-types-GET"
  "/construction/submittals/v2/projects/{projectId}/items:next-custom-identifier":
    get:
      operationId: submittals-itemsnext-custom-identifier-GET
      summary: "Retrieves the next available custom identifier for a submittal item in a project"
      description: "Retrieves the next available custom identifier for a submittal item in a project. The identifier is generated based on specific rules:"
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: specId
          in: query
          description: |-
            The item spec ID. This parameter is only required when the project is in spec sequence type (as opposed to global sequence).
            To verify the sequence type, call GET metadata, and check customIdentifierSequenceType.

            To get the spec ID, call GET specs, and select the relevant ID (id).
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  previousCustomIdentifier:
                    type: string
                    x-forma-type: string
                    description: "The last created custom identifier."
                  nextCustomIdentifier:
                    type: string
                    x-forma-type: string
                    description: "The next available custom identifier for the project."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/submittals-itemsnext-custom-identifier-GET"
  "/construction/submittals/v2/projects/{projectId}/items:validate-custom-identifier":
    post:
      operationId: submittals-itemsvalidate-custom-identifier-POST
      summary: "Validates a custom identifier for a submittal item in a project"
      description: "Validates a custom identifier for a submittal item in a project. It ensures the identifier is not currently in use and adheres to the required formatting rules. Use this endpoint to validate a custom identifier you intend to use."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: specId
          in: query
          description: |-
            The item spec ID. This parameter is only required when the project is in spec sequence type (as opposed to global sequence).
            To verify the sequence type, call GET metadata, and check customIdentifierSequenceType.

            To get the spec ID call GET specs, and select the relevant ID (id).
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/submittals-itemsvalidate-custom-identifier-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                customIdentifier:
                  type: string
                  x-forma-type: string
                  description: |-
                    The customIdentifier is used to ensure that the chosen identifier adheres to format rules and is unique within the project. Submittal managers can assign custom numbers manually or automatically.
                    When validating a custom identifier, consider the following rules:

                    - Ensure the identifier is unique within the project.

                    - For global sequences, ensure it is unique within the entire project.

                    - For spec sequences, ensure it is unique within the specific spec section.

                    - Spec sequence is in the format <spec_identifier>-<sequential_number>. You only need to specify the sequential number. The full number - <spec_identifier>-<sequential_number> - appears in the response payload in the customIdentifierHumanReadable attribute.

                    Regardless of whether the project uses a global or spec sequence, you should always provide only the sequential number portion without the spec ID when sending the customIdentifier.

                    For more information on custom numbering, see the Help documentation.
              required:
                - customIdentifier
  "/construction/submittals/v2/projects/{projectId}/items/:itemId:transition":
    post:
      operationId: submittals-items-itemIdtransition-POST
      summary: Items
      description: "Transitions a submittal item to a specified state in the submittal workflow, allowing it to progress according to the defined process. This transition is determined based on its current state and the permitted actions, such as moving an item from Draft to Submitted or from In Review to Closed."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: itemId
          in: path
          required: true
          description: "The ID of the submittal item. To find the item ID, call GET items."
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The internal, globally unique identifier (UUID) for the submittal item."
                  identifier:
                    type: integer
                    x-forma-type: int
                    description: "The unique ID assigned to the submittal item within the UI. This ID is system-generated and serves as a reference for users interacting with submittal items through the UI. For example, 111."
                  customIdentifier:
                    type: string
                    x-forma-type: string
                    description: |-
                      customIdentifier and customIdentifierHumanReadable relate to the Number column in the UI. Submittal managers assign custom numbers to items (manually or automatically). Custom numbers are configured either in global numbering format: <global number>, or in spec section numbering format: <spec ID>-<sequential number>.
                      For projects with a global numbering format, both customIdentifier and customIdentifierHumanReadable represent the global number.

                      For projects with a spec section numbering format (<spec ID>-<sequential number>), customIdentifier represents the sequential number. For example, for a full number of 033100-01, customIdentifier is 01.

                      Note that for unnumbered items customIdentifier is null.

                      For more information on custom numbering, see the Help documentation.
                  customIdentifierHumanReadable:
                    type: string
                    x-forma-type: string
                    description: |-
                      customIdentifierHumanReadable and customIdentifier relate to the Number column in the UI. Submittal managers assign custom numbers to items (manually or automatically). Custom numbers are configured either in global numbering format: <global number>, or in spec section numbering format: <spec ID>-<sequential number>.
                      For projects with a global numbering format, both customIdentifier and customIdentifierHumanReadable represent the global number.

                      For projects with a spec section numbering format (<spec ID>-<sequential number>), customIdentifierHumanReadable represents the full number - both the spec ID and the sequential number. For example, for a full number of 033100-01, customIdentifierHumanReadable is 033100-01.

                      Note that for unnumbered items customIdentifierHumanReadable is Unspecified. For spec section numbering it also includes the spec ID. For example, 033100-Unspecified.

                      For more information on custom numbering, see the Help documentation.
                  typeId:
                    type: string
                    x-forma-type: string
                    description: "The ID representing the type of submittal item."
                  specId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique identifier (UUID) of the spec assigned to the submittal item."
                  specIdentifier:
                    type: string
                    x-forma-type: string
                    description: "The identifier of the spec section that is associated with the submittal item. The identifier is assigned to the spec section in the UI."
                  specTitle:
                    type: string
                    x-forma-type: string
                    description: "The title of the spec associated with the submittal item."
                  subsection:
                    type: string
                    x-forma-type: string
                    description: "The sub-spec section associated with the submittal item, providing additional categorization within the main spec."
                  title:
                    type: string
                    x-forma-type: string
                    description: "The title of the submittal item."
                  description:
                    type: string
                    x-forma-type: string
                    description: "The description of the submittal item."
                  priority:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The priority of the submittal item.
                      Possible values:

                      - Low

                      - Normal

                      - High
                  revision:
                    type: integer
                    x-forma-type: int
                    description: "The revision number of the submittal item, indicating the version of the item in the submittal workflow. For example, 1 for the initial submission or 2 for the first revision."
                  stateId:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The current state of the submittal item after the transition.
                      Possible values:

                      sbc-1 (Waiting for Submission) - Assigned to the Responsible Contractor, who needs to submit the submittal to the Manager.

                      mgr-1 (Open - Submitted) - Assigned to the Manager, who needs to prepare the submittal item for review.

                      rev (Open - In Review) - Under review by the reviewers defined in the submittal item’s review workflow.

                      mgr-2 (Open - Reviewed) - The review is complete, and the submittal is returned to the Manager, who needs to set the final response and close the submittal.

                      sbc-2: (Closed) - The submittal has been closed and assigned to the Responsible Contractor.

                      void (Voided) - The submittal item has been voided.

                      draft (Draft) - Assigned to the Manager, who must send the submittal item to the Responsible Contractor.
                  statusId:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The status of the submittal item.
                      Possible values: 1 - (Required), 2 - (Open), 3 - (Closed), 4 - (Void), 5 - (Empty), 6 - (Draft).

                      To retrieve the full list of possible statuses, call GET metadata.
                  ballInCourtUsers:
                    type: array
                    items:
                      type: string
                    x-forma-type: "array: string"
                    description: "The Autodesk IDs of users who are currently assigned to the submittal item at this stage of the workflow."
                  ballInCourtCompanies:
                    type: array
                    items:
                      type: string
                    x-forma-type: "array: string"
                    description: "The member group IDs of the companies currently assigned to the submittal item at this stage of the workflow."
                  ballInCourtRoles:
                    type: array
                    items:
                      type: string
                    x-forma-type: "array: string"
                    description: "The member group IDs of user roles that are currently assigned to the submittal item at this stage of the workflow."
                  ballInCourtType:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      ‘The type of submittal role assigned to the user currently assigned to the submittal item.
                      Possible values: reviewer, manager, subcontractor.’
                  manager:
                    type: string
                    x-forma-type: string
                    description: |-
                      The ID that was assigned to the manager of the submittal item.
                      To determine the type of the manager (user, role, or company), refer to the manager type (managerType) attribute.
                      In order to get more info about the manager, use:

                      - GET projects/users to verify the actual name of the user in case the typs is a user (1).

                      - GET companies to determine the name of the company in case the typs is a company (2).

                      Note that we do not currently support verifying names of roles.
                  managerType:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The type of manager associated with the submittal item.
                      Possible values: 1 (user), 2 (company), 3 (role).
                  subcontractor:
                    type: string
                    x-forma-type: string
                    description: |-
                      The ID that was assigned to the subcontractor for the submittal item. If a non-manager user created the submittal item and chose a manager, they are automatically assigned as the subcontractor of the submittal item.
                      In order to get more info about the subcontractor, use:

                      - GET projects/users to verify the actual name of the user in case the typs is a user (1).

                      - GET companies to determine the name of the company in case the typs is a company (2).

                      Note that we do not currently support verifying names of roles.
                  subcontractorType:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The type of subcontractor associated with the submittal item.
                      Possible values: 1 (user), 2 (company), 3 (role).
                  watchers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          x-forma-type: string
                          description: |-
                            The Autodesk ID of the watcher. The watcher can be a user (autodeskId), role (memberGroupId), or company (memberGroupId).
                            To find details about users, call GET users, to find details about companies, call GET companies. Note that we do not currently support finding details about roles for a project.
                        userType:
                          type: object
                          x-forma-type: object
                          description: |-
                            The type of watcher assigned to the submittal item.
                            Possible values:

                            - 1 (user)

                            - 2 (company)

                            - 3 (role)
                    x-forma-type: "array: object"
                    description: "A list of project watchers, who can be individual users, roles, or companies."
                  dueDate:
                    type: string
                    x-forma-type: string
                    description: "The due date for the submittal item, formatted as YYYY-MM-DD in UTC (ISO 8601). For example, 2018-02-15."
                  requiredOnJobDate:
                    type: string
                    x-forma-type: string
                    description: "The date when the materials are expected to arrive on the construction site, formatted as YYYY-MM-DD in UTC (ISO 8601). For example, 2018-02-15."
                  leadTime:
                    type: integer
                    x-forma-type: int
                    description: "The duration (in days) from the approval of the submittal to delivery of materials or products to the construction site."
                  requiredDate:
                    type: string
                    x-forma-type: string
                    description: "The date by which the Responsible Contractor must submit the submittal to the submittal manager, formatted as YYYY-MM-DD in UTC (ISO 8601). For example, 2018-02-15."
                  requiredApprovalDate:
                    type: string
                    x-forma-type: string
                    description: "The date by which approval for the submittal is required, formatted as YYYY-MM-DD in UTC (ISO 8601). For example, 2018-02-15."
                  submitterDueDate:
                    type: string
                    x-forma-type: string
                    description: "The date by which the subcontractor is expected to submit the submittal to the manager, formatted as YYYY-MM-DD in UTC (ISO 8601). For example, 2018-02-15. This corresponds to the sbc-1 state Waiting for submission."
                  sentToSubmitter:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the submittal was sent to the subcontractor for review, formatted as YYYY-MM-DDTHH:mm:ss.SSSSSSZ (ISO 8601) in UTC. For example, 2018-02-15T12:09:24.198466Z. This corresponds to transition to the sbc-1 state."
                  receivedFromSubmitter:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date when the submittal was received back from the subcontractor after review, formatted as YYYY-MM-DDTHH:mm:ss.SSSSSSZ (ISO 8601) in UTC. For example, 2018-02-15T12:09:24.198466Z. This corresponds to transition to mgr-1 state Open (Submitted)."
                  submittedBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who submitted the submittal item. This is the user who transitioned the item to the manager."
                  managerDueDate:
                    type: string
                    x-forma-type: string
                    description: "The date by which the manager is expected to prepare the submittal item for review, formatted as YYYY-MM-DD in UTC (ISO 8601). For example, 2018-02-15. This corresponds to the mgr-1 state Open (Submitted)."
                  sentToReview:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the submittal item transitioned to the rev state (Open - In review), formatted as YYYY-MM-DDTHH:mm:ss.SSSSSSZ (ISO 8601) in UTC. For example, 2018-02-15T12:09:24.198466Z."
                  sentToReviewBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who transitioned the item to the rev state (Open - In review)."
                  receivedFromReview:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the submittal item transitioned from the rev state (Open - In Review) to the mgr-2 state (Close and distribute), formatted as YYYY-MM-DD (ISO 8601) in UTC. For example, 2022-03-02T12:09:24Z."
                  publishedDate:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date when the manager closed and distributed the submittal item, in the following format: YYYY-MM-DD (ISO 8601) in UTC. For example, 2018-02-15."
                  publishedBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who published the submittal item."
                  responseId:
                    type: string
                    x-forma-type: string
                    description: "The ID of the response associated with the submittal item, linking to the specific feedback or action taken."
                  responseComment:
                    type: string
                    x-forma-type: string
                    description: "The body of the response comment, containing feedback or instructions related to the submittal item."
                  respondedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the response was added, formatted as YYYY-MM-DDTHH:mm:ss.SSSSSSZ (ISO 8601) in UTC. For example, 2018-02-15T12:09:24.198466Z."
                  respondedBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user that gave the response to the submittal item."
                  packageId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the package associated with the submittal item."
                  packageIdentifier:
                    type: string
                    x-forma-type: string
                    description: "The package identifier as displayed in the UI."
                  packageTitle:
                    type: string
                    x-forma-type: string
                    description: "The title of the package associated with the submittal item."
                  packageSpecIdentifier:
                    type: string
                    x-forma-type: string
                    description: "The identifier of the submittal spec associated with the package. This value corresponds to the “Spec section” displayed in the UI, such as 1 - Cement."
                  folderUrn:
                    type: string
                    x-forma-type: string
                    description: "The URN of the folder that contains the attachments associated with the submittal items."
                  revisionsFoldersUrns:
                    type: object
                    x-forma-type: object
                    description: "An object containing URNs that represent folders associated with the revisions of the submittal item. These URNs can be used to access and identify specific folders related to submittal item revisions within the system."
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the submittal item was originally created, formatted as YYYY-MM-DDTHH:mm:ss.SSSSSSZ (ISO 8601) in UTC. For example, 2018-02-15T12:09:24.198466Z."
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who created the submittal item."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The time and date when the submittal item was last updated, formatted as YYYY-MM-DDTHH:mm:ss.SSSSSSZ (ISO 8601) in UTC. For example, 2018-02-15T12:09:24.198466Z."
                  updatedBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who last updated the submittal item."
                  permittedActions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          x-forma-type: string
                          description: "The ID of the action in the format type_of_object::action. For example, Item::retrieve."
                        fields:
                          type: object
                          x-forma-type: object
                          description: "A list of field names for which values must be provided when performing the action. An empty array indicates no specific set of values."
                        mandatoryFields:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: |-
                            Lists the fields that are required when updating a submittal item.
                            The required fields depend on the action being performed, the item’s current state, and the user’s role.

                            For example:

                            To transition the state of a submittal item, stateId and responseId are required.
                            To reassign the manager, manager and managerType are required.
                            To modify the spec section, specId is required.
                        transitions:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                x-forma-type: string
                                description: "The ID of the transition in the format from-state::to-state. For example, create::mgr-1, mgr-1::mgr-2, rev::void."
                              name:
                                type: string
                                x-forma-type: string
                                description: "The descriptive name of the transition. For example, Create, Send to Manager, Send to void."
                              stateFrom:
                                type: object
                                x-forma-type: object
                                description: "The starting state of the transition, representing the current position of the submittal item in the workflow."
                                properties:
                                  id:
                                    type: string
                                    x-forma-type: string
                                    description: "The unique ID of the starting state. For example, create, mgr-1, rev. The rev state indicates that the submittal item is currently under review."
                                  name:
                                    type: string
                                    x-forma-type: string
                                    description: "The name of the starting state. For example, Create, Manager Review, Review."
                              stateTo:
                                type: object
                                x-forma-type: object
                                description: "The target state of the transition, indicating the next position of the submittal item in the workflow."
                                properties:
                                  id:
                                    type: string
                                    x-forma-type: string
                                    description: "The unique ID of the target state. For example, mgr-1, mgr-2, void."
                                  name:
                                    type: string
                                    x-forma-type: string
                                    description: "The name of the target state. For example, Manager Review, Manager Final Review, Void."
                              transitionFields:
                                type: array
                                items:
                                  type: string
                                x-forma-type: "array: string"
                                description: "Fields that are used in the transition. For example, [subcontractor, subcontractorType, watchers, responseId]."
                              mandatoryFields:
                                type: array
                                items:
                                  type: string
                                x-forma-type: "array: string"
                                description: "A list of required fields for the transition. For example, [responseId]."
                              actionId:
                                type: string
                                x-forma-type: string
                                description: "Not relevant"
                          x-forma-type: "array: object"
                          description: "The list of possible state transitions for a submittal item within the review workflow."
                    x-forma-type: "array: object"
                    description: "The list of actions the user is allowed to perform on the submittal item."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/submittals-items-itemIdtransition-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                customIdentifier:
                  type: string
                  x-forma-type: string
                  description: |-
                    A custom number to assign to the submittal item. Before updating an item, check what the custom numbering type is for the current project by calling GET metadata to get the custom identifier sequence type.
                    Submittals support two custom numbering types:

                    - Global Numbering: The custom identifier only contains the sequential number.

                    - Spec Section Numbering: When the project uses spec section numbering for custom numbering, ensure that only the sequential number part of the custom identifier is sent in the request, excluding the spec ID.

                    To find the next available custom number in the sequence, call GET items:next-custom-identifier.

                    To verify whether the custom number has not been used and is in a supported format, call POST items:validate-custom-identifier.

                    For more information on custom numbering, see the Help documentation.
                typeId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The ID of the item type to assign to the submittal item. To retrieve the type ID, call GET item-types or GET item-types/:id."
                specId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The unique identifier (UUID) of the spec section to assign to the submittal item, which can be obtained by calling GET specs."
                subsection:
                  type: string
                  x-forma-type: string
                  description: "Define the subsection details of the submittal item. For example, 1.05-B."
                title:
                  type: string
                  x-forma-type: string
                  description: "The title of the submittal item defined by the user when updating the submittal item."
                description:
                  type: string
                  x-forma-type: string
                  description: "A description of the submittal item to add context about its purpose."
                priority:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    The priority level of the submittal item.
                    Possible values:

                    - Low

                    - Normal

                    - High

                    When the priority is not set, the default value is Normal.
                manager:
                  type: string
                  x-forma-type: string
                  description: |-
                    The Autodesk ID (autodeskId) or Group ID (memberGroupId) specifying the manager to assign to the submittal item. The manager could be a user, role, or a company. Note that the user must be defined as a manager in the project. You can verify this by calling GET mappings.
                    To get the possible values for a manager, call GET mappings and check the autodeskId. This returns a list of all the users, roles, and companies that are managers in the project. Call GET projects/users to verify the actual name of the user. If a copmany is a manager, call GET companies to verify the actual name of the company. Note that we do not currently support verifying names of roles.
                managerType:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    The type of manager. This attribute is required when a manager is specified. To determine the type of manager, call GET mappings and check the user type.
                    Possible values: 1 (user), 2 (company), 3 (role).
                subcontractor:
                  type: string
                  x-forma-type: string
                  description: |-
                    The Autodesk ID of the subcontractor to assign to the submittal item. When updating a submittal item as a manager in the UI, you will see ‘assign to responsible contractor’. The subcontractor can be a user (autodeskId), role (memberGroupId), or company (memberGroupId).
                    For users, call GET users.
                    For companies, call GET companies.

                    Note that we do not currently support finding details about roles for a project.
                subcontractorType:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    The type of subcontractor. This attribute is required when a subcontrator is specified.
                    Possible values: 1 (user), 2 (company), 3 (role).
                sentToSubmitter:
                  type: string
                  format: date-time
                  x-forma-type: "datetime: ISO 8601"
                  description: "The date and time when the submittal was sent to the subcontrator for review, formatted as YYYY-MM-DDTHH:mm:ss.SSSSSSZ (ISO 8601) in UTC. For example, 2018-02-15T12:09:24.198466Z."
                receivedFromSubmitter:
                  type: string
                  format: date-time
                  x-forma-type: "datetime: ISO 8601"
                  description: "The date and time when the submittal was received back from the subcontractor after review, formatted as YYYY-MM-DDTHH:mm:ss.SSSSSSZ (ISO 8601) in UTC. For example, 2018-02-15T12:09:24.198466Z."
                sentToReview:
                  type: string
                  format: date-time
                  x-forma-type: "datetime: ISO 8601"
                  description: "The date and time when the submittal item was transitioned to the rev state (Open - In review), formatted as YYYY-MM-DDTHH:mm:ss.SSSSSSZ (ISO 8601) in UTC. For example, 2018-02-15T12:09:24.198466Z."
                receivedFromReview:
                  type: string
                  format: date-time
                  x-forma-type: "datetime: ISO 8601"
                  description: "The timestamp marking when the item transitioned from the rev state (Open - In Review) to the mgr-2 state (close and distribute), formatted as YYYY-MM-DDTHH:mm:ss.SSSSSSZ (ISO 8601) in UTC. For example, 2018-02-15T12:09:24.198466Z."
                publishedDate:
                  type: string
                  format: date-time
                  x-forma-type: "datetime: ISO 8601"
                  description: "The date when the manager closed and distributed the submittal item, formatted as YYYY-MM-DDTHH:mm:ss.SSSSSSZ (ISO 8601) in UTC. For example, 2018-02-15T12:09:24.198466Z."
                watchers:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        x-forma-type: string
                        description: |-
                          The Autodesk ID of the watcher. The watcher can be a user (autodeskId), role (memberGroupId), or company (memberGroupId).
                          To find details about users, call GET users, to find details about companies, call GET companies. Note that we do not currently support finding details about roles for a project.
                      userType:
                        type: object
                        x-forma-type: object
                        description: |-
                          The type of watcher assigned to the submittal item.
                          Possible values:

                          - 1 (user)

                          - 2 (company)

                          - 3 (role)
                    required:
                      - id
                      - userType
                  x-forma-type: "array: object"
                  description: "A list of project watchers, who can be individual users, roles, or companies."
                requiredOnJobDate:
                  type: string
                  x-forma-type: string
                  description: "The date when the materials are expected to arrive on the site, in the following format: YYYY-MM-DD (ISO 8601) in UTC. For example, 2018-02-15."
                leadTime:
                  type: integer
                  x-forma-type: int
                  description: "The duration (in days) from the approval of the submittal to the delivery of materials or products to the construction site."
                requiredDate:
                  type: string
                  x-forma-type: string
                  description: "The date the responsible contractor needs to submit the submittal to the submittal manager, in the following format: YYYY-MM-DD (ISO 8601) in UTC. For example, 2018-02-15."
                requiredApprovalDate:
                  type: string
                  x-forma-type: string
                  description: "The date by which approval for the submittal is required, in the following format: YYYY-MM-DD in UTC (ISO 8601). For example, 2018-02-15."
                submitterDueDate:
                  type: string
                  x-forma-type: string
                  description: "The date by which the subcontractor is expected to submit the submittal to the manager, formatted as YYYY-MM-DD in UTC (ISO 8601). For example, 2018-02-15."
                managerDueDate:
                  type: string
                  x-forma-type: string
                  description: "The date by which the manager is expected to prepare the submittal item for review to the reviewer, in the following format: YYYY-MM-DD in UTC (ISO 8601). For example, 2018-02-15."
                packageId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: |-
                    The ID of the package associated with the submittal item. This attribute is optional and is used for workflows involving attachments.
                    To retrieve package details, call GET packages.
                stateId:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    Specifies the target state to which the submittal item will transition according to the user’s permitted actions. To determine available transitions, call GET Item/:id and check the permittedActions field.
                    Note that submittal items cannot be transitioned to a draft - (Draft) state, only from a draft - (Draft) state to another state.

                    To transition a submittal item to a rev - (Open - In Review) state, the associated template must include predefined steps and tasks, and a custom identifier must already be set. See the Create Submittal Items tutorial (step 6) for more details.

                    Possible values:

                    sbc-1 (Waiting for Submission) – Assigned to the Responsible Contractor, who needs to submit the submittal to the Manager.

                    mgr-1 (Open - Submitted) – Assigned to the Manager, who needs to prepare it for review.

                    rev (Open - In Review) – Under review by the reviewers defined in the submittal workflow.

                    mgr-2 (Open - Reviewed) – The review is complete, and the submittal is returned to the Manager, who needs to set the final response and close the submittal.

                    sbc-2 (Closed) – The submittal has been closed and assigned to the Responsible Contractor.

                    void (Voided): The item has been voided.
                mailNote:
                  type: string
                  x-forma-type: string
                  description: "A note (comment) that is used in transition and will be sent in email and appear in the activity log."
                stepDueDate:
                  type: string
                  x-forma-type: string
                  description: |-
                    The due date for the next Step in ISO 8601, in the following format YYYY-MM-DD in UTC. For example, 2024-02-15.
                    This is relevant only when transitioning to a rev state (equivalent to Open (In review) in the UI).
                responseId:
                  type: string
                  x-forma-type: string
                  description: |-
                    The ID of the response associated with the transition, linking to the specific feedback or action taken. This is relevant only when transitioning to the sbc-2 state (equivalent to Closed in the UI).
                    To find the response ID, call GET Responses.
                responseComment:
                  type: string
                  x-forma-type: string
                  description: "The body of the response comment, containing feedback or instructions related to the transition. This is relevant only when transitioning to the sbc-2 state (equivalent to Close and Distribute in the UI)."
                saveAttachmentDrafts:
                  type: array
                  items:
                    type: string
                  x-forma-type: "array: string"
                  description: "Not relevant"
                duplicateAttachments:
                  type: array
                  items:
                    type: string
                  x-forma-type: "array: string"
                  description: "A list of attachment IDs to duplicate from a submittal item’s previous stage in the workflow. To retrieve available attachments, call GET items/:itemId/attachments."
              required:
                - stateId
  "/construction/submittals/v2/projects/{projectId}/items/{itemId}/attachments/{attachmentId}":
    patch:
      operationId: submittals-attachments-attachmentId-PATCH
      summary: "Updates the upload status of an attachment associated with a submittal item"
      description: "Updates the upload status of an attachment associated with a submittal item. Use this endpoint after completing the file upload to update the attachment status. Note, this endpoint applies to the local files workflow only and is not used for Files tool attachments."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: itemId
          in: path
          required: true
          description: "The ID of the submittal item. To find the item ID, call GET items."
          schema:
            type: string
            x-forma-type: string
        - name: attachmentId
          in: path
          required: true
          description: "The ID of the attachment. To find the ID, call GET attachments."
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The internal, globally unique identifier (UUID) for the attachment."
                  itemId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the submittal item associated with the attachment."
                  taskId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: |-
                      The ID of the task within the review step to which the attachment is associated.
                      - If the attachment was added to a review step, this field contains the task ID that identifies the relevant task.
                      - If the attachment was not part of a review, this field is null.
                  name:
                    type: string
                    x-forma-type: string
                    description: "The user-defined name of the attachment. This value is specified when the attachment is created and may differ from the original file name."
                  isFileUploaded:
                    type: boolean
                    x-forma-type: boolean
                    description: |-
                      Indicates whether the attachment upload is complete.

                      true: the attachment upload is complete.

                      false: the upload is still in progress or pending completion.
                  url:
                    type: string
                    x-forma-type: string
                    description: "Not relevant"
                  asyncState:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      Represents the state of the asynchronous process triggered after marking the file upload as complete (isFileUploaded=true). The backend initiates this process to generate the URN for the attachment.
                      Possible values:

                      - 1 - Pending (the request is queued and awaiting processing).

                      - 2 - Started (the backend process to generate the URN has begun).

                      - 3 - Success (the URN was successfully created).

                      - 4 - Failure (the process failed, and the URN was not created).
                  uploadUrn:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier for the upload session associated with the attachment applicable only to local file uploads. This value is used to generate a URL for uploading the actual file."
                  urn:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier for a specific file version in the Files tool."
                  urnVersion:
                    type: integer
                    x-forma-type: int
                    description: "The version number of the file in Autodesk Forma Data Management."
                  revisionFolderUrn:
                    type: string
                    x-forma-type: string
                    description: "Not relevant"
                  revision:
                    type: integer
                    x-forma-type: int
                    description: "Not relevant"
                  urnTypeId:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      Specifies the type of urn associated with the attachment. This value identifies the storage type for the file reference.
                      Possible values: 2
                      This value is always set to 2 for both local and Files tool attachments.
                  categoryId:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The workflow state of the submittal item associated with the attachment.

                      - Category IDs 1-4: These represent active workflow states and can be set when creating an attachment.

                      - Category IDs 5-8: These represent historical records of attachments from earlier revisions of the submittal process and are automatically assigned by the system.

                      Possible values:

                      - 1 (Submission)

                      - 2 (For Review)

                      - 3 (Review Response)

                      - 4 (Final Response)

                      - 5 (Previous Submission)

                      - 6 (Previous For Review)

                      - 7 (Previous Review Response)

                      - 8 (Previous Final Response)
                  urnPage:
                    type: string
                    x-forma-type: string
                    description: "Not relevant"
                  resourceUrns:
                    type: string
                    x-forma-type: string
                    description: "Not relevant"
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who created the attachment."
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the attachment created, in ISO 8601 format. For example, 2018-02-01T12:09:24.198466Z."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time the attachment was last updated, in ISO 8601 format. For example, 2018-02-01T12:09:24.198466Z."
                  updatedBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who last updated the attachment."
                  duplicatedFrom:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The UUID of the source file the attachment was duplicated from. This indicates that the attachment was created as a copy of an existing file, preserving its metadata and association with the original file."
                  permittedActions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          x-forma-type: string
                          description: "The ID of the action in the format type_of_object::action. For example, Attachment::retrieve."
                        fields:
                          type: object
                          x-forma-type: object
                          description: "A mapping of field names to lists of possible values for each field. Note that an empty array indicates that there is no specific set of values for those fields."
                        mandatoryFields:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "Fields required to perform specific actions. The required fields depend on the user’s role and the action."
                        transitions:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "Not relevant"
                    x-forma-type: "array: object"
                    description: "A list of actions that the user is allowed to perform on the attachment."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/submittals-attachments-attachmentId-PATCH"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                isFileUploaded:
                  type: boolean
                  x-forma-type: boolean
                  description: |-
                    Indicates whether the attachment upload is complete.
                    Set this field to true once the file upload is finished.

                    true: the attachment upload is complete.

                    false: (default) the attachment upload is still in progress or pending completion.
  "/construction/submittals/v2/projects/{projectId}/items/{itemId}/attachments":
    get:
      operationId: submittals-items-itemId-attachments-GET
      summary: "Retrieve information about attachments associated with a specified item"
      description: "Retrieve information about attachments associated with a specified item. You can use the information to download attachments. For more information, see the Download Submittal Attachments tutorial."
      parameters:
        - name: itemId
          in: path
          required: true
          description: "The ID of the submittal item. To find the item ID, call GET items."
          schema:
            type: string
            x-forma-type: string
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: limit
          in: query
          description: "The maximum number of results per page. Possible values: 1- 50. Default value: 20. For example, to limit the response to two results per page, use limit=2."
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: "The number of results to skip before starting to return data. For example, to skip the first 20 results, include offset=20 in the query string. For more details, see the JSON API Paging Help documentation."
          schema:
            type: integer
            x-forma-type: int
        - name: sort
          in: query
          description: |-
            Sort attachments by specific fields in either ascending (asc) or descending (desc) order. Separate multiple criteria with commas. For example, statusId asc.
            Possible values: id, isFileUploaded, asyncState, createdBy, createdAt, updatedBy, updatedAt, name, uploadUrn, urn, urnPage, resourceUrns, urnTypeId, urnVersion, revision, categoryId, isReview, isResponse.
          schema:
            type: string
            x-forma-type: string
        - name: "filter[categoryId]"
          in: query
          description: "Filter attachments by category identifier. Multiple values can be separated by commas."
          schema:
            type: string
            x-forma-type: string
        - name: "filter[revision]"
          in: query
          description: "Filter items with the specified revision number. You can specify multiple values. Separate multiple values with commas. For example, filter[revision]=1."
          schema:
            type: string
            x-forma-type: string
        - name: "filter[isFileUploaded]"
          in: query
          description: |-
            true: to filter files that are uploaded.
            false: to filter files that are not uploaded.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "Describes pagination details for the response, including information about the current page and navigation to other pages."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The maximum number of results to be displayed on each page."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The number of results skipped before starting the current page."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The overall count of results available across all pages."
                      previousUrl:
                        type: string
                        x-forma-type: string
                        description: "The URL to retrieve the preceding page of results, if applicable. Not returned on the first page of results."
                      nextUrl:
                        type: string
                        x-forma-type: string
                        description: "The URL to retrieve the subsequent page of results, if available. If not included, this is the last page of data."
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The internal, globally unique identifier (UUID) for the attachment."
                        itemId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the submittal item associated with the attachment."
                        taskId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: |-
                            The ID of the task within the review step to which the attachment is associated.
                            - If the attachment was added to a review step, this field contains the task ID that identifies the relevant task.
                            - If the attachment was not part of a review, this field is null.
                        name:
                          type: string
                          x-forma-type: string
                          description: "The user-defined name of the attachment. This value is specified when the attachment is created and may differ from the original file name."
                        isFileUploaded:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            Indicates whether the attachment upload is complete.

                            true: the attachment upload is complete.

                            false: the upload is still in progress or pending completion.
                        url:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                        asyncState:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            Represents the state of the asynchronous process triggered after marking the file upload as complete (isFileUploaded=true). The backend initiates this process to generate the URN for the attachment.
                            Possible values:

                            - 1 - Pending (the request is queued and awaiting processing).

                            - 2 - Started (the backend process to generate the URN has begun).

                            - 3 - Success (the URN was successfully created).

                            - 4 - Failure (the process failed, and the URN was not created).
                        uploadUrn:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier for the upload session associated with the attachment applicable only to local file uploads. This value is used to generate a URL for uploading the actual file."
                        urn:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier for a specific file version in the Files tool."
                        urnVersion:
                          type: integer
                          x-forma-type: int
                          description: "The version number of the file in Autodesk Forma Data Management."
                        revisionFolderUrn:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                        revision:
                          type: integer
                          x-forma-type: int
                          description: "Not relevant"
                        urnTypeId:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            Specifies the type of urn associated with the attachment. This value identifies the storage type for the file reference.
                            Possible values: 2
                            This value is always set to 2 for both local and Files tool attachments.
                        categoryId:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The workflow state of the submittal item associated with the attachment.

                            - Category IDs 1-4: These represent active workflow states and can be set when creating an attachment.

                            - Category IDs 5-8: These represent historical records of attachments from earlier revisions of the submittal process and are automatically assigned by the system.

                            Possible values:

                            - 1 (Submission)

                            - 2 (For Review)

                            - 3 (Review Response)

                            - 4 (Final Response)

                            - 5 (Previous Submission)

                            - 6 (Previous For Review)

                            - 7 (Previous Review Response)

                            - 8 (Previous Final Response)
                        urnPage:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                        resourceUrns:
                          type: string
                          x-forma-type: string
                          description: "Not relevant"
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who created the attachment."
                        createdAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time when the attachment created, in ISO 8601 format. For example, 2018-02-01T12:09:24.198466Z."
                        updatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time the attachment was last updated, in ISO 8601 format. For example, 2018-02-01T12:09:24.198466Z."
                        updatedBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who last updated the attachment."
                        duplicatedFrom:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The UUID of the source file the attachment was duplicated from. This indicates that the attachment was created as a copy of an existing file, preserving its metadata and association with the original file."
                        permittedActions:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                x-forma-type: string
                                description: "The ID of the action in the format type_of_object::action. For example, Attachment::retrieve."
                              fields:
                                type: object
                                x-forma-type: object
                                description: "A mapping of field names to lists of possible values for each field. Note that an empty array indicates that there is no specific set of values for those fields."
                              mandatoryFields:
                                type: array
                                items:
                                  type: string
                                x-forma-type: "array: string"
                                description: "Fields required to perform specific actions. The required fields depend on the user’s role and the action."
                              transitions:
                                type: array
                                items:
                                  type: string
                                x-forma-type: "array: string"
                                description: "Not relevant"
                          x-forma-type: "array: object"
                          description: "A list of actions that the user is allowed to perform on the attachment."
                    x-forma-type: "array: object"
                    description: "The list of attachments."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/submittals-items-itemId-attachments-GET"
    post:
      operationId: submittals-attachments-POST
      summary: "Adds an attachment to a submittal item within a project"
      description: "Adds an attachment to a submittal item within a project. This allows users to include relevant files as part of the submittal process."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: itemId
          in: path
          required: true
          description: "The ID of the submittal item. To find the item ID, call GET items."
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "201":
          description: Created
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The internal, globally unique identifier (UUID) for the attachment."
                  itemId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the submittal item associated with the attachment."
                  taskId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: |-
                      The ID of the task within the review step to which the attachment is associated.
                      - If the attachment was added to a review step, this field contains the task ID that identifies the relevant task.
                      - If the attachment was not part of a review, this field is null.
                  name:
                    type: string
                    x-forma-type: string
                    description: "The user-defined name of the attachment. This value is specified when the attachment is created and may differ from the original file name."
                  isFileUploaded:
                    type: boolean
                    x-forma-type: boolean
                    description: |-
                      Indicates whether the attachment upload is complete.

                      true: the attachment upload is complete.

                      false: the upload is still in progress or pending completion.
                  url:
                    type: string
                    x-forma-type: string
                    description: "Not relevant"
                  asyncState:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      Represents the state of the asynchronous process triggered after marking the file upload as complete (isFileUploaded=true). The backend initiates this process to generate the URN for the attachment.
                      Possible values:

                      - 1 - Pending (the request is queued and awaiting processing).

                      - 2 - Started (the backend process to generate the URN has begun).

                      - 3 - Success (the URN was successfully created).

                      - 4 - Failure (the process failed, and the URN was not created).
                  uploadUrn:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier for the upload session associated with the attachment applicable only to local file uploads. This value is used to generate a URL for uploading the actual file."
                  urn:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier for a specific file version in the Files tool."
                  urnVersion:
                    type: integer
                    x-forma-type: int
                    description: "The version number of the file in Autodesk Forma Data Management."
                  revisionFolderUrn:
                    type: string
                    x-forma-type: string
                    description: "Not relevant"
                  revision:
                    type: integer
                    x-forma-type: int
                    description: "Not relevant"
                  urnTypeId:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      Specifies the type of urn associated with the attachment. This value identifies the storage type for the file reference.
                      Possible values: 2
                      This value is always set to 2 for both local and Files tool attachments.
                  categoryId:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The workflow state of the submittal item associated with the attachment.

                      - Category IDs 1-4: These represent active workflow states and can be set when creating an attachment.

                      - Category IDs 5-8: These represent historical records of attachments from earlier revisions of the submittal process and are automatically assigned by the system.

                      Possible values:

                      - 1 (Submission)

                      - 2 (For Review)

                      - 3 (Review Response)

                      - 4 (Final Response)

                      - 5 (Previous Submission)

                      - 6 (Previous For Review)

                      - 7 (Previous Review Response)

                      - 8 (Previous Final Response)
                  urnPage:
                    type: string
                    x-forma-type: string
                    description: "Not relevant"
                  resourceUrns:
                    type: string
                    x-forma-type: string
                    description: "Not relevant"
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who created the attachment."
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the attachment created, in ISO 8601 format. For example, 2018-02-01T12:09:24.198466Z."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time the attachment was last updated, in ISO 8601 format. For example, 2018-02-01T12:09:24.198466Z."
                  updatedBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who last updated the attachment."
                  duplicatedFrom:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The UUID of the source file the attachment was duplicated from. This indicates that the attachment was created as a copy of an existing file, preserving its metadata and association with the original file."
                  permittedActions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          x-forma-type: string
                          description: "The ID of the action in the format type_of_object::action. For example, Attachment::retrieve."
                        fields:
                          type: object
                          x-forma-type: object
                          description: "A mapping of field names to lists of possible values for each field. Note that an empty array indicates that there is no specific set of values for those fields."
                        mandatoryFields:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "Fields required to perform specific actions. The required fields depend on the user’s role and the action."
                        transitions:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "Not relevant"
                    x-forma-type: "array: object"
                    description: "A list of actions that the user is allowed to perform on the attachment."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/submittals-attachments-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                taskId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: |-
                    The ID of the task within the review step that the attachment is associated with. The task ID identifies the specific task in the review process where the attachment belongs.
[...]
