openapi: "3.1.0"
info:
  title: "Forma APIs — Files"
  version: v1
  description: |-
    Forma APIs — Files.
    Autodesk 문서에서 자동 추출됨. 원본: https://aps.autodesk.com/en/docs/acc/v1
    **리전 — 호출 전 반드시 확인** 리전은 완전히 분리되어 있고 리소스 식별자가 호환되지 않습니다. ⚠️ **헤더 이름이 그룹마다 다릅니다.** Hub Admin 은 `Region`, Issues 는 `x-ads-region` 입니다. 이 문서의 "헤더" 표에 적힌 이름을 그대로 쓰세요. 통일해서 보내면 안 됩니다. 미지정 시 자동 라우팅되며 지연이 늘 수 있습니다. 자세한 판정은 `_errata` E-003 참고.
servers:
  - url: "https://developer.api.autodesk.com"
x-forma-group: Files
paths:
  "/bim360/docs/v1/projects/{project_id}/folders/{folder_id}/custom-attribute-definitions":
    get:
      operationId: document-management-custom-attribute-definitions-GET
      summary: "Custom Attributes (beta)"
      description: "Retrieves a complete list of custom attribute definitions for all the documents in a specific folder, including custom attributes that have not been assigned a value, as well as the potential drop-down (array) values."
      parameters:
        - name: project_id
          in: path
          required: true
          description: "The ID of the project. This corresponds to the project ID in the Data Management API. To convert a project ID in the Data Management API to a project ID in the BIM 360 API you need to remove the “b.\" prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: folder_id
          in: path
          required: true
          description: |-
            The URL-encoded ID (URN) of the folder.
            For details about how to find the URN, follow the initial steps (1-3) of the Download Files tutorial.
          schema:
            type: string
            x-forma-type: string
        - name: limit
          in: query
          description: "The number of results to return in the response. Acceptable values: 1-200. Default value: 10. For example, to limit the response to two custom attributes per page, use limit=2."
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: "The item number that you want to begin results from. Default value: 0. For example, to begin the results from item three, use offset=3."
          schema:
            type: integer
            x-forma-type: int
        - name: x-user-id
          in: header
          description: "In a two-legged authentication context, the app has access to all users specified by the administrator in the SaaS integrations UI. By providing this header, the API call will be limited to act on behalf of only the user specified."
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          x-forma-type: int
                          description: "The ID of the attribute."
                        name:
                          type: string
                          x-forma-type: string
                          description: "The name of the attribute."
                        type:
                          type: string
                          x-forma-type: "enum:string"
                          description: "The type of attribute. Possible values: string (text field), date, array (drop-list)."
                        arrayValues:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "A list of possible values for the attribute. Only relevant for drop-list attributes."
                    x-forma-type: "array: object"
                    description: "The list of results."
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "Pagination information when data must be returned page by page."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The number of results to return in the response."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The item number that the results begin from."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "Total number of results."
                      previousUrl:
                        type: string
                        x-forma-type: string
                        description: "The URL for the previous page of results."
                      nextUrl:
                        type: string
                        x-forma-type: string
                        description: "The URL for the next page of results."
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/document-management-custom-attribute-definitions-GET"
    post:
      operationId: document-management-custom-attribute-definitions-POST
      summary: "Adds a custom attribute to a folder"
      description: "Adds a custom attribute to a folder."
      parameters:
        - name: project_id
          in: path
          required: true
          description: "The ID of the project. This corresponds to the project ID in the Data Management API. To convert a project ID in the Data Management API to a project ID in the BIM 360 API you need to remove the “b.\" prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: folder_id
          in: path
          required: true
          description: |-
            The URL-encoded ID (URN) of the folder.
            For details about how to find the URN, follow the initial steps (1-3) of the Download Files tutorial.
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: x-user-id
          in: header
          description: "In a two-legged authentication context, the app has access to all users specified by the administrator in the SaaS integrations UI. By providing this header, the API call will be limited to act on behalf of only the user specified."
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "201":
          description: Created
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    x-forma-type: int
                    description: "The ID of the attribute."
                  name:
                    type: string
                    x-forma-type: string
                    description: "The name of the attribute."
                  type:
                    type: string
                    x-forma-type: "enum:string"
                    description: "The type of attribute. Possible values: string (text field), date, array (drop-list)."
                  arrayValues:
                    type: array
                    items:
                      type: string
                    x-forma-type: "array: string"
                    description: "A list of possible values for the attribute. Only relevant for drop-list attributes."
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/document-management-custom-attribute-definitions-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                name:
                  type: string
                  x-forma-type: string
                  description: "The name of the attribute. It needs to be unique within the folder."
                type:
                  type: string
                  x-forma-type: "enum:string"
                  description: "The type of attribute. Possible values: string (text field), date, array (drop-list)."
                arrayValues:
                  type: array
                  items:
                    type: string
                  x-forma-type: "array: string"
                  description: "A list of possible values for the attribute. Only relevant for drop-list attributes."
              required:
                - name
                - type
  "/bim360/docs/v1/projects/{project_id}/folders/{folder_id}/permissions:batch-create":
    post:
      operationId: document-management-projects-project_id-folders-folder_id-permissionsbatch-create-POST
      summary: "Assign permissions to multiple users, roles, and companies for a BIM 360 Document Management folder"
      description: "Assign permissions to multiple users, roles, and companies for a BIM 360 Document Management folder."
      parameters:
        - name: project_id
          in: path
          required: true
          description: "The ID of the project. This corresponds to project ID in the Data Management API. To convert a project ID in the Data Management API into a project ID in the BIM 360 API you need to remove the “b.\" prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: folder_id
          in: path
          required: true
          description: |-
            The ID (URN) of the folder.
            For details about how to find the URN, follow the initial steps (1-3) in the Download Files tutorial.
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: x-user-id
          in: header
          description: "In a two-legged authentication context, the app has access to all users specified by the administrator in the SaaS integrations UI. By providing this header, the API call will be limited to act on behalf of only the user specified."
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        subjectId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the user, role, or company. For example, this corresponds to the id, roleId, or companyId in the response for GET /users/user_id."
                        subjectType:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The type of subject.
                            Possible values: USER, COMPANY, ROLE
                        actions:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: |-
                            Permitted actions for the user, role, or company.
                            The permission action group is different in BIM 360 Document Management and Forma Build Files.

                            - The six permission levels in BIM 360 Document Management correspond to one or more actions:

                            - View Only: VIEW, COLLABORATE

                            - View/Download: VIEW, DOWNLOAD, COLLABORATE

                            - Upload Only: PUBLISH

                            - View/Download+Upload: PUBLISH, VIEW, DOWNLOAD, COLLABORATE

                            - View/Download+Upload+Edit: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, EDIT

                            - Full controller: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, EDIT, CONTROL

                            - The six permission levels in Forma correspond to one or more actions:

                            - View Only: VIEW, COLLABORATE

                            - View/Download: VIEW, DOWNLOAD, COLLABORATE

                            - View/Download+PublishMarkups: VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP

                            - View/Download+PublishMarkups+Upload: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP

                            - View/Download+PublishMarkups+Upload+Edit: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP, EDIT

                            - Full controller: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP, EDIT, CONTROL

                            See the BIM 360 Help documentation or the Forma Files Help documentation for more details about each permission level.

                            Note that the full set of permissions assigned to the user, role, or company is a combination of actions and inheritActions.
                    x-forma-type: "array: object"
                    description: "The results object."
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "422":
          description: "Unprocessable Entity"
        "423":
          description: Locked
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/document-management-projects-project_id-folders-folder_id-permissionsbatch-create-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                subjectId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: |-
                    The ID of the user, role, or company. To verify the subjectId:

                    - For a user, use GET users.

                    - For a role, use GET roles

                    - For a company, use GET companies
                autodeskId:
                  type: string
                  x-forma-type: string
                  description: "The Autodesk ID of the user, role or company."
                subjectType:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    The type of subject.
                    Possible values: USER, COMPANY, ROLE
                actions:
                  type: array
                  items:
                    type: string
                  x-forma-type: "array: string"
                  description: |-
                    Permitted actions for the user, role, or company.
                    The permission action group is different in BIM 360 Document Management and Forma Build Files.

                    - The six permission levels in BIM 360 Document Management correspond to one or more actions:

                    - View Only: VIEW, COLLABORATE

                    - View/Download: VIEW, DOWNLOAD, COLLABORATE

                    - Upload Only: PUBLISH

                    - View/Download+Upload: PUBLISH, VIEW, DOWNLOAD, COLLABORATE

                    - View/Download+Upload+Edit: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, EDIT

                    - Full controller: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, EDIT, CONTROL

                    - The six permission levels in Forma correspond to one or more actions:

                    - View Only: VIEW, COLLABORATE

                    - View/Download: VIEW, DOWNLOAD, COLLABORATE

                    - View/Download+PublishMarkups: VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP

                    - View/Download+PublishMarkups+Upload: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP

                    - View/Download+PublishMarkups+Upload+Edit: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP, EDIT

                    - Full controller: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP, EDIT, CONTROL

                    See the BIM 360 Help documentation or the Forma Files Help documentation for more details about each permission level.

                    Note that the full set of permissions assigned to the user, role, or company is a combination of actions and inheritActions.
              required:
                - actions
                - subjectId
                - subjectType
  "/bim360/docs/v1/projects/{project_id}/folders/{folder_id}/permissions:batch-delete":
    post:
      operationId: document-management-projects-project_id-folders-folder_id-permissionsbatch-delete-POST
      summary: "Deletes all the permissions assigned to specified users, roles, and companies"
      description: "Deletes all the permissions assigned to specified users, roles, and companies. To remove some of the permissions assigned to users, roles, and companies, use the Update permissions endpoint."
      parameters:
        - name: project_id
          in: path
          required: true
          description: "The ID of the project. This corresponds to project ID in the Data Management API. To convert a project ID in the Data Management API into a project ID in the BIM 360 API you need to remove the “b.\" prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: folder_id
          in: path
          required: true
          description: |-
            The ID (URN) of the folder.
            For details about how to find the URN, follow the initial steps (1-3) in the Download Files tutorial.
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: x-user-id
          in: header
          description: "In a two-legged authentication context, the app has access to all users specified by the administrator in the SaaS integrations UI. By providing this header, the API call will be limited to act on behalf of only the user specified."
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "200":
          description: OK
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/document-management-projects-project_id-folders-folder_id-permissionsbatch-delete-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                subjectId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The ID of the user, role, or company. To verify the subjectId of the user, role, or company, use GET permissions."
                autodeskId:
                  type: string
                  x-forma-type: string
                  description: "The Autodesk ID of the user, role or company."
                subjectType:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    The type of subject.
                    Possible values: USER, COMPANY, ROLE
  "/bim360/docs/v1/projects/{project_id}/folders/{folder_id}/permissions:batch-update":
    post:
      operationId: document-management-projects-project_id-folders-folder_id-permissionsbatch-update-POST
      summary: "Updates the permissions assigned to multiple users, roles, and companies for a folder"
      description: "Updates the permissions assigned to multiple users, roles, and companies for a folder. This endpoint replaces the permissions that were previously assigned to the user for this folder."
      parameters:
        - name: project_id
          in: path
          required: true
          description: "The ID of the project. This corresponds to project ID in the Data Management API. To convert a project ID in the Data Management API into a project ID in the BIM 360 API you need to remove the “b.\" prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: folder_id
          in: path
          required: true
          description: |-
            The ID (URN) of the folder.
            For details about how to find the URN, follow the initial steps (1-3) in the Download Files tutorial.
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: x-user-id
          in: header
          description: "In a two-legged authentication context, the app has access to all users specified by the administrator in the SaaS integrations UI. By providing this header, the API call will be limited to act on behalf of only the user specified."
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        subjectId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the user, role, or company. For example, this corresponds to the id, roleId, or companyId in the response for GET /users/user_id."
                        subjectType:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The type of subject.
                            Possible values: USER, COMPANY, ROLE
                        actions:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: |-
                            Permitted actions for the user, role, or company.
                            The permission action group is different in BIM 360 Document Management and Forma Build Files.

                            - The six permission levels in BIM 360 Document Management correspond to one or more actions:

                            - View Only: VIEW, COLLABORATE

                            - View/Download: VIEW, DOWNLOAD, COLLABORATE

                            - Upload Only: PUBLISH

                            - View/Download+Upload: PUBLISH, VIEW, DOWNLOAD, COLLABORATE

                            - View/Download+Upload+Edit: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, EDIT

                            - Full controller: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, EDIT, CONTROL

                            - The six permission levels in Forma correspond to one or more actions:

                            - View Only: VIEW, COLLABORATE

                            - View/Download: VIEW, DOWNLOAD, COLLABORATE

                            - View/Download+PublishMarkups: VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP

                            - View/Download+PublishMarkups+Upload: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP

                            - View/Download+PublishMarkups+Upload+Edit: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP, EDIT

                            - Full controller: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP, EDIT, CONTROL

                            See the BIM 360 Help documentation or the Forma Files Help documentation for more details about each permission level.

                            Note that the full set of permissions assigned to the user, role, or company is a combination of actions and inheritActions.
                    x-forma-type: "array: object"
                    description: "The results object."
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "422":
          description: "Unprocessable Entity"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/document-management-projects-project_id-folders-folder_id-permissionsbatch-update-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                subjectId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The ID of the user, role, or company. To verify the subjectId of the user, role, or company, use GET permissions."
                autodeskId:
                  type: string
                  x-forma-type: string
                  description: "The Autodesk ID of the user, role or company."
                subjectType:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    The type of subject.
                    Possible values: USER, COMPANY, ROLE
                actions:
                  type: array
                  items:
                    type: string
                  x-forma-type: "array: string"
                  description: |-
                    Permitted actions for the user, role, or company.
                    The permission action group is different in BIM 360 Document Management and Forma Build Files.

                    - The six permission levels in BIM 360 Document Management correspond to one or more actions:

                    - View Only: VIEW, COLLABORATE

                    - View/Download: VIEW, DOWNLOAD, COLLABORATE

                    - Upload Only: PUBLISH

                    - View/Download+Upload: PUBLISH, VIEW, DOWNLOAD, COLLABORATE

                    - View/Download+Upload+Edit: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, EDIT

                    - Full controller: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, EDIT, CONTROL

                    - The six permission levels in Forma correspond to one or more actions:

                    - View Only: VIEW, COLLABORATE

                    - View/Download: VIEW, DOWNLOAD, COLLABORATE

                    - View/Download+PublishMarkups: VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP

                    - View/Download+PublishMarkups+Upload: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP

                    - View/Download+PublishMarkups+Upload+Edit: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP, EDIT

                    - Full controller: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP, EDIT, CONTROL

                    See the BIM 360 Help documentation or the Forma Files Help documentation for more details about each permission level.

                    Note that the full set of permissions assigned to the user, role, or company is a combination of actions and inheritActions.
              required:
                - actions
                - subjectId
                - subjectType
  "/bim360/docs/v1/projects/{project_id}/folders/{folder_id}/permissions":
    get:
      operationId: document-management-projects-project_id-folders-folder_id-permissions-GET
      summary: Permissions
      description: "Retrieves information about the permissions assigned to users, roles and companies for a BIM 360 Document Management folder, including details about the name and the status."
      parameters:
        - name: project_id
          in: path
          required: true
          description: "The ID of the project. This corresponds to project ID in the Data Management API. To convert a project ID in the Data Management API into a project ID in the BIM 360 API you need to remove the “b.\" prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: folder_id
          in: path
          required: true
          description: |-
            The ID (URN) of the folder.
            For details about how to find the URN, follow the initial steps (1-3) in the Download Files tutorial.
          schema:
            type: string
            x-forma-type: string
        - name: x-user-id
          in: header
          description: "In a two-legged authentication context, the app has access to all users specified by the administrator in the SaaS integrations UI. By providing this header, the API call will be limited to act on behalf of only the user specified."
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  subjectId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the user, role, or company. For example, this corresponds to the id, roleId, or companyId in the response for GET /users/user_id."
                  autodeskId:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user, role or company."
                  name:
                    type: string
                    x-forma-type: string
                    description: "The name of the user, role, or company."
                  email:
                    type: string
                    x-forma-type: string
                    description: "The user’s email. Only relevant if the subject is a user."
                  userType:
                    type: string
                    x-forma-type: "enum:string"
                    description: "The type of project user. Possible values: PROJECT_ADMIN or PROJECT_MEMBER. Only relevant if the subject is a user."
                  subjectType:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The type of subject.
                      Possible values: USER, COMPANY, ROLE
                  subjectStatus:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The status of the user, role, or company.
                      Possible values:

                      - For a user: INACTIVE, ACTIVE, PENDING, DISABLED

                      - For a role: INACTIVE, ACTIVE

                      - For a company: ACTIVE
                  actions:
                    type: array
                    items:
                      type: string
                    x-forma-type: "array: string"
                    description: |-
                      Permitted actions for the user, role, or company.
                      The permission action group is different in BIM 360 Document Management and Forma Files.

                      - The six permission levels in BIM 360 Document Management correspond to one or more actions:

                      - View Only: VIEW, COLLABORATE

                      - View/Download: VIEW, DOWNLOAD, COLLABORATE

                      - Upload Only: PUBLISH

                      - View/Download+Upload: PUBLISH, VIEW, DOWNLOAD, COLLABORATE

                      - View/Download+Upload+Edit: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, EDIT

                      - Full controller: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, EDIT, CONTROL

                      - The six permission levels in Forma correspond to one or more actions:

                      - View Only: VIEW, COLLABORATE

                      - View/Download: VIEW, DOWNLOAD, COLLABORATE

                      - View/Download+PublishMarkups: VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP

                      - View/Download+PublishMarkups+Upload: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP

                      - View/Download+PublishMarkups+Upload+Edit: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP, EDIT

                      - Full controller: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP, EDIT, CONTROL

                      See the BIM 360 Help documentation or the Forma Files Help documentation for more details about each permission group.

                      Note that the full set of permissions assigned to the user, role, or company is a combination of actions and inheritActions.
                  inheritActions:
                    type: array
                    items:
                      type: string
                    x-forma-type: "array: string"
                    description: |-
                      Permissions inherited by the user, role, or company from a higher level folder.
                      The permission action group is different in BIM 360 Document Management and Forma Files.

                      - The six permission levels in BIM 360 Document Management correspond to one or more actions:

                      - View Only: VIEW, COLLABORATE

                      - View/Download: VIEW, DOWNLOAD, COLLABORATE

                      - Upload Only: PUBLISH

                      - View/Download+Upload: PUBLISH, VIEW, DOWNLOAD, COLLABORATE

                      - View/Download+Upload+Edit: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, EDIT

                      - Full controller: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, EDIT, CONTROL

                      - The six permission levels in Forma correspond to one or more actions:

                      - View Only: VIEW, COLLABORATE

                      - View/Download: VIEW, DOWNLOAD, COLLABORATE

                      - View/Download+PublishMarkups: VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP

                      - View/Download+PublishMarkups+Upload: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP

                      - View/Download+PublishMarkups+Upload+Edit: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP, EDIT

                      - Full controller: PUBLISH, VIEW, DOWNLOAD, COLLABORATE, PUBLISH_MARKUP, EDIT, CONTROL

                      See the BIM 360 Help documentation or the Forma Files Help documentation for more details about each permission group.

                      Note that the full set of permissions assigned to the user, role, or company is a combination of actions and inheritActions.

                      Note that project administrators’ permissions are non-inherited actions for the root folder, and inherited actions for all other folders.
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/document-management-projects-project_id-folders-folder_id-permissions-GET"
  "/bim360/docs/v1/projects/{project_id}/versions:batch-get":
    post:
      operationId: document-management-versionsbatch-get-POST
      summary: "Retrieves a list of custom attribute values for multiple BIM 360 Document Management documents"
      description: "Retrieves a list of custom attribute values for multiple BIM 360 Document Management documents. For information about custom attributes, see the Help documentation. This endpoint also retrieves information about a document’s approval status and revision number."
      parameters:
        - name: project_id
          in: path
          required: true
          description: "The ID of the project. This corresponds to project ID in the Data Management API. To convert a project ID in the Data Management API into a project ID in the BIM 360 API you need to remove the “b.\" prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7."
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: x-user-id
          in: header
          description: "In a two-legged authentication context, the app has access to all users specified by the administrator in the SaaS integrations UI. By providing this header, the API call will be limited to act on behalf of only the user specified."
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        urn:
                          type: string
                          x-forma-type: string
                          description: "The ID of the version."
                        itemUrn:
                          type: string
                          x-forma-type: string
                          description: "The ID of the related item."
                        name:
                          type: string
                          x-forma-type: string
                          description: "The name of the version. This corresponds to the file name in BIM 360 Document Management."
                        title:
                          type: string
                          x-forma-type: string
                          description: "The title of the version."
                        number:
                          type: string
                          x-forma-type: string
                          description: "The sheet number. This is only relevant for documents uploaded to the Plans folder that were split into sheets."
                        createTime:
                          type: string
                          x-forma-type: string
                          description: "The time and date the version was created."
                        createUserId:
                          type: string
                          x-forma-type: string
                          description: "The ID of the user who created the version."
                        createUserName:
                          type: string
                          x-forma-type: string
                          description: "The name of the user who created the version."
                        lastModifiedTime:
                          type: string
                          x-forma-type: string
                          description: "The time and date the version was last modified."
                        lastModifiedUserId:
                          type: string
                          x-forma-type: string
                          description: "The ID of the user who last modified the version."
                        lastModifiedUserName:
                          type: string
                          x-forma-type: string
                          description: "The name of the user who last modified the version."
                        storageUrn:
                          type: string
                          x-forma-type: string
                          description: "The ID of the version’s storage object. This is only relevant for documents that were not split into sheets when they were uploaded to BIM 360 Document Management."
                        storageSize:
                          type: integer
                          x-forma-type: int
                          description: "The file size of the version’s storage object, in bytes. This is only relevant for documents that were not split into sheets when they were uploaded to BIM 360 Document Management."
                        entityType:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The type of version. Possible values:

                            - SEED_FILE: Documents that were not split into sheets when they were uploaded to BIM 360 Document Management.

                            - DOCUMENT: Documents that were split into sheets when they were uploaded to BIM 360 Document Management.
                        revisionNumber:
                          type: integer
                          x-forma-type: int
                          description: "The revision number of the version. The revision number increases when you completely replace the version. For example when you reupload a document and overwrite the current document. Note that this is not the same as the version number, which increases when you update the document. For example, when you save the document. The revision number corresponds to the version in BIM 360 Document Management."
                        processState:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The process state of the version.
                            Possible values: NEEDS_PROCESSING, PROCESSING, PREVIOUS_SEED_PENDING, EXTRACTION_PENDING, SPLITTING, PREVIOUS_DOC_PENDING, PROCESSING_ABORTING, PROCESSING_ABORTED, PROCESSING_COMPLETE, PROCESSING_PROMOTION, PROCESSING_COPY, PROCESSING_PROMOTING, PROCESSING_COPYING, PROCESSING_SUSPEND
                        approvalStatus:
                          type: object
                          x-forma-type: object
                          description: "The approval status of the version. Only available when the review has been approved or rejected. For more information about the approval workflow, see the Approval Workflows and Document Review documentation."
                          properties:
                            label:
                              type: string
                              x-forma-type: string
                              description: |-
                                The customized label of the approval status.
                                Max length: 255
                            value:
                              type: string
                              x-forma-type: "enum:string"
                              description: |-
                                The value of the approval status.
                                Possible values: approved, rejected
                        customAttributes:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                x-forma-type: int
                                description: "The ID of the attribute."
                              type:
                                type: string
                                x-forma-type: "enum:string"
                                description: "The data type of the attribute. Possible values: string (text field), date, array (drop-list)."
                              name:
                                type: string
                                x-forma-type: string
                                description: "The name of the attribute."
                              value:
                                type: string
                                x-forma-type: string
                                description: "The value of the attribute."
                          x-forma-type: "array: object"
                          description: "The list of custom attributes for each document. For more information about custom attributes, see the Customize Documents with Attributes documentation."
                    x-forma-type: "array: object"
                    description: "The list of results."
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        urn:
                          type: string
                          x-forma-type: string
                          description: "The ID of the version or item associated with the error."
                        code:
                          type: string
                          x-forma-type: string
                          description: "The error code."
                        title:
                          type: string
                          x-forma-type: string
                          description: "The title of the error."
                        detail:
                          type: string
                          x-forma-type: string
                          description: "The details about the error."
                    x-forma-type: "array: object"
                    description: "The list of errors."
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/document-management-versionsbatch-get-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                urns:
                  type: array
                  items:
                    type: string
                  x-forma-type: "array: string"
                  description: "A list of version IDs or item IDs. If you use item IDs it retrieves the values for the latest (tip) versions. You can specify up to 50 documents. To find the version ID and item ID of a document follow the initial steps of the Download Files tutorial."
              required:
                - urns
  "/bim360/docs/v1/projects/{project_id}/versions/{version_id}/custom-attributes:batch-update":
    post:
      operationId: document-management-custom-attributesbatch-update-POST
      summary: "Assigns values to custom attributes for multiple documents"
      description: "Assigns values to custom attributes for multiple documents. This endpoint also clears custom attribute values."
      parameters:
        - name: project_id
          in: path
          required: true
          description: "The ID of the project. This corresponds to the project ID in the Data Management API. To convert a project ID in the Data Management API to a project ID in the BIM 360 API you need to remove the “b.\" prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: version_id
          in: path
          required: true
          description: "The URL-encoded ID (URN) of the version. To find the version ID of a document follow the initial steps of the Download Files tutorial."
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: x-user-id
          in: header
          description: "In a two-legged authentication context, the app has access to all users specified by the administrator in the SaaS integrations UI. By providing this header, the API call will be limited to act on behalf of only the user specified."
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          x-forma-type: int
                          description: "The ID of the attribute."
                        type:
                          type: string
                          x-forma-type: "enum:string"
                          description: "The data type of the attribute. Possible values: string (text field), date, array (drop-list)."
                        name:
                          type: string
                          x-forma-type: string
                          description: "The name of the attribute."
                        value:
                          type: string
                          x-forma-type: string
                          description: "The value of the attribute."
                    x-forma-type: "array: object"
                    description: "The list of results."
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/document-management-custom-attributesbatch-update-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                id:
                  type: string
                  x-forma-type: string
                  description: "The ID of the custom attribute. To find the ID, call GET custom-attribute-definitions."
                value:
                  type: string
                  x-forma-type: string
                  description: |-
                    The value of the custom attribute. If you are assigning a value to a drop-list attribute, call GET custom-attribute-definitions to retrieve a list of possible values. If you are clearing a custom attribute value, assign a null value to the attribute.

                    - For text field (string) attributes, the max length is 255.

                    - Date attributes need to be compliant with ISO8601. Milliseconds are discarded.
              required:
                - id
                - value
  "/bim360/docs/v1/projects/{projectId}/naming-standards/{id}":
    get:
      operationId: document-management-naming-standards-id-GET
      summary: "Retrieves the file naming standard for a project"
      description: "Retrieves the file naming standard for a project."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            This corresponds to project ID in the Data Management API. To convert a project ID in the Data Management API into a project ID in the BIM 360 API you need to remove the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.

            To learn how to find the project ID, see the Retrieve BIM 360 Account and Project ID tutorial.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: id
          in: path
          required: true
          description: |-
            The ID of the file naming standard.
            The file naming standard is applied to the project files folder or its subfolders. To find the ID:

            - For the project files folder, call GET hubs/:hub_id/projects/:project_id/topFolders.

            - For subfolders, call GET projects/:project_id/folders/:folder_id/contents.

            - For a specific folder, call GET projects/:project_id/folders/:folder_id.

            The ID is under data.attributes.extension.data.namingStandardIds.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of file naming standard."
                  name:
                    type: string
                    x-forma-type: string
                    description: "The name of the file naming standard."
                  definition:
                    type: object
                    x-forma-type: object
                    description: "The file naming standard format."
                    properties:
                      delimiter:
                        type: string
                        x-forma-type: string
                        description: |-
                          A specified character, separating between multiple fields of a file name.
                          Possible values:

                          - -: Hyphen.

                          - _: Underscore.

                          - .: Point.

                          Note that you cannot use the delimiter within a field name.
                      fields:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              x-forma-type: string
                              description: |-
                                The name of the field.
                                Max length: 32
                            type:
                              type: string
                              x-forma-type: "enum:string"
                              description: |-
                                The field type.
                                Possible values:

                                - ALPHANUMERIC: Accepts all characters.

                                - NONNUMERIC_TEXT: Accepts all characters, excluding 0-9.

                                - NUMERIC: Accepts 0-9, comma ',', plus '+', minus '-', percent '%', period '.', underscore '_'.

                                - ARRAY: A drop-down list.

                                Note that the minLength and maxLength properties are not included in the response for the ARRAY type.
                            attributeId:
                              type: number
                              x-forma-type: number
                              description: "The ID of the field."
                            optional:
                              type: boolean
                              x-forma-type: boolean
                              description: |-
                                true: this field is required in the file naming convention.
                                false: this field is not required in the file naming convention.
                            minLength:
                              type: number
                              x-forma-type: number
                              description: |-
                                The minimum length of the field name.
                                Min number of characters: 1
                            maxLength:
                              type: number
                              x-forma-type: number
                              description: |-
                                The maximum length of the field name.
                                Max number of characters: 10
                            defaultValue:
                              type: string
                              x-forma-type: string
                              description: |-
                                The default value of the field.
                                For example, PROJ.
                            options:
                              type: array
                              items:
                                type: object
                                properties:
                                  value:
                                    type: string
                                    x-forma-type: string
                                    description: "A drop-down list value."
                                  description:
                                    type: string
                                    x-forma-type: string
                                    description: "A description of the drop-down list value."
                              x-forma-type: "array: object"
                              description: |-
                                A drop-down list of possible values for the field.
                                Only relevant for a field of type ARRAY (drop-down list).
                            description:
                              type: string
                              x-forma-type: string
                              description: |-
                                A description of the field.
                                Max length: 255
                        x-forma-type: "array: object"
                        description: |-
                          A list of objects defining a file’s field names.
                          Note that the order of the objects that the endpoint returns in the response corresponds to the order of the fields that you set for the naming standard in the UI.
                      metadata:
                        type: array
                        items:
                          type: object
                          properties:
                            attributeId:
                              type: number
                              x-forma-type: number
                              description: "The ID of the related attribute."
                            name:
                              type: string
                              x-forma-type: string
                              description: |-
                                The name of the related attribute.
                                Max length: 32
                            type:
                              type: string
                              x-forma-type: "enum:string"
                              description: |-
                                The related attribute type.
                                Possible values:

                                - ALPHANUMERIC: Accepts all characters.

                                - NONNUMERIC_TEXT: Accepts all characters, excluding 0-9.

                                - NUMERIC: Includes 0-9, comma ',', plus '+', minus '-', percent '%', period '.', underscore '_'.

                                - ARRAY: A drop-down list.

                                - CLASSIFICATION: Only relevant for a classification attribute.

                                Note that the minLength and maxLength properties are not included in the response for the ARRAY type.
                            optional:
                              type: boolean
                              x-forma-type: boolean
                              description: |-
                                true: this related attribute is required.
                                false: this related attribute is not required.
                            minLength:
                              type: number
                              x-forma-type: number
                              description: |-
                                The minimum length of the related attribute.
                                Min number of characters: 1
                            maxLength:
                              type: number
                              x-forma-type: number
                              description: |-
                                The maximum length of the related attribute.
                                Max number of characters: 10
                            defaultValue:
                              type: string
                              x-forma-type: string
                              description: "The default value of the related attribute."
                            options:
                              type: array
                              items:
                                type: object
                                properties:
                                  value:
                                    type: string
                                    x-forma-type: string
                                    description: "A drop-down list value."
                                  description:
                                    type: string
                                    x-forma-type: string
                                    description: "A description of the drop-down list value."
                              x-forma-type: "array: object"
                              description: |-
                                A drop-down list of possible values for the related attribute.
                                Only relevant for a related attribute of type ARRAY (drop-down list).
                            description:
                              type: string
                              x-forma-type: string
                              description: |-
                                A description of the related attribute.
                                Max length: 255
                        x-forma-type: "array: object"
                        description: "A list of objects defining a file’s related attributes. These attributes do not appear in the file name."
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/document-management-naming-standards-id-GET"
  "/construction/files/v1/projects/{projectId}/custom-attribute-definitions/{customAttributeDefinitionId}/items":
    get:
      operationId: customattributes-items-GET
      summary: "Retrieves the selectable options for a large drop-down list (largeList) custom attribute definition"
      description: "Retrieves the selectable options for a large drop-down list (largeList) custom attribute definition. To identify large drop-down list definitions and retrieve the definition ID required for this endpoint, call GET projects/{projectId}/custom-attribute-definitions."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: customAttributeDefinitionId
          in: path
          required: true
          description: "The ID of the large drop-down list custom attribute definition. To find the ID, call GET projects/{projectId}/custom-attribute-definitions."
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: "The number of results to skip before starting to return data. For example, to skip the first 20 results, include offset=20 in the query string. For more details, see the JSON API Paging Help documentation."
          schema:
            type: integer
            x-forma-type: int
        - name: limit
          in: query
          description: "The maximum number of results to return per page. Possible values: 1–1000. Default value: 200. For example, to return up to 500 items per page, use limit=500."
          schema:
            type: integer
            x-forma-type: int
        - name: searchText
          in: query
          description: "Filters results by the item value (results.value) or description (results.description). Returns items where either field contains the specified string. Matching is case-insensitive."
          schema:
            type: string
            x-forma-type: string
        - name: sort
          in: query
          description: |-
            Sorts items by value (results.value) or description (results.description), in ascending (asc) or descending (desc) order.
            Possible values: value asc, value desc, description asc, description desc. If you omit this parameter, items are returned in insertion order.
          schema:
            type: string
            x-forma-type: "enum:string"
        - name: x-user-id
          in: header
          description: |-
            The ID of a user on whose behalf your request is acting.
            Your app has access to all users specified by the administrator in the SaaS integrations UI. Provide this header value to identify the user to be affected by the request.
            You can use either the user’s Forma ID (id), or their Autodesk ID (autodeskId).

            Note that this header is required for a 2-legged authentication context.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: string
                          x-forma-type: string
                          description: |-
                            The value displayed as a selectable option in the large drop-down list.
                            Max length: 32
                        description:
                          type: string
                          x-forma-type: string
                          description: |-
                            An optional description that provides additional information about the selectable option. Returns an empty string when no description has been provided.
                            Max length: 255
                    x-forma-type: "array: object"
                    description: "The list of large drop-down options."
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "Information about the paginated results."
                    properties:
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The total number of large drop-down options."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The number of options skipped before returning the results."
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The maximum number of options returned per page."
                      nextUrl:
                        type: string
                        x-forma-type: string
                        description: "The URL for retrieving the next page of options. Returns an empty string when the current page is the last page."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/customattributes-items-GET"
  "/construction/files/v1/projects/{projectId}/custom-attribute-definitions":
    get:
      operationId: customattributes-custom-attribute-definitions-GET
      summary: "Retrieves a list of custom attribute definitions for a Forma project"
      description: "Retrieves a list of custom attribute definitions for a Forma project."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: limit
          in: query
          description: "The maximum number of results per page. Possible values: 1- 100. Default value: 100. For example, to limit the response to two results per page, use limit=2."
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: "The number of results to skip before starting to return data. For example, to skip the first 20 results, include offset=20 in the query string. For more details, see the JSON API Paging Help documentation."
          schema:
            type: integer
            x-forma-type: int
        - name: sort
          in: query
          description: |-
            Sorts custom attribute definitions by name (results.name) or ID (results.id), in ascending (asc) or descending (desc) order.
            Possible values: id asc, id desc, name asc, name desc. Default: id asc.
          schema:
            type: string
            x-forma-type: "enum:string"
        - name: searchText
          in: query
          description: "Filters results by the name of the custom attribute definition (results.name). Returns custom attribute definitions where the name contains the specified string (case-insensitive)."
          schema:
            type: string
            x-forma-type: string
        - name: x-user-id
          in: header
          description: |-
            The ID of a user on whose behalf your request is acting.
            Your app has access to all users specified by the administrator in the SaaS integrations UI. Provide this header value to identify the user to be affected by the request.
            You can use either the user’s Forma ID (id), or their Autodesk ID (autodeskId).

            Note that this header is required for a 2-legged authentication context.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          x-forma-type: int
                          description: "The unique numeric identifier of the custom attribute definition."
                        name:
                          type: string
                          x-forma-type: string
                          description: |-
                            The name of the custom attribute definition.
                            Max length: 32
                        type:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The type of custom attribute definition.
                            Possible values:

                            string: A single-line text field.

                            array: A drop-down of selectable options.

                            date: A date field.

                            largeList: A drop-down that supports a large number of options.
                        createdBy:
                          type: object
                          x-forma-type: object
                          description: "Details about the user who created the custom attribute definition."
                          properties:
                            id:
                              type: string
                              x-forma-type: string
                              description: "The Autodesk ID of the user."
                            name:
                              type: string
                              x-forma-type: string
                              description: "The name of the user."
                        updatedBy:
                          type: object
                          x-forma-type: object
                          description: "Details about the user who last updated the custom attribute definition."
                          properties:
                            id:
                              type: string
                              x-forma-type: string
                              description: "The Autodesk ID of the user."
                            name:
                              type: string
                              x-forma-type: string
                              description: "The name of the user."
                        createdAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time the custom attribute definition was created, in ISO 8601 format. For example, 2024-03-05T01:17:47.301Z."
                        updatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time the custom attribute definition was last updated, in ISO 8601 format. For example, 2024-03-07T01:17:47.301Z."
                        description:
                          type: string
                          x-forma-type: string
                          description: |-
                            The description of the custom attribute definition. Returns null when no description has been provided.
                            Max length: 255
                        arrayOptions:
                          type: array
                          items:
                            type: object
                            properties:
                              value:
                                type: string
                                x-forma-type: string
                                description: "The value of the drop-down option, as stored and displayed."
                              description:
                                type: string
                                x-forma-type: string
                                description: "An optional description that provides additional context for the drop-down option value. Returns an empty string when no description has been provided."
                          x-forma-type: "array: object"
                          description: "The list of predefined values available for this drop-down custom attribute definition. Only present when type is array. Returns null for all other types."
                        namingStandardIds:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "The IDs of the naming standards associated with this custom attribute definition. Returns an empty array when no naming standards are associated."
                    x-forma-type: "array: object"
                    description: "A list of custom attribute definitions."
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "Information about the paginated results."
                    properties:
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The total number of custom attribute definitions."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The number of custom attribute definitions skipped before returning results."
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The maximum number of custom attribute definitions returned per page."
                      nextUrl:
                        type: string
                        x-forma-type: string
                        description: "The URL for retrieving the next page of results. Returns an empty string when the current page is the last page."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/customattributes-custom-attribute-definitions-GET"
  "/construction/files/v1/projects/{projectId}/exports/{exportId}":
    get:
      operationId: v1-files-export-status-and-result-GET
      summary: "Retrieves the status of an export job"
      description: "Retrieves the status of an export job. The S3 signed URL (in result.output.signedUrl) will be available for downloading the exported file."
      parameters:
        - name: projectId
          in: path
          required: true
          description: "The ID of the project. Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You can use a project ID either with a “b.” prefix or without a “b.” prefix. For instance, a project ID of “b.a4be0c34a-4ab7” can also be referred to as “a4be0c34a-4ab7”."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: exportId
          in: path
          required: true
          description: "The ID of the export job. The export ID is generated when you initialize an export job using POST exports."
          schema:
            type: string
            x-forma-type: string
        - name: x-user-id
          in: header
          description: |-
            The ID of a user on whose behalf your API request is acting. Required if you’re using a 2-legged authentication context, which must be 2-legged OAuth2 security with user impersonation.
            The app has access to all users specified by the administrator in the SaaS integrations UI. By providing this header, the API call will be limited to act on behalf of only the user specified.

            You can use either the user’s Forma ID (id), or their Autodesk ID (autodeskId).
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the PDF export job."
                  status:
                    type: string
                    x-forma-type: string
                    description: "The status of the PDF export job."
                  result:
                    type: object
                    x-forma-type: object
                    description: |-
                      The result of a completed export job:

                      - If the exporting job’s status value is successful, the downloadable signed url will be included in the result.output object

                      - If the exporting job’s status value is failed (e.g. the files have been deleted), the result.error object will be present with details.

                      - If the exporting job’s status value is partialSuccess (e.g. when some dwg/rvt files do not contain any exportable views or sheets), the result.output.failedFiles object will be present with file urn and reason.
                    properties:
                      output:
                        type: object
                        x-forma-type: object
                        description: "The output containing the downloadable signed URL."
                        properties:
                          signedUrl:
                            type: string
                            x-forma-type: string
                            description: "The signed URL to download the PDF or ZIP file. Expires in 1 hour."
                          failedFiles:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  x-forma-type: string
                                  description: "The file version URN."
                                reason:
                                  type: string
                                  x-forma-type: string
                                  description: "The reason for failure."
                                detail:
                                  type: string
                                  x-forma-type: string
                                  description: "The detail message for failure"
                            x-forma-type: "array: object"
                            description: "Only for dwg/rvt files."
                      error:
                        type: object
                        x-forma-type: object
                        description: |-
                          The error codes could be<br>

                          - ERR_WORKFLOW_TIMEOUT, when the export job runs more than 30 minutes.<br>

                          - ERR_INTERNAL_SERVER_ERROR, when other internal server error happens.<br>

                          - ERR_NO_PROCESSABLE_FILES, when all dwg/rvt files do not contain any 2d pdf files.<br>

                          - ERR_FILE_TOO_LARGE, when the total size of exported files exceeds the upper limit.
                        properties:
                          code:
                            type: string
                            x-forma-type: string
                            description: "The HTTP code of the error."
                          title:
                            type: string
                            x-forma-type: string
                            description: "The title of the error."
                          detail:
                            type: string
                            x-forma-type: string
                            description: "The detail of the error."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/v1-files-export-status-and-result-GET"
  "/construction/files/v1/projects/{projectId}/exports":
    post:
      operationId: v1-files-export-pdf-files-POST
      summary: "Exports one or more individual PDFs, or 2D views and sheets (from DWG or RVT files) as PDFs from the Forma files module"
      description: "Exports one or more individual PDFs, or 2D views and sheets (from DWG or RVT files) as PDFs from the Forma files module. All PDFs are packaged into a single ZIP file."
      parameters:
        - name: projectId
          in: path
          required: true
          description: "The ID of the project. Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You can use a project ID either with a “b.” prefix or without a “b.” prefix. For instance, a project ID of “b.a4be0c34a-4ab7” can also be referred to as “a4be0c34a-4ab7”."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: x-user-id
          in: header
          description: |-
            The ID of a user on whose behalf your API request is acting. Required if you’re using a 2-legged authentication context, which must be 2-legged OAuth2 security with user impersonation.
            The app has access to all users specified by the administrator in the SaaS integrations UI. By providing this header, the API call will be limited to act on behalf of only the user specified.

            You can use either the user’s Forma ID (id), or their Autodesk ID (autodeskId).
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "202":
          description: Accepted
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the PDF export job."
                  status:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The status of the PDF export job.
                      Possible values: successful, processing, failed
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "422":
          description: "Unprocessable Entity"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/v1-files-export-pdf-files-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                options:
                  type: object
                  x-forma-type: object
                  description: |-
                    The criteria for the markups and links to include with the exported files.
                    Note that unpublished markups are those visible only to their creator.
                  properties:
                    outputFileName:
                      type: string
                      x-forma-type: string
                      description: "The name of the file that will be produced by the export operation. This should not include the filename extension."
                    standardMarkups:
                      type: object
                      x-forma-type: object
                      description: |-
                        The options for which standard markups and associated links to export.
                        No markups or links will be exported if all options are set to false.
                      properties:
                        includePublishedMarkups:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            true: (Default) Include all published standard markups in the exported files. Note that published markups are visible to all project members.
                            false: Export files without including any published standard markups.
                        includeUnpublishedMarkups:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            true: (Default) Include in the exported files all standard markups that are only visible to their creators.
                            false: Export files without including unpublished markups.
                        includeMarkupLinks:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            true: Include with each exported file the supported type reference links added to its markups. Supported links are links to Sheets, Files, RFIs, Forms, Submittals, and Assets.
                            false: (Default) Export files without any reference links.

                            Note that this parameter will be treated as false if the values of includePublishedMarkups and includeUnpublishedMarkups are both false.
                    issueMarkups:
                      type: object
                      x-forma-type: object
                      description: |-
                        The options for which Issues markups to export.
                        No Issues markups will be exported if both options are set to false.
                      properties:
                        includePublishedMarkups:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            true: Include all published Issues markups in the exported files.
                            false: (Default) Export files without including any published Issues markups.
                        includeUnpublishedMarkups:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            true: Include in the exported files all Issues markups that are only visible to their creators or assignees.
                            false: (default) Export files without including any unpublished Issues markups.
                    photoMarkups:
                      type: object
                      x-forma-type: object
                      description: |-
                        The options for which Photos markups to export.
                        No Photos markups will be exported if both options are set to false.
                      properties:
                        includePublishedMarkups:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            true: Include all published Photos markups in the exported files.
                            false: (Default) Export files without including any published Photos markups.
                        includeUnpublishedMarkups:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            true: Include in the exported files all Photos markups that are only visible to their creators or assignees.
                            false: (default) Export files without including any unpublished Photos markups.
                fileVersions:
                  type: array
                  items:
                    type: string
                  x-forma-type: "array: string"
                  description: "A list of file version URNs. A maximum of 200 files may be included."
              required:
                - fileVersions
  "/construction/packages/v1/projects/{projectId}/packages/{packageId}/resources":
    get:
      operationId: packages-list-package-resources-GET
      summary: "Retrieves a list of file versions (“resources”) within a specified package"
      description: "Retrieves a list of file versions (“resources”) within a specified package."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            You can retrieve the project ID using the Data Management API. For more details, see the Retrieve a Project ID tutorial.

            You may provide the project ID with or without the b. prefix:

            - With prefix: b.657a5565-09b7-48e0-bd03-acacfe42efaf

            - Without prefix: 657a5565-09b7-48e0-bd03-acacfe42efaf
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: packageId
          in: path
          required: true
          description: |-
            The ID of the package.
            To find the package ID, call GET packages.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: limit
          in: query
          description: |-
            The number of resources to return in the response payload.
            Possible values: 1-1000. Default: 200. For example: limit=2.
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: |-
            The number of resources that you want to begin retrieving results from.
            Default: 0. For example: offset=10.
          schema:
            type: integer
            x-forma-type: int
        - name: "filter[fileType]"
          in: query
          description: |-
            Filter by file type. This can be a single value or a comma-separated list of values.
            For example: filter[fileType]=pdf,rvt. Refer to Supported Files for more details.
          schema:
            type: string
            x-forma-type: string
        - name: "filter[version]"
          in: query
          description: |-
[...]
