openapi: "3.1.0"
info:
  title: "Forma APIs — Hub Admin"
  version: v1
  description: |-
    Forma APIs — Hub Admin.
    Autodesk 문서에서 자동 추출됨. 원본: https://aps.autodesk.com/en/docs/acc/v1
    **리전 — 호출 전 반드시 확인** 리전은 완전히 분리되어 있고 리소스 식별자가 호환되지 않습니다. ⚠️ **헤더 이름이 그룹마다 다릅니다.** Hub Admin 은 `Region`, Issues 는 `x-ads-region` 입니다. 이 문서의 "헤더" 표에 적힌 이름을 그대로 쓰세요. 통일해서 보내면 안 됩니다. 미지정 시 자동 라우팅되며 지연이 늘 수 있습니다. 자세한 판정은 `_errata` E-003 참고.
servers:
  - url: "https://developer.api.autodesk.com"
x-forma-group: "Hub Admin"
paths:
  "/construction/admin/v1/accounts/{accountId}/companies":
    get:
      operationId: companies-GET
      summary: "Returns a list of companies in a hub"
      description: "Returns a list of companies in a hub."
      parameters:
        - name: accountId
          in: path
          required: true
          description: "The ID of the hub that contains the projects. This corresponds to the hub ID used in the Data Management API, with the “b.\" prefix removed. For example, b.c8b0c73d-3ae9 becomes c8b0c73d-3ae9."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: "filter[name]"
          in: query
          description: |-
            Filter companies by name. Can be a partial match based on the value of filterTextMatch provided.
            Max length: 255
          schema:
            type: string
            x-forma-type: string
        - name: "filter[trade]"
          in: query
          description: |-
            Filter companies by trade. Can be a partial match based on the value of filterTextMatch provided.
            Max length: 255
          schema:
            type: string
            x-forma-type: string
        - name: "filter[erpId]"
          in: query
          description: |-
            Filter companies by ERP Id. Can be a partial match based on the value of filterTextMatch provided.
            Max length: 255
          schema:
            type: string
            x-forma-type: string
        - name: "filter[taxId]"
          in: query
          description: |-
            Filter companies by tax Id. Can be a partial match based on the value of filterTextMatch provided.
            Max length: 255
          schema:
            type: string
            x-forma-type: string
        - name: "filter[updatedAt]"
          in: query
          description: |-
            Filter companies by updated at date range. The range must be specified with dates in an ISO-8601 format with time required. The start and end dates of the range should be separated by .. One of the dates in the range may be omitted. For example, to get everything on or before June 1, 2019 the range would be ..2019-06-01T23:59:59.999Z. To get everything after June 1, 2019 the range would be 2019-06-01T00:00:00.000Z...
            Max length: 100
          schema:
            type: string
            x-forma-type: string
        - name: "filter[status]"
          in: query
          description: "Filters companies by status. Possible values: active, inactive, all. Defaults to active."
          schema:
            type: string
            x-forma-type: "enum:string"
        - name: orFilters
          in: query
          description: "List of filtered fields to apply an “or” operator. Valid list of fields are erpId, name, taxId, trade, updatedAt."
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: filterTextMatch
          in: query
          description: |-
            Specifies how text-based filters should match values in supported fields.
            This parameter can be used in any endpoint that supports text-based filtering (e.g., filter[name], filter[jobNumber], filter[companyName], etc.).

            Possible values:

            contains (default) – Matches if the field contains the specified text anywhere

            startsWith – Matches if the field starts with the specified text

            endsWith – Matches if the field ends with the specified text

            equals – Matches only if the field exactly matches the specified text

            Matching is case-insensitive.

            Wildcards and regular expressions are not supported.
          schema:
            type: string
            x-forma-type: "enum:string"
        - name: sort
          in: query
          description: "The list of fields to sort by. When multiple fields are listed the later property is used to sort the resources where the previous fields have the same value. Each property can be followed by a direction modifier of either asc (ascending) or desc (descending). If no direction is specified then asc is assumed. Valid fields for sorting are name, trade, erpId, taxId, status, createdAt, updatedAt, projectSize and userSize. Default sort is name."
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: fields
          in: query
          description: "List of fields to return in the response. Defaults to all fields. Valid list of fields are accountId, name, trade, addresses, websiteUrl, description, erpId, taxId, imageUrl, status, createdAt, updatedAt, projectSize, userSize and originalName."
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: limit
          in: query
          description: |-
            The maximum number of records to return in the response.
            Default: 20

            Minimum: 1

            Maximum: 200 (If a larger value is provided, only 200 records are returned)
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: |-
            The index of the first record to return.
            Used for pagination in combination with the limit parameter.

            Example: limit=20 and offset=40 returns records 41–60.
          schema:
            type: integer
            x-forma-type: int
        - name: Region
          in: header
          description: |-
            Specifies the region where your request should be routed. If not set, the request is routed automatically, which may result in a slight increase in latency.
            Possible values: US, EMEA. For a complete list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
        - name: User-Id
          in: header
          description: |-
            The ID of a user on whose behalf your request is acting.
            Your app has access to all users specified by the administrator in the SaaS integrations UI. Provide this header value to identify the user to be affected by the request.

            You can use either the user’s Forma ID (id), or their Autodesk ID (autodeskId).

            Note that this header is required for hub Admin POST, PATCH, and DELETE endpoints if you want to use a 2-legged authentication context. This header is optional for hub Admin GET endpoints.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "account:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "Contains pagination details for the records returned by the endpoint."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The maximum number of records returned per page. The last page may contain fewer records than the specified limit."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The index of the first record in the returned page. Used for pagination."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The total number of records matching the request."
                      nextUrl:
                        type: string
                        x-forma-type: string
                        description: |-
                          The URL for the next page of records, if more results are available. Max length: 2000 characters.
                          Max length: 2000
                      previousUrl:
                        type: string
                        x-forma-type: string
                        description: |-
                          The URL for the previous page of records, if applicable. Max length: 2000 characters.
                          Max length: 2000
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "Id of the company."
                        accountId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The identifier of the hub this company is associated with."
                        name:
                          type: string
                          x-forma-type: string
                          description: |-
                            The name of the company. The company name should be unique under a hub.
                            Max length: 255
                        trade:
                          type: string
                          x-forma-type: string
                          description: |-
                            Trade or company type based on specialization.
                            Max length: 255
                        addresses:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                x-forma-type: "enum:string"
                                description: "The address type. Will always be: Main"
                              addressLine1:
                                type: string
                                x-forma-type: string
                                description: |-
                                  The street address line 1.
                                  Max length: 255
                              addressLine2:
                                type: string
                                x-forma-type: string
                                description: |-
                                  The street address line 2.
                                  Max length: 255
                              city:
                                type: string
                                x-forma-type: string
                                description: |-
                                  City.
                                  Max length: 255
                              stateOrProvince:
                                x-forma-type: "null,string"
                                description: |-
                                  The state or province location. Only valid state/province names and ISO 3166-2 alpha-2 codes will be accepted. The provided state or province must exist in the provided country.
                                  Max length: 255
                              postalCode:
                                type: string
                                x-forma-type: string
                                description: |-
                                  The zip or postal code in which this address is located.
                                  Max length: 255
                              country:
                                x-forma-type: "null,string"
                                description: |-
                                  Only valid country names and ISO 3166-1 alpha-2 codes will be accepted.
                                  Max length: 255
                              phone:
                                type: string
                                x-forma-type: string
                                description: |-
                                  Phone Number.
                                  Max length: 255
                          x-forma-type: "array: object"
                          description: "The company addresses."
                        websiteUrl:
                          type: string
                          x-forma-type: string
                          description: |-
                            The URL of the company website.
                            Max length: 255
                        description:
                          type: string
                          x-forma-type: string
                          description: |-
                            The description of the company.
                            Max length: 255
                        erpId:
                          type: string
                          x-forma-type: string
                          description: |-
                            The ERP Partner Company ID.
                            Max length: 255
                        taxId:
                          type: string
                          x-forma-type: string
                          description: |-
                            The Tax ID.
                            Max length: 255
                        imageUrl:
                          type: string
                          x-forma-type: string
                          description: |-
                            The URL of the image associated to the company.
                            Max length: 255
                        status:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The status of the company.
                            Possible values: deleted, active
                        createdAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The timestamp when this company was created."
                        updatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The timestamp when this company was last updated. This will only reflect changes to the company fields and not changes to any resources in the company."
                        originalName:
                          x-forma-type: "null,string"
                          description: "Original name of the company. Only returned when a company is deleted, since, in this case, the company “name” will be updated to “removed at MMDDYYYY”."
                        projectSize:
                          type: integer
                          x-forma-type: int
                          description: "The number of projects associated with the company."
                        userSize:
                          type: integer
                          x-forma-type: int
                          description: "The number of users that are associated with the company."
                    x-forma-type: "array: object"
                    description: "The requested page of companies."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "406":
          description: "Not Acceptable"
        "410":
          description: "Access to the target resource is no longer available."
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "503":
          description: "Service Unavailable"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "account:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/companies-GET"
  "/construction/admin/v1/accounts/{accountId}/projects":
    get:
      operationId: admin-accounts-accountidprojects-GET
      summary: "Retrieves a list of the projects in the specified hub"
      description: "Retrieves a list of the projects in the specified hub. If the user is a hub admin or executive then all projects are returned; otherwise only projects that the user is assigned to are returned."
      parameters:
        - name: accountId
          in: path
          required: true
          description: "The ID of the hub that contains the projects. This corresponds to the hub ID used in the Data Management API, with the “b.\" prefix removed. For example, b.c8b0c73d-3ae9 becomes c8b0c73d-3ae9."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: fields
          in: query
          description: |-
            A comma-separated list of the project fields to include in the response. Default value: all fields.
            Possible values: accountId, addressLine1, addressLine2, businessUnitId, city, companyCount, constructionType, country, createdAt, deliveryMethod, endDate, imageUrl, jobNumber, lastSignIn, latitude, longitude, memberCount, name, platform, postalCode, products, projectValue, sheetCount, startDate, stateOrProvince, status, thumbnailImageUrl, timezone, type and updatedAt.
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: "filter[classification]"
          in: query
          description: |-
            Filters projects by classification. Possible values:
            production – Standard production projects.
            template – Project templates that can be cloned to create production projects.
            component – Placeholder projects that contain standardized components (e.g., forms) for use across projects. Only one component project is permitted per hub. Known as a library in the Forma unified products UI.
            sample – The single sample project automatically created upon Forma trial setup. Only one sample project is permitted per hub.

            Max length: 255
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: "filter[platform]"
          in: query
          description: |-
            Filters by platform. Possible values: acc (Forma) and bim360 (BIM 360).
            Max length: 255
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: "filter[products]"
          in: query
          description: |-
            A comma-separated list of the products that the returned projects must use. Only projects that use one or more of the listed products are returned.
            Note that every product that can be used in a project on the same platform (Forma or BIM 360) is activated for the project. All products associated with the project are returned in the response.

            Some products are exclusive to Forma or to BIM 360, others are available on both platforms. Specify only the products on the appropriate platform for the projects you want to retrieve.

            Possible Forma values: accountAdministration, autoSpecs, build, buildingConnected, capitalPlanning, cloudWorksharing, cost, designCollaboration, docs, financials, insight, modelCoordination, projectAdministration, takeoff, and workshopxr.

            Possible BIM 360 values: accountAdministration, assets, cloudWorksharing, costManagement, designCollaboration, documentManagement, field, fieldManagement, glue, insight, modelCoordination, plan, projectAdministration, projectHome, projectManagement, and quantification.
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: "filter[name]"
          in: query
          description: |-
            Filters projects by name. Supports partial matches when used with filterTextMatch. For example filter[name]=ABCco&filterTextMatch=startsWith returns projects whose names start with “ABCco”.
            Max length: 255
          schema:
            type: string
            x-forma-type: string
        - name: "filter[type]"
          in: query
          description: |-
            Filters by project type. To exclude a type, prefix it with - (e.g., -Bridge excludes bridge projects).
            Possible values: Airport, Assisted Living / Nursing Home, Bridge, Canal / Waterway, Convention Center, Court House, Data Center, Dams / Flood Control / Reservoirs, Demonstration Project, Dormitory, Education Facility, Government Building, Harbor / River Development, Hospital, Hotel / Motel, Library, Manufacturing / Factory, Medical Laboratory, Medical Office, Military Facility, Mining Facility, Multi-Family Housing, Museum, Oil & Gas,``Plant``, Office, OutPatient Surgery Center, Parking Structure / Garage, Performing Arts, Power Plant, Prison / Correctional Facility, Rail, Recreation Building, Religious Building, Research Facility / Laboratory, Restaurant, Retail, Seaport, Single-Family Housing, Solar Farm, Stadium/Arena, Streets / Roads / Highways, Template Project, Theme Park, Training Project, Transportation Building, Tunnel, Utilities, Warehouse (non-manufacturing), Waste Water / Sewers, Water Supply, Wind Farm.
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: "filter[status]"
          in: query
          description: "Filters projects by status. Possible values: active, pending, archived, suspended."
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: "filter[businessUnitId]"
          in: query
          description: |-
            The ID of the business unit that returned projects must be associated with.
            Note that you can obtain this ID value by calling the GET business_units_structure endpoint to retrieve a list of business units. Use the id field of the returned business unit that you want to filter by.

            Max length: 255
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: "filter[jobNumber]"
          in: query
          description: |-
            Filters by a user-defined project identifier. Supports partial matches when used with filterTextMatch. For example, filter[jobNumber]=HP-0002&filterTextMatch=equals returns projects where the job number is exactly “HP-0002”.
            Max length: 255
          schema:
            type: string
            x-forma-type: string
        - name: "filter[updatedAt]"
          in: query
          description: |-
            Filters projects updated within a specific date range in ISO 8601 format. For example:
            Date range: 2023-03-02T00:00:00.000Z..2023-03-03T23:59:59 .999Z
            Specific start date: 2023-03-02T00:00:00.000Z..
            Specific end date: ..2023-03-02T23:59:59.999Z

            For more details, see JSON API Filtering.

            Max length: 100
          schema:
            type: string
            x-forma-type: string
        - name: filterTextMatch
          in: query
          description: |-
            Specifies how text-based filters should match values in supported fields.
            This parameter can be used in any endpoint that supports text-based filtering (e.g., filter[name], filter[jobNumber], filter[companyName], etc.).

            Possible values:

            contains (default) – Matches if the field contains the specified text anywhere

            startsWith – Matches if the field starts with the specified text

            endsWith – Matches if the field ends with the specified text

            equals – Matches only if the field exactly matches the specified text

            Matching is case-insensitive.

            Wildcards and regular expressions are not supported.
          schema:
            type: string
            x-forma-type: "enum:string"
        - name: sort
          in: query
          description: |-
            Sorts results by specified fields. Multiple fields can be used in order of priority. Each field can be followed by asc (ascending) or desc (descending). Default: asc.
            For example, sort=name,createdAt desc sorts projects by name, then by creation date (newest first).

            Possible values: name (the default), startDate, endDate, type, status, jobNumber, constructionType, deliveryMethod, contractType, currentPhase, companyCount, memberCount, createdAt and updatedAt.
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: limit
          in: query
          description: |-
            The maximum number of records to return in the response.
            Default: 20

            Minimum: 1

            Maximum: 200 (If a larger value is provided, only 200 records are returned)
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: |-
            The index of the first record to return.
            Used for pagination in combination with the limit parameter.

            Example: limit=20 and offset=40 returns records 41–60.
          schema:
            type: integer
            x-forma-type: int
        - name: Region
          in: header
          description: |-
            Specifies the region where your request should be routed. If not set, the request is routed automatically, which may result in a slight increase in latency.
            Possible values: US, EMEA. For a complete list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
        - name: User-Id
          in: header
          description: |-
            The ID of a user on whose behalf your request is acting.
            Your app has access to all users specified by the administrator in the SaaS integrations UI. Provide this header value to identify the user to be affected by the request.

            You can use either the user’s Forma ID (id), or their Autodesk ID (autodeskId).

            Note that this header is required for hub Admin POST, PATCH, and DELETE endpoints if you want to use a 2-legged authentication context. This header is optional for hub Admin GET endpoints.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "account:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "Contains pagination details for the records returned by the endpoint."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The maximum number of records returned per page. The last page may contain fewer records than the specified limit."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The index of the first record in the returned page. Used for pagination."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The total number of records matching the request."
                      nextUrl:
                        type: string
                        x-forma-type: string
                        description: |-
                          The URL for the next page of records, if more results are available. Max length: 2000 characters.
                          Max length: 2000
                      previousUrl:
                        type: string
                        x-forma-type: string
                        description: |-
                          The URL for the previous page of records, if applicable. Max length: 2000 characters.
                          Max length: 2000
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The internally generated ID for the project."
                        name:
                          type: string
                          x-forma-type: string
                          description: |-
                            The name of the project.
                            Max length: 255
                        startDate:
                          x-forma-type: "null,string"
                          description: "The estimated start date for the project, in ISO 8601 format."
                        endDate:
                          x-forma-type: "null,string"
                          description: "The estimated end date for the project, in ISO 8601 format."
                        type:
                          type: string
                          x-forma-type: string
                          description: |-
                            The type of the project. Any value is accepted, but the following are recommended:
                            Possible values: Convention Center, Data Center, Hotel / Motel, Office, Parking Structure / Garage, Performing Arts, Restaurant, Retail, Stadium / Arena, Theme Park, Warehouse (non-manufacturing), Assisted Living / Nursing Home, Hospital, Medical Laboratory, Medical Office, OutPatient Surgery Center, Court House, Dormitory, Education Facility, Government Building, Library, Military Facility, Museum, Prison / Correctional Facility, Recreation Building, Religious Building, Research Facility / Laboratory, Multi-Family Housing, Single-Family Housing, Airport, Bridge, Canal / Waterway, Dams / Flood Control / Reservoirs, Harbor / River Development, Rail, Seaport, Streets / Roads / Highways, Transportation Building, Tunnel, Waste Water / Sewers, Water Supply, Manufacturing / Factory, Mining Facility, Oil & Gas, Plant, Power Plant, Solar Farm, Utilities, Wind Farm, Demonstration Project, Template Project and Training Project.

                            Max length: 255
                        classification:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The classification of the project. Possible values:

                            - production – Standard project.

                            - template – A project that serves as a template for creating new projects.

                            - component – A placeholder project containing reusable components (e.g., forms). Only one component project is allowed per hub. Known as a library in the Forma UI.

                            - sample – A single sample project automatically created for Forma trials (limited to one per hub).
                        projectValue:
                          type: object
                          x-forma-type: object
                          description: "Contains details about the estimated cost of the project, including the amount (value) and the currency (currency)."
                          properties:
                            value:
                              type: number
                              x-forma-type: number
                              description: "The estimated cost of the project, based on the currency specified in the currency field. Default: 0."
                            currency:
                              type: string
                              x-forma-type: "enum:string"
                              description: |-
                                The currency of the project value. Default: USD.
                                Possible values: AED, AFN, ALL, AMD, ANG, AOA, ARS, AUD, AWG, AZN, BAM, BBD, BDT, BGN, BHD, BIF, BMD, BND, BOB, BOV, BRL, BSD, BTN, BWP, BYN, BYR, BZD, CAD, CDF, CHE, CHF, CHW, CLF, CLP, CNY, COP, COU, CRC, CUC, CUP, CVE, CZK, DJF, DKK, DOP, DZD, EEK, EGP, ERN, ETB, EUR, FJD, FKP, GBP, GEL, GHS, GIP, GMD, GNF, GTQ, GYD, HKD, HNL, HRK, HTG, HUF, IDR, ILS, INR, IQD, IRR, ISK, JMD, JOD, JPY, KES, KGS, KHR, KMF, KPW, KRW, KWD, KYD, KZT, LAK, LBP, LKR, LRD, LSL, LTL, LVL, LYD, MAD, MDL, MGA, MKD, MMK, MNT, MOP, MRU, MUR, MVR, MWK, MXN, MXV, MYR, MZN, NAD, NGN, NIO, NOK, NPR, NZD, OMR, PAB, PEN, PGK, PHP, PKR, PLN, PYG, QAR, RON, RSD, RUB, RWF, SAR, SBD, SCR, SDG, SEK, SGD, SHP, SLE, SLL, SOS, SRD, SSP, STN, SVC, SYP, SZL, THB, TJS, TMT, TND, TOP, TRL, TRY, TTD, TWD, TZS, UAH, UGX, USD, USN, UYI, UYU, UYW, UZS, VED, VES, VND, VUV, WST, XAF, XAG, XAU, XBA, XBB, XBC, XBD, XCD, XDR, XOF, XPD, XPF, XPT, XSU, XTS, XUA, XXX, YER, ZAR, ZMW, ZWL
                        status:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The status of the project.
                            Possible values: active, pending, archived and suspended.
                        jobNumber:
                          type: string
                          x-forma-type: string
                          description: |-
                            A user-defined identifier for the project. This value is assigned when the project is created and can be used to filter projects. It supports partial matches when used with filterTextMatch.
                            Max length: 100
                        addressLine1:
                          x-forma-type: "null,string"
                          description: |-
                            The first line of the project’s address.
                            Max length: 255
                        addressLine2:
                          x-forma-type: "null,string"
                          description: |-
                            Additional address details for the project location.
                            Max length: 255
                        city:
                          x-forma-type: "null,string"
                          description: |-
                            The city wher the project is located.
                            Max length: 255
                        stateOrProvince:
                          x-forma-type: "null,string"
                          description: |-
                            The state or province where the project is located. It must be a valid name or an ISO 3166-2 code. The provided state or province must exist in the country of the project.
                            Max length: 255
                        postalCode:
                          x-forma-type: "null,string"
                          description: |-
                            The postal or ZIP code of the project location.
                            Max length: 255
                        country:
                          x-forma-type: "null,string"
                          description: |-
                            The country where the project is located, using an ISO 3166-1 alpha-2 code.
                            Max length: 255
                        latitude:
                          x-forma-type: "null,string"
                          description: |-
                            The latitude coordinate of the project location.
                            Max length: 25
                        longitude:
                          x-forma-type: "null,string"
                          description: |-
                            The longitude coordinate of the project location.
                            Max length: 25
                        timezone:
                          x-forma-type: "null,string"
                          description: |-
                            The time zone where the project is located. It must be a valid IANA time zone name from the IANA Time Zone Database (e.g., America/New_York). If no time zone is set, this field may be null.
                            Possible values: Pacific/Honolulu, America/Juneau, America/Los_Angeles, America/Phoenix, America/Denver, America/Chicago, America/New_York, America/Indiana/Indianapolis, Pacific/Pago_Pago, Pacific/Midway, America/Tijuana, America/Chihuahua, America/Mazatlan, America/Guatemala, America/Mexico_City, America/Monterrey, America/Regina, America/Bogota, America/Lima, America/Caracas, America/Halifax, America/Guyana, America/La_Paz, America/Santiago, America/St_Johns, America/Sao_Paulo, America/Argentina/Buenos_Aires, America/Godthab, Atlantic/South_Georgia, Atlantic/Azores, Atlantic/Cape_Verde, Africa/Casablanca, Europe/Dublin, Europe/Lisbon, Europe/London, Africa/Monrovia, Etc/UTC, Europe/Amsterdam, Europe/Belgrade, Europe/Berlin, Europe/Bratislava, Europe/Brussels, Europe/Budapest, Europe/Copenhagen, Europe/Ljubljana, Europe/Madrid, Europe/Paris, Europe/Prague, Europe/Rome, Europe/Sarajevo, Europe/Skopje, Europe/Stockholm, Europe/Vienna, Europe/Warsaw, Africa/Algiers, Europe/Zagreb, Europe/Athens, Europe/Bucharest, Africa/Cairo, Africa/Harare, Europe/Helsinki, Europe/Istanbul, Asia/Jerusalem, Europe/Kiev, Africa/Johannesburg, Europe/Riga, Europe/Sofia, Europe/Tallinn, Europe/Vilnius, Asia/Baghdad, Asia/Kuwait, Europe/Minsk, Africa/Nairobi, Asia/Riyadh, Asia/Tehran, Asia/Muscat, Asia/Baku, Europe/Moscow, Asia/Tbilisi, Asia/Yerevan, Asia/Kabul, Asia/Karachi, Asia/Tashkent, Asia/Kolkata, Asia/Colombo, Asia/Kathmandu, Asia/Almaty, Asia/Dhaka, Asia/Yekaterinburg, Asia/Rangoon, Asia/Bangkok, Asia/Jakarta, Asia/Novosibirsk, Asia/Shanghai, Asia/Chongqing, Asia/Hong_Kong, Asia/Krasnoyarsk, Asia/Kuala_Lumpur, Australia/Perth, Asia/Singapore, Asia/Taipei, Asia/Ulaanbaatar, Asia/Urumqi, Asia/Irkutsk, Asia/Tokyo, Asia/Seoul, Australia/Adelaide, Australia/Darwin, Australia/Brisbane, Australia/Melbourne, Pacific/Guam, Australia/Hobart, Pacific/Port_Moresby, Australia/Sydney, Asia/Yakutsk, Pacific/Noumea, Asia/Vladivostok, Pacific/Auckland, Pacific/Fiji, Asia/Kamchatka, Asia/Magadan, Pacific/Majuro, Pacific/Guadalcanal, Pacific/Tongatapu, Pacific/Apia, Pacific/Fakaofo
                        constructionType:
                          type: string
                          x-forma-type: string
                          description: "The type of construction for the project. Recommended values: New Construction, Renovation. Any value is accepted."
                        deliveryMethod:
                          type: string
                          x-forma-type: string
                          description: "The method used to deliver the project. Recommended values include Design-Bid-Build, Construction Management (CM) at Risk, and Integrated Project Delivery (IPD). Any value is accepted."
                        contractType:
                          type: string
                          x-forma-type: string
                          description: "The type of contract for the project. For example, Lump Sum, Cost Plus, Guaranteed Maximum Price, Unit Price. Any value is accepted."
                        currentPhase:
                          type: string
                          x-forma-type: string
                          description: |-
                            The current phase of the project. Recommended values include, Concept, Design, Bidding, Planning, Preconstruction, Construction, Commissioning, Warranty, Complete, Facility Management, Operation, Strategic Definition, Preparation and Brief, Concept Design, Developed Design, Technical Design, Construction, Handover and Close Out and In Use.
                            Any value is accepted.
                        imageUrl:
                          type: string
                          x-forma-type: string
                          description: |-
                            The URL of the main image associated with the project. This field can be null.
                            Max length: 255
                        thumbnailImageUrl:
                          type: string
                          x-forma-type: string
                          description: |-
                            The URL of the project’s thumbnail image. This field can be null.
                            Max length: 255
                        createdAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The timestamp when the project was created, in ISO 8601 format. This value is set at creation and does not change."
                        updatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The timestamp when the project was last updated, in ISO 8601 format. This reflects changes to project fields but not updates to resources within the project."
                        accountId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The hub ID associated with the project."
                        sheetCount:
                          x-forma-type: "null,integer"
                          description: |-
                            The total number of sheets associated with the project.
                            Note that this field is relevant only in responses. It is ignored in requests.
                        platform:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The APS platform where the project is stored. Possible values: acc, bim360.
                            Note that this field is relevant only in responses. It is ignored in requests.
                        businessUnitId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the business unit that the project is associated with."
                        lastSignIn:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The timestamp of the last time someone signed into the project."
                        memberGroupId:
                          type: string
                          x-forma-type: string
                          description: |-
                            Not relevant
                            Max length: 25
                        adminGroupId:
                          type: string
                          x-forma-type: string
                          description: |-
                            Not relevant
                            Max length: 25
                        products:
                          type: array
                          x-forma-type: array
                          description: |-
                            An array of the product objects associated with the project.
                            Note that this array is relevant only in responses. It is ignored in requests.

                            When a project is created, every product in the same hub as the project is activated for the project. You can call PATCH users/:userId to separately activate one or more of the returned products for each user assigned to the project.
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                x-forma-type: "enum:string"
                                description: |-
                                  A machine-readable identifier for the product (e.g., docs, build).
                                  Each product has a unique key used throughout the API for identification, filtering, and integration logic (e.g., in query parameters like filter[key]).

                                  Possible values:
                                  Forma - autoSpecs, build, cost, designCollaboration, docs, insight, modelCoordination, projectAdministration, and takeoff.

                                  BIM 360 - assets, costManagement, designCollaboration, documentManagement, field, fieldManagement, glue, insight, modelCoordination, plan, projectAdministration, projectHome, projectManagement, and quantification.

                                  Note that this endpoint returns only Forma products. Other endpoints, such as GET projects and GET projects/:projectId, may return both Forma and BIM 360 projects. In those responses, product keys may include BIM 360 values.
                              icon:
                                type: string
                                x-forma-type: string
                                description: "The URL of the icon associated with the product."
                              name:
                                type: string
                                x-forma-type: string
                                description: "The name of the product."
                              language:
                                type: string
                                x-forma-type: "enum:string"
                                description: |-
                                  The language for the project. Only valid for the field product.
                                  Possible values: en, de, nl, zh, de-CH
                              status:
                                type: string
                                x-forma-type: "enum:string"
                                description: |-
                                  The current status of the product. Possible values:

                                  - activating: Product activation is in progress.

                                  - activationFailed: Product activation has failed.

                                  - active: Product activation is completed.

                                  - deactivating: Product deactivation is in progress. (Applicable to BIM 360 only)

                                  - deactivationFailed: Product deactivation has failed. (Applicable to BIM 360 only)

                                  - inactive: Product deactivation is completed. (Applicable to BIM 360 only)

                                  - available: Product is available for activation. (Applicable to BIM 360 only)
                        companyCount:
                          type: integer
                          x-forma-type: int
                          description: |-
                            The total number of companies associated with the project.
                            Note that this field is relevant only in responses. It is ignored in requests.
                        memberCount:
                          type: integer
                          x-forma-type: int
                          description: |-
                            The total number of members on the project.
                            Note that this field is relevant only in responses. It is ignored in requests.
                        templateId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the project that was used as a template to create this project."
                    x-forma-type: "array: object"
                    description: "The requested page of projects."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "406":
          description: "Not Acceptable"
        "410":
          description: "Access to the target resource is no longer available."
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "503":
          description: "Service Unavailable"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "account:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/admin-accounts-accountidprojects-GET"
    post:
      operationId: admin-accounts-accountidprojects-POST
      summary: "Creates a new project in the specified hub"
      description: "Creates a new project in the specified hub. You can create the project directly, or clone it from a project template."
      parameters:
        - name: accountId
          in: path
          required: true
          description: "The ID of the hub that contains the projects. This corresponds to the hub ID used in the Data Management API, with the “b.\" prefix removed. For example, b.c8b0c73d-3ae9 becomes c8b0c73d-3ae9."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: Region
          in: header
          description: |-
            Specifies the region where your request should be routed. If not set, the request is routed automatically, which may result in a slight increase in latency.
            Possible values: US, EMEA. For a complete list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
        - name: User-Id
          in: header
          description: |-
            The ID of a user on whose behalf your request is acting.
            Your app has access to all users specified by the administrator in the SaaS integrations UI. Provide this header value to identify the user to be affected by the request.

            You can use either the user’s Forma ID (id), or their Autodesk ID (autodeskId).

            Note that this header is required for hub Admin POST, PATCH, and DELETE endpoints if you want to use a 2-legged authentication context. This header is optional for hub Admin GET endpoints.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "account:write"
      responses:
        "202":
          description: Accepted
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The internally generated ID for the project."
                  name:
                    type: string
                    x-forma-type: string
                    description: |-
                      The name of the project.
                      Max length: 255
                  startDate:
                    x-forma-type: "null,string"
                    description: "The estimated start date for the project, in ISO 8601 format."
                  endDate:
                    x-forma-type: "null,string"
                    description: "The estimated end date for the project, in ISO 8601 format."
                  type:
                    type: string
                    x-forma-type: string
                    description: |-
                      The type of the project. Any value is accepted, but the following are recommended:
                      Possible values: Convention Center, Data Center, Hotel / Motel, Office, Parking Structure / Garage, Performing Arts, Restaurant, Retail, Stadium / Arena, Theme Park, Warehouse (non-manufacturing), Assisted Living / Nursing Home, Hospital, Medical Laboratory, Medical Office, OutPatient Surgery Center, Court House, Dormitory, Education Facility, Government Building, Library, Military Facility, Museum, Prison / Correctional Facility, Recreation Building, Religious Building, Research Facility / Laboratory, Multi-Family Housing, Single-Family Housing, Airport, Bridge, Canal / Waterway, Dams / Flood Control / Reservoirs, Harbor / River Development, Rail, Seaport, Streets / Roads / Highways, Transportation Building, Tunnel, Waste Water / Sewers, Water Supply, Manufacturing / Factory, Mining Facility, Oil & Gas, Plant, Power Plant, Solar Farm, Utilities, Wind Farm, Demonstration Project, Template Project and Training Project.

                      Max length: 255
                  classification:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The classification of the project. Possible values:

                      - production – Standard project.

                      - template – A project that serves as a template for creating new projects.

                      - component – A placeholder project containing reusable components (e.g., forms). Only one component project is allowed per hub. Known as a library in the Forma UI.

                      - sample – A single sample project automatically created for Forma trials (limited to one per hub).
                  projectValue:
                    type: object
                    x-forma-type: object
                    description: "Contains details about the estimated cost of the project, including the amount (value) and the currency (currency)."
                    properties:
                      value:
                        type: number
                        x-forma-type: number
                        description: "The estimated cost of the project, based on the currency specified in the currency field. Default: 0."
                      currency:
                        type: string
                        x-forma-type: "enum:string"
                        description: |-
                          The currency of the project value. Default: USD.
                          Possible values: AED, AFN, ALL, AMD, ANG, AOA, ARS, AUD, AWG, AZN, BAM, BBD, BDT, BGN, BHD, BIF, BMD, BND, BOB, BOV, BRL, BSD, BTN, BWP, BYN, BYR, BZD, CAD, CDF, CHE, CHF, CHW, CLF, CLP, CNY, COP, COU, CRC, CUC, CUP, CVE, CZK, DJF, DKK, DOP, DZD, EEK, EGP, ERN, ETB, EUR, FJD, FKP, GBP, GEL, GHS, GIP, GMD, GNF, GTQ, GYD, HKD, HNL, HRK, HTG, HUF, IDR, ILS, INR, IQD, IRR, ISK, JMD, JOD, JPY, KES, KGS, KHR, KMF, KPW, KRW, KWD, KYD, KZT, LAK, LBP, LKR, LRD, LSL, LTL, LVL, LYD, MAD, MDL, MGA, MKD, MMK, MNT, MOP, MRU, MUR, MVR, MWK, MXN, MXV, MYR, MZN, NAD, NGN, NIO, NOK, NPR, NZD, OMR, PAB, PEN, PGK, PHP, PKR, PLN, PYG, QAR, RON, RSD, RUB, RWF, SAR, SBD, SCR, SDG, SEK, SGD, SHP, SLE, SLL, SOS, SRD, SSP, STN, SVC, SYP, SZL, THB, TJS, TMT, TND, TOP, TRL, TRY, TTD, TWD, TZS, UAH, UGX, USD, USN, UYI, UYU, UYW, UZS, VED, VES, VND, VUV, WST, XAF, XAG, XAU, XBA, XBB, XBC, XBD, XCD, XDR, XOF, XPD, XPF, XPT, XSU, XTS, XUA, XXX, YER, ZAR, ZMW, ZWL
                  status:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The status of the project.
                      Possible values: active, pending, archived and suspended.
                  jobNumber:
                    type: string
                    x-forma-type: string
                    description: |-
                      A user-defined identifier for the project. This value is assigned when the project is created and can be used to filter projects. It supports partial matches when used with filterTextMatch.
                      Max length: 100
                  addressLine1:
                    x-forma-type: "null,string"
                    description: |-
                      The first line of the project’s address.
                      Max length: 255
                  addressLine2:
                    x-forma-type: "null,string"
                    description: |-
                      Additional address details for the project location.
                      Max length: 255
                  city:
                    x-forma-type: "null,string"
                    description: |-
                      The city wher the project is located.
                      Max length: 255
                  stateOrProvince:
                    x-forma-type: "null,string"
                    description: |-
                      The state or province where the project is located. It must be a valid name or an ISO 3166-2 code. The provided state or province must exist in the country of the project.
                      Max length: 255
                  postalCode:
                    x-forma-type: "null,string"
                    description: |-
                      The postal or ZIP code of the project location.
                      Max length: 255
                  country:
                    x-forma-type: "null,string"
                    description: |-
                      The country where the project is located, using an ISO 3166-1 alpha-2 code.
                      Max length: 255
                  latitude:
                    x-forma-type: "null,string"
                    description: |-
                      The latitude coordinate of the project location.
                      Max length: 25
                  longitude:
                    x-forma-type: "null,string"
                    description: |-
                      The longitude coordinate of the project location.
                      Max length: 25
                  timezone:
                    x-forma-type: "null,string"
                    description: |-
                      The time zone where the project is located. It must be a valid IANA time zone name from the IANA Time Zone Database (e.g., America/New_York). If no time zone is set, this field may be null.
                      Possible values: Pacific/Honolulu, America/Juneau, America/Los_Angeles, America/Phoenix, America/Denver, America/Chicago, America/New_York, America/Indiana/Indianapolis, Pacific/Pago_Pago, Pacific/Midway, America/Tijuana, America/Chihuahua, America/Mazatlan, America/Guatemala, America/Mexico_City, America/Monterrey, America/Regina, America/Bogota, America/Lima, America/Caracas, America/Halifax, America/Guyana, America/La_Paz, America/Santiago, America/St_Johns, America/Sao_Paulo, America/Argentina/Buenos_Aires, America/Godthab, Atlantic/South_Georgia, Atlantic/Azores, Atlantic/Cape_Verde, Africa/Casablanca, Europe/Dublin, Europe/Lisbon, Europe/London, Africa/Monrovia, Etc/UTC, Europe/Amsterdam, Europe/Belgrade, Europe/Berlin, Europe/Bratislava, Europe/Brussels, Europe/Budapest, Europe/Copenhagen, Europe/Ljubljana, Europe/Madrid, Europe/Paris, Europe/Prague, Europe/Rome, Europe/Sarajevo, Europe/Skopje, Europe/Stockholm, Europe/Vienna, Europe/Warsaw, Africa/Algiers, Europe/Zagreb, Europe/Athens, Europe/Bucharest, Africa/Cairo, Africa/Harare, Europe/Helsinki, Europe/Istanbul, Asia/Jerusalem, Europe/Kiev, Africa/Johannesburg, Europe/Riga, Europe/Sofia, Europe/Tallinn, Europe/Vilnius, Asia/Baghdad, Asia/Kuwait, Europe/Minsk, Africa/Nairobi, Asia/Riyadh, Asia/Tehran, Asia/Muscat, Asia/Baku, Europe/Moscow, Asia/Tbilisi, Asia/Yerevan, Asia/Kabul, Asia/Karachi, Asia/Tashkent, Asia/Kolkata, Asia/Colombo, Asia/Kathmandu, Asia/Almaty, Asia/Dhaka, Asia/Yekaterinburg, Asia/Rangoon, Asia/Bangkok, Asia/Jakarta, Asia/Novosibirsk, Asia/Shanghai, Asia/Chongqing, Asia/Hong_Kong, Asia/Krasnoyarsk, Asia/Kuala_Lumpur, Australia/Perth, Asia/Singapore, Asia/Taipei, Asia/Ulaanbaatar, Asia/Urumqi, Asia/Irkutsk, Asia/Tokyo, Asia/Seoul, Australia/Adelaide, Australia/Darwin, Australia/Brisbane, Australia/Melbourne, Pacific/Guam, Australia/Hobart, Pacific/Port_Moresby, Australia/Sydney, Asia/Yakutsk, Pacific/Noumea, Asia/Vladivostok, Pacific/Auckland, Pacific/Fiji, Asia/Kamchatka, Asia/Magadan, Pacific/Majuro, Pacific/Guadalcanal, Pacific/Tongatapu, Pacific/Apia, Pacific/Fakaofo
                  constructionType:
                    type: string
                    x-forma-type: string
                    description: "The type of construction for the project. Recommended values: New Construction, Renovation. Any value is accepted."
                  deliveryMethod:
                    type: string
                    x-forma-type: string
                    description: "The method used to deliver the project. Recommended values include Design-Bid-Build, Construction Management (CM) at Risk, and Integrated Project Delivery (IPD). Any value is accepted."
                  contractType:
                    type: string
                    x-forma-type: string
                    description: "The type of contract for the project. For example, Lump Sum, Cost Plus, Guaranteed Maximum Price, Unit Price. Any value is accepted."
                  currentPhase:
                    type: string
                    x-forma-type: string
                    description: |-
                      The current phase of the project. Recommended values include, Concept, Design, Bidding, Planning, Preconstruction, Construction, Commissioning, Warranty, Complete, Facility Management, Operation, Strategic Definition, Preparation and Brief, Concept Design, Developed Design, Technical Design, Construction, Handover and Close Out and In Use.
                      Any value is accepted.
                  businessUnitId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the business unit that the project is associated with."
                  lastSignIn:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The timestamp of the last time someone signed into the project."
                  imageUrl:
                    type: string
                    x-forma-type: string
                    description: |-
                      The URL of the main image associated with the project. This field can be null.
                      Max length: 255
                  thumbnailImageUrl:
                    type: string
                    x-forma-type: string
                    description: |-
                      The URL of the project’s thumbnail image. This field can be null.
                      Max length: 255
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The timestamp when the project was created, in ISO 8601 format. This value is set at creation and does not change."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The timestamp when the project was last updated, in ISO 8601 format. This reflects changes to project fields but not updates to resources within the project."
                  memberGroupId:
                    type: string
                    x-forma-type: string
                    description: |-
                      Not relevant
                      Max length: 25
                  adminGroupId:
                    type: string
                    x-forma-type: string
                    description: |-
                      Not relevant
                      Max length: 25
                  accountId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The hub ID associated with the project."
                  sheetCount:
                    x-forma-type: "null,integer"
                    description: |-
                      The total number of sheets associated with the project.
                      Note that this field is relevant only in responses. It is ignored in requests.
                  products:
                    type: array
                    x-forma-type: array
                    description: |-
                      An array of the product objects associated with the project.
                      Note that this array is relevant only in responses. It is ignored in requests.

                      When a project is created, every product in the same hub as the project is activated for the project. You can call PATCH users/:userId to separately activate one or more of the returned products for each user assigned to the project.
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            A machine-readable identifier for the product (e.g., docs, build).
                            Each product has a unique key used throughout the API for identification, filtering, and integration logic (e.g., in query parameters like filter[key]).

                            Possible values:
                            Forma - autoSpecs, build, cost, designCollaboration, docs, insight, modelCoordination, projectAdministration, and takeoff.

                            BIM 360 - assets, costManagement, designCollaboration, documentManagement, field, fieldManagement, glue, insight, modelCoordination, plan, projectAdministration, projectHome, projectManagement, and quantification.

                            Note that this endpoint returns only Forma products. Other endpoints, such as GET projects and GET projects/:projectId, may return both Forma and BIM 360 projects. In those responses, product keys may include BIM 360 values.
                        icon:
                          type: string
                          x-forma-type: string
                          description: "The URL of the icon associated with the product."
                        name:
                          type: string
                          x-forma-type: string
                          description: "The name of the product."
                        language:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The language for the project. Only valid for the field product.
                            Possible values: en, de, nl, zh, de-CH
                        status:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The current status of the product. Possible values:

                            - activating: Product activation is in progress.

                            - activationFailed: Product activation has failed.

                            - active: Product activation is completed.

                            - deactivating: Product deactivation is in progress. (Applicable to BIM 360 only)

                            - deactivationFailed: Product deactivation has failed. (Applicable to BIM 360 only)

                            - inactive: Product deactivation is completed. (Applicable to BIM 360 only)

                            - available: Product is available for activation. (Applicable to BIM 360 only)
                  platform:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The APS platform where the project is stored. Possible values: acc, bim360.
                      Note that this field is relevant only in responses. It is ignored in requests.
                  companyCount:
                    type: integer
                    x-forma-type: int
                    description: |-
                      The total number of companies associated with the project.
                      Note that this field is relevant only in responses. It is ignored in requests.
                  memberCount:
                    type: integer
                    x-forma-type: int
                    description: |-
                      The total number of members on the project.
                      Note that this field is relevant only in responses. It is ignored in requests.
                  templateId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the project that was used as a template to create this project."
                  jobId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "Not relevant - we don’t currently support this field."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "410":
          description: "Access to the target resource is no longer available."
        "415":
          description: "The server refuses to accept the request because the payload format is in an unsupported format."
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "503":
          description: "Service Unavailable"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "account:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/admin-accounts-accountidprojects-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                name:
                  type: string
                  x-forma-type: string
                  description: |-
                    The name of the project.
                    Max length: 255
                startDate:
                  x-forma-type: "null,string"
                  description: "The estimated start date for the project, in ISO 8601 format."
                endDate:
                  x-forma-type: "null,string"
                  description: "The estimated end date for the project, in ISO 8601 format."
                type:
                  type: string
                  x-forma-type: string
                  description: |-
                    The type of the project. Any value is accepted, but the following are recommended:
                    Possible values: Convention Center, Data Center, Hotel / Motel, Office, Parking Structure / Garage, Performing Arts, Restaurant, Retail, Stadium / Arena, Theme Park, Warehouse (non-manufacturing), Assisted Living / Nursing Home, Hospital, Medical Laboratory, Medical Office, OutPatient Surgery Center, Court House, Dormitory, Education Facility, Government Building, Library, Military Facility, Museum, Prison / Correctional Facility, Recreation Building, Religious Building, Research Facility / Laboratory, Multi-Family Housing, Single-Family Housing, Airport, Bridge, Canal / Waterway, Dams / Flood Control / Reservoirs, Harbor / River Development, Rail, Seaport, Streets / Roads / Highways, Transportation Building, Tunnel, Waste Water / Sewers, Water Supply, Manufacturing / Factory, Mining Facility, Oil & Gas, Plant, Power Plant, Solar Farm, Utilities, Wind Farm, Demonstration Project, Template Project and Training Project.

                    Max length: 255
                classification:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    The classification of the project. Possible values:

                    - production – Standard project.

                    - template – A project that serves as a template for creating new projects.

                    - component – A placeholder project containing reusable components (e.g., forms). Only one component project is allowed per hub. Known as a library in the Forma UI.

                    - sample – A single sample project automatically created for Forma trials (limited to one per hub).
                projectValue:
                  type: object
                  x-forma-type: object
                  description: "Contains details about the estimated cost of the project, including the amount (value) and the currency (currency)."
                  properties:
                    value:
                      type: number
                      x-forma-type: number
                      description: "The estimated cost of the project, based on the currency specified in the currency field. Default: 0."
                    currency:
                      type: string
                      x-forma-type: "enum:string"
                      description: |-
                        The currency of the project value. Default: USD.
                        Possible values: AED, AFN, ALL, AMD, ANG, AOA, ARS, AUD, AWG, AZN, BAM, BBD, BDT, BGN, BHD, BIF, BMD, BND, BOB, BOV, BRL, BSD, BTN, BWP, BYN, BYR, BZD, CAD, CDF, CHE, CHF, CHW, CLF, CLP, CNY, COP, COU, CRC, CUC, CUP, CVE, CZK, DJF, DKK, DOP, DZD, EEK, EGP, ERN, ETB, EUR, FJD, FKP, GBP, GEL, GHS, GIP, GMD, GNF, GTQ, GYD, HKD, HNL, HRK, HTG, HUF, IDR, ILS, INR, IQD, IRR, ISK, JMD, JOD, JPY, KES, KGS, KHR, KMF, KPW, KRW, KWD, KYD, KZT, LAK, LBP, LKR, LRD, LSL, LTL, LVL, LYD, MAD, MDL, MGA, MKD, MMK, MNT, MOP, MRU, MUR, MVR, MWK, MXN, MXV, MYR, MZN, NAD, NGN, NIO, NOK, NPR, NZD, OMR, PAB, PEN, PGK, PHP, PKR, PLN, PYG, QAR, RON, RSD, RUB, RWF, SAR, SBD, SCR, SDG, SEK, SGD, SHP, SLE, SLL, SOS, SRD, SSP, STN, SVC, SYP, SZL, THB, TJS, TMT, TND, TOP, TRL, TRY, TTD, TWD, TZS, UAH, UGX, USD, USN, UYI, UYU, UYW, UZS, VED, VES, VND, VUV, WST, XAF, XAG, XAU, XBA, XBB, XBC, XBD, XCD, XDR, XOF, XPD, XPF, XPT, XSU, XTS, XUA, XXX, YER, ZAR, ZMW, ZWL
                  required:
                    - currency
                    - value
                jobNumber:
                  type: string
                  x-forma-type: string
                  description: |-
                    A user-defined identifier for the project. This value is assigned when the project is created and can be used to filter projects. It supports partial matches when used with filterTextMatch.
                    Max length: 100
                addressLine1:
                  x-forma-type: "null,string"
                  description: |-
                    The first line of the project’s address.
                    Max length: 255
                addressLine2:
                  x-forma-type: "null,string"
                  description: |-
                    Additional address details for the project location.
                    Max length: 255
                city:
                  x-forma-type: "null,string"
                  description: |-
                    The city wher the project is located.
                    Max length: 255
                stateOrProvince:
                  x-forma-type: "null,string"
                  description: |-
                    The state or province where the project is located. It must be a valid name or an ISO 3166-2 code. The provided state or province must exist in the country of the project.
                    Max length: 255
                postalCode:
                  x-forma-type: "null,string"
                  description: |-
                    The postal or ZIP code of the project location.
                    Max length: 255
                country:
                  x-forma-type: "null,string"
                  description: |-
                    The country where the project is located, using an ISO 3166-1 alpha-2 code.
                    Max length: 255
                latitude:
                  x-forma-type: "null,string"
                  description: |-
                    The latitude coordinate of the project location.
                    Max length: 25
                longitude:
                  x-forma-type: "null,string"
                  description: |-
                    The longitude coordinate of the project location.
                    Max length: 25
                timezone:
                  x-forma-type: "null,string"
                  description: |-
                    The time zone where the project is located. It must be a valid IANA time zone name from the IANA Time Zone Database (e.g., America/New_York). If no time zone is set, this field may be null.
                    Possible values: Pacific/Honolulu, America/Juneau, America/Los_Angeles, America/Phoenix, America/Denver, America/Chicago, America/New_York, America/Indiana/Indianapolis, Pacific/Pago_Pago, Pacific/Midway, America/Tijuana, America/Chihuahua, America/Mazatlan, America/Guatemala, America/Mexico_City, America/Monterrey, America/Regina, America/Bogota, America/Lima, America/Caracas, America/Halifax, America/Guyana, America/La_Paz, America/Santiago, America/St_Johns, America/Sao_Paulo, America/Argentina/Buenos_Aires, America/Godthab, Atlantic/South_Georgia, Atlantic/Azores, Atlantic/Cape_Verde, Africa/Casablanca, Europe/Dublin, Europe/Lisbon, Europe/London, Africa/Monrovia, Etc/UTC, Europe/Amsterdam, Europe/Belgrade, Europe/Berlin, Europe/Bratislava, Europe/Brussels, Europe/Budapest, Europe/Copenhagen, Europe/Ljubljana, Europe/Madrid, Europe/Paris, Europe/Prague, Europe/Rome, Europe/Sarajevo, Europe/Skopje, Europe/Stockholm, Europe/Vienna, Europe/Warsaw, Africa/Algiers, Europe/Zagreb, Europe/Athens, Europe/Bucharest, Africa/Cairo, Africa/Harare, Europe/Helsinki, Europe/Istanbul, Asia/Jerusalem, Europe/Kiev, Africa/Johannesburg, Europe/Riga, Europe/Sofia, Europe/Tallinn, Europe/Vilnius, Asia/Baghdad, Asia/Kuwait, Europe/Minsk, Africa/Nairobi, Asia/Riyadh, Asia/Tehran, Asia/Muscat, Asia/Baku, Europe/Moscow, Asia/Tbilisi, Asia/Yerevan, Asia/Kabul, Asia/Karachi, Asia/Tashkent, Asia/Kolkata, Asia/Colombo, Asia/Kathmandu, Asia/Almaty, Asia/Dhaka, Asia/Yekaterinburg, Asia/Rangoon, Asia/Bangkok, Asia/Jakarta, Asia/Novosibirsk, Asia/Shanghai, Asia/Chongqing, Asia/Hong_Kong, Asia/Krasnoyarsk, Asia/Kuala_Lumpur, Australia/Perth, Asia/Singapore, Asia/Taipei, Asia/Ulaanbaatar, Asia/Urumqi, Asia/Irkutsk, Asia/Tokyo, Asia/Seoul, Australia/Adelaide, Australia/Darwin, Australia/Brisbane, Australia/Melbourne, Pacific/Guam, Australia/Hobart, Pacific/Port_Moresby, Australia/Sydney, Asia/Yakutsk, Pacific/Noumea, Asia/Vladivostok, Pacific/Auckland, Pacific/Fiji, Asia/Kamchatka, Asia/Magadan, Pacific/Majuro, Pacific/Guadalcanal, Pacific/Tongatapu, Pacific/Apia, Pacific/Fakaofo
                constructionType:
                  type: string
                  x-forma-type: string
                  description: "The type of construction for the project. Recommended values: New Construction, Renovation. Any value is accepted."
                deliveryMethod:
                  type: string
                  x-forma-type: string
                  description: "The method used to deliver the project. Recommended values include Design-Bid-Build, Construction Management (CM) at Risk, and Integrated Project Delivery (IPD). Any value is accepted."
                contractType:
                  type: string
                  x-forma-type: string
                  description: "The type of contract for the project. For example, Lump Sum, Cost Plus, Guaranteed Maximum Price, Unit Price. Any value is accepted."
                currentPhase:
                  type: string
                  x-forma-type: string
                  description: |-
                    The current phase of the project. Recommended values include, Concept, Design, Bidding, Planning, Preconstruction, Construction, Commissioning, Warranty, Complete, Facility Management, Operation, Strategic Definition, Preparation and Brief, Concept Design, Developed Design, Technical Design, Construction, Handover and Close Out and In Use.
                    Any value is accepted.
                businessUnitId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The ID of the business unit that the project is associated with."
                sheetCount:
                  x-forma-type: "null,integer"
                  description: |-
                    The total number of sheets associated with the project.
                    Note that this field is relevant only in responses. It is ignored in requests.
                platform:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    The APS platform where the project is stored. Possible values: acc, bim360.
                    Note that this field is relevant only in responses. It is ignored in requests.
                companyCount:
                  type: integer
                  x-forma-type: int
                  description: |-
                    The total number of companies associated with the project.
                    Note that this field is relevant only in responses. It is ignored in requests.
                memberCount:
                  type: integer
                  x-forma-type: int
                  description: |-
                    The total number of members on the project.
                    Note that this field is relevant only in responses. It is ignored in requests.
                template:
                  type: object
                  x-forma-type: object
                  description: |-
                    Information about a project in the current user’s hub that is configured as a template from which to copy products and settings when creating a new project:

                    - If you include this object in a POST accounts/:accountId/projects request, the cloned project’s products and settings will match those of the template project.

                    - If you omit this object from a POST accounts/:accountId/projects request, all of the current Forma hub’s products are added to the cloned project and activated.
                  properties:
                    projectId:
                      type: string
                      format: uuid
                      x-forma-type: "string: UUID"
                      description: |-
                        The ID of a project template in the current Forma hub from which to clone the new project and copy products and settings.
                        Note that you cannot create a project template from another project template, but you can base it on a production project. Set this field to the project id of the production project. The new project template is not completely configured for use, but it will get you started.

                        For more information about project templates, see Project Templates in the Build help.
                    options:
                      type: object
                      x-forma-type: object
                      description: "Information about what to include when cloning a project template."
                      properties:
                        field:
                          type: object
                          x-forma-type: object
                          description: "Project template options specific to classic field."
                          properties:
                            includeCompanies:
                              type: boolean
                              x-forma-type: boolean
                              description: |-
                                Indicates whether to include company data when copying from the project template.

                                - true: Include company data.

                                - false: Exclude company data.
                            includeLocations:
                              type: boolean
                              x-forma-type: boolean
                              description: |-
                                Indicates whether to include location data when copying from the project template.

                                - true: Include location data.

                                - false: Exclude location data.
                  required:
                    - projectId
              required:
                - name
                - type
  "/construction/admin/v1/accounts/{accountId}/users/{userId}/products":
    get:
      operationId: admin-usersuseridproducts-GET
      summary: "Returns a list of Forma products the user is associated with in their assigned projects"
      description: "Returns a list of Forma products the user is associated with in their assigned projects."
      parameters:
        - name: accountId
          in: path
          required: true
          description: "The ID of the hub that contains the projects. This corresponds to the hub ID used in the Data Management API, with the “b.\" prefix removed. For example, b.c8b0c73d-3ae9 becomes c8b0c73d-3ae9."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: userId
          in: path
          required: true
          description: "The ID of the user. To find the ID call GET users. You can use either the Forma ID (id) or the Autodesk ID (autodeskId)."
          schema:
            type: string
            x-forma-type: string
        - name: "filter[projectId]"
          in: query
          description: "A list of project IDs. Only results where the user is associated with one or more of the specified projects are returned."
          schema:
            x-forma-type: "array: string: uuid"
        - name: "filter[key]"
          in: query
          description: |-
            Filters the list of products by product key — a machine-readable identifier for a Forma product (such as docs, build, or cost).
            You can specify one or more keys to return only those products the user is associated with.

            Example: filter[key]=docs,build

            Possible values: accountAdministration, autoSpecs, build, buildingConnected, capitalPlanning, cloudWorksharing, cost, designCollaboration, docs, financials, insight, modelCoordination, projectAdministration, takeoff, and workshopxr.
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: fields
          in: query
          description: |-
            List of fields to return in the response. Defaults to all fields.
            Possible values: projectIds, name and icon.
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: sort
          in: query
          description: |-
            The list of fields to sort by.
            Each property can be followed by a direction modifier of either asc (ascending) or desc (descending). The default is asc.

            Possible values: name.

            Default is the order in database.
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: limit
          in: query
          description: |-
            The maximum number of records to return in the response.
            Default: 20

            Minimum: 1

            Maximum: 200 (If a larger value is provided, only 200 records are returned)
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: |-
            The index of the first record to return.
            Used for pagination in combination with the limit parameter.

            Example: limit=20 and offset=40 returns records 41–60.
          schema:
            type: integer
            x-forma-type: int
        - name: Region
          in: header
          description: |-
            Specifies the region where your request should be routed. If not set, the request is routed automatically, which may result in a slight increase in latency.
            Possible values: US, EMEA. For a complete list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
        - name: User-Id
          in: header
          description: |-
            The ID of a user on whose behalf your request is acting.
            Your app has access to all users specified by the administrator in the SaaS integrations UI. Provide this header value to identify the user to be affected by the request.

            You can use either the user’s Forma ID (id), or their Autodesk ID (autodeskId).

            Note that this header is required for hub Admin POST, PATCH, and DELETE endpoints if you want to use a 2-legged authentication context. This header is optional for hub Admin GET endpoints.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "account:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "Contains pagination details for the records returned by the endpoint."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The maximum number of records returned per page. The last page may contain fewer records than the specified limit."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The index of the first record in the returned page. Used for pagination."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The total number of records matching the request."
                      nextUrl:
                        type: string
                        x-forma-type: string
                        description: |-
                          The URL for the next page of records, if more results are available. Max length: 2000 characters.
                          Max length: 2000
                      previousUrl:
                        type: string
                        x-forma-type: string
                        description: |-
                          The URL for the previous page of records, if applicable. Max length: 2000 characters.
                          Max length: 2000
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            A machine-readable identifier for the product (e.g., docs, build).
                            Each product has a unique key used throughout the API for identification, filtering, and integration logic (e.g., in query parameters like filter[key]).

                            Possible values:
                            Forma - autoSpecs, build, cost, designCollaboration, docs, insight, modelCoordination, projectAdministration, and takeoff.

                            BIM 360 - assets, costManagement, designCollaboration, documentManagement, field, fieldManagement, glue, insight, modelCoordination, plan, projectAdministration, projectHome, projectManagement, and quantification.

                            Note that this endpoint returns only Forma products. Other endpoints, such as GET projects and GET projects/:projectId, may return both Forma and BIM 360 projects. In those responses, product keys may include BIM 360 values.
                        icon:
                          type: string
                          x-forma-type: string
                          description: "The URL of the icon associated with the product."
                        name:
                          type: string
                          x-forma-type: string
                          description: "The name of the product."
                        projectIds:
                          type: array
                          items:
                            type: string
                          x-forma-type: "array: string"
                          description: "The list of projects IDs where the user is associated with the product."
                    x-forma-type: "array: object"
                    description: "A list of Forma products the user is associated with."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "406":
          description: "Not Acceptable"
        "410":
          description: "Access to the target resource is no longer available."
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "503":
          description: "Service Unavailable"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "account:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/admin-usersuseridproducts-GET"
  "/construction/admin/v1/accounts/{accountId}/users/{userId}/projects":
    get:
      operationId: admin-usersuseridprojects-GET
      summary: "Returns a list of projects for a specified user within a Forma or BIM 360 account"
      description: "Returns a list of projects for a specified user within a Forma or BIM 360 account. Only projects the user participates in will be returned. The calling user must be an account or hub administrator."
      parameters:
        - name: accountId
          in: path
          required: true
          description: "The ID of the hub that contains the projects. This corresponds to the hub ID used in the Data Management API, with the “b.\" prefix removed. For example, b.c8b0c73d-3ae9 becomes c8b0c73d-3ae9."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: userId
          in: path
          required: true
          description: "The ID of the user. To find the ID call GET users. You can use either the Forma ID (id) or the Autodesk ID (autodeskId)."
          schema:
            type: string
            x-forma-type: string
        - name: "filter[id]"
          in: query
          description: "A list of project IDs to filter by."
          schema:
            x-forma-type: "array: string: uuid"
        - name: fields
          in: query
          description: |-
            A comma-separated list of user project fields to include in the response. If not specified, all available fields are included by default.
            Possible values: accessLevels, accountId, addressLine1, addressLine2, city, constructionType, country, createdAt, classification, deliveryMethod, endDate, imageUrl, jobNumber, latitude, longitude, name, platform, postalCode, projectValue, sheetCount, startDate, stateOrProvince, status, thumbnailImageUrl, timezone, type, updatedAt, contractType and currentPhase.
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: "filter[classification]"
          in: query
          description: |-
            Filters projects by classification. Possible values:
            production – Standard production projects.
            template – Project templates that can be cloned to create production projects.
            component – Placeholder projects that contain standardized components (e.g., forms) for use across projects. Only one component project is permitted per hub. Known as a library in the Forma unified products UI.
            sample – The single sample project automatically created upon Forma trial setup. Only one sample project is permitted per hub.

            Max length: 255
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: "filter[name]"
          in: query
          description: |-
            Filters projects by name. Supports partial matches when used with filterTextMatch. For example filter[name]=ABCco&filterTextMatch=startsWith returns projects whose names start with “ABCco”.
            Max length: 255
          schema:
            type: string
            x-forma-type: string
        - name: "filter[platform]"
          in: query
          description: |-
            Filters by platform. Possible values: acc (Forma) and bim360 (BIM 360).
            Max length: 255
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: "filter[status]"
          in: query
          description: "Filters projects by status. Possible values: active, pending, archived, suspended."
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: "filter[type]"
          in: query
          description: |-
            Filters by project type. To exclude a type, prefix it with - (e.g., -Bridge excludes bridge projects).
[...]
