openapi: "3.1.0"
info:
  title: "Forma APIs — Forms"
  version: v1
  description: |-
    Forma APIs — Forms.
    Autodesk 문서에서 자동 추출됨. 원본: https://aps.autodesk.com/en/docs/acc/v1
    공통 base 경로: /construction/forms
    **리전 — 호출 전 반드시 확인** 리전은 완전히 분리되어 있고 리소스 식별자가 호환되지 않습니다. ⚠️ **헤더 이름이 그룹마다 다릅니다.** Hub Admin 은 `Region`, Issues 는 `x-ads-region` 입니다. 이 문서의 "헤더" 표에 적힌 이름을 그대로 쓰세요. 통일해서 보내면 안 됩니다. 미지정 시 자동 라우팅되며 지연이 늘 수 있습니다. 자세한 판정은 `_errata` E-003 참고.
servers:
  - url: "https://developer.api.autodesk.com"
x-forma-group: Forms
x-forma-common-base: "/construction/forms"
paths:
  "/construction/forms/v1/projects/{projectId}/form-templates/{templateId}/forms/{formId}":
    patch:
      operationId: forms-forms-formId-PATCH
      summary: "Updates a form’s form details"
      description: "Updates a form’s form details. Note that we do not currently support updating PDF forms."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: templateId
          in: path
          required: true
          description: |-
            The unique identifier of the form template.
            Use GET forms to retrieve a form’s template ID.
          schema:
            type: string
            x-forma-type: string
        - name: formId
          in: path
          required: true
          description: |-
            The unique identifier of the form.
            Use GET forms to retrieve the form ID.
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  status:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The current status of the form. Note that forms are created in draft status. Possible values:
                      draft: you can edit forms.

                      inReview: you cannot edit forms, however, they can be approved by form reviewers.

                      submitted: forms are closed and no longer editable.

                      archived forms are not edtiable and hidden in the UI.
                  id:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the form."
                  projectId:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the project the form belongs to."
                  formNum:
                    type: integer
                    x-forma-type: int
                    description: "A chronological user-fiendly identifier of the form within the project e.g. form #5."
                  formDate:
                    type: string
                    x-forma-type: string
                    description: "Date the form pertains to."
                  assigneeId:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the user, role, or company the form is assigned to."
                  assigneeType:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      Type of entity the form is assigned to.
                      Possible values: company, role, user
                  locationId:
                    type: string
                    x-forma-type: string
                    description: "Location identifier associated with the form. For more information about the location, see GET nodes."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date when the form was last updated, UTC date and time in ISO-8601 format."
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the user who created the form."
                  notes:
                    type: string
                    x-forma-type: string
                    description: "Text for the form’s notes section."
                  description:
                    type: string
                    x-forma-type: string
                    description: "Text for the form’s description section."
                  name:
                    type: string
                    x-forma-type: string
                    description: |-
                      The name of the form instance.
                      Max length: 100
                  formTemplate:
                    type: object
                    x-forma-type: object
                    description: "Information about the form’s template."
                    properties:
                      status:
                        type: string
                        x-forma-type: "enum:string"
                        description: "Possible values: active, inactive, deleted"
                      id:
                        type: string
                        x-forma-type: string
                        description: "The unique identifier of the template."
                      projectId:
                        type: string
                        x-forma-type: string
                        description: "Unique indentifier of the project the template belongs to."
                      name:
                        type: string
                        x-forma-type: string
                        description: "Name of the form template."
                      templateType:
                        type: string
                        x-forma-type: string
                        description: "User defined type of the form template."
                  pdfValues:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          x-forma-type: string
                          description: "The name of the PDF field."
                        value:
                          type: string
                          x-forma-type: string
                          description: "The value of the PDF field."
                    x-forma-type: "array: object"
                    description: "For PDF forms, values extracted from fields in the PDF."
                  pdfUrl:
                    type: string
                    x-forma-type: string
                    description: "For PDF forms, the URL to download the form’s PDF."
                  weather:
                    type: object
                    x-forma-type: object
                    description: "Weather forecast captured on the form."
                    properties:
                      summaryKey:
                        type: string
                        x-forma-type: string
                        description: "A code describing the weather conditions. For weather data from DarkSky (legacy), possible values are: clear, rain, snow, sleet, wind, fog, cloudy, partlyCloudy. For weather data from WeatherKit, values come from Apple’s WeatherCondition codes and include: Clear, MostlyClear, PartlyCloudy, MostlyCloudy, Cloudy, Rain, HeavyRain, Drizzle, Snow, HeavySnow, Flurries, Sleet, FreezingRain, FreezingDrizzle, Hail, Thunderstorms, IsolatedThunderstorms, ScatteredThunderstorms, StrongStorms, Windy, Breezy, Foggy, Haze, Smoky, Blizzard, BlowingDust, BlowingSnow, TropicalStorm, Hurricane, SunShowers, Hot, Frigid, WintryMix. Check the provider field to determine which value set to expect. Additional values may appear as Apple’s WeatherKit condition codes evolve."
                      precipitationAccumulation:
                        type: number
                        x-forma-type: number
                        description: "Amount of precipitation accumulated throughout the day."
                      precipitationAccumulationUnit:
                        type: string
                        x-forma-type: string
                        description: "Indicates the measurement unit of the precipitationAccumulation."
                      temperatureMin:
                        type: number
                        x-forma-type: number
                        description: "Minimum temperature during the day."
                      temperatureMax:
                        type: number
                        x-forma-type: number
                        description: "Maximum temperature during the day."
                      temperatureUnit:
                        type: string
                        x-forma-type: string
                        description: "Indicates the measurement unit of the temperature values e.g. temperatureMin, temperatureMax, temp."
                      humidity:
                        type: number
                        x-forma-type: number
                        description: "A percentage value indicating the humidity over the course of the day."
                      windSpeed:
                        type: number
                        x-forma-type: number
                        description: "Average wind speed observed throughout the day."
                      windGust:
                        type: number
                        x-forma-type: number
                        description: "Maximum wind speed observed throughout the day."
                      speedUnit:
                        type: string
                        x-forma-type: string
                        description: "Indicates the measurement unit of the windSpeed and windGust."
                      windBearing:
                        type: number
                        x-forma-type: number
                        description: "Direction of the wind, in degrees."
                      hourlyWeather:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              x-forma-type: int
                              description: "Unique identifier."
                            hour:
                              type: string
                              x-forma-type: string
                              description: "Hour of the day for this forecast."
                            temp:
                              type: number
                              x-forma-type: number
                              description: "Temperature during specified hour."
                            windSpeed:
                              type: number
                              x-forma-type: number
                              description: "Average wind speed."
                            windBearing:
                              type: integer
                              x-forma-type: int
                              description: "Direction of the wind, in degrees."
                            humidity:
                              type: number
                              x-forma-type: number
                              description: "A percentage value indicating the humidity."
                            fetchedAt:
                              type: string
                              format: date-time
                              x-forma-type: "datetime: ISO 8601"
                              description: "The date when weather was fetched from weather API."
                            createdAt:
                              type: string
                              format: date-time
                              x-forma-type: "datetime: ISO 8601"
                              description: "The date when weather was first fetched."
                            updatedAt:
                              type: string
                              format: date-time
                              x-forma-type: "datetime: ISO 8601"
                              description: "The date when the weather was last updated."
                        x-forma-type: "array: object"
                        description: "Weather information for specific hours (07:00:00, 12:00:00, 16:00:00)."
                      provider:
                        type: string
                        x-forma-type: "enum:string"
                        description: |-
                          Indicates the source of the weather data.
                          Possible values: darksky, weatherkit
                  customValues:
                    type: array
                    items:
                      type: object
                      properties:
                        fieldId:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier of the field."
                        sectionLabel:
                          type: string
                          x-forma-type: string
                          description: "Name of the section containing this field."
                        itemLabel:
                          type: string
                          x-forma-type: string
                          description: "The field’s label or question text."
                        valueName:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            Indicates the type of value used for this item.
                            Possible values: textVal, toggleVal, arrayVal, numberVal, choiceVal, dateVal, svgVal
                        toggleVal:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            A boolean like enum value.
                            Possible values: Yes, No, False, True, Minus, Plus, Fail, Pass, NA
                        textVal:
                          type: string
                          x-forma-type: string
                          description: "A text value."
                        arrayVal:
                          type: string
                          x-forma-type: string
                          description: "Multi select values."
                        numberVal:
                          type: number
                          x-forma-type: number
                          description: "A numeric value."
                        choiceVal:
                          type: string
                          x-forma-type: string
                          description: "A single select value."
                        dateVal:
                          type: string
                          x-forma-type: string
                          description: "A date value."
                        svgVal:
                          type: string
                          x-forma-type: string
                          description: "A signature value (base64 encoded SVG)."
                        notes:
                          type: string
                          x-forma-type: string
                          description: |-
                            Text for the field’s notes section.
                            Max length: 8000
                    x-forma-type: "array: object"
                    description: "For non-PDF forms, data stored in the form fields."
                  lastReopenedBy:
                    type: string
                    x-forma-type: string
                    description: "Unique identifier for the user that last re-opened the Form (if applicable)."
                  lastSubmitterSignature:
                    type: string
                    x-forma-type: string
                    description: "Signature of the reviewer who last submitted the Form (if applicable). Signature value (base64 encoded SVG)."
                  userCreatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "Timestamp when the form was created on the client device or external system. This may differ from createdAt if the form was created offline and synced later. UTC date and time in ISO-8601 format."
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "Timestamp when the form was received and stored on the server. UTC date and time in ISO-8601 format."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/forms-forms-formId-PATCH"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                assigneeId:
                  type: string
                  x-forma-type: string
                  description: "The unique identifier of the company, role, or user the form is assigned to. Note that the assignee must be a contributor of the template."
                assigneeType:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    Type of entity the form is assigned to.
                    Possible values: company, role, user
                description:
                  type: string
                  x-forma-type: string
                  description: |-
                    Text for the form’s description field.
                    Max length: 8000
                name:
                  type: string
                  x-forma-type: string
                  description: |-
                    The name of the form instance. If the specified value is null or empty, it defaults to the form’s template name.
                    Max length: 100
                formDate:
                  type: string
                  x-forma-type: string
                  description: "Date the form pertains to, must be after 1950-01-01."
                locationId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "Location identifier associated with the form. For more information about the location, see GET nodes."
                notes:
                  type: string
                  x-forma-type: string
                  description: |-
                    Text for the form’s notes section.
                    Max length: 8000
                status:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    New status for the form.
                    "draft" (in progress) forms may be edited.

                    "inReview" forms may not be edited but may be approved by the form reviewers.

                    "submitted" forms are closed and no longer editable.

                    "archived" forms are not editable and hidden in the ui

                    Possible values: draft, discarded, submitted, archived, in_review
                submitterSignature:
                  type: string
                  x-forma-type: string
                  description: |-
                    Signature of the reviewer who is submitting the form (should be included when submitting an inReview form) as a base64 encoded SVG.
                    Note: the SVG will be sanitized: tags and attributes are limited to the basics (<path>, <g>, <polyline>, etc) needed to represent a signature.
  "/construction/forms/v1/projects/{projectId}/form-templates/{templateId}/forms":
    post:
      operationId: forms-forms-POST
      summary: "Adds a new form to a project"
      description: "Adds a new form to a project."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: templateId
          in: path
          required: true
          description: |-
            The unique identifier of the form template.
            Use GET form-templates to retrieve the template ID.
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  status:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The current status of the form. Note that forms are created in draft status. Possible values:
                      draft: you can edit forms.

                      inReview: you cannot edit forms, however, they can be approved by form reviewers.

                      submitted: forms are closed and no longer editable.

                      archived forms are not edtiable and hidden in the UI.
                  id:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the form."
                  projectId:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the project the form belongs to."
                  formNum:
                    type: integer
                    x-forma-type: int
                    description: "A chronological user-fiendly identifier of the form within the project e.g. form #5."
                  formDate:
                    type: string
                    x-forma-type: string
                    description: "Date the form pertains to."
                  assigneeId:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the user, role, or company the form is assigned to."
                  assigneeType:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      Type of entity the form is assigned to.
                      Possible values: company, role, user
                  locationId:
                    type: string
                    x-forma-type: string
                    description: "Location identifier associated with the form. For more information about the location, see GET nodes."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date when the form was last updated, UTC date and time in ISO-8601 format."
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the user who created the form."
                  notes:
                    type: string
                    x-forma-type: string
                    description: "Text for the form’s notes section."
                  description:
                    type: string
                    x-forma-type: string
                    description: "Text for the form’s description section."
                  name:
                    type: string
                    x-forma-type: string
                    description: |-
                      The name of the form instance.
                      Max length: 100
                  formTemplate:
                    type: object
                    x-forma-type: object
                    description: "Information about the form’s template."
                    properties:
                      status:
                        type: string
                        x-forma-type: "enum:string"
                        description: "Possible values: active, inactive, deleted"
                      id:
                        type: string
                        x-forma-type: string
                        description: "The unique identifier of the template."
                      projectId:
                        type: string
                        x-forma-type: string
                        description: "Unique indentifier of the project the template belongs to."
                      name:
                        type: string
                        x-forma-type: string
                        description: "Name of the form template."
                      templateType:
                        type: string
                        x-forma-type: string
                        description: "User defined type of the form template."
                  pdfValues:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          x-forma-type: string
                          description: "The name of the PDF field."
                        value:
                          type: string
                          x-forma-type: string
                          description: "The value of the PDF field."
                    x-forma-type: "array: object"
                    description: "For PDF forms, values extracted from fields in the PDF."
                  pdfUrl:
                    type: string
                    x-forma-type: string
                    description: "For PDF forms, the URL to download the form’s PDF."
                  weather:
                    type: object
                    x-forma-type: object
                    description: "Weather forecast captured on the form."
                    properties:
                      summaryKey:
                        type: string
                        x-forma-type: string
                        description: "A code describing the weather conditions. For weather data from DarkSky (legacy), possible values are: clear, rain, snow, sleet, wind, fog, cloudy, partlyCloudy. For weather data from WeatherKit, values come from Apple’s WeatherCondition codes and include: Clear, MostlyClear, PartlyCloudy, MostlyCloudy, Cloudy, Rain, HeavyRain, Drizzle, Snow, HeavySnow, Flurries, Sleet, FreezingRain, FreezingDrizzle, Hail, Thunderstorms, IsolatedThunderstorms, ScatteredThunderstorms, StrongStorms, Windy, Breezy, Foggy, Haze, Smoky, Blizzard, BlowingDust, BlowingSnow, TropicalStorm, Hurricane, SunShowers, Hot, Frigid, WintryMix. Check the provider field to determine which value set to expect. Additional values may appear as Apple’s WeatherKit condition codes evolve."
                      precipitationAccumulation:
                        type: number
                        x-forma-type: number
                        description: "Amount of precipitation accumulated throughout the day."
                      precipitationAccumulationUnit:
                        type: string
                        x-forma-type: string
                        description: "Indicates the measurement unit of the precipitationAccumulation."
                      temperatureMin:
                        type: number
                        x-forma-type: number
                        description: "Minimum temperature during the day."
                      temperatureMax:
                        type: number
                        x-forma-type: number
                        description: "Maximum temperature during the day."
                      temperatureUnit:
                        type: string
                        x-forma-type: string
                        description: "Indicates the measurement unit of the temperature values e.g. temperatureMin, temperatureMax, temp."
                      humidity:
                        type: number
                        x-forma-type: number
                        description: "A percentage value indicating the humidity over the course of the day."
                      windSpeed:
                        type: number
                        x-forma-type: number
                        description: "Average wind speed observed throughout the day."
                      windGust:
                        type: number
                        x-forma-type: number
                        description: "Maximum wind speed observed throughout the day."
                      speedUnit:
                        type: string
                        x-forma-type: string
                        description: "Indicates the measurement unit of the windSpeed and windGust."
                      windBearing:
                        type: number
                        x-forma-type: number
                        description: "Direction of the wind, in degrees."
                      hourlyWeather:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              x-forma-type: int
                              description: "Unique identifier."
                            hour:
                              type: string
                              x-forma-type: string
                              description: "Hour of the day for this forecast."
                            temp:
                              type: number
                              x-forma-type: number
                              description: "Temperature during specified hour."
                            windSpeed:
                              type: number
                              x-forma-type: number
                              description: "Average wind speed."
                            windBearing:
                              type: integer
                              x-forma-type: int
                              description: "Direction of the wind, in degrees."
                            humidity:
                              type: number
                              x-forma-type: number
                              description: "A percentage value indicating the humidity."
                            fetchedAt:
                              type: string
                              format: date-time
                              x-forma-type: "datetime: ISO 8601"
                              description: "The date when weather was fetched from weather API."
                            createdAt:
                              type: string
                              format: date-time
                              x-forma-type: "datetime: ISO 8601"
                              description: "The date when weather was first fetched."
                            updatedAt:
                              type: string
                              format: date-time
                              x-forma-type: "datetime: ISO 8601"
                              description: "The date when the weather was last updated."
                        x-forma-type: "array: object"
                        description: "Weather information for specific hours (07:00:00, 12:00:00, 16:00:00)."
                      provider:
                        type: string
                        x-forma-type: "enum:string"
                        description: |-
                          Indicates the source of the weather data.
                          Possible values: darksky, weatherkit
                  customValues:
                    type: array
                    items:
                      type: object
                      properties:
                        fieldId:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier of the field."
                        sectionLabel:
                          type: string
                          x-forma-type: string
                          description: "Name of the section containing this field."
                        itemLabel:
                          type: string
                          x-forma-type: string
                          description: "The field’s label or question text."
                        valueName:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            Indicates the type of value used for this item.
                            Possible values: textVal, toggleVal, arrayVal, numberVal, choiceVal, dateVal, svgVal
                        toggleVal:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            A boolean like enum value.
                            Possible values: Yes, No, False, True, Minus, Plus, Fail, Pass, NA
                        textVal:
                          type: string
                          x-forma-type: string
                          description: "A text value."
                        arrayVal:
                          type: string
                          x-forma-type: string
                          description: "Multi select values."
                        numberVal:
                          type: number
                          x-forma-type: number
                          description: "A numeric value."
                        choiceVal:
                          type: string
                          x-forma-type: string
                          description: "A single select value."
                        dateVal:
                          type: string
                          x-forma-type: string
                          description: "A date value."
                        svgVal:
                          type: string
                          x-forma-type: string
                          description: "A signature value (base64 encoded SVG)."
                        notes:
                          type: string
                          x-forma-type: string
                          description: |-
                            Text for the field’s notes section.
                            Max length: 8000
                    x-forma-type: "array: object"
                    description: "For non-PDF forms, data stored in the form fields."
                  lastReopenedBy:
                    type: string
                    x-forma-type: string
                    description: "Unique identifier for the user that last re-opened the Form (if applicable)."
                  lastSubmitterSignature:
                    type: string
                    x-forma-type: string
                    description: "Signature of the reviewer who last submitted the Form (if applicable). Signature value (base64 encoded SVG)."
                  userCreatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "Timestamp when the form was created on the client device or external system. This may differ from createdAt if the form was created offline and synced later. UTC date and time in ISO-8601 format."
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "Timestamp when the form was received and stored on the server. UTC date and time in ISO-8601 format."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/forms-forms-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                assigneeId:
                  type: string
                  x-forma-type: string
                  description: "Identifier of the company, role, or user assigned to the form. Note: the assignee must be a contributor of the template."
                assigneeType:
                  type: string
                  x-forma-type: "enum:string"
                  description: |-
                    Type of entity to assign the form to.
                    Possible values: company, role, user
                description:
                  type: string
                  x-forma-type: string
                  description: |-
                    Text for the form description field.
                    Max length: 8000
                name:
                  type: string
                  x-forma-type: string
                  description: |-
                    The name of the form instance. If the specified value is null or empty, it defaults to the form’s template name.
                    Max length: 100
                formDate:
                  type: string
                  x-forma-type: string
                  description: "Date the form pertains to, must be after 1950-01-01."
                id:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The unique identifier of the form. If you do not specify an ID, one will be assigned."
                locationId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "Location associated with the Form. For more information about the location, see GET nodes."
                notes:
                  type: string
                  x-forma-type: string
                  description: |-
                    Text for the form’s notes section.
                    Max length: 8000
                userCreatedAt:
                  type: string
                  format: date-time
                  x-forma-type: "datetime: ISO 8601"
                  description: "Timestamp when the form was created on the client device or external system (optional). Use this to preserve the original creation time when syncing forms that were created offline."
  "/construction/forms/v1/projects/{projectId}/form-templates":
    get:
      operationId: forms-form-templates-GET
      summary: "Returns all project’s form templates the user has access to"
      description: "Returns all project’s form templates the user has access to."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: offset
          in: query
          description: "The number of records to skip before returning the result records. Defaults to 0. Increase this value in subsequent requests to continue getting results when the number of records exceeds the requested limit."
          schema:
            type: integer
            x-forma-type: int
        - name: limit
          in: query
          description: "The number of records to return in a single request. Can be a number between 1 and 50. Defaults to 50."
          schema:
            type: integer
            x-forma-type: int
        - name: updatedAfter
          in: query
          description: "Return Templates updated after specified time."
          schema:
            type: string
            format: date-time
            x-forma-type: "datetime: ISO 8601"
        - name: updatedBefore
          in: query
          description: "Return Templates updated before specified time."
          schema:
            type: string
            format: date-time
            x-forma-type: "datetime: ISO 8601"
        - name: sortOrder
          in: query
          description: |-
            Return Templates in specified sorted order.
            Possible values: desc, asc
          schema:
            type: string
            x-forma-type: "enum:string"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        projectId:
                          type: string
                          x-forma-type: string
                          description: "Unique indentifier of the project the template belongs to."
                        id:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier of the template."
                        name:
                          type: string
                          x-forma-type: string
                          description: "Display name of template."
                        status:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            Status of template: "active", "inactive" (archived), or "deleted"
                            Possible values: active, inactive, deleted
                        templateType:
                          type: string
                          x-forma-type: string
                          description: "User supplied type of template. Can be a custom string or one of the standard template types: pg.template_type.daily_report, pg.template_type.quality, pg.template_type.safety, pg.template_type.punchlist, pg.template_type.commissioning, pg.template_type.time_sheet, pg.template_type.other"
                        userPermissions:
                          type: array
                          x-forma-type: array
                          description: "Permissions on this template assigned to individual users."
                        groupPermissions:
                          type: array
                          x-forma-type: array
                          description: "Permissions on this template assigned to companies and roles."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier of the user who created the template."
                        updatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date when the template was last updated, UTC date and time in ISO-8601 format."
                        isPdf:
                          type: boolean
                          x-forma-type: boolean
                          description: "A flag that indicates whether the template has a PDF or not."
                        pdfUrl:
                          type: string
                          x-forma-type: string
                          description: "For PDF forms, the URL to download the form’s PDF."
                        forms:
                          type: object
                          x-forma-type: object
                          description: "Reference to fetch forms created from this template."
                          properties:
                            url:
                              type: string
                              x-forma-type: string
                              description: "URL to retrieve resources."
                        currentLayoutId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique identifier of the form template’s current layout, if it is not a PDF template. This can be used to retrieve detailed layout information via the GET layouts endpoint."
                    x-forma-type: "array: object"
                    description: "List of form templates in the project."
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "Request pagination information."
                    properties:
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "Number of items skipped."
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "Number of items returned per page."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "Total number of items that can be returned."
                      nextUrl:
                        type: string
                        x-forma-type: string
                        description: "URL for the next page of items. Next page url is null on the last page."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/forms-form-templates-GET"
  "/construction/forms/v1/projects/{projectId}/forms/{formId}/table/{fieldId}/values":
    get:
      operationId: forms-get-table-values-GET
      summary: "Returns all row values from a specific table in a form"
      description: "Returns all row values from a specific table in a form."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: formId
          in: path
          required: true
          description: |-
            The unique identifier of the form.
            Use GET forms to retrieve the form ID.
          schema:
            type: string
            x-forma-type: string
        - name: fieldId
          in: path
          required: true
          description: |-
            The table’s schema identifier (UUID). This corresponds to the schema and fieldId fields returned in each row of the response.
            For built-in tables, use the following UUIDs:
            - Work Log: 6c8055d5-1301-46f6-9d18-8a2a208a277e
            - Materials: 2adf5ad9-d9d3-ee42-6fd8-015c34ce474d
            - Equipment: 8af6c450-dd2a-32ae-0090-5493a9cc884e

            For custom tables, the schema identifier can be found in the section detail. Use GET section to retrieve the section, then look for schema fields on table section items.
          schema:
            type: string
            x-forma-type: string
        - name: offset
          in: query
          description: "The number of records to skip before returning the result records. Defaults to 0. Increase this value in subsequent requests to continue getting results when the number of records exceeds the requested limit."
          schema:
            type: integer
            x-forma-type: int
        - name: limit
          in: query
          description: "The number of records to return in a single request. Can be a number between 1 and 50. Defaults to 50."
          schema:
            type: integer
            x-forma-type: int
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "Unique identifier for this table row. Each column value in the columns array references this ID via its formValueId field."
                        table:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            Built-in table identifier. If it is not provided, the table will be a custom table identified by the schema field.
                            Possible values: worklogEntries, materialsEntries, equipmentEntries
                        schema:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: |-
                            The table’s schema identifier (UUID). This is the legacy field name, retained for backwards compatibility. Use fieldId for new integrations.
                            This value corresponds to the fieldId path parameter used to query this table.
                        fieldId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: |-
                            The table’s schema identifier (UUID). This is the preferred field name that matches the fieldId path parameter.
                            Historically, tables were identified by a field called schema, which caused confusion with database schema concepts. The fieldId field provides a clearer name while schema is retained for backwards compatibility. Both fields contain the same UUID value.
                        rank:
                          type: integer
                          x-forma-type: int
                          description: "The sort order in the table."
                        deleted:
                          type: boolean
                          x-forma-type: boolean
                          description: "Whether the table row has been deleted or not."
                        columns:
                          type: array
                          items:
                            type: object
                            properties:
                              formValueId:
                                type: string
                                format: uuid
                                x-forma-type: "string: UUID"
                                description: "The row identifier (matches the parent TabularValueRow.id). This is repeated in each cell to enable independent cell storage and sparse table support. Think of it as the ‘rowId’ portion of a cell’s coordinate."
                              columnId:
                                type: string
                                format: uuid
                                x-forma-type: "string: UUID"
                                description: |-
                                  The column identifier from the form’s layout. Think of it as the ‘columnId’ portion of a cell’s coordinate. This corresponds to the uid of a column in the table’s columns array in the section detail.
                                  Use GET section to retrieve the section and find column definitions with their uid, columnKey, label, and columnType.
                              columnName:
                                type: string
                                x-forma-type: string
                                description: "The name (columnKey) of the column. For built-in tables, this is one of the predefined column keys (e.g., trade, headcount, description). For custom tables, this is the user-defined column key."
                              textVal:
                                type: string
                                x-forma-type: string
                                description: "Text value."
                              numberVal:
                                type: number
                                x-forma-type: number
                                description: "Number value."
                              integerVal:
                                type: integer
                                x-forma-type: int
                                description: "Integer value."
                              arrayVal:
                                type: array
                                items:
                                  type: string
                                x-forma-type: "array: string"
                                description: "Array value."
                              timespanVal:
                                type: integer
                                x-forma-type: int
                                description: "Amount of time in milliseconds."
                              svgVal:
                                type: string
                                x-forma-type: string
                                description: "SVG value."
                              uidVal:
                                type: string
                                x-forma-type: string
                                description: "UUID value."
                              datetimeLocalVal:
                                type: string
                                x-forma-type: string
                                description: "Datetime value in local time."
                              datetimeUtcVal:
                                type: string
                                x-forma-type: string
                                description: "Datetime value in UTC."
                              timezoneVal:
                                type: string
                                x-forma-type: string
                                description: "Timezone identifier."
                              timezoneRulesVal:
                                type: string
                                x-forma-type: string
                                description: "Timezone rules data."
                              lngVal:
                                type: number
                                x-forma-type: number
                                description: "Longitude value."
                              latVal:
                                type: number
                                x-forma-type: number
                                description: "Latitude value."
                              dateVal:
                                type: string
                                x-forma-type: string
                                description: "Date without timezone."
                              timeVal:
                                type: string
                                x-forma-type: string
                                description: "Time without timezone."
                          x-forma-type: "array: object"
                          description: "The list of cell values in this row. Each item represents the value at the intersection of this row and a specific column (i.e., a table cell). Each cell contains formValueId (matching this row’s id) and columnId (identifying which column)."
                        updatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date when the table row was last updated, UTC date and time in ISO-8601 format."
                        updatedBy:
                          type: string
                          x-forma-type: string
                          description: "User ID that last updated the table row."
                    x-forma-type: "array: object"
                    description: "List of table rows."
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "Request pagination information."
                    properties:
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "Number of items skipped."
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "Number of items returned per page."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "Total number of items that can be returned."
                      nextUrl:
                        type: string
                        x-forma-type: string
                        description: "URL for the next page of items. Next page url is null on the last page."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/forms-get-table-values-GET"
  "/construction/forms/v1/projects/{projectId}/forms/{formId}/values:batch-update":
    put:
      operationId: "forms-valuesbatch-update-(Deprecated)-PUT"
      summary: "Updates a form’s main form fields, both tabular and non-tabular"
      description: "Updates a form’s main form fields, both tabular and non-tabular. Note that we do not currently support updating PDF forms."
      deprecated: true
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: formId
          in: path
          required: true
          description: |-
            The unique identifier of the form.
            Use GET forms to retrieve the form ID.
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  status:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The current status of the form. Note that forms are created in draft status. Possible values:
                      draft: you can edit forms.

                      inReview: you cannot edit forms, however, they can be approved by form reviewers.

                      submitted: forms are closed and no longer editable.

                      archived forms are not edtiable and hidden in the UI.
                  id:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the form."
                  projectId:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the project the form belongs to."
                  formNum:
                    type: integer
                    x-forma-type: int
                    description: "A chronological user-fiendly identifier of the form within the project e.g. form #5."
                  formDate:
                    type: string
                    x-forma-type: string
                    description: "Date the form pertains to."
                  assigneeId:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the user, role, or company the form is assigned to."
                  assigneeType:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      Type of entity the form is assigned to.
                      Possible values: company, role, user
                  locationId:
                    type: string
                    x-forma-type: string
                    description: "Location identifier associated with the form. For more information about the location, see GET nodes."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date when the form was last updated, UTC date and time in ISO-8601 format."
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the user who created the form."
                  notes:
                    type: string
                    x-forma-type: string
                    description: "Text for the form’s notes section."
                  description:
                    type: string
                    x-forma-type: string
                    description: "Text for the form’s description section."
                  name:
                    type: string
                    x-forma-type: string
                    description: |-
                      The name of the form instance.
                      Max length: 100
                  formTemplate:
                    type: object
                    x-forma-type: object
                    description: "Information about the form’s template."
                    properties:
                      status:
                        type: string
                        x-forma-type: "enum:string"
                        description: "Possible values: active, inactive, deleted"
                      id:
                        type: string
                        x-forma-type: string
                        description: "The unique identifier of the template."
                      projectId:
                        type: string
                        x-forma-type: string
                        description: "Unique indentifier of the project the template belongs to."
                      name:
                        type: string
                        x-forma-type: string
                        description: "Name of the form template."
                      templateType:
                        type: string
                        x-forma-type: string
                        description: "User defined type of the form template."
                  pdfValues:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          x-forma-type: string
                          description: "The name of the PDF field."
                        value:
                          type: string
                          x-forma-type: string
                          description: "The value of the PDF field."
                    x-forma-type: "array: object"
                    description: "For PDF forms, values extracted from fields in the PDF."
                  pdfUrl:
                    type: string
                    x-forma-type: string
                    description: "For PDF forms, the URL to download the form’s PDF."
                  weather:
                    type: object
                    x-forma-type: object
                    description: "Weather forecast captured on the form."
                    properties:
                      summaryKey:
                        type: string
                        x-forma-type: string
                        description: "A code describing the weather conditions. For weather data from DarkSky (legacy), possible values are: clear, rain, snow, sleet, wind, fog, cloudy, partlyCloudy. For weather data from WeatherKit, values come from Apple’s WeatherCondition codes and include: Clear, MostlyClear, PartlyCloudy, MostlyCloudy, Cloudy, Rain, HeavyRain, Drizzle, Snow, HeavySnow, Flurries, Sleet, FreezingRain, FreezingDrizzle, Hail, Thunderstorms, IsolatedThunderstorms, ScatteredThunderstorms, StrongStorms, Windy, Breezy, Foggy, Haze, Smoky, Blizzard, BlowingDust, BlowingSnow, TropicalStorm, Hurricane, SunShowers, Hot, Frigid, WintryMix. Check the provider field to determine which value set to expect. Additional values may appear as Apple’s WeatherKit condition codes evolve."
                      precipitationAccumulation:
                        type: number
                        x-forma-type: number
                        description: "Amount of precipitation accumulated throughout the day."
                      precipitationAccumulationUnit:
                        type: string
                        x-forma-type: string
                        description: "Indicates the measurement unit of the precipitationAccumulation."
                      temperatureMin:
                        type: number
                        x-forma-type: number
                        description: "Minimum temperature during the day."
                      temperatureMax:
                        type: number
                        x-forma-type: number
                        description: "Maximum temperature during the day."
                      temperatureUnit:
                        type: string
                        x-forma-type: string
                        description: "Indicates the measurement unit of the temperature values e.g. temperatureMin, temperatureMax, temp."
                      humidity:
                        type: number
                        x-forma-type: number
                        description: "A percentage value indicating the humidity over the course of the day."
                      windSpeed:
                        type: number
                        x-forma-type: number
                        description: "Average wind speed observed throughout the day."
                      windGust:
                        type: number
                        x-forma-type: number
                        description: "Maximum wind speed observed throughout the day."
                      speedUnit:
                        type: string
                        x-forma-type: string
                        description: "Indicates the measurement unit of the windSpeed and windGust."
                      windBearing:
                        type: number
                        x-forma-type: number
                        description: "Direction of the wind, in degrees."
                      hourlyWeather:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              x-forma-type: int
                              description: "Unique identifier."
                            hour:
                              type: string
                              x-forma-type: string
                              description: "Hour of the day for this forecast."
                            temp:
                              type: number
                              x-forma-type: number
                              description: "Temperature during specified hour."
                            windSpeed:
                              type: number
                              x-forma-type: number
                              description: "Average wind speed."
                            windBearing:
                              type: integer
                              x-forma-type: int
                              description: "Direction of the wind, in degrees."
                            humidity:
                              type: number
                              x-forma-type: number
                              description: "A percentage value indicating the humidity."
                            fetchedAt:
                              type: string
                              format: date-time
                              x-forma-type: "datetime: ISO 8601"
                              description: "The date when weather was fetched from weather API."
                            createdAt:
                              type: string
                              format: date-time
                              x-forma-type: "datetime: ISO 8601"
                              description: "The date when weather was first fetched."
                            updatedAt:
                              type: string
                              format: date-time
                              x-forma-type: "datetime: ISO 8601"
                              description: "The date when the weather was last updated."
                        x-forma-type: "array: object"
                        description: "Weather information for specific hours (07:00:00, 12:00:00, 16:00:00)."
                      provider:
                        type: string
                        x-forma-type: "enum:string"
                        description: |-
                          Indicates the source of the weather data.
                          Possible values: darksky, weatherkit
                  customValues:
                    type: array
                    items:
                      type: object
                      properties:
                        fieldId:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier of the field."
                        sectionLabel:
                          type: string
                          x-forma-type: string
                          description: "Name of the section containing this field."
                        itemLabel:
                          type: string
                          x-forma-type: string
                          description: "The field’s label or question text."
                        valueName:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            Indicates the type of value used for this item.
                            Possible values: textVal, toggleVal, arrayVal, numberVal, choiceVal, dateVal, svgVal
                        toggleVal:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            A boolean like enum value.
                            Possible values: Yes, No, False, True, Minus, Plus, Fail, Pass, NA
                        textVal:
                          type: string
                          x-forma-type: string
                          description: "A text value."
                        arrayVal:
                          type: string
                          x-forma-type: string
                          description: "Multi select values."
                        numberVal:
                          type: number
                          x-forma-type: number
                          description: "A numeric value."
                        choiceVal:
                          type: string
                          x-forma-type: string
                          description: "A single select value."
                        dateVal:
                          type: string
                          x-forma-type: string
                          description: "A date value."
                        svgVal:
                          type: string
                          x-forma-type: string
                          description: "A signature value (base64 encoded SVG)."
                        notes:
                          type: string
                          x-forma-type: string
                          description: |-
                            Text for the field’s notes section.
                            Max length: 8000
                    x-forma-type: "array: object"
                    description: "For non-PDF forms, data stored in the form fields."
                  lastReopenedBy:
                    type: string
                    x-forma-type: string
                    description: "Unique identifier for the user that last re-opened the Form (if applicable)."
                  lastSubmitterSignature:
                    type: string
                    x-forma-type: string
                    description: "Signature of the reviewer who last submitted the Form (if applicable). Signature value (base64 encoded SVG)."
                  userCreatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "Timestamp when the form was created on the client device or external system. This may differ from createdAt if the form was created offline and synced later. UTC date and time in ISO-8601 format."
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "Timestamp when the form was received and stored on the server. UTC date and time in ISO-8601 format."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/forms-valuesbatch-update-(Deprecated)-PUT"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                customValues:
                  type: array
                  items:
                    type: object
                    properties:
                      fieldId:
                        type: string
                        format: uuid
                        x-forma-type: "string: UUID"
                        description: "The unique identifier of the field."
                      notes:
                        type: string
                        x-forma-type: string
                        description: |-
                          Text for the field’s notes section. This is relevant for all fields.
                          Max length: 8000
                      textVal:
                        type: string
                        x-forma-type: string
                        description: |-
                          The attribute used for updating text value fields, For example, textVal: This is my response!.
                          Each non-tabular field is assigned a specific value type, which you need to specify when updating the field. textVal is only relevant for updating text value fields. To verify whether the field you want to update is a text value field, call GET forms and check the field’s valueName.

                          Max length: 8000
                      choiceVal:
                        type: string
                        x-forma-type: string
                        description: |-
                          The attribute used for updating single-select and dropdown fields. For example, choiceVal: Answer 3.
                          Each non-tabular field is assigned a specific value type, which you need to specify when updating the field. choiceVal is only relevant for updating single-select and dropdown fields. To verify whether the field you want to update is a single-select or dropdown field, call GET forms and check the field’s valueName.
                      arrayVal:
                        type: array
                        items:
                          type: string
                        x-forma-type: "array: string"
                        description: |-
                          The attribute used for updating multi-select fields. For example, arrayVal: ["Answer 1", "Answer 2"].
                          Each non-tabular field is assigned a specific value type, which you need to specify when updating the field. arrayVal is only relevant for updating multi-select fields. To verify whether the field you want to update is a multi-select field, call GET forms and check the field’s valueName.
                      dateVal:
                        type: string
                        x-forma-type: string
                        description: |-
                          The attribute used for updating date fields, in the following format (YYYY-MM-DD). For example, "dateVal": "1999-12-31".
                          Each non-tabular field is assigned a specific value type, which you need to specify when updating the field. dateVal is only relevant for updating date fields. To verify whether the field you want to update is a date field, call GET forms and check the field’s valueName.
                      numberVal:
                        type: number
                        x-forma-type: number
                        description: |-
                          The attribute used for updating number fields. For example, "numberVal": "42".
                          Each non-tabular field is assigned a specific value type, which you need to specify when updating the field. numberVal is only relevant for updating number fields. To verify whether the field you want to update is a number field, call GET forms and check the field’s valueName.
                      toggleVal:
                        type: string
                        x-forma-type: "enum:string"
                        description: |-
                          The attribute used for updating preconfigured fields. For example, “toggleVal”: “Yes”.
                          Each non-tabular field is assigned a specific value type, which you need to specify when updating the field. toggleVal is only relevant for updating preconfigured fields. To verify whether the field you want to update is a preconfigured field, call GET forms and check the field’s valueName.
                          Possible values: Yes, No, False, True, Minus, Plus, Fail, Pass, NA
                      svgVal:
                        type: string
                        x-forma-type: string
                        description: |-
                          The attribute used for updating signature fields.
                          Each non-tabular field is assigned a specific value type, which you need to specify when updating the field. svgVal is only relevant for updating signature fields. To verify whether the field you want to update is a signature field, call GET forms and check the field’s valueName.

                          The signature needs to be in SVG format and it needs to be base64 encoded.
                      name:
                        type: string
                        x-forma-type: string
                        description: "The name of the person who signed the form. By default, it is the name of the logged in user. It is only relevant for signature fields. To update the name you need to use the signature field ID."
                    required:
                      - fieldId
                  x-forma-type: "array: object"
                  description: "The list of non-tabular fields. Maximum 10 items per request."
                tabularValues:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        x-forma-type: "string: UUID"
                        description: "The ID of the table row. You need to generarte the ID (UUID) for the row."
                      table:
                        type: string
                        x-forma-type: "enum:string"
                        description: |-
                          The table to update.
                          Possible values: worklogEntries, materialsEntries, equipmentEntries
                      columns:
                        type: array
                        items:
                          type: object
                          properties:
                            columnId:
                              type: string
                              format: uuid
                              x-forma-type: "string: UUID"
                              description: "Unique identifier for the column. Either columnId or columnName must be provided, but not both."
                            columnName:
                              type: string
                              x-forma-type: "enum:string"
                              description: |-
                                The name of the column to update. Either columnId or columnName must be provided, but not both.
                                For the Work Log table:

                                trade (Crew) - use textVal, timespan (Total hours) - use timespanVal, headcount (workers) - use numberVal, description (work performed) - use textVal

                                For the Equipment table:

                                item (equipment) - use textVal, timespan (Hours used) - use timespanVal, quantity (Quantity) - use numberVal, description (comment) - use textVal

                                For the Materials table:

                                item (Material) - use textVal, quantity (Quantity) - use numberVal, unit (Unit) - use textVal, description (Comment) - use textVal.
                                Possible values: companyId, description, headcount, item, quantity, roleId, timespan, trade, unit
                            numberVal:
                              type: number
                              x-forma-type: number
                              description: |-
                                The attribute used for updating number columns. For example, "numberVal": "42".
                                Each tabular field is assigned a specific value type, which you need to specify when updating the field. numberVal is relevant for updating the following columns: headcount (Workers) and quantity (Quantity).
                            integerVal:
                              type: integer
                              x-forma-type: int
                              description: "The attribute used for updating integer columns."
                            textVal:
                              type: string
                              x-forma-type: string
                              description: |-
                                The attribute used for updating text value columns.
                                Each tabular field is assigned a specific value type, which you need to specify when updating the field. textVal is relevant for updating the following columns: description (Work performed), description (comment), item (Equipment), item (Material), trade (Crew), and unit (Unit).

                                Note: When using svgVal for signatures, textVal should contain the name of the person who signed.

                                Max length: 8000
                            svgVal:
                              type: string
                              x-forma-type: string
                              description: "Base64 encoded SVG string used for signature fields. When providing a signature, you must also include the signer’s name in textVal."
                            arrayVal:
                              type: array
                              items:
                                type: string
                              x-forma-type: "array: string"
                              description: "Array of strings for dropdown or multi-select answers."
                            timespanVal:
                              type: number
                              x-forma-type: number
                              description: |-
                                The attribute used for updating time-related columns. Value represents amount of time in milliseconds.
                                Each tabular field is assigned a specific value type, which you need to specify when updating the field. timespanVal is relevant for updating the following columns: timespan (Total hours), timespan (Hours used).
                            uidVal:
                              type: string
                              x-forma-type: string
                              description: "UUID value for fields that store unique identifiers."
                            dateVal:
                              type: string
                              x-forma-type: string
                              description: "Date value without timezone."
                            timeVal:
                              type: string
                              x-forma-type: string
                              description: "Time value without timezone."
                            datetimeLocalVal:
                              type: string
                              x-forma-type: string
                              description: "Datetime value in local time. When providing this field, you must also include datetimeUtcVal, timezoneVal, and timezoneRulesVal. Optionally include latVal and lngVal for more accurate timezone handling."
                            datetimeUtcVal:
                              type: string
                              x-forma-type: string
                              description: "Datetime value in UTC. Required when datetimeLocalVal is provided."
                            timezoneVal:
                              type: string
                              x-forma-type: string
                              description: "Timezone identifier. Required when datetimeLocalVal is provided."
                            timezoneRulesVal:
                              type: string
                              x-forma-type: string
                              description: "Timezone rules data. Required when datetimeLocalVal is provided."
                            latVal:
                              type: number
                              x-forma-type: number
                              description: "Latitude value. Optional but recommended when using datetime fields for accurate timezone handling during daylight saving transitions."
                            lngVal:
                              type: number
                              x-forma-type: number
                              description: "Longitude value. Optional but recommended when using datetime fields for accurate timezone handling during daylight saving transitions."
                        x-forma-type: "array: object"
                        description: "The set of values for the columns in the row."
                    required:
                      - id
                      - table
                  x-forma-type: "array: object"
                  description: "The list of tabular fields. Maximum 10 items per request."
  "/construction/forms/v1/projects/{projectId}/forms":
    get:
      operationId: "forms-forms-(Deprecated)-GET"
      summary: "Returns a paginated list of forms in a project"
      description: "Returns a paginated list of forms in a project. Forms are sorted by updatedAt in ascending order by default (oldest first)."
      deprecated: true
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: offset
          in: query
          description: "The number of records to skip before returning the result records. Defaults to 0. Increase this value in subsequent requests to continue getting results when the number of records exceeds the requested limit."
          schema:
            type: integer
            x-forma-type: int
        - name: limit
          in: query
          description: "The number of records to return in a single request. Can be a number between 1 and 50. Defaults to 50."
          schema:
            type: integer
            x-forma-type: int
        - name: ids
          in: query
          description: "An array of Form IDs to retrieve."
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: formDateMin
          in: query
          description: "Return Forms with formDate at or after specified date."
          schema:
            type: string
            x-forma-type: string
        - name: formDateMax
          in: query
          description: "Return Forms with formDate at or before specified date."
          schema:
            type: string
            x-forma-type: string
        - name: updatedAfter
          in: query
          description: "Return Forms updated after a specified time."
          schema:
            type: string
            format: date-time
            x-forma-type: "datetime: ISO 8601"
        - name: updatedBefore
          in: query
          description: "Return Forms updated before a specified time."
          schema:
            type: string
            format: date-time
            x-forma-type: "datetime: ISO 8601"
        - name: templateId
          in: query
          description: "Return Forms on template with given ID."
          schema:
            type: string
            x-forma-type: string
        - name: statuses
          in: query
          description: "Return Forms with given statuses."
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: sortBy
          in: query
          description: "Return Forms sorted by specified attribute."
          schema:
            type: string
            x-forma-type: string
        - name: sortOrder
          in: query
          description: "Return Forms in specified sorted order."
          schema:
            type: string
            x-forma-type: string
        - name: locationIds
          in: query
          description: "A sequence of location IDs. Each returned object must be associated with one of the locations specified by the IDs. For example, ?locationId=123e102a-36de-14e7-8c56-1b1234ccbba8&locationId=cee45678-fcc4-43ae-80a2-8ca819dfa70d. See the usage example in the Retrieve Forms Associated With Locations tutorial."
          schema:
            type: array
            items:
              type: string
            x-forma-type: "array: string"
        - name: includeInactiveFormTemplates
          in: query
          description: "Set this value to true in order to include forms that were created using inactive form templates. Defaults to false."
          schema:
            type: boolean
            x-forma-type: boolean
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The current status of the form. Note that forms are created in draft status. Possible values:
                            draft: you can edit forms.

                            inReview: you cannot edit forms, however, they can be approved by form reviewers.

                            submitted: forms are closed and no longer editable.

                            archived forms are not edtiable and hidden in the UI.
                        id:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier of the form."
                        projectId:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier of the project the form belongs to."
                        formNum:
                          type: integer
                          x-forma-type: int
                          description: "A chronological user-fiendly identifier of the form within the project e.g. form #5."
                        formDate:
                          type: string
                          x-forma-type: string
                          description: "Date the form pertains to."
                        assigneeId:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier of the user, role, or company the form is assigned to."
                        assigneeType:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            Type of entity the form is assigned to.
                            Possible values: company, role, user
                        locationId:
                          type: string
                          x-forma-type: string
                          description: "Location identifier associated with the form. For more information about the location, see GET nodes."
                        updatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date when the form was last updated, UTC date and time in ISO-8601 format."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier of the user who created the form."
                        notes:
                          type: string
                          x-forma-type: string
                          description: "Text for the form’s notes section."
                        description:
                          type: string
                          x-forma-type: string
                          description: "Text for the form’s description section."
                        name:
                          type: string
[...]
