openapi: "3.1.0"
info:
  title: "Forma APIs — Model Coordination"
  version: v1
  description: |-
    Forma APIs — Model Coordination.
    Autodesk 문서에서 자동 추출됨. 원본: https://aps.autodesk.com/en/docs/acc/v1
    공통 base 경로: /bim360
    **리전 — 호출 전 반드시 확인** 리전은 완전히 분리되어 있고 리소스 식별자가 호환되지 않습니다. ⚠️ **헤더 이름이 그룹마다 다릅니다.** Hub Admin 은 `Region`, Issues 는 `x-ads-region` 입니다. 이 문서의 "헤더" 표에 적힌 이름을 그대로 쓰세요. 통일해서 보내면 안 됩니다. 미지정 시 자동 라우팅되며 지연이 늘 수 있습니다. 자세한 판정은 `_errata` E-003 참고.
servers:
  - url: "https://developer.api.autodesk.com"
x-forma-group: "Model Coordination"
x-forma-common-base: "/bim360"
paths:
  "/bim360/clash/v3/containers/{containerId}/clashes/assigned/viewcontext":
    post:
      operationId: mc-clash-service-v3-get-assigned-clash-group-view-context-POST
      summary: "GET clashes/assigned/viewcontext"
      description: "Retrieves the view context around a set of assigned clash groups, such as the model set, and documents with which they are associated."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The GUID that uniquely identifies the container."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA. For the full list of supported regions, see the Regions page.
          schema:
            x-forma-type: "enum: string"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  issueId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the assigned clash group issue for retrieving the issue."
                  modelSetId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the model set this assigned clash group issue is associated with."
                  clashGroup:
                    type: object
                    x-forma-type: object
                    description: "A Clash Group."
                    properties:
                      id:
                        type: string
                        format: uuid
                        x-forma-type: "string: UUID"
                        description: "The unique identifier of the assigned clash group."
                      clashTestId:
                        type: string
                        format: uuid
                        x-forma-type: "string: UUID"
                        description: "The unique identifier of the clash test associated with the assigned clash group."
                      issueId:
                        type: string
                        x-forma-type: string
                        description: "The unique identifier of the issue associated with the assigned clash group."
                      createdBy:
                        type: string
                        x-forma-type: string
                        description: "The unique identifier of the user who created the assigned clash group."
                      createdOn:
                        type: string
                        format: date-time
                        x-forma-type: "datetime: ISO 8601"
                        description: "The date and time that the assigned clash group was created."
                      clashes:
                        x-forma-type: "array: int"
                        description: "The clashes included in the assigned clash group. Min items: 1 Max items: 1000."
                  documents:
                    type: array
                    items:
                      type: object
                      properties:
                        lineageUrn:
                          type: string
                          x-forma-type: string
                          description: "The lineage URN of the seed file or document lineage to track with this view. Min length: 1 Max length: 80."
                        viewableName:
                          type: string
                          x-forma-type: string
                          description: "The name of the viewable in the Model Derivative manifest to track along the seed file lineage. This value is ignored if lineageUrn is the URN of a BIM360 Docs Plans folder document. Min length: 1 Max length: 430."
                    x-forma-type: "array: object"
                    description: "The list of documents visible when the issue was created."
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-forma-type: string
                    description: "The error code."
                  title:
                    type: string
                    x-forma-type: string
                    description: "A short title for the error."
                  detail:
                    type: string
                    x-forma-type: string
                    description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          x-forma-type: string
                          description: "The field which failed validation."
                        title:
                          type: string
                          x-forma-type: string
                          description: "A short title for the error."
                        detail:
                          type: string
                          x-forma-type: string
                          description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                        type:
                          type: string
                          x-forma-type: string
                          description: "The error code."
                    x-forma-type: "array: object"
                    description: "A set of specific validation errors that need to be fixed."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/mc-clash-service-v3-get-assigned-clash-group-view-context-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                "array: string: UUID":
                  x-forma-type: "array: string: UUID"
                  description: "A set of issue IDs. Min items: 1 Max items: 5."
              required:
                - "array: string: UUID"
  "/bim360/clash/v3/containers/{containerId}/clashes/jobs/{jobId}":
    get:
      operationId: mc-clash-service-v3-get-clash-group-job-GET
      summary: "Retrieves information about a given clash job"
      description: "Retrieves information about a given clash job."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The GUID that uniquely identifies the container."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: jobId
          in: path
          required: true
          description: "The GUID that uniquely identifies the job."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA. For the full list of supported regions, see the Regions page.
          schema:
            x-forma-type: "enum: string"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The GUID that uniquely identifies the job."
                  groups:
                    x-forma-type: "array: string: UUID"
                    description: "The GUIDs that uniquely identify the clash groups associated with the job."
                  createdIssueIds:
                    x-forma-type: "array: string: UUID"
                    description: "If this job tracks the creation of assigned clashes, the IDs of the created issues."
                  status:
                    x-forma-type: "enum: string"
                    description: "The current job status. Possible values: Failed, Running, Succeeded, Archived."
                  job:
                    type: object
                    x-forma-type: object
                    description: "A job."
                    properties:
                      operation:
                        type: string
                        x-forma-type: string
                        description: "The operation associated with the job."
                      seed:
                        type: object
                        x-forma-type: object
                        description: "The JSON payload that seeded the job."
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-forma-type: string
                    description: "The error code."
                  title:
                    type: string
                    x-forma-type: string
                    description: "A short title for the error."
                  detail:
                    type: string
                    x-forma-type: string
                    description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          x-forma-type: string
                          description: "The field which failed validation."
                        title:
                          type: string
                          x-forma-type: string
                          description: "A short title for the error."
                        detail:
                          type: string
                          x-forma-type: string
                          description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                        type:
                          type: string
                          x-forma-type: string
                          description: "The error code."
                    x-forma-type: "array: object"
                    description: "A set of specific validation errors that need to be fixed."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/mc-clash-service-v3-get-clash-group-job-GET"
  "/bim360/clash/v3/containers/{containerId}/modelsets/{modelSetId}/clashes:reopen":
    post:
      operationId: mc-clash-service-v3-reopen-closed-clash-group-batch-POST
      summary: "Re-opens a batch of existing closed clash groups"
      description: "Re-opens a batch of existing closed clash groups."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The GUID that uniquely identifies the container."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: modelSetId
          in: path
          required: true
          description: "The GUID that uniquely identifies the model set."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA. For the full list of supported regions, see the Regions page.
          schema:
            x-forma-type: "enum: string"
      security:
        - oauth2:
            - "data:write"
      responses:
        "202":
          description: Accepted
          content:
            "application/json":
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The GUID that uniquely identifies the job."
                  groups:
                    x-forma-type: "array: string: UUID"
                    description: "The GUIDs that uniquely identify the clash groups associated with the job."
                  createdIssueIds:
                    x-forma-type: "array: string: UUID"
                    description: "If this job tracks the creation of assigned clashes, the IDs of the created issues."
                  status:
                    x-forma-type: "enum: string"
                    description: "The current job status. Possible values: Failed, Running, Succeeded, Archived."
                  job:
                    type: object
                    x-forma-type: object
                    description: "A job."
                    properties:
                      operation:
                        type: string
                        x-forma-type: string
                        description: "The operation associated with the job."
                      seed:
                        type: object
                        x-forma-type: object
                        description: "The JSON payload that seeded the job."
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-forma-type: string
                    description: "The error code."
                  title:
                    type: string
                    x-forma-type: string
                    description: "A short title for the error."
                  detail:
                    type: string
                    x-forma-type: string
                    description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          x-forma-type: string
                          description: "The field which failed validation."
                        title:
                          type: string
                          x-forma-type: string
                          description: "A short title for the error."
                        detail:
                          type: string
                          x-forma-type: string
                          description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                        type:
                          type: string
                          x-forma-type: string
                          description: "The error code."
                    x-forma-type: "array: object"
                    description: "A set of specific validation errors that need to be fixed."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/mc-clash-service-v3-reopen-closed-clash-group-batch-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                "array: string: UUID":
                  x-forma-type: "array: string: UUID"
                  description: "The array of closed clash group IDs to re-open. Min items: 1 Max items: 20."
              required:
                - "array: string: UUID"
  "/bim360/clash/v3/containers/{containerId}/modelsets/{modelSetId}/clashes/assigned":
    get:
      operationId: mc-clash-service-v3-search-container-issue-clash-groups-GET
      summary: "Retrieves a list of assigned clash groups in a given model set which match the provided search parameters"
      description: "Retrieves a list of assigned clash groups in a given model set which match the provided search parameters."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The GUID that uniquely identifies the container."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: modelSetId
          in: path
          required: true
          description: "The GUID that uniquely identifies the model set."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA. For the full list of supported regions, see the Regions page.
          schema:
            x-forma-type: "enum: string"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  page:
                    type: object
                    x-forma-type: object
                    description: "Paging information associated with a paging response."
                    properties:
                      continuationToken:
                        type: string
                        x-forma-type: string
                        description: "A continuation token to retrieve the next page."
                  groups:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique identifier of the assigned clash group."
                        clashTestId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique identifier of the clash test associated with the assigned clash group."
                        issueId:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier of the issue associated with the assigned clash group."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier of the user who created the assigned clash group."
                        createdOn:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time that the assigned clash group was created."
                        clashes:
                          x-forma-type: "array: int"
                          description: "The clashes included in the assigned clash group. Min items: 1 Max items: 1000."
                    x-forma-type: "array: object"
                    description: "The set of assigned clash groups on this page."
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-forma-type: string
                    description: "The error code."
                  title:
                    type: string
                    x-forma-type: string
                    description: "A short title for the error."
                  detail:
                    type: string
                    x-forma-type: string
                    description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          x-forma-type: string
                          description: "The field which failed validation."
                        title:
                          type: string
                          x-forma-type: string
                          description: "A short title for the error."
                        detail:
                          type: string
                          x-forma-type: string
                          description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                        type:
                          type: string
                          x-forma-type: string
                          description: "The error code."
                    x-forma-type: "array: object"
                    description: "A set of specific validation errors that need to be fixed."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/mc-clash-service-v3-search-container-issue-clash-groups-GET"
  "/bim360/clash/v3/containers/{containerId}/modelsets/{modelSetId}/clashes/closed":
    get:
      operationId: mc-clash-service-v3-search-container-model-set-closed-clash-groups-GET
      summary: "Retrieves a list of closed clash groups in a given model set which match the provided search parameters"
      description: "Retrieves a list of closed clash groups in a given model set which match the provided search parameters."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The GUID that uniquely identifies the container."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: modelSetId
          in: path
          required: true
          description: "The GUID that uniquely identifies the model set."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA. For the full list of supported regions, see the Regions page.
          schema:
            x-forma-type: "enum: string"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  page:
                    type: object
                    x-forma-type: object
                    description: "Paging information associated with a paging response."
                    properties:
                      continuationToken:
                        type: string
                        x-forma-type: string
                        description: "A continuation token to retrieve the next page."
                  groups:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique identifier of the closed clash group."
                        clashTestId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique identifier of the clash test associated with the closed clash group."
                        title:
                          type: string
                          x-forma-type: string
                          description: "The title of the closed clash group. Max length: 128."
                        description:
                          type: string
                          x-forma-type: string
                          description: "The description of the closed clash group. Max length: 1024."
                        reason:
                          x-forma-type: "enum: string"
                          description: "The reason for closing this clash group. Possible values: OTHER, VALID_INTERFACE, VALID_PENETRATION, MINIMAL_OVERLAP, ITEM_CAN_FLEX, MODEL_INACCURACY, FIELD_FIX."
                        screenShots:
                          x-forma-type: "array: string: UUID"
                          description: "The unique identifiers of screenshots associated with the closed clash group. Max items: 5."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The unique identifier of the user who created the closed clash group."
                        createdOn:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time that the closed clash group was created."
                        clashes:
                          x-forma-type: "array: int"
                          description: "The clashes included in the closed clash group. Min items: 1 Max items: 1000."
                    x-forma-type: "array: object"
                    description: "The set of closed clash groups on this page."
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-forma-type: string
                    description: "The error code."
                  title:
                    type: string
                    x-forma-type: string
                    description: "A short title for the error."
                  detail:
                    type: string
                    x-forma-type: string
                    description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          x-forma-type: string
                          description: "The field which failed validation."
                        title:
                          type: string
                          x-forma-type: string
                          description: "A short title for the error."
                        detail:
                          type: string
                          x-forma-type: string
                          description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                        type:
                          type: string
                          x-forma-type: string
                          description: "The error code."
                    x-forma-type: "array: object"
                    description: "A set of specific validation errors that need to be fixed."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/mc-clash-service-v3-search-container-model-set-closed-clash-groups-GET"
  "/bim360/clash/v3/containers/{containerId}/modelsets/{modelSetId}/clashes/grouped":
    get:
      operationId: mc-clash-service-v3-get-grouped-clashes-GET
      summary: "Retrieves a list of clashes associated with assigned or closed clash groups in a given model set"
      description: "Retrieves a list of clashes associated with assigned or closed clash groups in a given model set."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The GUID that uniquely identifies the container."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: modelSetId
          in: path
          required: true
          description: "The GUID that uniquely identifies the model set."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA. For the full list of supported regions, see the Regions page.
          schema:
            x-forma-type: "enum: string"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  clashes:
                    x-forma-type: "array: int"
                    description: "The set of clashes that have been assigned or closed."
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-forma-type: string
                    description: "The error code."
                  title:
                    type: string
                    x-forma-type: string
                    description: "A short title for the error."
                  detail:
                    type: string
                    x-forma-type: string
                    description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          x-forma-type: string
                          description: "The field which failed validation."
                        title:
                          type: string
                          x-forma-type: string
                          description: "A short title for the error."
                        detail:
                          type: string
                          x-forma-type: string
                          description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                        type:
                          type: string
                          x-forma-type: string
                          description: "The error code."
                    x-forma-type: "array: object"
                    description: "A set of specific validation errors that need to be fixed."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/mc-clash-service-v3-get-grouped-clashes-GET"
  "/bim360/clash/v3/containers/{containerId}/modelsets/{modelSetId}/screenshots/{screenShotId}":
    get:
      operationId: mc-clash-service-v3-get-screen-shot-GET
      summary: "Retrieves a specific screenshot based on the screenshot ID"
      description: "Retrieves a specific screenshot based on the screenshot ID."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The GUID that uniquely identifies the container."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: modelSetId
          in: path
          required: true
          description: "The GUID that uniquely identifies the model set."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: screenShotId
          in: path
          required: true
          description: "The GUID that uniquely identifies the screenshot."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA. For the full list of supported regions, see the Regions page.
          schema:
            x-forma-type: "enum: string"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-forma-type: string
                    description: "The error code."
                  title:
                    type: string
                    x-forma-type: string
                    description: "A short title for the error."
                  detail:
                    type: string
                    x-forma-type: string
                    description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          x-forma-type: string
                          description: "The field which failed validation."
                        title:
                          type: string
                          x-forma-type: string
                          description: "A short title for the error."
                        detail:
                          type: string
                          x-forma-type: string
                          description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                        type:
                          type: string
                          x-forma-type: string
                          description: "The error code."
                    x-forma-type: "array: object"
                    description: "A set of specific validation errors that need to be fixed."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/mc-clash-service-v3-get-screen-shot-GET"
  "/bim360/clash/v3/containers/{containerId}/modelsets/{modelSetId}/screenshots":
    post:
      operationId: mc-clash-service-v3-add-screen-shot-POST
      summary: "Uploads a screenshot, associating it with a given model set"
      description: "Uploads a screenshot, associating it with a given model set."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The GUID that uniquely identifies the container."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: modelSetId
          in: path
          required: true
          description: "The GUID that uniquely identifies the model set."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Content-Type
          in: header
          required: true
          description: "Must be image/png"
          schema:
            type: string
            x-forma-type: string
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA. For the full list of supported regions, see the Regions page.
          schema:
            x-forma-type: "enum: string"
      security:
        - oauth2:
            - "data:create"
            - "data:write"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The temporary ID of the new screenshot."
                  size:
                    type: integer
                    x-forma-type: int
                    description: "The size of the screenshot in bytes."
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-forma-type: string
                    description: "The error code."
                  title:
                    type: string
                    x-forma-type: string
                    description: "A short title for the error."
                  detail:
                    type: string
                    x-forma-type: string
                    description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          x-forma-type: string
                          description: "The field which failed validation."
                        title:
                          type: string
                          x-forma-type: string
                          description: "A short title for the error."
                        detail:
                          type: string
                          x-forma-type: string
                          description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                        type:
                          type: string
                          x-forma-type: string
                          description: "The error code."
                    x-forma-type: "array: object"
                    description: "A set of specific validation errors that need to be fixed."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:create"
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/mc-clash-service-v3-add-screen-shot-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                binary:
                  x-forma-type: binary
                  description: "The raw screenshot image binary data to upload."
              required:
                - binary
  "/bim360/clash/v3/containers/{containerId}/modelsets/{modelSetId}/tests":
    get:
      operationId: mc-clash-service-v3-get-model-set-clash-tests-GET
      summary: "Retrieves a list of summaries for all clash tests that have been executed for a given model set"
      description: "Retrieves a list of summaries for all clash tests that have been executed for a given model set. If no tests have yet been completed for the specified model set, no tests are returned."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The GUID that uniquely identifies the container."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: modelSetId
          in: path
          required: true
          description: "The GUID that uniquely identifies the model set."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA. For the full list of supported regions, see the Regions page.
          schema:
            x-forma-type: "enum: string"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  page:
                    type: object
                    x-forma-type: object
                    description: "Paging information associated with a paging response."
                    properties:
                      continuationToken:
                        type: string
                        x-forma-type: string
                        description: "A continuation token to retrieve the next page."
                  tests:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The GUID that uniquely identifies the clash test."
                        completedOn:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time that the clash test was completed."
                        modelSetId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The GUID that uniquely identifies the model set associated with the clash test."
                        modelSetVersion:
                          type: integer
                          x-forma-type: int
                          description: "The version number of the model set associated with the clash test."
                        status:
                          x-forma-type: "enum: string"
                          description: "The status of the clash test. If the status is Success, the results of the clash test are available for use. Possible values: Pending, Processing, Success, Failed."
                    x-forma-type: "array: object"
                    description: "A list of clash tests."
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-forma-type: string
                    description: "The error code."
                  title:
                    type: string
                    x-forma-type: string
                    description: "A short title for the error."
                  detail:
                    type: string
                    x-forma-type: string
                    description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          x-forma-type: string
                          description: "The field which failed validation."
                        title:
                          type: string
                          x-forma-type: string
                          description: "A short title for the error."
                        detail:
                          type: string
                          x-forma-type: string
                          description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                        type:
                          type: string
                          x-forma-type: string
                          description: "The error code."
                    x-forma-type: "array: object"
                    description: "A set of specific validation errors that need to be fixed."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/mc-clash-service-v3-get-model-set-clash-tests-GET"
  "/bim360/clash/v3/containers/{containerId}/modelsets/{modelSetId}/versions/{version}/tests":
    get:
      operationId: mc-clash-service-v3-get-model-set-version-clash-tests-GET
      summary: "Retrieves a list of summaries for all clash tests that have been executed for a given model set version"
      description: "Retrieves a list of summaries for all clash tests that have been executed for a given model set version. If no tests have yet been completed for the specified model set version, no tests are returned."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The GUID that uniquely identifies the container."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: modelSetId
          in: path
          required: true
          description: "The GUID that uniquely identifies the model set."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: version
          in: path
          required: true
          description: "The model set version number."
          schema:
            type: integer
            x-forma-type: int
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA. For the full list of supported regions, see the Regions page.
          schema:
            x-forma-type: "enum: string"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  page:
                    type: object
                    x-forma-type: object
                    description: "Paging information associated with a paging response."
                    properties:
                      continuationToken:
                        type: string
                        x-forma-type: string
                        description: "A continuation token to retrieve the next page."
                  tests:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The GUID that uniquely identifies the clash test."
                        completedOn:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time that the clash test was completed."
                        modelSetId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The GUID that uniquely identifies the model set associated with the clash test."
                        modelSetVersion:
                          type: integer
                          x-forma-type: int
                          description: "The version number of the model set associated with the clash test."
                        status:
                          x-forma-type: "enum: string"
                          description: "The status of the clash test. If the status is Success, the results of the clash test are available for use. Possible values: Pending, Processing, Success, Failed."
                    x-forma-type: "array: object"
                    description: "A list of clash tests."
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-forma-type: string
                    description: "The error code."
                  title:
                    type: string
                    x-forma-type: string
                    description: "A short title for the error."
                  detail:
                    type: string
                    x-forma-type: string
                    description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          x-forma-type: string
                          description: "The field which failed validation."
                        title:
                          type: string
                          x-forma-type: string
                          description: "A short title for the error."
                        detail:
                          type: string
                          x-forma-type: string
                          description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                        type:
                          type: string
                          x-forma-type: string
                          description: "The error code."
                    x-forma-type: "array: object"
                    description: "A set of specific validation errors that need to be fixed."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/mc-clash-service-v3-get-model-set-version-clash-tests-GET"
  "/bim360/clash/v3/containers/{containerId}/tests/{testId}/clashes:assign":
    post:
      operationId: mc-clash-service-v3-add-assigned-clash-group-batch-POST
      summary: "Creates a batch of new assigned clash groups for the given clash test"
      description: "Creates a batch of new assigned clash groups for the given clash test."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The GUID that uniquely identifies the container."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: testId
          in: path
          required: true
          description: "The GUID that uniquely identifies the clash test."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA. For the full list of supported regions, see the Regions page.
          schema:
            x-forma-type: "enum: string"
      security:
        - oauth2:
            - "data:create"
            - "data:write"
      responses:
        "202":
          description: Accepted
          content:
            "application/json":
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The GUID that uniquely identifies the job."
                  groups:
                    x-forma-type: "array: string: UUID"
                    description: "The GUIDs that uniquely identify the clash groups associated with the job."
                  createdIssueIds:
                    x-forma-type: "array: string: UUID"
                    description: "If this job tracks the creation of assigned clashes, the IDs of the created issues."
                  status:
                    x-forma-type: "enum: string"
                    description: "The current job status. Possible values: Failed, Running, Succeeded, Archived."
                  job:
                    type: object
                    x-forma-type: object
                    description: "A job."
                    properties:
                      operation:
                        type: string
                        x-forma-type: string
                        description: "The operation associated with the job."
                      seed:
                        type: object
                        x-forma-type: object
                        description: "The JSON payload that seeded the job."
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-forma-type: string
                    description: "The error code."
                  title:
                    type: string
                    x-forma-type: string
                    description: "A short title for the error."
                  detail:
                    type: string
                    x-forma-type: string
                    description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          x-forma-type: string
                          description: "The field which failed validation."
                        title:
                          type: string
                          x-forma-type: string
                          description: "A short title for the error."
                        detail:
                          type: string
                          x-forma-type: string
                          description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                        type:
                          type: string
                          x-forma-type: string
                          description: "The error code."
                    x-forma-type: "array: object"
                    description: "A set of specific validation errors that need to be fixed."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:create"
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/mc-clash-service-v3-add-assigned-clash-group-batch-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The unique identifier of the new assigned clash group."
                title:
                  type: string
                  x-forma-type: string
                  description: "The title of the new assigned clash group. Min length: 1 Max length: 4200."
                description:
                  type: string
                  x-forma-type: string
                  description: "The description of the new assigned clash group. Max length: 10000."
                assignedTo:
                  type: string
                  x-forma-type: string
                  description: "The user, role or company that the new clash group is assigned to."
                assignedToType:
                  x-forma-type: "enum: string"
                  description: "Specifies the type that the assignedTo parameter refers to. Possible values: User, Role, Company."
                dueDate:
                  type: string
                  format: date-time
                  x-forma-type: "datetime: ISO 8601"
                  description: "The date and time that the new assigned clash group is due."
                locationId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The location ID associated with the new issue."
                locationDescription:
                  type: string
                  x-forma-type: string
                  description: "The description of the location associated with the new issue."
                owner:
                  type: string
                  x-forma-type: string
                  description: "The user who owns the new issue."
                status:
                  x-forma-type: "enum: string"
                  description: "The status of the new issue. Possible values: Open, Draft."
                pushpin:
                  type: object
                  x-forma-type: object
                  description: "An issue push pin object, which describes a visual marker to place an issue on the 3D model."
                  properties:
                    location:
                      type: object
                      x-forma-type: object
                      description: "A vector describing where in 3D space the pushpin is located."
                      properties:
                        x:
                          type: integer
                          x-forma-type: int
                          description: "The X component of the 3D vector."
                        "y":
                          type: integer
                          x-forma-type: int
                          description: "The Y component of the 3D vector."
                        z:
                          type: integer
                          x-forma-type: int
                          description: "The Z component of the 3D vector."
                      required:
                        - x
                        - "y"
                        - z
                    objectId:
                      type: integer
                      x-forma-type: int
                      description: "The ID of the object in the viewer to link with this issue."
                    externalId:
                      type: string
                      x-forma-type: string
                      description: "The external ID (for example, derived from the Revit ID) of the object in the viewer to link with this issue."
                    attributesVersion:
                      type: integer
                      x-forma-type: int
                      description: "The version of the data described in the viewer state property."
                    type:
                      x-forma-type: "enum: string"
                      description: "The type of pushpin. Possible values: TwoDVectorPushpin."
                    viewerState:
                      type: object
                      x-forma-type: object
                      description: "An object describing the current state of the viewer, such as the camera position."
                  required:
                    - location
                    - objectId
                clashes:
                  x-forma-type: "array: int"
                  description: "The clashes to be included in the new assigned clash group. Min items: 1 Max items: 1000."
                issueTypeId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The issue type ID associated with the new assigned clash group."
                issueSubTypeId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The issue sub-type ID associated with the new assigned clash group."
                rootCauseId:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The root cause ID associated with the new assigned clash group."
                customAttributes:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        x-forma-type: "string: UUID"
                        description: "The ID of the custom attribute, as defined in the project settings."
                      value:
                        type: string
                        x-forma-type: string
                        description: "The value of the custom attribute."
                  x-forma-type: "array: object"
                  description: "The list of attributes to associate with the new issue. Max items: 64."
                screenShots:
                  x-forma-type: "array: string: UUID"
                  description: "The unique identifiers of screenshots associated with the new assigned clash group. Max items: 5."
                documentVersionUrn:
                  type: string
                  x-forma-type: string
                  description: "A document or seed file version URN to associate the issue with. Min length: 1 Max length: 80."
                viewableName:
                  type: string
                  x-forma-type: string
                  description: "The name of the viewable in the Model Derivative manifest for the supplied version URN. Min length: 1 Max length: 430."
                viewContext:
                  type: array
                  items:
                    type: object
                    properties:
                      urn:
                        type: string
                        x-forma-type: string
                        description: "A document or seed file version URN to associate the issue with. Min length: 1 Max length: 80."
                      viewableName:
                        type: string
                        x-forma-type: string
                        description: "The name of the viewable in the Model Derivative manifest for the supplied version URN. Min length: 1 Max length: 430."
                    required:
                      - urn
                      - viewableName
                  x-forma-type: "array: object"
                  description: "Provides context for when this issue is viewed. Min items: 1 Max items: 50."
              required:
                - clashes
                - documentVersionUrn
                - issueSubTypeId
                - issueTypeId
                - pushpin
                - title
  "/bim360/clash/v3/containers/{containerId}/tests/{testId}/clashes:close":
    post:
      operationId: mc-clash-service-v3-add-closed-clash-group-batch-POST
      summary: "Adds a batch of new closed clash groups to the given clash test"
      description: "Adds a batch of new closed clash groups to the given clash test."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The GUID that uniquely identifies the container."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: testId
          in: path
          required: true
          description: "The GUID that uniquely identifies the clash test."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA. For the full list of supported regions, see the Regions page.
          schema:
            x-forma-type: "enum: string"
      security:
        - oauth2:
            - "data:create"
            - "data:write"
      responses:
        "202":
          description: Accepted
          content:
            "application/json":
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The GUID that uniquely identifies the job."
                  groups:
                    x-forma-type: "array: string: UUID"
                    description: "The GUIDs that uniquely identify the clash groups associated with the job."
                  createdIssueIds:
                    x-forma-type: "array: string: UUID"
                    description: "If this job tracks the creation of assigned clashes, the IDs of the created issues."
                  status:
                    x-forma-type: "enum: string"
                    description: "The current job status. Possible values: Failed, Running, Succeeded, Archived."
                  job:
                    type: object
                    x-forma-type: object
                    description: "A job."
                    properties:
                      operation:
                        type: string
                        x-forma-type: string
                        description: "The operation associated with the job."
                      seed:
                        type: object
                        x-forma-type: object
                        description: "The JSON payload that seeded the job."
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-forma-type: string
                    description: "The error code."
                  title:
                    type: string
                    x-forma-type: string
                    description: "A short title for the error."
                  detail:
                    type: string
                    x-forma-type: string
                    description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          x-forma-type: string
                          description: "The field which failed validation."
                        title:
                          type: string
                          x-forma-type: string
                          description: "A short title for the error."
                        detail:
                          type: string
                          x-forma-type: string
                          description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                        type:
                          type: string
                          x-forma-type: string
                          description: "The error code."
                    x-forma-type: "array: object"
                    description: "A set of specific validation errors that need to be fixed."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:create"
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/mc-clash-service-v3-add-closed-clash-group-batch-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                  x-forma-type: "string: UUID"
                  description: "The unique identifier of the new closed clash group."
                title:
                  type: string
                  x-forma-type: string
                  description: "The title of the new closed clash group. Max length: 128."
                description:
                  type: string
                  x-forma-type: string
                  description: "The description of the new closed clash group. Max length: 1024."
                reason:
                  x-forma-type: "enum: string"
                  description: "The reason that the clash group is being closed. Possible values: OTHER, VALID_INTERFACE, VALID_PENETRATION, MINIMAL_OVERLAP, ITEM_CAN_FLEX, MODEL_INACCURACY, FIELD_FIX."
                screenShots:
                  x-forma-type: "array: string: UUID"
                  description: "The unique identifiers of screenshots to be associated with the new closed clash group. Max items: 5."
                clashes:
                  x-forma-type: "array: int"
                  description: "The clashes to be included in the new closed clash group. Min items: 1 Max items: 1000."
              required:
                - clashes
                - reason
                - title
  "/bim360/clash/v3/containers/{containerId}/tests/{testId}/clashes/assigned":
    get:
      operationId: mc-clash-service-v3-get-clash-test-assigned-clash-group-intersection-GET
      summary: "Retrieves the state of all assigned clash groups in a particular model set, relative to a specified clash test"
      description: "Retrieves the state of all assigned clash groups in a particular model set, relative to a specified clash test."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The GUID that uniquely identifies the container."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: testId
          in: path
          required: true
          description: "The GUID that uniquely identifies the clash test."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA. For the full list of supported regions, see the Regions page.
          schema:
            x-forma-type: "enum: string"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  page:
                    type: object
                    x-forma-type: object
                    description: "Paging information associated with a paging response."
                    properties:
                      continuationToken:
                        type: string
                        x-forma-type: string
                        description: "A continuation token to retrieve the next page."
                  modelSetId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The GUID that uniquely identifies the model set."
                  modelSetVersion:
                    type: integer
                    x-forma-type: int
                    description: "The model set version number."
                  groups:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique identifier of the clash group."
                        originalClashTestId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique identifier of the clash test originally associated with the clash group."
                        createdAtVersion:
                          type: integer
                          x-forma-type: int
                          description: "The model set version number associated with the original clash test."
                        existing:
                          x-forma-type: "array: int"
                          description: "Clashes contained with the clash group that still exist within the specified clash test."
                        resolved:
                          x-forma-type: "array: int"
                          description: "Clashes contained with the clash group that have been resolved."
                    x-forma-type: "array: object"
                    description: "The list of clash groups intersected with the specified clash test."
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-forma-type: string
                    description: "The error code."
                  title:
                    type: string
                    x-forma-type: string
                    description: "A short title for the error."
                  detail:
                    type: string
                    x-forma-type: string
                    description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          x-forma-type: string
                          description: "The field which failed validation."
                        title:
                          type: string
                          x-forma-type: string
                          description: "A short title for the error."
                        detail:
                          type: string
                          x-forma-type: string
                          description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                        type:
                          type: string
                          x-forma-type: string
                          description: "The error code."
                    x-forma-type: "array: object"
                    description: "A set of specific validation errors that need to be fixed."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/mc-clash-service-v3-get-clash-test-assigned-clash-group-intersection-GET"
    post:
      operationId: mc-clash-service-v3-get-assigned-clash-group-batch-POST
      summary: "Retrieves the state of the specified assigned clash groups, relative to a specified clash test"
      description: "Retrieves the state of the specified assigned clash groups, relative to a specified clash test."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The GUID that uniquely identifies the container."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: testId
          in: path
          required: true
          description: "The GUID that uniquely identifies the clash test."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA. For the full list of supported regions, see the Regions page.
          schema:
            x-forma-type: "enum: string"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique identifier of the assigned clash group."
                  clashTestId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique identifier of the clash test associated with the assigned clash group."
                  issueId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique identifier of the issue associated with the assigned clash group."
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The unique identifier of the user who created the assigned clash group."
                  createdOn:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time that the assigned clash group was created."
                  clashData:
                    type: object
                    x-forma-type: object
                    description: "The clash data associated with a clash group."
                    properties:
                      documents:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              x-forma-type: int
                              description: "The document index ID."
                            urn:
                              type: string
                              x-forma-type: string
                              description: "The document URN."
                            viewableName:
                              type: string
                              x-forma-type: string
                              description: "The viewable name of the document in the model set version."
                        x-forma-type: "array: object"
                        description: "The documents associated with the clash groups supplied."
                      clashes:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              x-forma-type: int
                              description: "The clash index ID."
                            clash:
                              x-forma-type: "array: int"
                              description: "The clash instance index ID. Min items: 2 Max items: 2."
                            dist:
                              type: integer
                              x-forma-type: int
                              description: "The clash distance."
                            status:
                              type: string
                              x-forma-type: string
                              description: "The status of the clash."
                        x-forma-type: "array: object"
                        description: "The clashes associated with the clash groups supplied."
                      clashInstances:
                        type: array
                        items:
                          type: object
                          properties:
                            cid:
                              type: integer
                              x-forma-type: int
                              description: "The clash ID in the model set version."
                            ldid:
                              type: integer
                              x-forma-type: int
                              description: "The left-hand-side document ID."
                            loid:
                              type: integer
                              x-forma-type: int
                              description: "The left-hand-side object ID."
                            lvid:
                              type: integer
                              x-forma-type: int
                              description: "The left-hand-side viewable ID."
                            rdid:
                              type: integer
                              x-forma-type: int
                              description: "The right-hand-side document ID."
                            roid:
                              type: integer
                              x-forma-type: int
                              description: "The right-hand-side object ID."
                            rvid:
                              type: integer
                              x-forma-type: int
                              description: "The left-hand-side viewable ID."
                        x-forma-type: "array: object"
                        description: "The clash instances associated with the clash groups supplied."
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-forma-type: string
                    description: "The error code."
                  title:
                    type: string
                    x-forma-type: string
                    description: "A short title for the error."
                  detail:
                    type: string
                    x-forma-type: string
                    description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          x-forma-type: string
                          description: "The field which failed validation."
                        title:
                          type: string
                          x-forma-type: string
                          description: "A short title for the error."
                        detail:
                          type: string
                          x-forma-type: string
                          description: "A more detailed, human readable description of the error, assuming that this message is not localized and is therefore EN-US. UI consumers can use the error.type value to provide a localized version of this error for presentation."
                        type:
                          type: string
                          x-forma-type: string
                          description: "The error code."
                    x-forma-type: "array: object"
                    description: "A set of specific validation errors that need to be fixed."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/mc-clash-service-v3-get-assigned-clash-group-batch-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                "array: string: UUID":
                  x-forma-type: "array: string: UUID"
                  description: "The list of clash group IDs OR BIM 360 issue IDs to query (depending on the value of the issues query parameter). Min items: 1 Max items: 20."
              required:
                - "array: string: UUID"
  "/bim360/clash/v3/containers/{containerId}/tests/{testId}/clashes/closed":
    get:
      operationId: mc-clash-service-v3-get-clash-test-closed-clash-group-intersection-GET
      summary: "Retrieves the state of all closed clash groups in a particular model set, relative to a specified clash test"
      description: "Retrieves the state of all closed clash groups in a particular model set, relative to a specified clash test."
      parameters:
        - name: containerId
          in: path
          required: true
          description: "The GUID that uniquely identifies the container."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: testId
          in: path
          required: true
          description: "The GUID that uniquely identifies the clash test."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: x-ads-region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.
            Possible values: US, EMEA. For the full list of supported regions, see the Regions page.
          schema:
            x-forma-type: "enum: string"
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  page:
                    type: object
                    x-forma-type: object
                    description: "Paging information associated with a paging response."
                    properties:
                      continuationToken:
                        type: string
                        x-forma-type: string
                        description: "A continuation token to retrieve the next page."
                  modelSetId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The GUID that uniquely identifies the model set."
                  modelSetVersion:
                    type: integer
                    x-forma-type: int
                    description: "The model set version number."
                  groups:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
[...]
