openapi: "3.1.0"
info:
  title: "Forma Site Design — terrain"
  version: v1
  description: |-
    Forma Site Design — terrain.
    Autodesk 문서에서 자동 추출됨. 원본: https://aps.autodesk.com/en/docs/forma/v1
    공통 base 경로: /forma/terrain/v1alpha/terrains
    **리전 — 호출 전 반드시 확인** Forma 는 리전별로 완전히 분리된 별개 시스템입니다. 리소스 식별자(urn 등)는 리전을 넘어 유효하지 않습니다. - HTTP API: 호스트는 하나(`developer.api.autodesk.com`)이고, **`X-Ads-Region` 헤더로 리전을 지정**합니다 (`US` | `EMEA`, 미지정 시 `US`). - 웹앱/임베디드 뷰: `app.autodeskforma.com`(US) 과 `app.autodeskforma.eu`(EMEA) 로 도메인 자체가 다릅니다. - 리전이 틀리면 인증이 정상이어도 **403** 이 납니다. 문서의 403 설명이 그대로 "Are you in the right region?" 입니다.
servers:
  - url: "https://developer.api.autodesk.com"
x-forma-group: terrain
x-forma-common-base: "/forma/terrain/v1alpha/terrains"
paths:
  "/forma/terrain/v1alpha/terrains/{elementId}/revisions/{revision}/download":
    get:
      operationId: terrain-downloadterrainglb-GET
      summary: "This endpoint is used to download a specific terrain GLB file by providing the terrain’s elementId and revision"
      description: "This endpoint is used to download a specific terrain GLB file by providing the terrain’s elementId and revision."
      parameters:
        - name: elementId
          in: path
          required: true
          description: "ID of the element"
          schema:
            type: string
            x-forma-type: string
        - name: revision
          in: path
          required: true
          description: Revision
          schema:
            type: string
            x-forma-type: string
        - name: authcontext
          in: query
          required: true
          description: "Provides the authcontext of the request, such as the forma project"
          schema:
            type: string
            x-forma-type: string
        - name: X-Ads-Region
          in: header
          description: "Specifies the geographical location (region) of the service. US or EMEA. Defaults to US."
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
            - "data:write"
      responses:
        "307":
          description: "Redirects to the terrain GLB file download location."
          headers:
            Cache-Control:
              schema:
                type: string
                x-forma-type: string
            Location:
              schema:
                type: string
                x-forma-type: string
              description: URL
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "data:read"
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/forma/v1/reference/http-reference/terrain-downloadterrainglb-GET"
  "/forma/terrain/v1alpha/terrains/{elementId}/revisions/{revision}":
    patch:
      operationId: terrain-markterrainasuploaded-PATCH
      summary: "This endpoint is used to mark a specific terrain as uploaded by providing the terrain’s elementId and revision"
      description: "This endpoint is used to mark a specific terrain as uploaded by providing the terrain’s elementId and revision."
      parameters:
        - name: X-Ads-Region
          in: header
          description: "Specifies the geographical location (region) of the service. US or EMEA. Defaults to US."
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
            - "data:write"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    x-forma-type: string
                  revision:
                    type: string
                    x-forma-type: string
                  state:
                    type: string
                    x-forma-type: "enum:string"
                    description: "Possible values: creating, patching, complete, failed"
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "data:read"
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/forma/v1/reference/http-reference/terrain-markterrainasuploaded-PATCH"
      x-forma-path-param-mismatch: "경로 템플릿에 있으나 URI Parameters 표에 없음: elementId, revision"
  "/forma/terrain/v1alpha/terrains":
    post:
      operationId: terrain-createterrain-POST
      summary: "This endpoint is used to create a new terrain and generate a link for uploading a gzipped terrain GLB file"
      description: "This endpoint is used to create a new terrain and generate a link for uploading a gzipped terrain GLB file. Use HTTP PUT method for the upload."
      parameters:
        - name: authcontext
          in: query
          required: true
          description: "Provides the authcontext of the request, such as the forma project"
          schema:
            type: string
            x-forma-type: string
        - name: X-Ads-Region
          in: header
          description: "Specifies the geographical location (region) of the service. US or EMEA. Defaults to US."
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
            - "data:write"
      responses:
        "201":
          description: Created
          content:
            "application/json":
              schema:
                type: object
                properties:
                  elementId:
                    type: string
                    x-forma-type: string
                  presignedS3Url:
                    type: string
                    x-forma-type: string
                    description: "The URL to upload a gzipped terrain GLB file. Use HTTP PUT method for the upload."
                  revision:
                    type: string
                    x-forma-type: string
                  urn:
                    type: string
                    x-forma-type: string
        "400":
          description: "Bad Request"
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context optional"
      x-forma-scopes:
        - "data:read"
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/forma/v1/reference/http-reference/terrain-createterrain-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                bbox3d:
                  type: array
                  x-forma-type: array
                licensing:
                  type: object
                  x-forma-type: object
                  properties:
                    attributions:
                      type: array
                      items:
                        type: object
                        properties:
                          action:
                            type: string
                            x-forma-type: "enum:string"
                            description: "Possible values: display, transfer"
                          content:
                            type: string
                            x-forma-type: string
                          url:
                            type: string
                            x-forma-type: string
                        required:
                          - action
                          - content
                          - url
                      x-forma-type: "array: object"
                    exportable:
                      type: boolean
                      x-forma-type: boolean
                    licenseUrl:
                      type: string
                      x-forma-type: string
                    providerDescriptionUrl:
                      type: string
                      x-forma-type: string
                  required:
                    - attributions
                    - exportable
                    - licenseUrl
                    - providerDescriptionUrl
              required:
                - bbox3d
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: "APS OAuth2. 엔드포인트마다 x-forma-auth-context 를 확인하세요. \"user context required\" 는 3-legged 토큰이 필요하고, \"user context optional\" 은 2-legged(client_credentials)로도 호출할 수 있습니다."
      flows:
        clientCredentials:
          tokenUrl: "https://developer.api.autodesk.com/authentication/v2/token"
          scopes:
            "data:read": "data:read"
            "data:write": "data:write"
