openapi: "3.1.0"
info:
  title: "Forma APIs — Classifications (beta)"
  version: v1
  description: |-
    Forma APIs — Classifications (beta).
    Autodesk 문서에서 자동 추출됨. 원본: https://aps.autodesk.com/en/docs/acc/v1
    공통 base 경로: /construction/classifications/v1/projects
    **리전 — 호출 전 반드시 확인** 리전은 완전히 분리되어 있고 리소스 식별자가 호환되지 않습니다. ⚠️ **헤더 이름이 그룹마다 다릅니다.** Hub Admin 은 `Region`, Issues 는 `x-ads-region` 입니다. 이 문서의 "헤더" 표에 적힌 이름을 그대로 쓰세요. 통일해서 보내면 안 됩니다. 미지정 시 자동 라우팅되며 지연이 늘 수 있습니다. 자세한 판정은 `_errata` E-003 참고.
servers:
  - url: "https://developer.api.autodesk.com"
x-forma-group: "Classifications (beta)"
x-forma-common-base: "/construction/classifications/v1/projects"
paths:
  "/construction/classifications/v1/projects/{projectId}/trees:import":
    post:
      operationId: classifications-treesimport-POST
      summary: Trees
      description: "Creates a new classification tree by importing a structured hierarchy of nodes, and publishes it as the latest version (tip version)."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial.

            You need to convert the project ID into a project ID for the Forma API by removing the b. prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.

            Examples include: US, EMEA.

            For the full list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "201":
          description: Created
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique identifier of the classification tree."
                  name:
                    type: string
                    x-forma-type: string
                    description: "The name of the tree."
                  description:
                    type: string
                    x-forma-type: string
                    description: "The description of the tree."
                  isBasedOnAccountTree:
                    type: boolean
                    x-forma-type: boolean
                    description: |-
                      true : the tree is linked to an account-level source tree and changes to the source may propagate to this tree.

                      false : the tree is either standalone or was originally based on an account tree but has since been disconnected.
                  treeConnectionType:
                    description: "The connection state of the tree. standalone: not derived from another tree. connected: derived from another tree and linked to it. disconnected: derived from another tree but disconnected from it."
                    type: object
                    properties:
                      anyOf:
                        description: "The connection state of the tree. standalone: not derived from another tree. connected: derived from another tree and linked to it. disconnected: derived from another tree but disconnected from it."
                        type: object
                        properties:
                          "0":
                            type: string
                            x-forma-type: "enum:string"
                            description: "Will always be: standalone"
                          "1":
                            type: string
                            x-forma-type: "enum:string"
                            description: "Will always be: connected"
                          "2":
                            type: string
                            x-forma-type: "enum:string"
                            description: "Will always be: disconnected"
                  originalTreeId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the source tree this tree was based on. This can be a tree from the same project or from an account-level library. Returns null if the tree was not derived from another tree."
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the tree was created, in the following format YYYY-MM-DDTHH:mm:ss.SSSZ (ISO 8601) in UTC. For example 2018-07-22T15:05:58.033Z."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the tree was last updated, in the following format: YYYY-MM-DDTHH:mm:ss.SSSZ (ISO 8601) in UTC. For example, 2018-07-22T15:05:58.033Z. Note that this value is also updated when a new version is published."
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who created the tree. To find the name of user, call GET users."
                  updatedBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who last updated the tree. To find the name of user, call GET users."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "422":
          description: "Unprocessable Entity"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/classifications-treesimport-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                name:
                  type: string
                  x-forma-type: string
                  description: |-
                    The name of the tree.
                    Max length: 256
                description:
                  type: string
                  x-forma-type: string
                  description: |-
                    The description of the tree.
                    Max length: 256
                importData:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        x-forma-type: "string: UUID"
                        description: "The UUID identifier of the node. Optional for import and reimport. During reimport, if provided, the system uses this value to match and update an existing node. If no matching node is found or the field is omitted, a new node is created at the same position in the hierarchy."
                      name:
                        type: string
                        x-forma-type: string
                        description: |-
                          The display name of the node.
                          Max length: 2048
                      nodeCode:
                        type: string
                        x-forma-type: string
                        description: |-
                          A code that uniquely identifies the node within the tree.
                          Max length: 256
                      children:
                        type: array
                        x-forma-type: array
                        description: "The child nodes nested under this node. Each child follows the same structure and can include further nested children. Up to 50000 items are accepted in this array."
                    required:
                      - name
                  x-forma-type: "array: object"
                  description: "A list of root nodes for the tree. Each node can include nested children to represent the hierarchy. The full payload supports up to 50000 total nodes across all levels, with a maximum nesting depth of 10."
              required:
                - importData
                - name
  "/construction/classifications/v1/projects/{projectId}/trees/{treeId}:reimport":
    post:
      operationId: classifications-trees-treeId-reimport-POST
      summary: Trees
      description: "Updates the nodes of an existing classification tree by reimporting a structured hierarchy, and publishes the result as the latest version (tip version)."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial.

            You need to convert the project ID into a project ID for the Forma API by removing the b. prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: treeId
          in: path
          required: true
          description: "The unique identifier of the classification tree. To find the ID, call GET trees."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.

            Examples include: US, EMEA.

            For the full list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "201":
          description: Created
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique identifier of the classification tree."
                  name:
                    type: string
                    x-forma-type: string
                    description: "The name of the tree."
                  description:
                    type: string
                    x-forma-type: string
                    description: "The description of the tree."
                  isBasedOnAccountTree:
                    type: boolean
                    x-forma-type: boolean
                    description: |-
                      true : the tree is linked to an account-level source tree and changes to the source may propagate to this tree.

                      false : the tree is either standalone or was originally based on an account tree but has since been disconnected.
                  treeConnectionType:
                    description: "The connection state of the tree. standalone: not derived from another tree. connected: derived from another tree and linked to it. disconnected: derived from another tree but disconnected from it."
                    type: object
                    properties:
                      anyOf:
                        description: "The connection state of the tree. standalone: not derived from another tree. connected: derived from another tree and linked to it. disconnected: derived from another tree but disconnected from it."
                        type: object
                        properties:
                          "0":
                            type: string
                            x-forma-type: "enum:string"
                            description: "Will always be: standalone"
                          "1":
                            type: string
                            x-forma-type: "enum:string"
                            description: "Will always be: connected"
                          "2":
                            type: string
                            x-forma-type: "enum:string"
                            description: "Will always be: disconnected"
                  originalTreeId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the source tree this tree was based on. This can be a tree from the same project or from an account-level library. Returns null if the tree was not derived from another tree."
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the tree was created, in the following format YYYY-MM-DDTHH:mm:ss.SSSZ (ISO 8601) in UTC. For example 2018-07-22T15:05:58.033Z."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the tree was last updated, in the following format: YYYY-MM-DDTHH:mm:ss.SSSZ (ISO 8601) in UTC. For example, 2018-07-22T15:05:58.033Z. Note that this value is also updated when a new version is published."
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who created the tree. To find the name of user, call GET users."
                  updatedBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who last updated the tree. To find the name of user, call GET users."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "422":
          description: "Unprocessable Entity"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/classifications-trees-treeId-reimport-POST"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                name:
                  type: string
                  x-forma-type: string
                  description: |-
                    The name of the tree.
                    Max length: 256
                description:
                  type: string
                  x-forma-type: string
                  description: |-
                    The description of the tree.
                    Max length: 256
                importData:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        x-forma-type: "string: UUID"
                        description: "The UUID identifier of the node. Optional for import and reimport. During reimport, if provided, the system uses this value to match and update an existing node. If no matching node is found or the field is omitted, a new node is created at the same position in the hierarchy."
                      name:
                        type: string
                        x-forma-type: string
                        description: |-
                          The display name of the node.
                          Max length: 2048
                      nodeCode:
                        type: string
                        x-forma-type: string
                        description: |-
                          A code that uniquely identifies the node within the tree.
                          Max length: 256
                      children:
                        type: array
                        x-forma-type: array
                        description: "The child nodes nested under this node. Each child follows the same structure and can include further nested children. Up to 50000 items are accepted in this array."
                    required:
                      - name
                  x-forma-type: "array: object"
                  description: |-
                    A list of root nodes for the tree. Each node can include nested children to represent the hierarchy. The full payload supports up to 50000 total nodes across all levels, with a maximum nesting depth of 10.

                    During reimport, nodes omitted from the hierarchy are marked as deleted in the new tip version.
              required:
                - importData
                - name
  "/construction/classifications/v1/projects/{projectId}/trees/{treeId}/versions/tip/nodes":
    get:
      operationId: classifications-trees-treeId-versions-tip-nodes-GET
      summary: "Retrieves the nodes from the latest version (tip version) of a classification tree"
      description: "Retrieves the nodes from the latest version (tip version) of a classification tree."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial.

            You need to convert the project ID into a project ID for the Forma API by removing the b. prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: treeId
          in: path
          required: true
          description: "The unique identifier of the classification tree. To find the ID, call GET trees."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: limit
          in: query
          description: "The maximum number of results to return per page. Acceptable values are 1-10000. Default value: 100."
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: "The number of results to skip before returning results. Use this together with limit to paginate through results. Default value: 0."
          schema:
            type: integer
            x-forma-type: int
        - name: includeDeleted
          in: query
          description: |-
            true: includes deleted nodes in the response.

            false: excludes deleted nodes from the response.
          schema:
            type: boolean
            x-forma-type: boolean
        - name: Region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.

            Examples include: US, EMEA.

            For the full list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "Pagination details for the result set."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The maximum number of results to return per page."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The number of results to skip before returning results."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The total number of results available in the collection."
                      nextUrl:
                        type: string
                        x-forma-type: string
                        description: "The absolute URL of the next page of results, or null if there are no additional results."
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The identifier of the node within the returned tree version."
                        externalId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "Not relevant. Do not use or rely on this field. It will be removed in a future release."
                        name:
                          type: string
                          x-forma-type: string
                          description: "The display name of the node."
                        nodeCode:
                          type: string
                          x-forma-type: string
                          description: "A code that uniquely identifies the node within the tree."
                        parentNodeId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The identifier of the node’s immediate parent within the returned tree version. null for root-level nodes."
                        parentNodeExternalId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "Not relevant. Do not use or rely on this field. It will be removed in a future release."
                        order:
                          type: integer
                          x-forma-type: int
                          description: "The position of the node among its sibling nodes under the same parent."
                        isDeleted:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            true: the node has been deleted in the returned tree version.

                            false: the node is active in the returned tree version.
                    x-forma-type: "array: object"
                    description: "A list of nodes from the latest version (tip version) of the classification tree."
        "304":
          description: "Not Modified"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/classifications-trees-treeId-versions-tip-nodes-GET"
  "/construction/classifications/v1/projects/{projectId}/trees/{treeId}":
    get:
      operationId: classifications-trees-treeId-GET
      summary: "Retrieves the metadata for a specific classification tree, without its nodes"
      description: "Retrieves the metadata for a specific classification tree, without its nodes. Use this endpoint to check a tree’s name, description, and versioning information."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial.

            You need to convert the project ID into a project ID for the Forma API by removing the b. prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: treeId
          in: path
          required: true
          description: "The unique identifier of the classification tree. To find the ID, call GET trees."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.

            Examples include: US, EMEA.

            For the full list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique identifier of the classification tree."
                  name:
                    type: string
                    x-forma-type: string
                    description: "The name of the tree."
                  description:
                    type: string
                    x-forma-type: string
                    description: "The description of the tree."
                  isBasedOnAccountTree:
                    type: boolean
                    x-forma-type: boolean
                    description: |-
                      true : the tree is linked to an account-level source tree and changes to the source may propagate to this tree.

                      false : the tree is either standalone or was originally based on an account tree but has since been disconnected.
                  treeConnectionType:
                    description: "The connection state of the tree. standalone: not derived from another tree. connected: derived from another tree and linked to it. disconnected: derived from another tree but disconnected from it."
                    type: object
                    properties:
                      anyOf:
                        description: "The connection state of the tree. standalone: not derived from another tree. connected: derived from another tree and linked to it. disconnected: derived from another tree but disconnected from it."
                        type: object
                        properties:
                          "0":
                            type: string
                            x-forma-type: "enum:string"
                            description: "Will always be: standalone"
                          "1":
                            type: string
                            x-forma-type: "enum:string"
                            description: "Will always be: connected"
                          "2":
                            type: string
                            x-forma-type: "enum:string"
                            description: "Will always be: disconnected"
                  originalTreeId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the source tree this tree was based on. This can be a tree from the same project or from an account-level library. Returns null if the tree was not derived from another tree."
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the tree was created, in the following format YYYY-MM-DDTHH:mm:ss.SSSZ (ISO 8601) in UTC. For example 2018-07-22T15:05:58.033Z."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the tree was last updated, in the following format: YYYY-MM-DDTHH:mm:ss.SSSZ (ISO 8601) in UTC. For example, 2018-07-22T15:05:58.033Z. Note that this value is also updated when a new version is published."
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who created the tree. To find the name of user, call GET users."
                  updatedBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who last updated the tree. To find the name of user, call GET users."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/classifications-trees-treeId-GET"
    patch:
      operationId: classifications-trees-treeId-PATCH
      summary: "Updates a tree’s name or description"
      description: "Updates a tree’s name or description. Trees that are derived from and connected to an account-level source tree cannot be updated using this endpoint. If the tree is a source tree that is not derived from an account tree, the same update is propagated to its derived trees."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial.

            You need to convert the project ID into a project ID for the Forma API by removing the b. prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: treeId
          in: path
          required: true
          description: "The unique identifier of the classification tree. To find the ID, call GET trees."
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: Region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.

            Examples include: US, EMEA.

            For the full list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
        - name: Content-Type
          in: header
          required: true
          description: "Must be application/json"
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:write"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The unique identifier of the classification tree."
                  name:
                    type: string
                    x-forma-type: string
                    description: "The name of the tree."
                  description:
                    type: string
                    x-forma-type: string
                    description: "The description of the tree."
                  isBasedOnAccountTree:
                    type: boolean
                    x-forma-type: boolean
                    description: |-
                      true : the tree is linked to an account-level source tree and changes to the source may propagate to this tree.

                      false : the tree is either standalone or was originally based on an account tree but has since been disconnected.
                  treeConnectionType:
                    description: "The connection state of the tree. standalone: not derived from another tree. connected: derived from another tree and linked to it. disconnected: derived from another tree but disconnected from it."
                    type: object
                    properties:
                      anyOf:
                        description: "The connection state of the tree. standalone: not derived from another tree. connected: derived from another tree and linked to it. disconnected: derived from another tree but disconnected from it."
                        type: object
                        properties:
                          "0":
                            type: string
                            x-forma-type: "enum:string"
                            description: "Will always be: standalone"
                          "1":
                            type: string
                            x-forma-type: "enum:string"
                            description: "Will always be: connected"
                          "2":
                            type: string
                            x-forma-type: "enum:string"
                            description: "Will always be: disconnected"
                  originalTreeId:
                    type: string
                    format: uuid
                    x-forma-type: "string: UUID"
                    description: "The ID of the source tree this tree was based on. This can be a tree from the same project or from an account-level library. Returns null if the tree was not derived from another tree."
                  createdAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the tree was created, in the following format YYYY-MM-DDTHH:mm:ss.SSSZ (ISO 8601) in UTC. For example 2018-07-22T15:05:58.033Z."
                  updatedAt:
                    type: string
                    format: date-time
                    x-forma-type: "datetime: ISO 8601"
                    description: "The date and time when the tree was last updated, in the following format: YYYY-MM-DDTHH:mm:ss.SSSZ (ISO 8601) in UTC. For example, 2018-07-22T15:05:58.033Z. Note that this value is also updated when a new version is published."
                  createdBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who created the tree. To find the name of user, call GET users."
                  updatedBy:
                    type: string
                    x-forma-type: string
                    description: "The Autodesk ID of the user who last updated the tree. To find the name of user, call GET users."
        "400":
          description: "Bad Request"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "409":
          description: Conflict
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:write"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/classifications-trees-treeId-PATCH"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                name:
                  type: string
                  x-forma-type: string
                  description: |-
                    The name of the tree.
                    Max length: 256
                description:
                  type: string
                  x-forma-type: string
                  description: |-
                    The description of the tree.
                    Max length: 256
  "/construction/classifications/v1/projects/{projectId}/trees":
    get:
      operationId: classifications-trees-GET
      summary: "Retrieves a list of classification trees in a project, sorted by creation date from newest to oldest"
      description: "Retrieves a list of classification trees in a project, sorted by creation date from newest to oldest."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial.

            You need to convert the project ID into a project ID for the Forma API by removing the b. prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            format: uuid
            x-forma-type: "string: UUID"
        - name: limit
          in: query
          description: "The maximum number of results to return per page. Acceptable values are 1-1000. Default value: 200."
          schema:
            type: integer
            x-forma-type: int
        - name: offset
          in: query
          description: "The number of results to skip before returning results. Use this together with limit to paginate through results. Default value: 0."
          schema:
            type: integer
            x-forma-type: int
        - name: Region
          in: header
          description: |-
            The region to which your request should be routed. If not set, the request is routed automatically but may incur a small latency increase.

            Examples include: US, EMEA.

            For the full list of supported regions, see the Regions page.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    x-forma-type: object
                    description: "Pagination details for the result set."
                    properties:
                      limit:
                        type: integer
                        x-forma-type: int
                        description: "The maximum number of results to return per page."
                      offset:
                        type: integer
                        x-forma-type: int
                        description: "The number of results to skip before returning results."
                      totalResults:
                        type: integer
                        x-forma-type: int
                        description: "The total number of results available in the collection."
                      nextUrl:
                        type: string
                        x-forma-type: string
                        description: "The absolute URL of the next page of results, or null if there are no additional results."
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The unique identifier of the classification tree."
                        name:
                          type: string
                          x-forma-type: string
                          description: "The name of the tree."
                        description:
                          type: string
                          x-forma-type: string
                          description: "The description of the tree."
                        isBasedOnAccountTree:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            true : the tree is linked to an account-level source tree and changes to the source may propagate to this tree.

                            false : the tree is either standalone or was originally based on an account tree but has since been disconnected.
                        treeConnectionType:
                          description: "The connection state of the tree. standalone: not derived from another tree. connected: derived from another tree and linked to it. disconnected: derived from another tree but disconnected from it."
                          type: object
                          properties:
                            anyOf:
                              description: "The connection state of the tree. standalone: not derived from another tree. connected: derived from another tree and linked to it. disconnected: derived from another tree but disconnected from it."
                              type: object
                              properties:
                                "0":
                                  type: string
                                  x-forma-type: "enum:string"
                                  description: "Will always be: standalone"
                                "1":
                                  type: string
                                  x-forma-type: "enum:string"
                                  description: "Will always be: connected"
                                "2":
                                  type: string
                                  x-forma-type: "enum:string"
                                  description: "Will always be: disconnected"
                        originalTreeId:
                          type: string
                          format: uuid
                          x-forma-type: "string: UUID"
                          description: "The ID of the source tree this tree was based on. This can be a tree from the same project or from an account-level library. Returns null if the tree was not derived from another tree."
                        createdAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time when the tree was created, in the following format YYYY-MM-DDTHH:mm:ss.SSSZ (ISO 8601) in UTC. For example 2018-07-22T15:05:58.033Z."
                        updatedAt:
                          type: string
                          format: date-time
                          x-forma-type: "datetime: ISO 8601"
                          description: "The date and time when the tree was last updated, in the following format: YYYY-MM-DDTHH:mm:ss.SSSZ (ISO 8601) in UTC. For example, 2018-07-22T15:05:58.033Z. Note that this value is also updated when a new version is published."
                        createdBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who created the tree. To find the name of user, call GET users."
                        updatedBy:
                          type: string
                          x-forma-type: string
                          description: "The Autodesk ID of the user who last updated the tree. To find the name of user, call GET users."
                    x-forma-type: "array: object"
                    description: "A list of classification trees in the project."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/classifications-trees-GET"
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: "APS OAuth2. 엔드포인트마다 x-forma-auth-context 를 확인하세요. \"user context required\" 는 3-legged 토큰이 필요하고, \"user context optional\" 은 2-legged(client_credentials)로도 호출할 수 있습니다."
      flows:
        clientCredentials:
          tokenUrl: "https://developer.api.autodesk.com/authentication/v2/token"
          scopes:
            "data:read": "data:read"
            "data:write": "data:write"
