openapi: "3.1.0"
info:
  title: "Forma APIs — AutoSpecs"
  version: v1
  description: |-
    Forma APIs — AutoSpecs.
    Autodesk 문서에서 자동 추출됨. 원본: https://aps.autodesk.com/en/docs/acc/v1
    공통 base 경로: /construction/autospecs/v1/projects
    **리전 — 호출 전 반드시 확인** 리전은 완전히 분리되어 있고 리소스 식별자가 호환되지 않습니다. ⚠️ **헤더 이름이 그룹마다 다릅니다.** Hub Admin 은 `Region`, Issues 는 `x-ads-region` 입니다. 이 문서의 "헤더" 표에 적힌 이름을 그대로 쓰세요. 통일해서 보내면 안 됩니다. 미지정 시 자동 라우팅되며 지연이 늘 수 있습니다. 자세한 판정은 `_errata` E-003 참고.
servers:
  - url: "https://developer.api.autodesk.com"
x-forma-group: AutoSpecs
x-forma-common-base: "/construction/autospecs/v1/projects"
paths:
  "/construction/autospecs/v1/projects/{projectId}/metadata":
    get:
      operationId: autospecs-getprojectmetadata-GET
      summary: "project metadata"
      description: "Retrieves Autospecs-related information about the specified Forma project, including details about the project versions and the region."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b.” prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  projectId:
                    type: string
                    x-forma-type: string
                    description: "The Forma project ID."
                  region:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The region of the specification PDFs that were uploaded for this project. Currently, AutoSpecs supports CSI MasterFormat for the United States and Canada.
                      Possible values: USA, Canada, Others
                  versions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          x-forma-type: string
                          description: "The ID of the AutoSpecs version, generated by AutoSpecs when creating the new version."
                        name:
                          type: string
                          x-forma-type: string
                          description: "The version name provided by the user when creating the version."
                        status:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The status of the specification extraction. Note that Smart Register data (GET smartRegster) is only available when the status is Completed.
                            Note that we do not currently support webhooks for the AutoSpecs API.
                            Possible values: Completed, In Progress, Failed
                        currentVersion:
                          type: boolean
                          x-forma-type: boolean
                          description: |-
                            true if this is the current version
                            false if this is not the current version
                        createdAt:
                          type: string
                          x-forma-type: string
                          description: "The date and time the version was created in ISO8601 format. For example, 2023-01-17T09:54:27.000Z."
                        updatedAt:
                          type: string
                          x-forma-type: string
                          description: "The last date and time the version was updated in in ISO8601. For example 2023-01-17T09:54:27.000Z."
                    x-forma-type: "array: object"
                    description: "Information about the versions for the project."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/autospecs-getprojectmetadata-GET"
  "/construction/autospecs/v1/projects/{projectId}/version/{versionId}/requirements":
    get:
      operationId: autospecs-getversionrequirements-GET
      summary: "Retrieves the number of submittals for the submittal groups in each submittal section"
      description: "Retrieves the number of submittals for the submittal groups in each submittal section. To retrieve all submittal data from the Smart Register, call GET smartregister."
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b.” prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: versionId
          in: path
          required: true
          description: "The AutoSpecs version ID of the project. For information about how to find the version ID, see the first few steps of the Retrieve Submittal Log tutorial."
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  divisionCode:
                    type: string
                    x-forma-type: string
                    description: "The division code associated with the submittal. This is the equivalent to the Division column in the UI."
                  divisionName:
                    type: string
                    x-forma-type: string
                    description: "The division name associated with the submittal. This is equivalent to the name in the Division filter in the UI."
                  specSections:
                    type: array
                    items:
                      type: object
                      properties:
                        specName:
                          type: string
                          x-forma-type: string
                          description: "The CSI specification name of the submittal. This is equivalent of the Section name column in the UI."
                        specCode:
                          type: string
                          x-forma-type: string
                          description: "The CSI specification code of the submittal. This is equivalent to the Section number column in the UI."
                        submittalGroups:
                          type: array
                          items:
                            type: object
                            properties:
                              submittalGroupTypes:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    submittalType:
                                      type: string
                                      x-forma-type: "enum:string"
                                      description: |-
                                        The type of submittal. This corresponds to the Submittal type column in the UI.
                                        Possible values: Test Reports, Shop Drawings, Schedules, Samples, Sample Warranty, Reports, Qualification Data, QUALITY ASSURANCE, Product Data, Performance Data, Mfg. Instructions, Meeting/Conferences, Drawings, Delegated-Design, Certifications, Certificates, Calculations, Attic Stock, Demonstrations, General Warranties, O&M Manuals, Special Warranties, LEED, As-Builts, TESTS AND INSPECTIONS, General, Manufacturers Instructions, Substitutions, Mix Design, Others
                                    total:
                                      type: integer
                                      x-forma-type: int
                                      description: "The number of submittals for the submittal type."
                                x-forma-type: "array: object"
                              submittalGroup:
                                type: string
                                x-forma-type: "enum:string"
                                description: |-
                                  The submittal group associcated with the submittal. This is equivalent to the Submittal group column in the UI.
                                  Possible values: ACTION AND INFORMATIONAL, CLOSEOUT SUBMITTALS, DIVISION 01 REQUIREMENTS, FIELD QUALITY CONTROL, Mockups, QUALITY ASSURANCE, Tests And Inspections
                              total:
                                type: integer
                                x-forma-type: int
                                description: "The number of submittals for the submittal group."
                          x-forma-type: "array: object"
                          description: "A list of submittal groups."
                    x-forma-type: "array: object"
                    description: "A list of specification divisions and groups."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/autospecs-getversionrequirements-GET"
  "/construction/autospecs/v1/projects/{projectId}/version/{versionId}/smartregister":
    get:
      operationId: autospecs-getversionsmartregister-GET
      summary: "Retrieves the submittal logs (Smart Register) that are part of the specification PDFs that were imported into AutoSpecs"
      description: |-
        Retrieves the submittal logs (Smart Register) that are part of the specification PDFs that were imported into AutoSpecs.
        Note that before you can access the submittal logs the import of the specification PDFs needs to be complete. To verify the status of the import, call GET metadata and check that the status is Completed.
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b.” prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: versionId
          in: path
          required: true
          description: "The AutoSpecs version ID of the project. For information about how to find the version ID, see the first few steps of the Retrieve Submittal Log tutorial."
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  submittalsHeading:
                    type: string
                    x-forma-type: string
                    description: "The name of the submittal sub section. This is equivalent to Sub section name column in the UI."
                  divisionCode:
                    type: string
                    x-forma-type: string
                    description: "The division code associated with the submittal. This is the equivalent to the Division column in the UI."
                  divisionName:
                    type: string
                    x-forma-type: string
                    description: "The division name associated with the submittal. This is equivalent to the name in the Division filter in the UI."
                  submittalId:
                    type: string
                    x-forma-type: string
                    description: "The index of the submittal in the submittal log. This is the equivalent to the Submittal number column in the UI."
                  specNumber:
                    type: string
                    x-forma-type: string
                    description: "The CSI specification code of the submittal. This is equivalent to the Section number column in the UI."
                  specName:
                    type: string
                    x-forma-type: string
                    description: "The CSI specification name of the submittal. This is equivalent of the Section name column in the UI."
                  submittalDescription:
                    type: string
                    x-forma-type: string
                    description: "The description of the submittal. This is equivalent to the Submittal description column in the UI."
                  specCategory:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The type of specification category associated with the submittal. This is equivalent to Submittal type in the UI.
                      Possible values: Test Reports, Shop Drawings, Schedules, Samples, Sample Warranty, Reports, Qualification Data, QUALITY ASSURANCE, Product Data, Performance Data, Mfg. Instructions, Meeting/Conferences, Drawings, Delegated-Design, Certifications, Certificates, Calculations, Attic Stock, Demonstrations, General Warranties, O&M Manuals, Special Warranties, LEED, As-Builts, TESTS AND INSPECTIONS, General, Manufacturers Instructions, Substitutions, Mix Design, Others
                  targetDate:
                    type: string
                    x-forma-type: string
                    description: "The submittal target date, in ISO 8601 format. This is equivalent to the Target date column in the UI."
                  userNotes:
                    type: string
                    x-forma-type: string
                    description: "The user notes associcated with the submittal. This is equivalent to the User notes column in the UI."
                  paraCode:
                    type: string
                    x-forma-type: string
                    description: "The submittal sub section code. This is equivalent to the Sub section number column in the UI."
                  targetGroup:
                    type: string
                    x-forma-type: "enum:string"
                    description: |-
                      The submittal group associcated with the submittal. This is equivalent to the Submittal group column in the UI.
                      Possible values: ACTION AND INFORMATIONAL, Closeout Submittals, DIVISION 01 REQUIREMENTS, Field Quality Control, Mockups, QUALITY ASSURANCE, TESTS AND INSPECTIONS
                  versionName:
                    type: string
                    x-forma-type: string
                    description: "The version name provided by the user when creating the version."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/autospecs-getversionsmartregister-GET"
  "/construction/autospecs/v1/projects/{projectId}/version/{versionId}/submittalsSummary":
    get:
      operationId: autospecs-getversionsummary-GET
      summary: "Retrieves the number of submittals for each submittal group and each submittal type"
      description: |-
        Retrieves the number of submittals for each submittal group and each submittal type.
        To retrieve all submittal data from the Smart Register, call GET smartregister
      parameters:
        - name: projectId
          in: path
          required: true
          description: |-
            The ID of the project.
            Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the Forma API by removing the “b.” prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
          schema:
            type: string
            x-forma-type: string
        - name: versionId
          in: path
          required: true
          description: "The AutoSpecs version ID of the project. For information about how to find the version ID, see the first few steps of the Retrieve Submittal Log tutorial."
          schema:
            type: string
            x-forma-type: string
      security:
        - oauth2:
            - "data:read"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                properties:
                  submittalGroups:
                    type: array
                    items:
                      type: object
                      properties:
                        submittalGroupTypes:
                          type: array
                          items:
                            type: object
                            properties:
                              submittalType:
                                type: string
                                x-forma-type: "enum:string"
                                description: |-
                                  The type of submittal. This corresponds to the Submittal type column in the UI.
                                  Possible values: Test Reports, Shop Drawings, Schedules, Samples, Sample Warranty, Reports, Qualification Data, QUALITY ASSURANCE, Product Data, Performance Data, Mfg. Instructions, Meeting/Conferences, Drawings, Delegated-Design, Certifications, Certificates, Calculations, Attic Stock, Demonstrations, General Warranties, O&M Manuals, Special Warranties, LEED, As-Builts, TESTS AND INSPECTIONS, General, Manufacturers Instructions, Substitutions, Mix Design, Others
                              total:
                                type: integer
                                x-forma-type: int
                                description: "The number of submittals for the submittal type."
                          x-forma-type: "array: object"
                          description: "A list of submittal group types."
                        submittalGroup:
                          type: string
                          x-forma-type: "enum:string"
                          description: |-
                            The submittal group associated with the submittal. This is equivalent to the Submittal group column in the UI.
                            Possible values: ACTION AND INFORMATIONAL, CLOSEOUT SUBMITTALS, FIELD QUALITY CONTROL, Mockups, QUALITY ASSURANCE, Tests And Inspections, DIVISION 01 REQUIREMENTS
                        total:
                          type: integer
                          x-forma-type: int
                          description: "The number of submittals in the submittal group."
                    x-forma-type: "array: object"
                    description: "A list of submittal groups."
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      x-forma-auth-context: "user context required"
      x-forma-scopes:
        - "data:read"
      x-forma-doc: "https://aps.autodesk.com/en/docs/acc/v1/reference/http/autospecs-getversionsummary-GET"
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: "APS OAuth2. 엔드포인트마다 x-forma-auth-context 를 확인하세요. \"user context required\" 는 3-legged 토큰이 필요하고, \"user context optional\" 은 2-legged(client_credentials)로도 호출할 수 있습니다."
      flows:
        clientCredentials:
          tokenUrl: "https://developer.api.autodesk.com/authentication/v2/token"
          scopes:
            "data:read": "data:read"
